<div class="autocomplete {{ attrs.class}}" name="{{ attrs.name}}">

    <input
        type="text"
        placeholder='e.g. Contact'
        class="autocomplete-input form-control"
        data-ng-class="{'has-error': !isValid(),'has-empty': isEmpty(), 'focusOn': focusOn ? true:false }"
        ng-focus="enterDropdown($event)"
        ng-model="searchKeyword"
        ng-change="updateSearchData()"
        elemfocus-select
        validator="isValid() === true "
        />
    <!--    
    
    {{attrs.placeholder}}
            ng-blur="blurDropdown()" 
            ng-click="enterDropdown($event)" 
            ng-mousedown="mousedownDropdown($event)"
            
    -->
    <div ng-show="dropdown.show" class="drop_sugg_focu autocomp_drop">
        <!--<div class="drop_sugg_focu ">-->
        <div data-ng-if="dropdown.suggestions.list.length == 0"> 
            <ul class="dash-list" >
                <li>-No Data Found-</li>
            </ul>
        </div>
        <div data-ng-show="dropdown.suggestions.list.length > 0">
            <ul class="dash-list" >
                <li
                    class="clearfix" 
                    data-ng-repeat="suggestion in dropdown.suggestions.list"
                    index="{{ $index}}"
                    val="{{ suggestion}}"
                    ng-class="{ active: ($index === selectedIndex) }"
                    ng-click="select(suggestion)" >
                    <span class="search-cont">{{suggestion.name}}-{{suggestion.city}}</span>
                </li>
            </ul>

        </div>

    </div>

</div>