

<!--<header class="reg-header">
    <div class="container   clearfix">
        <h1 id="logo" class=" ">
            CZN
        </h1>
         <h2 class="username" >
            <a href="/admin/#/" class="btn btn-sm btn-primary btn_grn">Sign In</a>
        </h2>

    </div>
</header>-->
<div class="msg-handling" ng-show="actionMsgSuccess != '' || actionMsgWarning != '' || actionMsgError != ''"  >
    <p class="success" ng-show="actionMsgSuccess != ''">
        {{actionMsgSuccess}}
    </p>
    <p class="warning" ng-show="actionMsgWarning != ''">
        {{actionMsgWarning}}
    </p>
    <p class="error" ng-show="actionMsgError != ''">
        {{actionMsgError}}
    </p>
</div>







