




<div class="main-content  animated  " id="av-content" >
    <div class=" conta iner clearfix" >


        <div class="album-wrap album-create-wrap clearfix ">

            <!--            <div class="album-left clearfix ">
                            <div class="join-us clearfix ">
                                <img class="" src="../../../img/pat-log.png" />
                            </div>
                        </div>-->
            <div class="album-right album-right-bg clearfix  ng-scope" data-ng-controller="albumCtrl" >

                <legend>Secure Album Login</legend>
                <form name="album_form" angular-validator-submit="getAlbumpermission()" class="form-horizontal  clearfix"  novalidate angular-validator>
<!--                    <ul class=" clearfix " data-ng-show="showPublic">
                        <li class="album-field bottommarginsm">
                            <input class=""
                                   name="email"
                                   type="email"
                                   placeholder="Email ID"
                                   data-ng-model = "email"
                                   required
                                   validator = "validationFactory.emailValidator(email) == true"/>
                        </li>
                        <li class="album-field bottommarginsm">
                            <input class=""
                                   name="phone"
                                   type="phone"
                                   data-ng-model = "phone"
                                   placeholder="Phone No"
                                   required
                                   validator = "validationFactory.phoneNumberValidator(phone) == true" />
                        </li>
                    </ul>-->
                    <ul class=" clearfix " data-ng-show="showPrivate">
                        <li class="album-field bottommarginsm">
                            <input class=""
                                   name="username"
                                   type="text"
                                   placeholder="Username"
                                   data-ng-model = "username"
                                   required
                                   />
                        </li>
                        <li class="album-field bottommarginsm">
                            <input class=""
                                   name="userpassword"
                                   type="password"
                                   data-ng-model = "password"
                                   placeholder="Password"
                                   required
                                   />
                        </li>
                    </ul>
                    <div class="sign-btn-wrap clearfix">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataProcessing" data-ng-class='{"btn-loader":isDataProcessing}' >Submit</button>
                        <br/>
                        <a href="/#/forgetpassword" class="forget-pass ">Forgot your password?</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

