/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 10, 2016, 11:28:27 AM
    Author     : Dell
*/
.model_overlay {position: fixed; z-index: 995; width: 100%; height: 100%; background: rgba(0,0,0,0.5); top:0; left:0; }
.model_popup { position: absolute; z-index: 996; top: 10%; left: 50%; width: 650px; margin-left: -325px; background: #FFF; padding: 25px; }
.model_popup.popup-prof-edit {width: 940px; margin-left: -470px;position: absolute;}

.delet-popup {position: fixed;}

.model_popup .close { position: absolute;     top: -13px;
                      right: -13px;
                      background: #FFF;
                      width: 30px;
                      height: 30px;
                      border-radius: 100%;    padding: 7px 0 0 8px; border: 1px solid #E8E8E8;}

.centerMarker{
    position:absolute;
    /*url of the marker*/
    background:url(/img/marker.png) no-repeat;
    /*center the marker*/
    top:50%;left:50%;
    z-index:1;
    /*fix offset when needed*/
    margin-left:-10px;
    margin-top:-34px;
    /*size of the image*/
    height:34px;
    width:20px;
    cursor:pointer;
}

.file_upload_wrapper {margin: 20px 0;}
.file_upload_wrapper ul {margin-bottom: 10px;    border-bottom: 1px solid #F7F7F7;
                         padding-bottom: 10px;}
.file_upload_wrapper ul li { float: left; margin-right: 15px;}
.file_upload_wrapper .file_name {    width: 170px;}
.file_upload_wrapper .file_name.img { height: 60px;  overflow: hidden;   width: 60px;   border: 1px solid #dfdfdf;}
.file_upload_wrapper .file_name img {     max-width: 300%; width: auto; }
.file_upload_wrapper .file_size {    width: 70px;}
.file_upload_wrapper .file_upload_falied {    width: 170px; color:#ff0000;}
.file_upload_wrapper .file_prog {width: 120px; height: 13px; margin-top: 3px;    background: #dfdfdf;}
.file_upload_wrapper .file_prog .bg-info {width: 5px; height: 13px; }
.file_upload_wrapper .file_canc {margin-right: 5px;}
.file_upload_wrapper .file_edit {}
.file_upload_wrapper .file_cmnt {clear: both; margin: 10px 0 0;}
.file_upload_wrapper .file_cmnt_name {width: 300px;    word-wrap: break-word;}
.file_upload_wrapper .file_cmnt_name textarea {    width: 100%; height: 60px; border: 1px solid #dfdfdf;  border-radius: 3px; padding: 5px 10px;}
.file_upload_wrapper .file_cmnt textarea {    color: #555; background-color: #fff; border: 1px solid #ccc;     border-radius: 3px;  padding: 5px;  height: 60px; width: 340px;}
.file_upload_wrapper .file_name.img { background-size: 25px;}

.thumbnail {
    border-color: #dee5e7;
}

.progress {
    background-color: #edf1f2;
}

.progress-xxs {
    height: 2px;
}

.progress-xs {
    height: 6px;
}

.progress-sm {
    height: 12px;
}

.progress-sm .progress-bar {
    font-size: 10px;
    line-height: 1em;
}

.progress,
.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar-primary {
    background-color: #7266ba;
}

.progress-bar-info {
    background-color: #23b7e5;
}

.progress-bar-success {
    background-color: #27c24c;
}

.progress-bar-warning {
    background-color: #fad733;
}

.progress-bar-danger {
    background-color: #f05050;
}

.progress-bar-black {
    background-color: #1c2b36;
}

.progress-bar-white {
    background-color: #fff;
}
.text-red {
    color:#E52A3A;
}

.text-gray {
    color:#5f5f5f;
}

.text-center {
    text-align: center;
}

/* Editor styling */

.ta-toolbar {
    background-color: #F0F0F0;
    padding: 10px 10px 5px;
    margin-left: 0px; /* Override bootstrap */
    border: 1px solid #EEE;
}

.ta-toolbar {overflow: hidden;}
.ta-toolbar .btn-group {
    margin-right: 5px; text-align: left; float: left;display: inline-block;width: initial;
}


.app .ta-editor {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #EEE;
}
.white-box {
    /*padding: 10px;*/
    background-color: #FFF;
    border: 1px solid #EEE;
}

textarea.ta-bind {
    width: 100%;
}

.app .ta-editor.container {min-height: 180px;}
.app .ta-editor.ta-scroll-window > .ta-bind {min-height: 180px; padding: 0; overflow-y: scroll; font-size: 13px;
    font-weight: 400;}

.btn-default.active {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

