/** Login & Sig up **/
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,300,600,700);

.login-page .header_menu {display: none;}
body.login-page .app {padding-top: 51px;}

.sprite-login {display: inline-block; background: url(../img/login-sprite.png) no-repeat 0 0;}

.login-banner {}
.login-banner .log-banner-content {position: absolute; top: 8px; left: 0;width: 100%;}
.login-banner h1 {text-align: left; color: #003181;font-size: 3em;}
.login-banner p {font-size: 1.7em;line-height: 28px;}
.login-banner.forget-wrap {margin-top: -20px;position: relative;}

.login-tabs {text-align: center; margin-top: -54px;}
.login-tabs li {display: inline-block; margin: 0 5px;}
.login-tabs li a { display: block;padding: 12px 20px;background: #0cd5f7;border-radius: 3px 3px 0 0;color: #FFF;font-weight: bold;font-size: 18px;text-align: left;min-width: 230px;}
.login-tabs li a.active { background: #FFF; color: #003181;}

.login-wrap {margin-top: 30px; }
.login-left,
.login-right {width: 50%; float: left;}
.login-right.cust-login-wrap {padding: 20px 25px;margin-bottom: 10px;}
.login-left {padding-right: 30px;}
.login-left h3,
.login-left h2,
.login-right h3 {color: #003181;}
.login-left h2 {font-size: 2em;}
.login-left h2.next {color: #0cd5f7;    margin-top: 15px;}
.login-left .join-us img,
.login-left .join-us .join-con {float: left;}
.login-left .join-us .join-con {width: 260px; margin: 30px 0 0 -20px;}
.login-left .join-us .join-con h3 {font-weight: normal;font-size: 1.3em;}
.login-left .join-us .join-con p {font-size: 2.8em;font-weight: bold;color: #0cd5f7;}
.login-left .appoint-book-content {padding-left: 48px; margin-top: 35px;}
.login-left .appoint-book-content span.book-app {margin-left: -45px; width: 30px; height: 32px; background-position: -12px 0; float: left;}
.login-left .appoint-book-content p {margin-bottom: 20px;padding-bottom: 20px;border-bottom: 1px dotted #E4E4E4;}
.login-left .appoint-book-content p.no-bor {margin-bottom: 10px; padding-bottom: 0; border-bottom: 0px;}
.login-left .appoint-book-content p.for-stand {margin-bottom: 10px; padding-bottom: 0; border-bottom: 0px;}
.login-left .appoint-book-content p.for-stand a {color: #0cd5f7; text-decoration: underline;}
.login-left .appoint-book-content p.for-stand a:hover {text-decoration: none;}
.login-left .cust-login { position: relative; float: right;padding: 9px 0;border-radius: 3px;color: #fff;    border: 1px solid;margin: -60px 20px 0 0;text-align: center;width: 190px;}


.login-right form .types-of-com label:first-child {margin-bottom: 7px;}
.login-right form .types-of-com input[type="text"] { margin-top: 7px; }
.login-right form .types-of-com {}
.login-right form .types-of-com label { margin: 3px 0;}
.login-right form [type="radio"]:not(:checked) + label:before,
.login-right form [type="radio"]:checked + label:before,
.login-right form [type="checkbox"]:not(:checked) + label:before,
.login-right form [type="checkbox"]:checked + label:before { top: 3px; }
.login-right form [type="radio"]:not(:checked) + label:after,
.login-right form [type="radio"]:checked + label:after,
.login-right form [type="checkbox"]:not(:checked) + label:after,
.login-right form [type="checkbox"]:checked + label:after { top: 6px; left: 3px;
                                                            font-size: 12px; content: 'âœ”'; color: #0cd5f7; background: transparent;}

.login-right form ul { margin: 0 0 15px; }
.login-right.cust-login-wrap form ul { margin: 0 0 7px; }
.login-right form ul + h3 { margin: 0 0 10px; }
.login-right form .agree-tearms p:first-child { float: left; width: 80%; margin-bottom: 30px; }
.login-right form .agree-tearms p.by-agree { clear: both; font-size: 12px;    margin: 20px 0; }
.login-right.pro-first-step form .agree-tearms p.by-agree { margin-top: 110px; }

.login-right form .btn.add-another { width: 100%; height: 40px; clear: both;background: transparent; margin-bottom: 13px;display: block;text-align: center;line-height: 40px; }
.login-right form .add-more { font-size: 13px; float: right; margin-bottom: -20px; }
.login-right form .add-more span {  font-size: 23px; }
.login-right form .show-all { font-weight: bold; display: block; clear: both; }

.login-left.step-2 h2 {font-size: 1.7em;}
.login-left .how-use {}
.login-left .how-use .sprite-login { width: 37px; height: 32px; margin-left: -45px; float: left; }
.login-left .how-use .addi {background-position: -66px 0; }
.login-left .how-use .great {background-position: -116px 0; }
.login-left .how-use .promot {background-position: -169px 0; }
.login-left .how-use .happn {background-position: -224px -4px; }
.login-left .how-use .instant {background-position: -281px -8px; }
.login-left .how-use .having {background-position: -340px -5px; }

.login-left .how-use .step-1-to-fini {background-position: -106px -124px; }
.login-left .how-use .step-2-to-fini {background-position: -153px -124px; }
.login-left .how-use .step-3-to-fini {background-position: -203px -124px; }
.login-left .how-use .step-4-to-fini {background-position: -259px -125px; }

.login-right .age-group {}
.login-right .age-group .age-ico {float: left; width: 75px; margin-left: 8px; }
.login-right .age-group .age-ico:first-child,
.login-right .age-group .age-ico.first {margin-left: 0px; }
.login-right .age-group .age-ico label {padding: 5px;background: #FFF;color: #0cd5f7; border-radius: 3px; font-size: 13px;width: 75px;text-align: center; }
.login-right .age-group .age-ico span {display: inline-block; width: 100%;}
.login-right .age-group .age-ico [type="checkbox"] + label:before {    border: 1px solid #E2E2E2;width: 18px;height: 18px;left: 63%;top: 31px;}
.login-right .age-group .age-ico [type="checkbox"]:checked + label:after {     left: 68%; top: 35px; font-size: 15px;}
.login-right .age-group .age-ico .sprite-login {    width: 36px;height: 30px;margin-left: -10px;}
.login-right .age-group .age-ico .baby {background-position: -9px -69px;}
.login-right .age-group .age-ico .child {background-position: -46px -69px;}
.login-right .age-group .age-ico .ado {background-position: -96px -69px ;}
.login-right .age-group .age-ico .adult {background-position: -148px -69px;}
.login-right .age-group .age-ico .elder {background-position: -194px -69px;}
.login-right .age-group .age-ico .all {    height: 35px;line-height: 39px;text-align: left;margin-left: 11px;}
.login-right .age-group .gp-ref { clear: both; }
.login-right .gp-ref label:first-child { width: 100%; }
.login-right .gp-ref input[type="text"] { width: 315px; }

.login-left .why-ff  .sprite-login { width: 37px; height: 32px;  margin-left: -45px; float: left; }
.login-left .why-ff .grt-app {background-position: -241px -71px;    }
.login-left .why-ff .optimi {background-position: -291px -71px;    }
.login-left .why-ff .pat-geo {background-position: -341px -71px;    }
.login-left .why-ff .power-search {background-position: -392px -71px;    }

.login-right .address-city {float: left; width: 50%; padding-right: 3%;}
.login-right .address-post {padding-right: 0%;padding-left: 3%;}
.login-right .language label,
.login-right .insur-option label {margin-bottom: 10px;}
.login-right .language label:first-child,
.login-right .insur-option label:first-child {width: 100%;}
.login-right .language .lang-label {width: 30%; margin-right: 0; float: left;}
.login-right .insur-option .lang-label {width: 47%; margin-right: 0;float: left; }
.login-right .language .lang-label label,
.login-right .insur-option .lang-label label {width: 100%; }

.login-right .language [type="checkbox"] + label,
.login-right .language [type="checkbox"]:checked + label,
.login-right .insur-option [type="checkbox"] + label,
.login-right .insur-option [type="checkbox"]:checked + label {padding: 0 20px 0 0;}
.login-right form .language [type="checkbox"] + label:before,
.login-right form .insur-option [type="checkbox"] + label:before {    right: 20px; left: initial;}
.login-right form .language [type="checkbox"]:checked + label:after,
.login-right form .insur-option [type="checkbox"]:checked + label:after {    right: 23px;left: initial;}

.login-right form .sign-btn-wrap button.btn.continue { display: inline-block; width: 50%; }
.login-right form .sign-btn-wrap button.btn.continue.btn-loader { background: #FF9540; }
.login-right form .sign-btn-wrap a { float: right;text-align: right;font-size: 12px;margin-top: 12px;}

.login-form-title {margin-bottom: 20px;}
.login-form-title h2 {font-weight: normal;float: left;}
.login-form-title img {float: right;}

.login-create-wrap {display: flex;}
.login-create-wrap .login-acc-create {margin-right: 10px;}
.login-create-wrap .login-right-bg {margin-left: 10px;}
.login-left.login-acc-create {border: 1px solid #0cd5f7;    padding: 25px 30px;border-radius: 3px;}
.login-left.login-acc-create p { margin-top: 30px; }
.login-left.login-acc-create .create-acc {    height: 40px;    display: block;
                                              text-align: center; font-size: 16px; border-radius: 3px; border: 0;
                                              color: #FFF;    margin-top: 205px;
                                              line-height: 40px;}
.login-left.login-acc-create.cust-login p {color: #003181;margin: 15px 0;font-weight: bold;}
.login-left.login-acc-create.cust-login p .sprite-login {width: 32px; height: 32px;background-position: -243px -71px;    vertical-align: middle;}
.login-left.login-acc-create.cust-login p.opt .sprite-login {background-position: -294px -71px;}
.login-left.login-acc-create.cust-login p.pat .sprite-login {background-position: -342px -71px;}
.login-left.login-acc-create.cust-login p.pow .sprite-login {background-position: -396px -71px;}
.login-left.login-acc-create.cust-login .create-acc {margin-top: 67px;}

.main-content.forget-wrap {margin-bottom: 20px; color: #999;}
.forget-wrap p,
.forget-wrap .form-container {color: #999999;}
.forget-wrap .model_popup .close {color: #000;}
.forget-wrap .login-left.login-acc-create .create-acc { margin-top: 47px;}

@media (min-width: 769px) {
    .login-page .container {width: 1100px;}
}