<div class="booking_table">
    <div class="dates clearfix">
        <div class="" ng-show="bookingService.bookingModel.isLoadingProgress">
            <center><img alt="loader" src="/img/loading.gif"/></center>
        </div>
        <ul class="dates clearfix">
            <li class="prev"><button type="button" data-ng-click="gotoPrevFreeSlot()" data-ng-disabled="bookingService.bookingModel.isLoadingProgress"> &lt; </button></li>
            <li  data-ng-repeat="daySlot in bookingService.bookingModel.uiList">
                <a href="javascript:void(0)"> {{daySlot.date| date:'EEE dd/MM' }}</a>
            </li>
            <li class="next"><button type="button" data-ng-click="gotoNextFreeSlot()" data-ng-disabled="bookingService.bookingModel.isLoadingProgress">  &gt; </button></li>
        </ul>
        <div class="time_wrapper clearfix ">
            <ul class="all_table clearfix ">
                <li data-ng-class="{'ava': !slot.booked}"  data-ng-repeat="slot in bookingService.bookingModel.uiList[0].slots">
                    <input id="0_{{slot.date}}_{{$index}}"
                           type="radio"
                           name="book-slot"
                           value="0_{{slot.date}}_{{$index}}"
                           data-ng-disabled="slot.booked"
                           data-ng-model="bookingService.bookingModel.selectedTimeSlotVlaue"
                           data-ng-change="updateSeletedTimeHandler('0_{{slot.date}}_{{$index}}')"
                           />
                    <label for="0_{{slot.date}}_{{$index}}">{{slot.startTime}} - {{slot.endTime}}</label>
                </li>
            </ul>
            <ul class="all_table clearfix ">
                <li data-ng-class="{'ava': !slot.booked}" data-ng-repeat="slot in bookingService.bookingModel.uiList[1].slots">
                    <input id="1_{{slot.date}}_{{$index}}"
                           type="radio"
                           name="book-slot"
                           value="1_{{slot.date}}_{{$index}}"
                           data-ng-disabled="slot.booked"
                           data-ng-model="bookingService.bookingModel.selectedTimeSlotVlaue"
                           data-ng-change="updateSeletedTimeHandler('1_{{slot.date}}_{{$index}}')"
                           />
                    <label for="1_{{slot.date}}_{{$index}}">{{slot.startTime}} - {{slot.endTime}}</label>
                </li>
            </ul>
            <ul class="all_table clearfix ">
                <li data-ng-class="{'ava': !slot.booked}" data-ng-repeat="slot in bookingService.bookingModel.uiList[2].slots">
                    <input id="2_{{slot.date}}_{{$index}}"
                           type="radio"
                           name="book-slot"
                           value="2_{{slot.date}}_{{$index}}"
                           data-ng-disabled="slot.booked"
                           data-ng-model="bookingService.bookingModel.selectedTimeSlotVlaue"
                           data-ng-change="updateSeletedTimeHandler('2_{{slot.date}}_{{$index}}')"
                           />
                    <label for="2_{{slot.date}}_{{$index}}">{{slot.startTime}} - {{slot.endTime}}</label>
                </li>
            </ul>
            <ul class="all_table clearfix ">
                <li data-ng-class="{'ava': !slot.booked}" data-ng-repeat="slot in bookingService.bookingModel.uiList[3].slots">
                    <input id="3_{{slot.date}}_{{$index}}"
                           type="radio"
                           name="book-slot"
                           value="3_{{slot.date}}_{{$index}}"
                           data-ng-disabled="slot.booked"
                           data-ng-model="bookingService.bookingModel.selectedTimeSlotVlaue"
                           data-ng-change="updateSeletedTimeHandler('3_{{slot.date}}_{{$index}}')"
                           />
                    <label for="3_{{slot.date}}_{{$index}}">{{slot.startTime}} - {{slot.endTime}}</label>
                </li>
            </ul>
            <ul class="all_table clearfix ">
                <li data-ng-class="{'ava': !slot.booked}" data-ng-repeat="slot in bookingService.bookingModel.uiList[4].slots">
                    <input id="4_{{slot.date}}_{{$index}}"
                           type="radio"
                           name="book-slot"
                           value="4_{{slot.date}}_{{$index}}"
                           data-ng-disabled="slot.booked"
                           data-ng-model="bookingService.bookingModel.selectedTimeSlotVlaue"
                           data-ng-change="updateSeletedTimeHandler('4_{{slot.date}}_{{$index}}')"
                           />
                    <label for="4_{{slot.date}}_{{$index}}">{{slot.startTime}} - {{slot.endTime}}</label>
                </li>
            </ul>
            <ul class="all_table clearfix ">
                <li data-ng-class="{'ava': !slot.booked}" data-ng-repeat="slot in bookingService.bookingModel.uiList[5].slots">
                    <input id="5_{{slot.date}}_{{$index}}"
                           type="radio"
                           name="book-slot"
                           value="5_{{slot.date}}_{{$index}}"
                           data-ng-disabled="slot.booked"
                           data-ng-model="bookingService.bookingModel.selectedTimeSlotVlaue"
                           data-ng-change="updateSeletedTimeHandler('5_{{slot.date}}_{{$index}}')"
                           />
                    <label for="5_{{slot.date}}_{{$index}}">{{slot.startTime}} - {{slot.endTime}}</label>
                </li>
            </ul>
            <ul class="all_table clearfix ">
                <li data-ng-class="{'ava': !slot.booked}" data-ng-repeat="slot in bookingService.bookingModel.uiList[6].slots">
                    <input id="6_{{slot.date}}_{{$index}}"
                           type="radio"
                           name="book-slot"
                           value="6_{{slot.date}}_{{$index}}"
                           data-ng-disabled="slot.booked"
                           data-ng-model="bookingService.bookingModel.selectedTimeSlotVlaue"
                           data-ng-change="updateSeletedTimeHandler('6_{{slot.date}}_{{$index}}')"
                           />
                    <label for="6_{{slot.date}}_{{$index}}">{{slot.startTime}} - {{slot.endTime}}  </label>
                </li>
            </ul>
        </div>
    </div>
</div>
