
<style>
    .background-image {background-image: url(../img/bg/lbs.png);}
</style>
<form id="bu_selection_form" action="{{ url('buselection')}}" method="POST" class="form-horizontal">
    <div class="login-wrap">
        <div style="margin-left: -7.5px;
             margin-right: -7.5px;" >
            <div class="center">
                <div  width="100px" align="middle" class="imground">
                    <img src="..\img\logo\lbs.png" height="42" width="102" style="
                         margin-top: 45px;">
                </div>
            </div>       
        </div>
        <!--<div class="choose1" >
                                <div class="toppadding bottompadding topmargin bottommargin">
                                </div>
                                <div class="form-group col-sm-12 toppadding">
                                    <div class="  right" style="margin: -45px 60px 0px 0px ">
                                        <a href="addbusiness" class="gb_Fa"><button type="button" class="btn1  "  >
                                                Add Business
                                            </button></a>
                                    </div>
                                </div>
                            </div>-->
        <div class="choose1" >
            <div class="toppadding bottompadding topmargin bottommargin">
            </div>
            <h2 class="choose2">Choose an account </h2>
            <div class="row">
                <div id="check">
                    <input type="hidden" id="status" value="{{$business->status}}">
                    <div class="col-sm-12 toppadding" id="1" onclick="selradio(lbs)">
                        <hr class="line1" id="s">
                        <input type="radio" id="lbs" name="bus" value="lbs" style=" position:  static; margin-left: 15px;">
                        <p class="text1" id="qqq">lbs</p>
                        <img id="img" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img1" alt="">
                        <div class="f3GIQ" id="as">
                            <i class="fa fa-angle-right icon1" style="
                               font: normal normal normal 30px FontAwesome;
                               "></i>
                        </div>
                    </div> 
                </div>
                <div class="form-group col-sm-12 toppadding sub">
                    <div class="  right">
                        <button type="button" class="btn1" id="subbut">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<div class="col-sm-3">

</div>
