<div class="" >        
    <label> {{fieldValue.attribute_label}} </label>    
    <ui>
        <li  data-ng-repeat="data in dataModel.list">            
            <input type="checkbox"        
                   name="{{name}}"
                   class=" "
                   data-ng-model="dataModel.value"
                   id ="{{name}}_{{$index}}"
                   data-ng-change="changeHandler($index)"
                   value={{dataModel.list[$index]}}
                   />
            <label for="{{name}}_{{$index}}">{{data}}</label>            
        </li>    
    </ui>       
</div>
                  