<div>
    <div class="loader " ng-show="showloder" >
        <img alt="loader" src="/img/loading.gif" width="20px;"/>
    </div>
    <div class="clinics_wrapper clearfix" data-ng-repeat="clinic in staticBlockModel.jsonList">
        <div class="img_wra">
            <img data-ng-show="clinic.img == ''" alt = "" src="/img/F2F_PlaceHolder.png" />
            <img data-ng-show="clinic.img != ''" alt="" ng-src="{{clinic.img}}" />
        </div>
        <div class="cli_content">
            <div class="cli_title clearfix">
                <h2 class="doc_name">
                    <a href="app/detail/#/clinic/{{clinic.id}}" >{{clinic.name}}</a>
                </h2>
                <p class="review_rate">
                    <span class="sprite">
                        <span class="sprite" style="width: {{(clinic.rating / 5) * 100}}%">&nbsp;</span>
                    </span>
                </p>

            </div>
            <p class="cli_add">
                {{clinic.address}} <a href="app/detail/#/clinic/{{clinic.id}}" >Get direction</a>
            </p>
            <p class="type_dis">
                {{clinic.speciality}}
            </p>
            <p class="exp">
                <a href="">{{clinic.keyword}}</a>
            </p>
        </div>

    </div>
    <a href="/app/search/#/clinic?filter=51.5287596--0.2416356-50" class="more_cli">More Clinics <i class="fa fa-angle-double-right"></i></a>

</div>