<!DOCTYPE html>
<html lang="en" data-ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title>Accozen - Business Management System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-111725945-2', {'cookieDomain': 'none'});
        </script>
        <!--<link rel="icon" href="img/favicon.png" type="image/x-icon">-->
        <!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
        <link rel="stylesheet" href="../css/app.css" type="text/css" />
        <link rel="stylesheet" href="../css/styles.css" type="text/css" />
        <link rel="stylesheet" href="../css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="../css/component.css" type="text/css" />
        <link rel="stylesheet" href="../css/glyphicon.css" type="text/css" />
        <link rel="stylesheet" href="../libs/assets/animate.css/animate.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-sweetalert/sweetalert/dist/sweetalert.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-sweetalert/sweetalert/themes/facebook/facebook.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../libs/angular/angular-ui-grid/ui-grid.min.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/loading-bar/loading-bar.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-drag-and-drop-lists/multi.css" type="text/css" />
        <link href="//fonts.googleapis.com/css?family=Roboto:400,500|Inconsolata:400,700|Roboto Mono:400|Google Sans Display:400" rel="stylesheet" type="text/css">
        <!-- select 2 style -->
        <link rel="stylesheet" href="../libs/angular/angular-ui-select/dist/select.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-ui-select/dist/select2.css" type="text/css" />
        <link rel="stylesheet" href="../libs/angular/angular-ui-select/dist/selectize.default.css" type="text/css" />       
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.min.css" />-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css" type="text/css" />       

        <script src="../libs/angular/highchart/highcharts.js"></script>

        <base href="/public/admin/">

    </head>
    <body ng-controller="AppCtrl" class="home " data-ng-class="getContainerClass(); {'menu-open ' : !appConfig.navMenuExpand}">


        <div data-ng-include=" 'tpl/blocks/header.html'" ng-if="true" class="app-header ">
        </div>

        <div class="app main-container  " id="app" ui-view data-ng-class="{'Tamil': tamlag === true}" >
        </div>

        <!-- jQuery -->
        <script src="../libs/jquery/jquery/dist/jquery.js"></script>

        <!-- sparklines -->
        <!--        <script src="../libs/jquery/jquery_sparkline/jquery.min.js.gz.js"></script>
                <script src="../libs/jquery/jquery_sparkline/jquery.sparkline.js"></script>-->
        <script src="../libs/jquery/jquery_sparkline/jquery.sparkline.min.js"></script>

        <!-- Angular -->
        <script src="../libs/angular/angular/angular.js"></script>

        <script src="../libs/angular/angular-animate/angular-animate.js"></script>
        <script src="../libs/angular/angular-cookies/angular-cookies.js"></script>
        <script src="../libs/angular/angular-sanitize/angular-sanitize.js"></script>
        <script src="../libs/angular/angular-touch/angular-touch.js"></script>
        <script src="../libs/angular/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../libs/angular/ngstorage/ngStorage.js"></script>
        <!-- bootstrap -->
        <script src="../libs/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- angulartic -->
        <script src="../libs/angular/angulartics-master/dist/angulartics.min.js"></script>
        <script src="../libs/angular/angulartics-google-analytics-master/dist/angulartics-ga.min.js"></script>
        <!--fusion chart-->
        <script src="../libs/angular/fusioncharts/fusioncharts.js"></script>
        <script src="../libs/angular/fusioncharts/fusioncharts.charts.js"></script>
        <script src="../libs/angular/fusioncharts/themes/fusioncharts.theme.fusion.js"></script>
        <script src="../libs/angular/angularjs-fusioncharts/dist/angular-fusioncharts.js"></script>
        <!--UI Select -->
        <script src="../libs/angular/angular-ui-select/dist/select.js"></script>

        <!-- ngValidation -->
        <script src="../libs/angular/angular-confirm/angular-confirm.js"></script>
        
        <!-- ngValidation -->
        <script src="../libs/angular/angular-validator/angular-validator.js"></script>

        <!-- lazyload -->
        <script src="../libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
        <!-- application loading -->
        <script src="../libs/angular/loading-bar/loading-bar.js"></script>
        <!-- translate -->
        <script src="../libs/angular/angular-translate/angular-translate.js"></script>
        <script src="../libs/angular/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="../libs/angular/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="../libs/angular/angular-translate-storage-local/angular-translate-storage-local.js"></script>


        <script src="../libs/angular/angular-sweetalert/sweetalert/dist/sweetalert.min.js"></script>
        <script src="../libs/angular/angular-sweetalert/swal.min.js"></script>
        <script src="../libs/angular/angular-sweetalert/ngSweetAlert.js"></script>
        <script src="../libs/angular/highchart/highcharts-ng.js"></script>

        <!--Angular Text Editor -->
        <script src='../libs/angular/textAngular/dist/textAngular-rangy.min.js'></script>
        <script src='../libs/angular/textAngular/dist/textAngular-sanitize.min.js'></script>
        <script src='../libs/angular/textAngular/dist/textAngular.min.js'></script>

        <!--Drag & Drop-->
        <script src="../libs/angular/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
        <script src="../libs/angular/angular-localstorage/angular-localstorage.js"></script>
        <script src="app.js"></script>
        <script src="config.js"></script>
        <script src="config.router.js"></script>
        <script src="main.js"></script>
        <script src="config.lazyload.js"></script>

        <!-- Common servies  include -->

        <script src="apiConstant.js"></script>

        <script src="service/adminService.js"></script>
        <script src="../js/services/httpService.js"></script>
        <script src="../js/services/localStorageService.js"></script>
        <script src="../js/services/commonService.js"></script>
        <script src="../js/services/utilityService.js?sdfsdaf"></script>
        <script src="../js/customerFactory.js"></script>
        <script src="../js/validationFactory.js"></script>
        <script src="../js/factory/accountFactory.js"></script>
<!--                <script src="../js/bootstrap-tour.min.js"></script>
                <script src="../js/bootstrap-tour.js"></script>-->
        <script src="../js/lang.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour-standalone.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.js"></script>
       
        <!--<script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>-->
        <!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.js"></script>-->
    </body>
</html>
