<div class="autocomplete {{ attrs.class}}" name="{{attrs.name}}">
    <label>{{label}} Id={{id}} required={{req}} type={{type}} valid_type={{validate}}</label>
    <input
        type="text"        
        name="{{field-name}}"
        class="autocomplete-input form-control"
        ng-model="val"
        ng-change="ngChangeInfo(id,val)"
        validator="validateInput()"
        elemfocus-select        
        />
        <!--data-ng-class="{'has-error': validationFactory.validateInput(req,val)==false}"-->    
</div>

