




<div class="main-content  animated  " id="av-content" >
    <div class=" conta iner clearfix" >


        <div class="login-wrap login-create-wrap clearfix ">

<!--            <div class="login-left clearfix ">
                <div class="join-us clearfix ">
                    <img class="" src="../../../img/pat-log.png" />
                </div>
            </div>-->
            <div class="login-right login-right-bg clearfix  ng-scope" data-ng-controller="loginCtrl" >

                <legend>Secure Login</legend>
                <form name="login_clinic_form" angular-validator-submit="login()"  novalidate angular-validator>
                    <ul class=" clearfix ">
                        <li class="login-field ">
                            <input class=""
                                   name="username"
                                   type="text"
                                   placeholder="Username"
                                   data-ng-model = "username"
                                   required
                                   />
                        </li>
                        <li class="login-field ">
                            <input class=""
                                   name="userpassword"
                                   type="password"
                                   data-ng-model = "password"
                                   placeholder="Password"
                                   required
                                   />
                        </li>
<!--                        <li >
                            <input class=""
                                   type="checkbox"
                                   id="remember"
                                   checked=""
                                   />
                            <label for="remember">Remember</label>
                        </li>-->
                    </ul>
                    <div class="sign-btn-wrap clearfix">
                        <button class="btn btn-orng continue button float-left " type="submit" data-ng-disabled="isDataProcessing" data-ng-class='{"btn-loader":isDataProcessing}'>
                            Login
                        </button>
                        <a class="button float-left sign-up "  href="{{CONTEXT_ROOT}}/register/#/" >
                            Signup
                        </a>
                         
                        <br/>
                        <a href="/#/forgetpassword" class="forget-pass ">Forgot your password?</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>

