<!DOCTYPE html>
<html lang="en" data-ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title>LBS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!--<link rel="icon" href="img/favicon.png" type="image/x-icon">-->
        <!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
        <link rel="stylesheet" href="../css/admin/app.css" type="text/css" />
        <link rel="stylesheet" href="../css/admin/styles.css" type="text/css" />
        <link rel="stylesheet" href="../css/admin/normalize.css" type="text/css" />
        <link rel="stylesheet" href="../css/admin/component.css" type="text/css" />
        <link rel="stylesheet" href="../css/admin/glyphicon.css" type="text/css" />
        <link rel="stylesheet" href="../libs/assets/animate.css/animate.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../libs/angular/angular-ui-grid/ui-grid.min.css" type="text/css" />
        <base href="/lbs/public/register/">
    </head>
    <body ng-controller="AppCtrl" class="home register-page-body " data-ng-class="getContainerClass()">


        <div data-ng-include=" 'tpl/blocks/header.html'" ng-if="true" class="app-header ">
        </div>

        <div class="app main-container  " id="app" ui-view>
        </div>

        <!-- jQuery -->
        <script src="../libs/jquery/jquery/dist/jquery.js"></script>

        <!-- Angular -->
        <script src="../libs/angular/angular/angular.js"></script>

        <script src="../libs/angular/angular-animate/angular-animate.js"></script>
        <script src="../libs/angular/angular-cookies/angular-cookies.js"></script>
        <script src="../libs/angular/angular-sanitize/angular-sanitize.js"></script>
        <script src="../libs/angular/angular-touch/angular-touch.js"></script>
        <script src="../libs/angular/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../libs/angular/ngstorage/ngStorage.js"></script>
        <!-- bootstrap -->
        <script src="../libs/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <!-- ngValidation -->
        <script src="../libs/angular/angular-validator/angular-validator.js"></script>

        <!-- lazyload -->
        <script src="../libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
        <!-- translate -->
        <script src="../libs/angular/angular-translate/angular-translate.js"></script>
        <script src="../libs/angular/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="../libs/angular/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="../libs/angular/angular-translate-storage-local/angular-translate-storage-local.js"></script>

        <script src="app.js"></script>
        <script src="config.js"></script>
        <script src="config.router.js"></script>
        <script src="main.js"></script>
        <script src="config.lazyload.js"></script>

        <!-- Common servies  include -->

        <script src="apiConstant.js"></script>

        <script src="service/adminService.js"></script>
        <script src="../js/services/httpService.js"></script>
        <script src="../js/services/localStorageService.js"></script>
        <script src="../js/services/commonService.js"></script>
        <script src="../js/services/utilityService.js"></script>

        <script src="../js/validationFactory.js"></script>


    </body>
</html>
