<div class="" >
    <label>{{dataModel.label}}{{dataModel.isRequired ? '*':''}}</label>
    <input name="{{name}}" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
           ng-model="dataModel.value"  is-open="fromDateOpen" placeholder='--Select Date--'
           show-weeks="false" show-button-bar="false"  data-ng-change="initChangeHandler()"
           close-text="Close" validator="validateInput()" angular-validator-isolated-field/>
    <button type="button" class="btn btn-default btn-choose btn-custom-date" ng-click="openDate(0)">
        <i class="glyphicon glyphicon-calendar"></i>
    </button>
    <!--    name="{{dataModel.name}}"  -->
</div>

