<div>
    <div class="loader " ng-show="showloder" >
        <img alt="loader" src="/img/loading.gif" width="20px;"/>
    </div>
    <div data-ng-if="staticBlockModel.htmlContent != ''"  ng-bind-html="staticBlockModel.htmlContent | trustedhtml ">

    </div>
</div>