
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="accountSummaryreportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="account_summary_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <!--            <a href="{{APP_CONST.API.DISCOUNT_REPORT_CSV}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix ">
        <div class="panel panel-default notopmargin">
            <form name="account_summary_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false"      angular-localstorage-field='true' validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()"
                               required close-text="Close"   readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               show-weeks="false"     angular-localstorage-field='true'
                               validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()"
                               required close-text="Close"   readonly />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <select name="summary_account_dropdown" type="text" ng-model="searchFilter.account" class="form-control"  angular-localstorage-field='true'>
                            <option value="" translate="choose_an_account"></option>
                            <option value="{{Accountlist.id}}" data-ng-repeat="Accountlist in accountsummaryModel.Accountlist">{{Accountlist.account}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="accountsummaryModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":accountsummaryModel.isSearchLoadingProgress}'
                                        translate="search">
                                    
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()" translate="clear">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"> </span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="account"></span> {{searchFilter.account == '' ? '-' : accountName}}</li>
                </ul>
            </div>

            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 120px;"  rowspan="1" colspan="1" translate="si_no">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="account_name">
                                
                            </th>
                            <th style="width: 250px;" class="right"  rowspan="1" colspan="1" translate="invoice_payment_amount">
                                
                            </th>                            
                            <th style="width: 250px; padding-left: 27px;"   rowspan="1" colspan="1" translate="detail">
                                
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="accountsummaryModel.isLoadingProgress">
                            <td colspan="4" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="accountsummaryModel.list.length === 0">
                            <td colspan="4" class="text-center" >
                                <span translate="no_results_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="summary in accountsummaryModel.list">
                            <td ui-scroll-to="app" data-ng-click="redirectToAccountDetail(summary.accountName)">
                                {{$index + 1}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="redirectToAccountDetail(summary.accountName)">
                                {{summary.accountName}}
                            </td>
                            <td class="right" ui-scroll-to="app" data-ng-click="redirectToAccountDetail(summary.accountName)">
                                {{summary.amount}}
                            </td>                           
                            <td class="" ui-scroll-to="app" data-ng-click="redirectToAccountDetail(summary.accountName)">
                                <a href="javascript:void(0)" class="add_button add-dash"   data-ng-click="redirectToAccountDetail(summary.accountName)" style="padding: 4px 10px 4px 10px;">Detail </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="accountsummaryModel.list.length === 0" >
                        <tr>
                            <td colspan="2" class="right" >
                               <span translate="total"></span>
                            </td>
                            <td colspan="1" class="right">
                                {{accountsummaryModel.totalAmount}}
                            </td>
                            <td colspan="1" class="text-right">

                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>



