<div class="app-content-body fade-in-up req-stock "  data-ng-controller="accountListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Account List</h2>
            <a href="javascript:void(0)" data-ng-click="showPopup()"  class="add_button add-dash" >Withdrawal</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix ">
        <form name="account_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
            <div class="panel panel-default ">
                <div class="head_right wrapper-sm clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" show-button-bar="false"  data-ng-change="initTableFilter()"
                               required close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" show-button-bar="false"  data-ng-change="initTableFilter()"
                               required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text"
                               placeholder="Category"
                               data-ng-model="searchFilter.category"
                               data-ng-change="initTableFilter()"
                               class="form-control "  />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea">
                        <select ng-model="searchFilter.type" class="form-control " data-ng-change="initTableFilter()">
                            <option value ="">-Type-</option>
                            <option value="WITHDRAW">WITHDRAW</option>
                            <option value="CUSTOMER_PAYMENT">CUSTOMER_PAYMENT</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive ">
                    <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 60px; text-align: center;"  rowspan="1" colspan="1" >
                                    ID
                                </th>
                                <th style="width: 200px; text-align: left;"  rowspan="1" colspan="1" >
                                    Date
                                </th>
                                <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                                    Particulars
                                </th>
                                <th style="width: 100px; text-align: center; "   rowspan="1" colspan="1">
                                    Category
                                </th>
                                <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                                    Source Type
                                </th>
                                <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                    Credit
                                </th>
                                <th style="width:150px; text-align: right;"   rowspan="1" colspan="1">
                                    Debit
                                </th>
                                <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                    Balance
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="accountModel.isLoadingProgress">
                                <td colspan="8" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="accountModel.total == 0">
                                <td colspan="8" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="account in accountModel.list">
                                <td>
                                    {{account.id}}
                                </td>
                                <td>
                                    {{account.date| date:'dd-MM-yyyy'}}
                                </td>
                                <td>
                                    {{account.particulars}}
                                </td>
                                <td style="text-align: center;">
                                    {{account.category}}
                                </td>
                                <td>
                                    {{account.source_type}}
                                </td>
                                <td style="text-align: right;">
                                    {{account.debit.toFixed(2)}}
                                </td>
                                <td style="text-align: right;">
                                    {{account.credit.toFixed(2)}}
                                </td>
                                <td style="text-align: right;">
                                    {{account.balance.toFixed(2)}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot  data-ng-hide="accountModel.total == 0" >
                            <tr>
                                <td colspan="2" class="text-left" >
                                    <label>Show</label>
                                    <select firstName = "perpage"
                                            ng-model="accountModel.limit"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="initTableFilter()"
                                            >
                                    </select>
                                </td>
                                <td colspan="6" class="text-right">
                        <uib-pagination total-items="accountModel.total" ng-model="accountModel.currentPage" ng-change="getList()" items-per-page="accountModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>


    <div class="model_overlay" ng-if="showSaveWithdrawPopup" ></div>
    <div class="model_popup add_review_popup" ng-if="showSaveWithdrawPopup" >
        <form name="withdrawal_form" angular-validator-submit="saveWithdraw()" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2>Withdrawl</h2>
            <div class="form-group ">
                <label>Reason*</label>
                <textarea rows="7" cols="150"  maxlength="150"
                          class="form-control "
                          name = "Reason"
                          ng-model = "accountModel.reason"
                          placeholder="Reason"
                          required
                          ></textarea>
            </div>
            <div class="form-group">
                <label>Amount*</label>
                <input type="text" size="20"
                       class="form-control"
                       name = "amt"
                       ng-model = "accountModel.withdrawamt"
                       validator = "validationFactory.isPositiveNumber(accountModel.withdrawamt) === true"
                       required
                       />
            </div>
            <center><button type="submit" class="btn btn-sm btn-primary btn_grn"    data-ng-class='{"btn-loader":issaveWithdrawLoadingProgress}' >Save</button></center>
        </form>
    </div>
</div>

