<div class="app-content-body fade-in-up"  data-ng-controller="accountEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="account_edit"></h2>
            <a ui-sref="app.account" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="accountModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="account_edit_form" angular-validator-submit="modifyAccount()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "account"
                                            ng-model = "accountModel.account"
                                            placeholder="{{'name' | translate }}"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="description"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "description"
                                            ng-model = "accountModel.description"
                                            placeholder="{{'description' | translate }}"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="account_number"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "account_number"
                                            ng-model = "accountModel.account_number"
                                            placeholder="{{'account_number' | translate }}"
                                            maxlength="20"
                                            />
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="contact_person"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "contact_person"
                                            ng-model = "accountModel.contact_person"
                                            placeholder="{{'contact_person' | translate }}"
                                            validator="validationFactory.hasRequired(accountModel.contact_person) == false || validationFactory.isAlbha(accountModel.contact_person) == true"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="phone"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type="text"
                                            class="form-control"
                                            name="contact_phone"
                                            ng-model="accountModel.contact_phone"
                                            placeholder="{{'phone' | translate }}"
                                            validator = "validationFactory.hasRequired(accountModel.contact_phone) == false  || validationFactory.phoneNumberValidator(accountModel.contact_phone) == true"
                                            maxlength="20"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="internet_banking_URL"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "website"
                                            ng-model = "accountModel.website"
                                            validator = "validationFactory.hasRequired(accountModel.website) == false || validationFactory.urlValidator(accountModel.website) == true"
                                            placeholder="{{'internet_banking_URL' | translate }}"
                                            />
                                </div>
<!--                                <div ng-hide="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="acode"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <label class="lbl">{{accountModel.acode}}</label>                                        
                                    </div>
                                </div>-->
                                <div class="col-sm-7 topmarginxs right">
                                    <input type="checkbox"
                                           class=" "
                                           id="pos_visibility"                                           
                                           name="pos_visibility"
                                           data-ng-model="accountModel.pos_visibility"
                                           />
                                    <label for="pos_visibility" translate="pos_visibility"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group full_w btn_group">
                            <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                            <a type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="model_overlay ng-hide" ng-show="showPopup"></div>
    <div class="model_popup model_popup_fixed add add_review_popup ng-hide" style="position: fixed;" ng-show="showPopup">
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <p>Already you have completed {{count}} transaction</p>
        <p>Do you want to continue ?? </p>
        <a type="button" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' ng-click="updateAccount()" translate="yes"></a>
        <a type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="closePopup()" translate="no"></a>
</div>
 </div>
