
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="accountDetailreportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Account Detailed Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ui-sref="app.accountsummary" ui-scroll-to="app">Back to Summary </a>
            <!--            <a href="{{APP_CONST.API.DISCOUNT_REPORT_CSV}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix ">
        <div class="panel panel-default notopmargin">
            <form name="account_detail_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"     
                               required close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"    
                               required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <select name="detail_account_dropdown" type="text" ng-model="searchFilter.account" class="form-control" required>
                            <option value="">Choose an Account</option>
                            <option value="{{Accountlist.id}}" data-ng-repeat="Accountlist in accountDetailModel.Accountlist">{{Accountlist.account}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="accountDetailModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":accountDetailModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">Account: {{searchFilter.account == '' ? '-' : accountName}}</li>
                </ul>
            </div>

            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">                           
                            <th rowspan="1" colspan="1" >
                                Invoice No
                            </th>
                            <th  rowspan="1" colspan="1">
                                Date
                            </th>
                            <th   rowspan="1" colspan="1">
                                Account Name
                            </th>
                            <th  rowspan="1" colspan="1">
                                Customer Name
                            </th>
                            <th   rowspan="1" colspan="1">
                                Mobile
                            </th>
                            <th style="text-align: right;"   rowspan="1" colspan="1">
                                Invoice Amount
                            </th>                                                                                   
                            <th class="right"   rowspan="1" colspan="1">
                                Payment Amount
                            </th>                                                      
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="accountDetailModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="accountDetailModel.list.length === 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="discount in accountDetailModel.list">                           
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.invoice_no}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.date}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.accountName}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.fname}}
                            </td>
                            <td class="" ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.customer_phone}}
                            </td>                           
                            <td class="right" ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.total_amount}}
                            </td>
                            <td class="right" ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.amount}}
                            </td>

                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="accountDetailModel.list.length === 0" >
                        <tr>
                            <td colspan="5" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="right">
                                {{accountDetailModel.total_invoiceAmt}}
                            </td>
                            <td colspan="1" class=" right" >
                                {{accountDetailModel.total_paymentAmt}}
                            </td>                                                      
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>



