<script type="text/ng-template" id="acode_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.code | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="accountaddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="account_add">Account Add</h2>
            <a ui-sref="app.account" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_account_form" angular-validator-submit="createAccount()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "account"
                                            ng-model = "accountModel.account"
                                            placeholder="{{'name' | translate }}"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="description"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "description"
                                            ng-model = "accountModel.description"
                                            placeholder="{{'description' | translate }}"
                                            maxlength="40"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="initial_balance_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "balance"
                                            ng-model = "accountModel.balance"
                                            placeholder="{{'initial_balance' | translate }}"
                                            validator = "validationFactory.isNumber(accountModel.balance) == true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="account_number"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "account_number"
                                            ng-model = "accountModel.account_number"
                                            placeholder="{{'account_number' | translate }}"
                                            maxlength="20"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="contact_person"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "contact_person"
                                            ng-model = "accountModel.contact_person"
                                            placeholder="{{'contact_person' | translate }}"
                                            maxlength="20"
                                            validator="validationFactory.hasRequired(accountModel.contact_person) == false || validationFactory.isAlbha(accountModel.contact_person) == true"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="phone"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "contact_phone"
                                            ng-model = "accountModel.contact_phone"
                                            placeholder="{{'phone' | translate }}"
                                            validator = "validationFactory.hasRequired(accountModel.contact_phone) == false || validationFactory.phoneNumberValidator(accountModel.contact_phone) == true"
                                            maxlength="20"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="internet_banking_URL"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "website"
                                            ng-model = "accountModel.website"
                                            validator = "validationFactory.hasRequired(accountModel.website) == false || validationFactory.urlValidator(accountModel.website) == true"
                                            placeholder="{{'internet_banking_URL' | translate }}"
                                            />
                                </div>
<!--                                <div ng-hide="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="acode"></label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text"
                                               class="form-control"
                                               name="acode_dropdown_{{$index}}"
                                               ng-model="accountModel.acode"
                                               placeholder="{{'acode' | translate}}"
                                               uib-typeahead="acode for acode in getAcodeList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noAcodeResult"
                                               typeahead-min-length="0"
                                               typeahead-editable="true"
                                               typeahead-template-url="acode_dropdown__tpl.html"
                                               typeahead-input-formatter="formatAcodeModel($model)"
                                               autocomplete="off"   angular-validator-field
                                               />
                                        <span class="glyphicon glyphicon-search box-search "></span>
                                    </div>
                                </div>-->
                                 <div class="col-sm-5 topmarginxs">
                                    <label translate="">&nbsp;</label>
                                </div>
                                <div class="col-sm-7 topmarginxs right">
                                    <input type="checkbox"
                                           class=""
                                           id="pos_visiblity"
                                           name="pos_visibility"
                                           data-ng-model="accountModel.pos_visibility"
                                           />
                                    <label for="pos_visiblity" translate="pos_visibility"></label>
                                </div>
                                <div class="row refresh-div">
                                    <div class="col-sm-4">                                       
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh right"></i>   
                                    </div>
                                    <div class="col-sm-8">
                                        <div ng-show="noAcodeResult" class="result-dis  left remove-icon">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group full_w btn_group">
                            <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                            <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                        </div>

                    </div>
                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>
</div>
