<div class="app-content-body fade-in-up req-stock " data-ng-controller="accountStatementCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="account_statement"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"> </a>
            <a href="{{APP_CONST.API.ACCOUNTSTATEMENT_DOWN}}?from_Date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_Date={{searchFilter.todate|date:'yyyy-MM-dd'}}&account_id={{searchFilter.account}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="partysales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false"     angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               show-weeks="false"     angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <select type = "text" name="account_dropdown" ng-model="searchFilter.account" class="form-control" data-ng-change="findAccountName()" angular-localstorage-field='true' required>
                            <option value="" translate="account"></option>
                            <option value="{{account.id}}" data-ng-repeat="account in accountStatementModel.accountList" >{{account.account}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row rowbtn">
                            <div class="col-sm-6">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="accountStatementModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":accountStatementModel.isSearchLoadingProgress}'
                                        translate="search">
                                    
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()" translate="clear">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"></span>{{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="acode:"></span>{{accountStatementModel.accountName == '' ? '-' : accountStatementModel.accountName}}</li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 150px; text-align: center;"  rowspan="1" colspan="1" translate="transaction_date">
                                
                            </th>
                            <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1" translate="narration">
                                
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1" translate="debit">
                                
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1" translate="credit">
                                
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1" translate="balance">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="accountStatementModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-show="accountStatementModel.openingBalance == null">
                            <td colspan="5" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-show="accountStatementModel.openingBalance != null">
                            <td  colspan="1">
                            </td>
                            <td colspan="1">
                                <b>Opening Balance</b>
                            </td>
                            <td style="text-align: right;">
                                {{accountStatementModel.openingDebit}}
                            </td>
                            <td style="text-align: right;">
                                {{accountStatementModel.openingCredit}}
                            </td>
                            <td style="text-align: right;">
                                {{accountStatementModel.openingAmount}}
                            </td>
                        </tr>
                        <tr data-ng-repeat="account in accountStatementModel.list">
                            <td style="width:150px;">
                                {{account.transaction_date}}
                            </td>
                            <td style="width:200px;">
                                {{account.particulars}}
                            </td>
                            <td style="width:100px; text-align: right;" class="credit-col" >
                                {{account.debit}}
                            </td>
                            <td style="width:100px; text-align: right;" class="debit-col" >
                                {{account.credit}}
                            </td>
                            <td style=" width:100px;text-align: right;">
                                {{account.balance}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr data-ng-show="accountStatementModel.openingBalance != null">
                            <td colspan="1"></td>
                            <td style="width: 150px; text-align: right;" ><b translate="total"></b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{accountStatementModel.totaldebit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{accountStatementModel.totalcredit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{accountStatementModel.totalbalance}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


