<script type="text/ng-template" id="acode_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name  | uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.model.code | uibTypeaheadHighlight:query"></span>
    <span ng-bind-html="match.model.account | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="acodeStatementCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix">
            <h2 class="hide-print">Consolidated Acode Statement</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="partysales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"    angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"    angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text"
                               class="form-control" name="acodeDropDown"
                               placeholder="Acode" ng-model="searchFilter.acode"
                               uib-typeahead="acode for acode in getAcodeList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noAcodeResult"
                               angular-localstorage-field='true'
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="acode_dropdown__tpl.html"
                               typeahead-input-formatter="formatAcodeModel($model)"
                               autocomplete="off"   
                               angular-validator-field
                               />
                        <span class="glyphicon glyphicon-search box-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        <div ng-show="noAcodeResult">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="sea">
                        <input type="text"
                               name="prefix"
                               placeholder="Prefix"
                               angular-localstorage-field='true'
                               data-ng-model="searchFilter.prefix"
                               class="form-control "  />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>    
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="accountStatementModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":accountStatementModel.isSearchLoadingProgress}'
                                        >
                                    Search
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="print-center" style="width: 100%;">
                    <li style="font-size: 14px;text-align: center;">Consolidated Acode Statement</li>
                </ul>
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">Acode:{{searchFilter.acode == '' ? '-' : searchFilter.acode.code }}</li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Acode
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Prefix
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Name
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Credit
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                Debit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="accountStatementModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-show="accountStatementModel.list.length == 0">
                            <td colspan="5" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="account in accountStatementModel.list">
                            <td style="width:110px;">
                                {{account.acode}}
                            </td>
                            <td style="width:110px;">
                                {{account.customer_prefix}}
                            </td>
                            <td style="width:120px;">
                                {{account.acode_name}}
                            </td>
                            <td style="width:120px; text-align: right;" class="credit-col" >
                                {{account.displayCredit}}
                            </td>
                            <td style="width:120px; text-align: right;" class="debit-col" >
                                {{account.displayDebit}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr data-ng-show="accountStatementModel.list.length > 0">
                            <td colspan="2"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{accountStatementModel.totalcredit}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{accountStatementModel.totaldebit}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


