
<div class="app-content-body fade-in-up"  data-ng-controller="advancepaymentViewCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="payment_receipt_details"></h2>
            <a ng-if="currentPage == 'advancepayment'" ui-sref="app.advancepayment" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            <a ng-if="currentPage == 'purchasepayment'" ui-sref="app.purchasepayment" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="advanceModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="advancepayment_view" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-7 ">
                            <div class="row ">
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="date:"></label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.date}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label ng-if="currentPage == 'advancepayment'" translate="pay_customer_name"></label>
                                    <label ng-if="currentPage == 'purchasepayment'" translate="vendor_name"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.fname}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="account_name:"></label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin ">
                                    <label>{{advanceModel.advanceDetails.account}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="total_amount:"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.amount}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="used_amount:"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.used_amount}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="balance_amount:"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.balance_amount}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="payment_mode:"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.payment_mode}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="status:"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.status}}</label>
                                </div>                                
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="comments"></label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin">
                                    <label>{{advanceModel.advanceDetails.comments}}</label>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>