<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="advancepaymentAddCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2 translate="payment_receipt_add"></h2>
            <a ui-sref="app.advancepayment" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container topmarginsm  ">
        <div class="wrapper-md bg-white invoice-add">
            <div class="  clearfix add-form1 form-wrapper1 ">
                <form name="save_payment_form" angular-validator-submit="createAdvancePayment()" class="form-horizontal clearfix col-sm-12" novalidate angular-validator>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="customer_name:"></label>
                                    </div>
                                    <div class="col-sm-7 form-group">
                                        <input type="text"
                                               class="form-control"
                                               name="customer_dropdown"
                                               ng-model="paymentAddModel.customerInfo"
                                               typeahead-on-select="getsalesorderList()"
                                               placeholder="{{'customer_details' | translate}}"
                                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResult"
                                               typeahead-min-length="0"
                                               typeahead-editable="true"
                                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                               typeahead-input-formatter="formatCustomerModel($model)"
                                               autocomplete="off"
                                               ng-blur="custDrop()"
                                               required
                                               />      
                                        <span class="glyphicon glyphicon-search box-search "></span>
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResult">
                                            <i class="glyphicon glyphicon-remove"></i> 
                                            <span translate="no_results_found"></span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="payment_date_required"></label>
                                    </div>
                                    <div class="col-sm-7 form-group">
                                        <input name="invoicedate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                               ng-model="paymentAddModel.date" is-open="paymentDateOpen"  max-date="currentDate"
                                               show-weeks="false" datepicker-options="dateOptions"
                                               close-text="Close" required readonly/>
                                        <button type="button" class="btn btn-default btn-choose" style="margin-top: -20px;" ng-click="openDate(0)" >
                                            <i class="glyphicon glyphicon-calendar"></i>                
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="amount_required"></label>
                                    </div>
                                    <div class="col-sm-7 form-group">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Amount"
                                                ng-model = "paymentAddModel.amount"
                                                placeholder="{{'amount' | translate}}"
                                                angular-validator-field
                                                validator = "validationFactory.isNumber(paymentAddModel.amount) === true && (paymentAddModel.amount>0?true:false)"
                                                maxlength="20"
                                                required/>
                                    </div>                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="category"></label>
                                    </div>
                                    <div class="col-sm-7 form-group">
                                        <select name="categorydropdown" ng-model="paymentAddModel.category"  class="form-control" >
                                            <option value="" translate="select_category"></option>
                                            <option value="{{category.name}}" data-ng-repeat="category in paymentAddModel.categoryList">{{category.name}}</option>
                                        </select>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="accounts_required"></label> 
                                    </div>                             
                                    <div class="col-sm-7 form-group">                                    
                                        <select name="accountsdropdown" ng-model="paymentAddModel.account_id"  class="form-control" required>
                                            <option value="" translate="select_accounts"></option>
                                            <option value="{{accounts.id}}" data-ng-repeat="accounts in paymentAddModel.accountsList">{{accounts.account}}</option>
                                        </select>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="mode_required"></label>
                                    </div>
                                    <div class="col-sm-7 form-group">                                    
                                        <select class="form-control "
                                                ng-model="paymentAddModel.payment_mode"                                        
                                                name="modedropdown" required
                                                >
                                            <option value="" translate="select_payment_mode"> </option>
                                            <option value="{{paymentterms.name}}" data-ng-repeat="paymentterms in paymentAddModel.paymentlist">{{paymentterms.name}}</option>                         
                                        </select>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="comments"></label>
                                    </div>
                                    <div class="col-sm-6 form-group">                                    
                                        <textarea rows="4" cols="50"
                                                  class="form-control"
                                                  name = "comments"
                                                  ng-model = "paymentAddModel.comments"
                                                  placeholder="{{'comments' | translate}}"
                                                  ></textarea>  
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="row">   
                            <div class="col-sm-6">
                                <div class="table-responsive ">
                                    <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">                                                
                                                <th style="width: 150px;"   rowspan="1" colspan="1" translate="sales_order_date">
                                                    
                                                </th>
                                                <th style="width: 150px;"   rowspan="1" colspan="1" translate="code">
                                                    
                                                </th>
                                                <th style="width:150px;"   rowspan="1" colspan="1" translate="amount">
                                                    
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-show="paymentAddModel.isSalesOrderLoading">
                                                <td colspan="3" class="text-left" style="padding: 0;" >
                                                    <p class="loader-icon" >
                                                        <img alt="loader" src="img/loading.gif" />
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr data-ng-if="paymentAddModel.salesorderList.length == 0">
                                                <td colspan="3" class="text-center" >
                                                    <span translate="no_data_found"></span>
                                                </td>
                                            </tr>
                                            <tr data-ng-repeat="salesorder in paymentAddModel.salesorderList" >                                                
                                                <td>
                                                    <input class="" type="radio" name="radio_{{$index}}" value="{{salesorder.id}}" id="radio_{{$index}}" 
                                                           data-ng-change ="getInvoiceDetails($index)"
                                                           ng-model="paymentAddModel.salesorder_id" />
                                                    <label for="radio_{{$index}}">{{salesorder.date| date:'dd-MM-yyyy'}}</label>
                                                                                                        <input type="radio" name="radio_{{$index}}" id="radio_{{$index}}">
                                                                                                        <label for="radio_{{$index}}" >{{salesorder.date| date:'dd-MM-yyyy'}}</label>
                                                </td>  
                                                <td>
                                                    {{salesorder.sales_order_code}}
                                                </td>
                                                <td>
                                                    {{salesorder.total_amount}}
                                                </td>                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label translate="order_number:">{{paymentAddModel.invoiceDetails.sales_order_no}}</label><br>
                                <label translate="order_date:">{{paymentAddModel.invoiceDetails.date| date:'dd-MM-yyyy'}}</label><br>
                                <label translate="bill_amount:">{{paymentAddModel.invoiceDetails.total_amount}}</label><br>
                            </div>
                        </div>-->
                        <div class="row" style="margin-top: 20px;">
                            <div class="form-group full_w btn_group">
                                <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="save"></button>
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()" translate="cancel"></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>           
        </div>
    </div>
</div>    


