

<div class="app-content-body fade-in-up"  data-ng-controller="albumEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="album_edit"></h2>
                <a ui-sref="app.albumlist" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
                <a  ui-scroll-to="app" href="#/album-view/{{albumAddModel.code}}" class="add_button" translate="view1">
                </a>
            </div>
        </div>
        <div class="model_overlay" ng-show="albumAddModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
        <div class="container topmarginsm  ">
            <div class="wrapper-md bg-white ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="album_edit_form" angular-validator-submit="editAlbum()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="row ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Aname"
                                                ng-model = "albumAddModel.name"
                                                placeholder="{{'name' | translate}}"
                                                maxlength="35"
                                                required/>
                                    </div>

                                    <div class="col-sm-5 topmarginxs  right">
                                        <label translate="code"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "code"
                                                data-ng-disabled="true"
                                                ng-model = "albumAddModel.code"
                                                placeholder="{{'code' | translate}}"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs  right">
                                        <label translate="type_req"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="albumAddModel.type" name="typedropdown" class="form-control"  required>
                                            <option value ="" translate="select_type"></option>
                                            <option value="public" translate="public"></option>
                                            <option value="private" translate="private"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="comments"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea class="form-control"
                                                  name = "Comments"
                                                  ng-model = "albumAddModel.comments"
                                                  placeholder="{{'comments' | translate}}"
                                                  >
                                        </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                <a type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
