<div class="app-content-body fade-in-up"  data-ng-controller="albumAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="album_add"></h2>
            <a ui-sref="app.albumlist" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_album_form" angular-validator-submit="createAlbum()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "albumcode"
                                            ng-model = "albumAddModel.name"
                                            placeholder="{{'name' | translate}}"
                                            maxlength="35"
                                            required/>
                                </div>

                                <div class="col-sm-5 topmarginxs  right">
                                    <label translate="code"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "code"
                                            data-ng-disabled="true"
                                            ng-model = "albumAddModel.code"
                                            placeholder="{{'code' | translate}}"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs  right">
                                    <label translate="type_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select ng-model="albumAddModel.type" name="typedropdown" class="form-control"  required>
                                        <option value ="" translate="select_type"></option>
                                        <option value="public" translate="public"></option>
                                        <option value="private" translate="private"></option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="comments"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "Comments"
                                              ng-model = "albumAddModel.comments"
                                              placeholder="{{'comments' | translate}}"
                                              >
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="wrapper-md ">
        </div>
    </div>
</div>

