<div class="app-content-body fade-in-up req-stock " data-ng-controller="attributeListCtrl">
    <div class="panel panel-default hide-print ">
        <div class="panel-heading clearfix ">
            <h2 translate="attribute_list"></h2>
            <a data-ui-sref="app.attributeadd" ui-scroll-to="app" class="add_button add-dash" translate="add_new"></a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
        </div>
    </div>

    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default hide-print ">
            <div class="head_right table-search wrapper-sm clearfix ">
                <form name="attribute_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="sea" >
                        <input type="text"
                               placeholder="{{'attribute_code' | translate}}"
                               data-ng-model="searchFilter.attribute_code"
                               angular-localstorage-field='true'
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea" >
                        <select class="form-control "
                                ng-model="searchFilter.attributetype_id"
                                angular-localstorage-field='true'
                                data-ng-change="initTableFilter()"
                                name="attributedropdown"
                                >
                            <option value="" translate="select"></option>
                            <option value= "{{attType.id + ''}}" ng-repeat="attType in attributeModel.attributeTypeList">{{attType.code}}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive ">
            <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 50px;"  rowspan="1" colspan="1" translate="id">
                            
                        </th>
                        <th style="width: 250px;"   rowspan="1" colspan="1" translate="attribute_code">
                           
                        </th>
                        <th style="width: 250px;"   rowspan="1" colspan="1" translate="attribute_labe1">
                           
                        </th>
                        <th style="width: 250px;"   rowspan="1" colspan="1" translate="attribute_type">
                            
                        </th>

                        <th style="width: 50px;"   rowspan="1" colspan="1" translate="action">
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="attributeModel.isLoadingProgress">
                        <td colspan="5" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>

                    <tr data-ng-if="attributeModel.total == 0">
                        <td colspan="5" class="text-center" >
                            <span translate="no_data_found"></span>
                        </td>
                    </tr>
                    <tr data-ng-repeat="attribute in attributeModel.list">

                        <td>
                            <a data-ui-sref="app.attributeedit({id: '{{attribute.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{attribute.id}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.attributeedit({id: '{{attribute.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{attribute.attribute_code}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.attributeedit({id: '{{attribute.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{attribute.attribute_label}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.attributeedit({id: '{{attribute.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                {{attribute.attributetypecode}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.attributeedit({id: '{{attribute.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                            </a>
                            <a class="chel-edit-add add-dash" data-ng-click="showPopup(attribute.id)" data-ng-hide="attribute.is_permission != 1">
                                <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot  data-ng-hide="attributeModel.total == 0" >
                    <tr>
                        <td colspan="2" class="text-left" >
                            <label translate="show"></label>
                            <select firstName = "perpage"
                                    ng-model="attributeModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="3" class="text-right">
                <uib-pagination total-items="attributeModel.total" ng-model="attributeModel.currentPage" ng-change="getList()" items-per-page="attributeModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteCategoryLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAttributeInfo()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" translate="cancel"></button></center>
    </div>
</div>
