
<div class="app-content-body fade-in-up"  data-ng-controller="attributeEditCtrl">



    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="attribute_edit"></h2>
            <a ui-sref="app.attribute" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="attributeEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="update_attribute_form" angular-validator-submit="updateAttributeDetails()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="attribute_code_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "attributeCode"
                                            ng-model = "attributeEditModel.list.attribute_code"
                                            placeholder="{{'attribute_code' | translate}}"
                                            maxlength="35"
                                            ng-disabled="attributeEditModel.list.is_permission != 1"
                                            validator ="validateCodeInput(attributeEditModel.list.attribute_code)===true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="attribute_type_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select type = "text"
                                            name ="attCode"
                                            ng-model="attributeEditModel.list.attributetype_id"
                                            class="form-control"
                                            ng-disabled="attributeEditModel.list.is_permission != 1"
                                            required>
                                        <option value="" translate="select"></option>
                                        <option value="{{attType.id}}" data-ng-repeat="attType in attributeEditModel.attributeTypeList">{{attType.code}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="attribute_label_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "attributeLabel"
                                            ng-model = "attributeEditModel.list.attribute_label"
                                            placeholder="{{'attribute_label' | translate}}"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="sequence_number"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "sequenceNo"
                                            ng-model = "attributeEditModel.list.sno"
                                            placeholder="{{'sequence_number' | translate}}"
                                            />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="input_type"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select name="InputType" ng-model="attributeEditModel.list.input_type"  required class="form-control"  angular-validator-field >
                                        <option value ="" translate="select_type"></option>
                                        <option value="inputbox">Input Box</option>
                                        <option value="textarea">Text Area</option>
                                        <option value="checkbox">Check Box</option>
                                        <option value="dropdown">Drop Down</option>
                                        <option value="multiselect">Multi Select</option>
                                        <option value="YesOrNo">Yes/No</option>
                                        <option value="date">Date</option>
                                    </select>
                                </div>
                                <div ng-hide="attributeEditModel.list.input_type == 'date' || attributeEditModel.list.input_type  == 'multiselect'">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="default_value"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "defaultValue"
                                            ng-model = "attributeEditModel.list.default_value"
                                            placeholder="{{'default_value' | translate}}"
                                            />
                                </div>
                                </div>
                                <div ng-if="attributeEditModel.list.input_type  == 'multiselect' || attributeEditModel.list.input_type == 'dropdown'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="option_value"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="7" cols="70"  maxlength="150"
                                                class="form-control"
                                                name = "optionValue"
                                                required
                                                angular-validator-field
                                                ng-model = "attributeEditModel.list.option_value"
                                                placeholder="{{'option_value' | translate}}"
                                                ></textarea>
                                    </div>
                                </div>
                                
                                <div class="hint" ng-show="attributeEditModel.list.input_type == 'multiselect' || attributeEditModel.list.input_type == 'dropdown'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <p class="hintp" style="text-align: center;font-weight: 500;font-size: 13px;"> ( you should give option to the option value field )</p>
                                    </div>
                                </div>
                                
                                <div ng-hide="attributeEditModel.list.input_type == 'date' || attributeEditModel.list.input_type == 'YesOrNo' || attributeEditModel.list.input_type  == 'multiselect'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="validation_type"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="attributeEditModel.list.validation_type"  class="form-control"   >
                                            <option value ="" translate="select_type"></option>
                                            <option value="number">Number Validation</option>
                                            <option value="email">Email Validation</option>
                                            <option value="phoneno">Phone No Validation</option>
                                            <option value="alphanumeric">Alpha Numeric Validation</option>
                                            <option value="gst">GST Number Validation</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 topmargininv ">
                            &nbsp;
                        </div>
                        <div class="col-sm-5  ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 ">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           name ="isrequired"
                                           class=" "
                                           id="isRequired"
                                           value="attributeEditModel.list.is_required"
                                           data-ng-model="attributeEditModel.list.is_required"
                                           />
                                    <label for="isRequired" translate="is_req"></label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           name ="haseditable"
                                           class=" "
                                           id="hasEditable"
                                           value ="attributeEditModel.list.has_editable"
                                           data-ng-model="attributeEditModel.list.has_editable"
                                           />
                                    <label for="hasEditable" translate="has_editable"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5  ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 ">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="showinlist"
                                           id="showinlist"
                                           data-ng-model="attributeEditModel.list.is_show_in_list"
                                           />
                                    <label for="showinlist" translate="show_in_list"></label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="showininvoice"
                                           id="showininvoice"
                                           data-ng-model="attributeEditModel.list.is_show_in_invoice"
                                           />
                                    <label for="showininvoice" translate="show_in_invoice_print"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 center ">
                            <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()" translate="reset"></a>
                        </div>

                    </div>




                </form>
            </div>

        </div>
    </div>

</div>
