
<div class="app-content-body fade-in-up"  data-ng-controller="attributeAddCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="attribute_add"></h2>
            <a ui-sref="app.attribute" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_attribute_form" angular-validator-submit="addAttributeDetails()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="attribute_code_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "attributeCode"
                                            ng-model = "attributeAddModel.attributeCode"
                                            placeholder="{{'attribute_code' | translate}}"
                                            maxlength="35"
                                            validator ="validateCodeInput(attributeAddModel.attributeCode)===true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="attribute_type_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select type = "text"
                                            name ="attCode"
                                            ng-model="attributeAddModel.attributeTypeId"
                                            class="form-control"
                                            required>
                                        <option value="" translate="select"></option>
                                        <option value="{{attType.id}}" data-ng-repeat="attType in attributeAddModel.attributeTypeList">{{attType.code}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="attribute_label_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "attributeLabel"
                                            ng-model = "attributeAddModel.attributeLabel"
                                            placeholder="{{'attribute_label' | translate}}"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="sequence_number"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "sequenceNo"
                                            ng-model = "attributeAddModel.sequenceNo"
                                            placeholder="{{'sequence_number' | translate}}"
                                            />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="input_type"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select name="InputType" ng-model="attributeAddModel.inputType"  required class="form-control"   angular-validator-field>
                                        <option value ="" translate="select_type"></option>
                                        <option value="inputbox">Input Box</option>
                                        <option value="textarea">Text Area</option>
                                        <option value="checkbox">Check Box</option>
                                        <option value="dropdown">Drop Down</option>
                                        <option value="multiselect">Multi Select</option>
                                        <option value="YesOrNo">Yes/No</option>
                                        <option value="date">Date</option>
                                    </select>
                                </div>
                                <div ng-hide="attributeAddModel.inputType == 'date' || attributeAddModel.inputType  == 'multiselect'">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="default_value"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "defaultValue"
                                            ng-model = "attributeAddModel.defaultValue"
                                            placeholder="{{'default_value' | translate}}"
                                            />
                                </div>
                                </div>
                                <div ng-if="attributeAddModel.inputType == 'multiselect'  || attributeAddModel.inputType == 'dropdown'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="option_value"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="7" cols="70"  maxlength="150"
                                                  class="form-control"
                                                  name = "optionValue"
                                                  required
                                                  angular-validator-field
                                                  ng-model = "attributeAddModel.optionValue"
                                                  placeholder="{{'option_value' | translate}}"
                                                  ></textarea>
                                    </div>
                                </div>
                                
                                <div class="hint" ng-show="attributeAddModel.inputType == 'multiselect' || attributeAddModel.inputType == 'dropdown'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <p class="hintp" style="text-align: center;font-weight: 500;font-size: 13px;"> ( you should give option to the option value field )</p>
                                    </div>
                                </div>
                                
                                
                                <div ng-hide="attributeAddModel.inputType == 'date' || attributeAddModel.inputType == 'YesOrNo' || attributeAddModel.inputType  == 'multiselect'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="validation_type"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="attributeAddModel.validationType"  class="form-control"   >
                                            <option value ="" translate="select_type"></option>
                                            <option value="number">Number Validation</option>
                                            <option value="email">Email Validation</option>
                                            <option value="phoneno">Phone No Validation</option>
                                            <option value="alphanumeric">Alpha Numeric Validation</option>
                                            <option value="gst">GST Number Validation</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 topmargininv ">
                            &nbsp;
                        </div>
                        <div class="col-sm-5  ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 ">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="isRequired"
                                           id="isRequired"
                                           data-ng-model="attributeAddModel.isRequired"
                                           />
                                    <label for="isRequired" translate="is_req"></label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="hasEditable"
                                           id="hasEditable"
                                           data-ng-model="attributeAddModel.hasEditable"
                                           />
                                    <label for="hasEditable" translate="has_editable"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5  ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 ">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="showinlist"
                                           id="showinlist"
                                           data-ng-model="attributeAddModel.showinlist"
                                           />
                                    <label for="showinlist" translate="show_in_list"></label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           name="showininvoice"
                                           id="showininvoice"
                                           data-ng-model="attributeAddModel.showininvoice"
                                           />
                                    <label for="showininvoice" translate="show_in_invoice_print"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 center ">
                            <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                            <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></a>
                        </div>

                    </div>
                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
    </div>
</div>
