
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name + '(' + match.model.sku + ')'| uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="category_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="barcodereportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="barcode_wise_stock_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <a href="{{APP_CONST.API.BARCODEWISE_STOCKREPORT_CSV}}?from_date={{fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&product_id={{searchFilter.productInfo.id}}&cat_id={{searchFilter.categoryInfo.id}}&code={{searchFilter.code}}&show_price={{searchFilter.showprice}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="receivable_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false" angular-validator-field    angular-localstorage-field='true' required
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false" angular-validator-field    angular-localstorage-field='true' required
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <select name="with_price" ng-model="searchFilter.showprice" class="form-control " angular-localstorage-field='true'>
                            <option value="" translate="without_unit_price"></option>
                            <option value="1" translate="with_unit_price"></option>
                        </select>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="product_dropdown"
                               ng-model="searchFilter.productInfo"
                               angular-localstorage-field='true'
                               placeholder="{{'product_details'| translate}}"
                               uib-typeahead="product for product in getProductList($viewValue)"
                               typeahead-loading="loading"
                               typeahead-no-results="noResult"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatProductModel($model)"
                               autocomplete="off"

                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                    </div>
                    <!--                    <div class="sea">
                                            <select type="text" name="category_dropdown" class="form-control" ng-model="searchFilter.category_id">
                                                <option value="">Select Category</option>
                                                <option value="{{categorylist.id}}" data-ng-repeat="categorylist in barcodeReportModel.categorylist">{{categorylist.name}}</option>
                                            </select>
                                        </div>-->


                    <div class="col-sm-3 ">
                        <div class="row ">
                            <div class="col-sm-3">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="barcodeReportModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":barcodeReportModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row clear_b" style="margin-left: 0px;">
                        <div class="sea topmarginsm">
                            <input type="text"
                                   class="form-control"
                                   name="category_dropdown"
                                   ng-model="searchFilter.categoryInfo"
                                   placeholder="{{'category_details'| translate}}"
                                   uib-typeahead="category for category in getCategoryList($viewValue)"
                                   typeahead-loading="loadingCategory"
                                   typeahead-no-results="noResultCategory"
                                   angular-localstorage-field='true'
                                   typeahead-min-length="0"
                                   typeahead-editable="false"
                                   typeahead-template-url="category_dropdown__tpl.html"
                                   typeahead-input-formatter="formatCategoryModel($model)"
                                   autocomplete="off"
                                   />
                            <span class="glyphicon glyphicon-search head-right-search"></span>
                        </div>
                        <div class="sea topmarginsm">
                            <input type="text" 
                                   name="barcode" 
                                   ng-model="searchFilter.code" 
                                   placeholder="{{'barcode'| translate}}" 
                                   class="form-control"
                                   angular-localstorage-field='true'
                                   />
                            <span class="glyphicon glyphicon-search head-right-search"></span>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
                <div class="selected-date bottommargin print-show">
                    <ul class="search-filters clearfix">
                        <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                        <li class="col-sm-4 "><span translate="from_date"> </span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                        <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                        <li class="col-sm-4 "><span translate="price_status"></span> {{searchFilter.showprice == '' ? 'Without Unit Price' : 'With Unit Price'}}</li>
                        <li class="col-sm-4 "><span translate="product_details"></span> {{searchFilter.productInfo == '' ? '-' : searchFilter.productInfo.name}}</li>
                        <li class="col-sm-4 "><span translate="category_details"></span> {{searchFilter.categoryInfo == '' ? '-' : searchFilter.categoryInfo.name}}</li>
                        <li class="col-sm-4 "><span translate="barcode"></span> {{searchFilter.code == '' ? '-' : searchFilter.code}}</li>
                    </ul>
                </div>
                <div class="table-responsive ">

                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 50px;"  rowspan="1" colspan="1" >
                                    #
                                </th>
                                <th style="width: 250px;"  rowspan="1" colspan="1" translate="barcode">

                                </th>
                                <th style="width: 250px;"  rowspan="1" colspan="1" translate="product_name">

                                </th>
                                <th style="width: 250px;"  rowspan="1" colspan="1" translate="category_name">

                                </th>
                                <th style="width: 300px;"   rowspan="1" colspan="1" translate="quantity">

                                </th>
                                <th style="width: 250px;"   rowspan="1" colspan="1" class="right" translate="mrp_price">

                                </th>
                                <th style="width: 250px;"   rowspan="1" colspan="1" class="right" translate="total">

                                </th>
                                <th style="width: 250px;text-align: right;" rowspan="1" colspan="1" class="text-right">
                                    <p data-ng-hide="showpricecolumn == false" > <span translate="unit_price"></span></p>
                                </th>
                                <th style="width: 300px;text-align: right;" rowspan="1" colspan="1">
                                    <p data-ng-hide="showpricecolumn == false" > <span translate="selling_price"></span></p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="barcodeReportModel.isLoadingProgress">
                                <td colspan="9" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="barcodeReportModel.list.length === 0">
                                <td colspan="9" class="text-center" >
                                    <span translate="no_data_found"></span>
                                </td>
                            </tr>
                            <tr data-ng-repeat="product in barcodeReportModel.list">
                                <td>
                                    {{$index + 1}}
                                </td>
                                <td>
                                    {{product.code}}
                                </td>
                                <td>
                                    {{product.product_name}} 
                                </td>
                                <td>
                                    {{product.cat_name}} 
                                </td>
                                <td>
                                    {{product.qty}} 
                                </td>
                                <td style="text-align: right;">
                                    {{product.mrp_price}} 
                                </td>
                                <td class="right">
                                    {{product.overallPrice}}
                                </td>                            
                                <td style="text-align: right;">
                                    {{product.unit_price}} 
                                </td>
                                <td style="text-align: right;">
                                    {{product.selling_price}}
                                </td>

                            </tr>
                        </tbody>
                        <tfoot  data-ng-hide="barcodeReportModel.list.length === 0" >
                            <tr>
                                <td colspan="4" class="text-left right" >
                                    <span translate="total"></span>
                                </td>
                                <td colspan="1">
                                    {{barcodeReportModel.total_Qty}}
                                </td>
                                <td colspan="1" class="text-right">
                                    {{barcodeReportModel.total_Mrp}}
                                </td>
                                <td colspan="1" class="text-right">
                                    {{barcodeReportModel.total_MRPPrice}}
                                </td>
                                <td colspan="1" data-ng-hide="showpricecolumn == false" class="text-right">
                                    {{barcodeReportModel.total_Unit}}
                                </td>
                                <td colspan="1" data-ng-hide="showpricecolumn == false" class="text-right">
                                    {{barcodeReportModel.total_Selling}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


