






<div class="app-content-body fade-in-up" >
    <div class="bg-light clearfix">
        <div class="panel-heading clearfix ">
            <h2>BILL ADD</h2>

        </div>
        <div class="wrapper-sm " style="background: #FFF;">
            <div class="  clearfix  form-wrapper">
                <div class=" ">
                    <form name="bill_form" angular-validator-submit="createbill()" class="bill-add  add-form  form-horizontal clearfix " novalidate angular-validator>

                        <div class="form-group ">
                            <label>BillNo*</label>
                            <input type="text" size="20"
                                   class="form-control "
                                   name = "billNo"
                                   ng-model = "billAddModel.billNo"
                                   placeholder="billNo"
                                   validator = "validationFactory.isAlbhaNumeric(billAddModel.billNo) === true"
                                   required
                                   >
                        </div>
                        <div class="form-group">
                            <label>Date*</label>
                            <input name="date" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                   ng-model="billAddModel.billDate"  is-open="$parent.fromDateOpen" placeholder='--Select Date--'
                                   show-weeks="false" show-button-bar="false" 
                                   required close-text="Close" />
                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="form-group ">
                            <label>Bill Value*</label>
                            <input type="text" size="20"
                                   class="form-control "
                                   name = "billValue"
                                   ng-model = "billAddModel.billValue"
                                   placeholder="billValue"
                                   validator = "validationFactory.isNumber(billAddModel.billValue)"
                                   required
                                   >
                        </div>
                        <div class="form-group ">
                            <label>Quantity*</label>
                            <input type="text" size="20"
                                   class="form-control "
                                   name = "qty"
                                   ng-model = "billAddModel.qty"
                                   placeholder="qty"
                                   validator = "validationFactory.isNumber(billAddModel.qty)"
                                   required
                                   >
                        </div>

                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' data-ng-show="billedit" >Submit</button>
                            <button type="reset" class="btn btn-sm btn-primary btn_orng"  data-ng-disabled="isDataSavingProcess" ui-scroll-to="billListWrapper" ng-click="cancel('add')">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>








