






<div class="app-content-body fade-in-up" >
    <div class="bg-light clearfix">
        <h1 class="wrapper-sm font-thin h3 ">Bill Edit</h1>

    </div>
    <div class="wrapper-sm " style="background: #FFF;">
        <div class="  clearfix form-wrapper">
            <div class="  ">
                <form name="bill_edit_form" angular-validator-submit="modifyBill()" class="bill-add  add-form  form-horizontal clearfix " novalidate angular-validator >

                    <div class="form-group ">
                        <label>Bill No*</label>
                        <input type="text" size="20"
                               class="form-control "
                               name = "billNo"
                               ng-model = "billModel.billNo"
                               placeholder="billNo"
                               validator = "validationFactory.isAlbhaNumeric(billModel.billNo) === true"
                               >
                    </div>
                    <div class="form-group">
                        <label>Date*</label>
                        <input name="date" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="billModel.billDate"  is-open="$parent.fromDateOpen" placeholder='--Select Date--'
                               show-weeks="false" show-button-bar="false"
                               required close-text="Close" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="form-group ">
                        <label>Bill Value</label>
                        <input type="text" size="20"
                               class="form-control "
                               name = "billValue"
                               ng-model = "billModel.billValue"
                               placeholder="billValue"
                               validator = "validationFactory.isNumber(billModel.billValue)"
                               >
                    </div>
                    <div class="form-group ">
                        <label>Quantity</label>
                        <input type="text" size="20"
                               class="form-control "
                               name = "qty"
                               ng-model = "billModel.qty"
                               placeholder="qty"
                               validator = "validationFactory.isNumber(billModel.qty)"
                               >
                    </div>


                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng"  data-ng-disabled="isDataSavingProcess"  ui-scroll-to="billListWrapper" ng-click="cancel('edit')">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
