
<div class="app-content-body fade-in-up"  data-ng-controller="appSettingsEditCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Business Settings</h2>
        </div>
    </div>
   <div class="model_overlay" ng-show="prefixSettingsEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
            <img alt="loader" src="../img/loading.gif" />
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <form name="account_type_form" angular-validator-submit="updateAppSettings()" class="form-horizontal clearfix " novalidate angular-validator >

                <div class="row ">
                    <div class="col-sm-6 ">
                        <div class="row ">
                            <div class="col-sm-6 topmargin right ">
                                <label>POS Account</label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <select name="account_type" ng-model="appSettingsEditModel.account_type"  class="form-control"
                                        data-ng-change="getAccountlist()" >
                                    <option value ="">-Type-</option>
                                    <option value="{{account.id}}" data-ng-repeat="account in appSettingsEditModel.accountsList">{{account.account}}</option>
                                </select>
                            </div>
                        </div>
                     </div>
                    <div class="col-sm-12 center topmargin toppading " data-ng-show="appSettingsEditModel.account_type != ''">
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>
                        </div>
                    </div>

                </div>



            </form>
        </div>
    </div>
</div>
