<script type="text/ng-template" id="category_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="tag_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="catalogproductAddCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="catalog_product_add"> </h2>
            <a ui-sref="app.catalogproduct" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="catalogproduct_add_form" angular-validator-submit="createCatalogProduct()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "product"
                                           data-ng-model = "catalogproductAddModel.name"
                                           placeholder="{{'name' | translate}}"                                          
                                           required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="code"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "code"
                                           data-ng-model = "catalogproductAddModel.code"
                                           placeholder="{{'code' | translate}}"                                          
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="description"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea type="text"
                                              class="form-control"
                                              name = "Description"
                                              data-ng-model = "catalogproductAddModel.desc"
                                              placeholder="{{'description' | translate}}"                                          
                                              >
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="weight"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "Weight"
                                           data-ng-model = "catalogproductAddModel.weight"
                                           placeholder="{{'weight' | translate}}"                                          
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="product_photo"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <fileupload cloud-upload-path="goofoo/bell/item" image-list="" show-comment="false"  has-limit="false" ></fileupload>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="catalog"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text"
                                       name="categoryId"
                                       ng-model="catalogproductAddModel.categoryInfo"
                                       placeholder="{{'category' | translate}}"
                                       uib-typeahead="category for category in getCategoryList($viewValue)"
                                       typeahead-loading="loadingCategoryLocations"
                                       typeahead-template-url="category_dropdown__tpl.html"
                                       class="form-control"
                                       typeahead-editable="false"
                                       typeahead-no-results="noProductResults"
                                       typeahead-show-hint="true"
                                       typeahead-input-formatter="formatCategoryModel($model)"
                                       typeahead-min-length="0"
                                       >
                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noProductResults">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    <span translate="no_results_found"></span>
                                </div>
                                <button type="button"  style="position: relative; float: right; margin-top: -58px" class="btn btn-default btn-choose"  ng-click="addCategory(catalogproductAddModel.categoryInfo)" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="add"></button>
                                <div class="" data-ng-class='{"tagBox":catalogproductAddModel.categoryList.length > 3}'>
                                    <ul class="followr closeTool" >
                                        <li data-ng-repeat="category in catalogproductAddModel.categoryList">
                                            <div class="tooltip" style="margin-right: 0px; margin-top: 2px; ">
                                                <p class="f-name tooltop_btn" style="background: #03a9f3;color:#FFF;border : none;">{{category.name}}</p>&nbsp;
                                                <a class="tooltiptext closeIcon" ng-click="deleteCategory(category.categoryId, $index)">x</a>
                                            </div>
                                        </li>                                   
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="tag"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text"
                                       name="tagId"
                                       ng-model="catalogproductAddModel.tagInfo"
                                       placeholder="{{'tag' | translate}}"
                                       uib-typeahead="tag  as tag.name for tag in catalogproductAddModel.tagListAll | filter:{name:$viewValue}"
                                       typeahead-loading="loadingTagLocations"
                                       typeahead-template-url="tag_dropdown__tpl.html"
                                       class="form-control"
                                       typeahead-editable="false"
                                       typeahead-no-results="noTagResults"
                                       typeahead-show-hint="true"
                                       typeahead-input-formatter="formatTagModel($model)"
                                       typeahead-min-length="0"
                                       >
                                <i ng-show="loadingTagLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noTagResults">
                                    <i class="glyphicon glyphicon-remove"></i> 
                                    <span translate="no_results_found"></span>
                                </div>
                                <button type="button"  style="position: relative; float: right; margin-top: -58px" class="btn btn-default btn-choose"  ng-click="addTag(catalogproductAddModel.tagInfo)" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="add"></button>
                                <div class="" data-ng-class='{"tagBox":catalogproductAddModel.tagList.length > 3}'>
                                    <ul class="followr closeTool" >
                                        <li data-ng-repeat="tag in catalogproductAddModel.tagList">
                                            <div class="tooltip" style="margin-right: 0px; margin-top: 2px; ">
                                                <p class="f-name tooltop_btn" style="background: #03a9f3;color:#FFF;border : none;">{{tag.name}}</p>&nbsp;
                                                <a class="tooltiptext closeIcon" ng-click="deleteTag(tag.tagId, $index)">x</a>
                                            </div>
                                        </li>                                   
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class="col-sm-5">
                                <div class="form-group full_w btn_group">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                    <button type="button" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" ng-click="formCancel()" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="cancel"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


