<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="catalogproductCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="catalog_product"></h2>
            <a data-ui-sref="app.catalogproductAdd" ui-scroll-to="app" class="add_button add-dash" translate="add_new"></a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <div class="head_right table-search wrapper-sm clearfix ">
                <form name="catalog_product_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="product_dropdown_{{$index}}"
                               ng-model="searchFilter.product"
                               placeholder="{{'product_details' | translate}}"
                               angular-localstorage-field='true'
                               ng-change="initTableFilter()"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search head-right-search "></span>                                           
                    </div>
                </form>
            </div>
            <div class="table-responsive ">
                <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="name">
                               
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="description">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="weight">
                               
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="code">
                               
                            </th>
                            <th style="width:50px;" rowspan="1" colspan="1" translate="action">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="catalogproductModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="catalogproductModel.list.length == 0">
                            <td colspan="6" class="text-center" >
                                <span tabindex="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="catalog in catalogproductModel.list">
                            <td>
                                <a data-ui-sref="app.catalogproductEdit({itemId: '{{catalog.itemId}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{catalog.itemId}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.catalogproductEdit({itemId: '{{catalog.itemId}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{catalog.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.catalogproductEdit({itemId: '{{catalog.itemId}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{catalog.description}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.catalogproductEdit({itemId: '{{catalog.itemId}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{catalog.weight}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.catalogproductEdit({itemId: '{{catalog.itemId}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{catalog.code}}
                                </a>
                            </td>                                                 
                            <td>
                                <a data-ui-sref="app.catalogproductEdit({itemId: '{{catalog.itemId}}'})" ui-scroll-to="app" >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="catalogproductModel.list.length == 0" >
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label translate="show"></label>
                                <select name = "perpage"
                                        ng-model="catalogproductModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        ></select>
                            </td>
                            <td colspan="3" class="text-right">
                    <uib-pagination total-items="catalogproductModel.total" ng-model="catalogproductModel.currentPage" ng-change="getList()" items-per-page="catalogproductModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>



