<script type="text/ng-template" id="category_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="tag_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="catalogproductEditCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="catalog_product_edit"></h2>
            <a ui-sref="app.catalogproduct" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="catalogproductAddModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="catalogproduct_edit_form" angular-validator-submit="createCatalogProduct()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "product"
                                           data-ng-model = "catalogproductAddModel.name"
                                           placeholder="{{'name' | translate}}"                                          
                                           required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="code"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "code"
                                           data-ng-model = "catalogproductAddModel.code"
                                           placeholder="{{'code' | translate}}"                                          
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="description"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea type="text"
                                              class="form-control"
                                              name = "Description"
                                              data-ng-model = "catalogproductAddModel.desc"
                                              placeholder="{{'description' | translate}}"                                          
                                              >
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="weight"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "Weight"
                                           data-ng-model = "catalogproductAddModel.weight"
                                           placeholder="{{'weight' | translate}}"                                          
                                           />
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="product_photo"></label>
                                </div>
                                <div class="col-sm-7 bottommargin"data-ng-repeat="image in catalogproductAddModel.attach">
                                    <cloud-image-loader urlpath="image.urlpath" has-limit="true" limit="1" ></cloud-image-loader>
                                    <fileupload cloud-upload-path="goofoo/bell/item" image-list="" show-comment="false"  has-limit="false" ></fileupload>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="category"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text"
                                       name="categoryId"
                                       ng-model="catalogproductAddModel.categoryInfo"
                                       placeholder="{{'category' | translate}}"
                                       uib-typeahead="category for category in getCategoryList($viewValue)"
                                       typeahead-loading="loadingCategoryLocations"
                                       typeahead-template-url="category_dropdown__tpl.html"
                                       class="form-control"
                                       typeahead-editable="false"
                                       typeahead-no-results="noProductResults"
                                       typeahead-show-hint="true"
                                       typeahead-input-formatter="formatCategoryModel($model)"
                                       typeahead-min-length="0"
                                       >
                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noProductResults">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    <span translate="no_results_found"></span>
                                </div>
                                <button type="button"  style="position: relative; float: right; margin-top: -58px" class="btn btn-default btn-choose"  ng-click="addCategory(catalogproductAddModel.categoryInfo)" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="add"></button>
                                <div class="" data-ng-class='{"tagBox":catalogproductAddModel.categoryList.length > 3}'>
                                    <ul class="followr closeTool" >
                                        <li data-ng-repeat="category in catalogproductAddModel.categoryList">
                                            <div class="tooltip" style="margin-right: 0px; margin-top: 2px; ">
                                                <p class="f-name tooltop_btn" style="background: #03a9f3;color:#FFF;border : none;" >{{category.name}}</p>&nbsp;
                                                <a class="tooltiptext closeIcon" ng-click="deleteCategory(category.categoryId, $index)">x</a>
                                            </div>
                                        </li>                                   
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="tag"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input type="text"
                                       name="tagId"
                                       ng-model="catalogproductAddModel.tagInfo"
                                       placeholder="{{'tag' | translate}}"
                                       uib-typeahead="tag  as tag.name for tag in catalogproductAddModel.tagListAll | filter:{name:$viewValue}"
                                       typeahead-loading="loadingTagLocations"
                                       typeahead-template-url="tag_dropdown__tpl.html"
                                       class="form-control"
                                       typeahead-editable="false"
                                       typeahead-no-results="noTagResults"
                                       typeahead-show-hint="true"
                                       typeahead-input-formatter="formatTagModel($model)"
                                       typeahead-min-length="0"
                                       >
                                <i ng-show="loadingTagLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noTagResults">
                                    <i class="glyphicon glyphicon-remove"></i> 
                                    <span translate="no_results_found"></span>
                                </div>
                                <button type="button"  style="position: relative; float: right; margin-top: -58px" class="btn btn-default btn-choose"  ng-click="addTag(catalogproductAddModel.tagInfo)" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="add"></button>
                                <div class="" data-ng-class='{"tagBox":catalogproductAddModel.tagList.length > 3}'>
                                    <ul class="followr closeTool" >
                                        <li data-ng-repeat="tag in catalogproductAddModel.tagList">
                                            <div class="tooltip" style="margin-right: 0px; margin-top: 2px; ">
                                                <p class="f-name tooltop_btn" style="background: #03a9f3;color:#FFF;border : none;">{{tag.name}}</p>&nbsp;
                                                <a class="tooltiptext closeIcon" ng-click="deleteTag(tag.tagId, $index)">x</a>
                                            </div>

                                        </li>                                   
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 bottommargin">
                                <div class="row" >
                                    <p class="center" translate="price_details"></p>
                                    <table class="price-table" id="price-table"> 
                                            <thead>
                                                <tr>
                                                    <th style="width:200px;" translate="value"></th>
                                                    <th style="width:50px;" translate="price"></th>
                                                    <!--<th style="width:50px;">Primary</th>-->
                                                    <th style="width:50px;"><a ng-click="addPriceInfo()" translate="add"></a></th>
                                                    <!--<i class="fa fa-plus" style="float:right; " ng-click ='addTeam()'></i>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="price in catalogproductAddModel.priceDetails">
                                                    <td>
                                                        <div class="col-md-5 mem">
                                                            <input  type = "text"
                                                                    class="form-control"
                                                                    name = "valuename"
                                                                    ng-model = "price.desc"
                                                                    placeholder="Value"
                                                                    maxlength="35"
                                                                    />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5 mem">
                                                             <input  type = "text"
                                                                    class="form-control"
                                                                    name = "price"
                                                                    ng-model = "price.pricevalue"
                                                                    placeholder="Price"
                                                                    maxlength="35"
                                                                    />
                                                        </div>
                                                    </td>
<!--                                                    <td ng-readonly = "price.isprimary == true">
                                                        <input id="{{$index}}" class="form-control" ng-change="checkPrimary(price.index)" type="checkbox" name="isprimary" ng-model="price.isprimary">
                                                        <label for="{{$index}}"></label>
                                                    </td>-->
                                                     <td>
                                                        <a class="chel-edit-add add-dash" data-ng-click="removePriceInfo(price.index)" ng-if="price.isprimary != true ">
                                                            <img class="icon icons8-Delete" style="padding: 2px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class="col-sm-5 ">
                                <div class="form-group full_w btn_group">
                                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                    <button type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>

