






<div class="app-content-body fade-in-up"  data-ng-controller="categoryAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="category_add"></h2>
                <a ui-sref="app.categorylist" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
        <div class="container topmarginsm  ">
            <div class="wrapper-md topmargin  invoice-add ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="category_form" angular-validator-submit="createCategory()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="row ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text" size="20"
                                               class="form-control"
                                               name = "name1"
                                               ng-model = "categoryAddModel.name"
                                               placeholder="{{'category_name' | translate}}"
                                               maxlength="35"
                                               validator = "validationFactory.isAlbha(categoryAddModel.name) === true "
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="description"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="7" cols="70"  maxlength="150"
                                                  class="form-control"
                                                  name = "Description"
                                                  ng-model = "categoryAddModel.description"
                                                  placeholder="{{'description' | translate}}"

                                                  ></textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                        <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
