
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="categorywiseAgeingCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="categorywise_ageing_stock_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"> </a>
            <a href="{{APP_CONST.API.CATEGORYWISE_AGEING_STOCK_CSV}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{todate|date:'yyyy-MM-dd'}}&start=0&limit=0&has_inventory={{searchFilter.inventory}}"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="cate_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.inventory"
                                name="statusdropdown"
                                >
                            <option value="-1">---All---</option>
                            <option value= "1">With Inventory</option>
                            <option value= "0">Without Inventory</option>
                        </select>
                    </div> 

                    <!--                    <div class="sea" >
                                            <input type="text"
                                                   class="form-control"
                                                   name="customer_dropdown_{{$index}}"
                                                   ng-model="searchFilter.customerInfo"
                                                   placeholder="Customer Details..."
                                                   uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                   typeahead-loading="loading"
                                                   typeahead-no-results="noResult"
                                                   typeahead-min-length="0"
                                                   typeahead-editable="false"
                                                   typeahead-template-url="customer_dropdown__tpl.html"
                                                   typeahead-input-formatter="formatCustomerModel($model)"
                                                   autocomplete="off"
                    
                                                   />
                                            <span class="glyphicon glyphicon-search head-right-search"></span>
                                        </div>-->
                    <div class="col-sm-2 " style="width: 13%;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="categoryageModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":categoryageModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="sea ">
                        <div class="row">
                            <div class="col-sm-5 topmarginxs right">
                                <label translate="stock_as_on"></label>
                            </div>
                            <div class="col-sm-7">
                                <input name="stockdate" type="text" class="form-control" 
                                       ng-model="stockDate"  placeholder='stock As on date'
                                       show-weeks="false"     
                                       close-text="Close"   readonly/>
                            </div>
                        </div>                       
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <!--<li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>-->
                    <li class="col-sm-4 "><span translate="from_date"> </span>{{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">                             
                            <th style="width: 120px;"  rowspan="1" colspan="1" translate="si_no">

                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="category">

                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" translate="quantity">

                            </th>
                            <th style="width: 250px;"  class="right" rowspan="1" colspan="1" " translate="purchased_value">

                            </th>
                            <th style="width: 250px;" class="right"  rowspan="1" colspan="1" translate="mrp">

                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" class="right" translate="action">

                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr data-ng-show="categoryageModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="categoryageModel.list.length === 0">
                            <td colspan="6" class="text-center" >

                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="categorywise in categoryageModel.list"ng-click="show(categorywise.flag)" >
                            <td >
                                {{$index + 1}}
                            </td>
                            <td >
                                {{categorywise.category_name}}
                            </td>
                            <td >
                                {{categorywise.remaining_qty}} 
                            </td>
                            <td class="right">
                                {{categorywise.purchase_value}} 
                            </td>
                            <td class="right">
                                {{categorywise.mrp_price}} 
                            </td>

                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>

                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{categorywise.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 6px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="si_no">

                                            </th>
                                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="product_name">

                                            </th>
                                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="quantity">

                                            </th>
                                            <th style="width: 250px;" class="right"  rowspan="1" colspan="1" class="" translate="purchased_value">

                                            </th>
                                            <th style="width: 250px;" class="right" rowspan="1" colspan="1" translate="mrp">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="showDetails[{{categorywise.flag}}]" ng-repeat="invoice in categorywise.detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="width: 13%;" >
                                                {{$index + 1}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.product_name}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.remaining_qty}}
                                            </td>
                                            <td colspan="1" class="right" style=" padding-left: 0px;">
                                                {{invoice.purchase_value}}
                                            </td>
                                            <td colspan="1" class="right" style=" padding-left: 0px;">
                                                {{invoice.mrp_price}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="categoryageModel.list.length === 0" >
                        <tr>
                            <td colspan="3" class="text-left right" >
                                <span translate="total"></span>
                            </td>
                            <td colspan="1" class="text-left right">
                                {{categoryageModel.total_Amt}}
                            </td>
                            <td colspan="1" class="text-left right">
                                {{categoryageModel.total_Amount}}
                            </td>
                            <td colspan="1" class="text-right">                 
                            </td>
                            <!--                             <td colspan="1" class="text-right">                 
                                                        </td>-->
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


