<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name + '(' + match.model.sku + ')'| uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="category_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="categorystockreportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="itemwise_stock_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"> </a>
            <a href="{{APP_CONST.API.CATEGORYWISE_STOCK_CSV}}?product_id={{searchFilter.productInfo.id}}&category_id={{searchFilter.categoryInfo.id}}&start=0&limit=0&mode={{searchFilter.inventory}}&show_all=1"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv">Download CSV</a>

        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="category_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-locationstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <!--                    <div class="sea ">
                                            <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                                                   show-weeks="false"
                                                   close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="sea ">
                                            <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                                                   show-weeks="false"
                                                   close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>-->
                    <!--                    <div class="sea" style="    width: 117px;">
                                            <select name="category_id_filter" type = "text" ng-model="searchFilter.category_id" class="form-control" angular-localstorage-field='true'>
                                                <option value="">-Select-</option>
                                                <option value="{{categorylist.id}}" data-ng-repeat="categorylist in categoryModel.categorylist">{{categorylist.name}}</option>
                                            </select>
                                        </div>-->
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="product_dropdown"
                               ng-model="searchFilter.productInfo"
                               angular-localstorage-field='true'
                               placeholder="{{'product_details'| translate}}"
                               uib-typeahead="product for product in getProductList($viewValue)"
                               typeahead-loading="loading"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatProductModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> 
                            <span translate="no_results_found"></span>
                        </div>
                    </div>
                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.inventory"
                                name="statusdropdown"
                                >
                            <option value="-1">---All---</option>
                            <option value= "1">With Inventory</option>
                            <option value= "0">Without Inventory</option>
                        </select>
                    </div> 
                    <div class="sea">
                            <input type="text"
                                   class="form-control"
                                   name="category_dropdown"
                                   ng-model="searchFilter.categoryInfo"
                                   placeholder="{{'category_details'| translate}}"
                                   uib-typeahead="category for category in getCategoryList($viewValue)"
                                   typeahead-loading="loadingCategory"
                                   typeahead-no-results="noResultCategory"
                                   angular-localstorage-field='true'
                                   typeahead-min-length="0"
                                   typeahead-editable="false"
                                   typeahead-template-url="category_dropdown__tpl.html"
                                   typeahead-input-formatter="formatCategoryModel($model)"
                                   autocomplete="off"
                                   />
                            <span class="glyphicon glyphicon-search head-right-search"></span>
                        </div>
                    <div class="col-sm-4">
                        <div class="row ">
                            <div class="col-sm-3 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="categoryModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":categoryModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-3 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
                <div class="selected-date bottommargin print-show">
                    <ul class="search-filters clearfix">
                        <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                        <li class="col-sm-4 "><span translate="product_name"> </span>{{searchFilter.productInfo == '' ? '-' : searchFilter.productInfo.name}}</li>
                    </ul>
                </div>
                <div class="table-responsive ">
                    <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 630px;"  rowspan="1" colspan="1" translate="product_name">

                                </th>
                                <th style="width: 630px;"  rowspan="1" colspan="1" translate="category_name">

                                </th>
                                <th style="width: 30px;"   rowspan="1" colspan="1" translate="quantity">

                                </th>
                                <th style="width: 160px;"  rowspan="1" colspan="1"  class="right" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'" translate="overall_purchase_price">

                                </th>
                                <th style="width: 160px;"  rowspan="1" colspan="1"  class="right" translate="overall_sales_price">

                                </th>                           
                                <!--                            <th style="width: 110px;"  rowspan="1" colspan="1" class="right">
                                                                Action
                                                            </th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="categoryModel.isLoadingProgress">
                                <td colspan="5" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="categoryModel.list.length === 0">
                                <td colspan="5" class="text-center" >
                                    <span translate="no_data_found"></span>
                                </td>
                            </tr>
                            <tr ng-repeat="category in categoryModel.list" style="color:black;">
                                <td style="    padding: 5px 10px;">
                                    {{category.name}}                   
                                </td> 
                                <td style="    padding: 5px 10px;">
                                    {{category.category_name}}                   
                                </td>
                                <td>
                                    {{category.quantity}}
                                </td>
                                <td class="right" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                    {{category.overall_purchase_price}}
                                </td>
                                <td class="right">
                                    {{category.overall_sales_price}}
                                </td>                           
                                <!--                            <td class="right">
                                                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                                            </td>-->
                            </tr>
                            <!--                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{category.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                                                        <td colspan="6" style="border-bottom: 1px solid #eaeff0;">
                                                            <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 250px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                                            Product Name
                                                                        </th>
                                                                        <th style="width: 50px;"  rowspan="1" colspan="1" >
                                                                            quantity
                                                                        </th>
                                                                        <th style="width: 120px;" class="right"   rowspan="1" colspan="1">
                                                                            Purchase Price
                                                                        </th>
                                                                        <th style="width: 120px;" class="right"   rowspan="1" colspan="1">
                                                                            Overall Purchase Price
                                                                        </th>
                                                                        <th style="width: 120px;" class="right"  rowspan="1" colspan="1">
                                                                            Sales Price
                                                                        </th> 
                                                                        <th style="width: 120px;" class="right"   rowspan="1" colspan="1">
                                                                            Overall Sales Price
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-show="showDetails[{{category.flag}}]"  ng-repeat="product in category.product" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                                                        <td colspan="1" style="padding-left: 5px;" ui-scroll-to="app" >
                                                                            {{product.name}}
                                                                        </td>
                                                                        <td colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                                            {{product.quantity}}
                                                                        </td>
                                                                        <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                                            {{product.cost}}
                                                                        </td>
                                                                        <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                                            {{product.overall_purchase_price}}
                                                                        </td>
                                                                        <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                                            {{product.sales_price}}
                                                                        </td>
                                                                        <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                                            {{product.overall_sales_price}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table> 
                                                        </td>
                                                    </tr>-->
                        </tbody>
                        <tfoot data-ng-hide="categoryModel.list.length == 0" >
                            <tr style="font-weight: bold;">
                                <td colspan="2" class="text-left right" >
                                    Total
                                </td>
                                <td colspan="1" class=""> 
                                    {{categoryModel.total_qty}}
                                </td>
                                <td colspan="1" class="text-right" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'"> 
                                    {{categoryModel.total_MRPAmount}}
                                </td>
                                <td colspan="1" class="text-right">
                                    {{categoryModel.total_Amount}}
                                </td>
                                <!--                            <td colspan="1" class="text-right"> 
                                
                                                            </td>-->
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


