
<div class="app-content-body fade-in-up"  data-ng-controller="catelogcategoryAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="catalog_category_add"></h2>
                <a ui-sref="app.catelogcategory" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
        <div class="container topmarginsm  ">
            <div class="wrapper-md bg-white">
                <div class="  clearfix add-form form-wrapper">
                    <form name="catalog_category_form" angular-validator-submit="createCategory()" class="form-horizontal clearfix " novalidate angular-validator >
                        <div class="row ">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text" size="20"
                                               class="form-control"
                                               name = "name1"
                                               ng-model = "categoryAddModel.name"
                                               placeholder="{{'name' | translate}}"
                                               maxlength="35"
                                               validator = "validationFactory.isAlbhaNumeric(categoryAddModel.name) === true"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="description"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="7" cols="70"  maxlength="150"
                                                  class="form-control"
                                                  name = "Description"
                                                  ng-model = "categoryAddModel.description"
                                                  placeholder="{{'description' | translate}}"

                                                  ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row" style="margin-left: 0px;">
                                    <div class=" bg-white avt avt1" data-ng-click="showPopup('photogalary')">                                        
                                        <div class="col-sm-5" data-ng-show="categoryAddModel.attachments.length ==0">
                                            <img src="../img/nobody_m.original.jpg" style="width:100%;" />
                                        </div>
                                        <div class="col-sm-5 form-container prof profile-photo" data-ng-repeat="image in categoryAddModel.attachments">
                                            <cloud-image-loader urlpath="image.url" preview="false"></cloud-image-loader>                 
                                        </div>
                                    </div>
                                    <div class="toppadding clear_b" style="margin-left: 10%;">
                                        <a href="javascript:void(0)" class="upload-all-photo topmargin" data-ng-click="showPopup('fileupload')" translate="upload_photo"></a>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-sm-12 center bottommargin topmargin">                                        
                                <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                            </div>
                        </div>                                             
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="model_overlay ng-hide" ng-show="showUploadFilePopup" ></div>
    <div class="model_popup model-photo  add_review_popup ng-hide popup-fixed" ng-show="showUploadFilePopup" style="position: fixed;">
        <a href="javascript:void(0)" ng-click="closePopup('fileupload')" class="glyphicon glyphicon-remove close close1 " ></a>
        <h3 translate="file_upload"></h3>
        <div class="form-container " ng-if="showUploadFilePopup" >
            <fileupload cloud-upload-path="goofoo/bell/category" image-list="categoryAddModel.attachments" has-limit="true" limit="1"></fileupload>
            <ul class="form-editable">
                <li class="a-right btn-wrapper ">
                    <!--                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light "
                                                data-ng-disabled="isImageSavingProcess"
                                                data-ng-class='{"btn-loader":isImageSavingProcess}'
                                                data-ng-click="saveImagePath()"
                                                >Save</button>-->
                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light"
                            data-ng-disabled="isImageSavingProcess"                            
                            data-ng-click="saveImagePath()"
                            translate="save"></button>
                </li>
            </ul>
        </div>
    </div>
</div>
