






<div class="app-content-body fade-in-up"  data-ng-controller="categoryEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="category_edit"></h2>
                <a ui-sref="app.categorylist" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
        <div class="model_overlay" ng-show="categoryEditCtrl.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
        <div class="container topmarginsm  ">
            <div class="wrapper-md topmargin invoice-add ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="category_edit_form" angular-validator-submit="modifyCategory()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="row ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text" size="20"
                                               class="form-control"
                                               name = "name1"
                                               ng-model = "categoryEditCtrl.name"
                                               placeholder="{{'name' | translate}}"
                                               maxlength="35"
                                               validator = "validationFactory.isAlbha(categoryEditCtrl.name) === true"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="description"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="7" cols="70"  maxlength="150"
                                                  class="form-control "
                                                  name = "Description"
                                                  ng-model = "categoryEditCtrl.description"
                                                  placeholder="{{'description' | translate}}"
                                                  ></textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()" translate="reset"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
