<div class="app-content-body fade-in-up req-stock " data-ng-controller="categoryWiseStockWastageReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="categorywise_stock_wastage_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"> </a>
            <a href="{{APP_CONST.API.CATEGORYWISE_STOCK_REPORT_CSV}}?category_id={{searchFilter.category_id}}&from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&start=0&limit=0&type=stock_wastage"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="category_wastage_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false" angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)" readonly/>
                               <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                   <i class="glyphicon glyphicon-calendar"></i>
                               </button>
                        </div>
                        <div class="sea ">
                            <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                   ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                                   show-weeks="false" angular-localstorage-field='true'
                                   close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" readonly/>
                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                        <div class="sea" style="    width: 117px;">
                            <select name="category_id_filter" type = "text" ng-model="searchFilter.category_id" data-ng-change="categoryWastageNames()" class="form-control" angular-localstorage-field='true'>
                                <option value="" translate="select"></option>
                                <option value="{{categorylist.id}}" data-ng-repeat="categorylist in categoryModel.categorylist">{{categorylist.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="row ">
                                <div class="col-sm-3 ">
                                    <button type="submit" class="btn-sm btn-primary"
                                            data-ng-disabled="categoryModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":categoryModel.isSearchLoadingProgress}'
                                            translate="search">
                                        
                                    </button>
                                </div>
                                <div class="col-sm-3 ">
                                    <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">
                                        
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            <div id="printablediv">
                <div class="selected-date bottommargin print-show">
                    <ul class="search-filters clearfix">
                        <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                        <li class="col-sm-4 "><span translate="from_date"> </span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                        <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                        <li class="col-sm-4 "><span translate="category_name"></span>{{categoryModel.catName == '' ? '-' : categoryModel.catName}}</li>
                    </ul>
                </div>
                <div class="table-responsive ">
                    <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style=""  rowspan="1" colspan="1" translate="category_name">
                                    
                                </th>
                                <th style=""   rowspan="1" colspan="1" translate="quantity">
                                    
                                </th>
                                <th style=""  rowspan="1" colspan="1"  class="right" translate="overall_purchase_price">
                                    
                                </th>
                                <th style=""  rowspan="1" colspan="1"  class="right" translate="overall_mrp_price">
                                    
                                </th>                           
                                <th style=""  rowspan="1" colspan="1" class="right" translate="action">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="categoryModel.isLoadingProgress">
                                <td colspan="5" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="categoryModel.list.length === 0">
                                <td colspan="5" class="text-center" >
                                    <span translate="no_data_found"></span>
                                </td>
                            </tr>
                            <tr ng-repeat-start="category in categoryModel.list" ng-click="show(category.flag)"  style="color:black;">
                                <td style="    padding: 5px 10px;">
                                    {{category.category_name == '' ? 'Uncategorized' : category.category_name}}                   
                                </td>    
                                <td>
                                    {{category.qty}}
                                </td>
                                <td class="right">
                                    {{category.purchase_price}}
                                </td>
                                <td class="right">
                                    {{category.mrp_price}}
                                </td>                           
                                <td class="right">
                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </td>
                            </tr>
                            <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{category.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                                <td colspan="5" style="border-bottom: 1px solid #eaeff0;">
                                    <table style="margin-left: 21px;width: 88%;border: 1px solid #eaeef2;">
                                        <thead>
                                            <tr>
                                                <th style="padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="product_name">
                                                   
                                                </th>
                                                <th style=""  rowspan="1" colspan="1" translate="quantity">
                                                    
                                                </th>                                                
                                                <th style="" class="right"   rowspan="1" colspan="1" translate="purchase_price">
                                                    
                                                </th>                                                
                                                <th style="" class="right"   rowspan="1" colspan="1" translate="sales_price">
                                                    
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-show="showDetails[{{category.flag}}]"  ng-repeat="product in category.data" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                                <td colspan="1" style="padding-left: 5px;" ui-scroll-to="app" >
                                                    {{product.product_name}}
                                                </td>
                                                <td colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                    {{product.qty}}
                                                </td>                                            
                                                <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                    {{product.purchase_price}}
                                                </td>                                           
                                                <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                    {{product.mrp_price}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-ng-hide="categoryModel.list.length == 0" >
                            <tr style="font-weight: bold;">
                                <td colspan="1" class="text-left right" >
                                    <span translate="total"></span>
                                </td>
                                <td colspan="1" class=""> 
                                    {{categoryModel.total_qty}}
                                </td>
                                <td colspan="1" class="text-right"> 
                                    {{categoryModel.total_Amount}}
                                </td>
                                <td colspan="1" class="text-right">
                                    {{categoryModel.total_MRPAmount}}
                                </td>
                                <td colspan="1" class="text-right"> 

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


