<div class="app-content-body fade-in-up"  data-ng-controller="cityEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="city_edit"> </h2>
            <a data-ui-sref="app.city" class="add_button add-dash" ui-scroll-to="app" translate="back_to_list">Back to List</a>
        </div>
    </div>
    <div class="model_overlay" ng-show="cityModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">

                <form name="edit_city_form" angular-validator-submit="modifycity(edit_city_form.$valid, edit_city_form)" class="form-horizontal category-form clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class=" col-sm-4">
                            <div class="form-group clearfix">
                                <label translate="name_required"></label>
                                <input type="text"
                                       class="form-control"
                                       name = "cityname"
                                       ng-model = "cityModel.name"
                                       validator ="validationFactory.isAlbha(cityModel.name)==true"
                                       placeholder="{{'city_name'| translate}}"
                                       required

                                       />
                            </div> 
                        </div>
                        <div class=" col-sm-4">
                            <div class="form-group clearfix col-sm-6">
                                <label translate="code_required"></label>
                                <input type="text"
                                       class="form-control"
                                       name = "citycode"
                                       ng-model = "cityModel.code"
                                       placeholder="{{'city_code'| translate}}"
                                       required
                                       />
                            </div>
                        </div>
                        <div class="col-sm-4 ">
                            <div class="form-group clearfix col-sm-6">
                                <label translate="country_required"></label>
                                <!--                                <select type = "text" ng-model="cityModel.country_id" name="countryname" class="form-control" required>
                                                                    <option value="">-Select-</option>
                                                                    <option value="{{country.id}}" data-ng-repeat="country in cityModel.country_list">{{country.name}}</option>
                                                                </select>-->
                                <ui-select ng-model="cityModel.country_id" data-ng-change="CountryChange();" theme="select2"  style="min-width: 300px;" ng-class="{'error': $select.isEmpty()}" title="" required>
                                    <ui-select-match placeholder="{{'select_country'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="country.id as country in cityModel.country_list | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="country.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div> 


                    </div>
                    <div class="row">

                        <div class=" col-sm-4">

                            <div class="form-group clearfix col-sm-6">

                                <label translate="state_required"></label>
                                <!--                                <select type = "text" ng-model="cityModel.state_id" name="statename" class="form-control" required>
                                                                    <option value="">-Select-</option>
                                                                    <option value="{{state.id}}" data-ng-repeat="state in cityModel.state_list">{{state.name}}</option>
                                                                </select>-->
                                <ui-select name="statename" ng-model="cityModel.state_id" theme="select2"  style="min-width: 300px;" title=""  ng-class="{'error': $select.isEmpty()}" required > 
                                    <ui-select-match placeholder="{{'select_state'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                    <ui-select-choices  repeat="state.id as state in cityModel.state_list | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="state.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <p style="margin-top: 5px;" id="notes">(*Note : Select the country First)</p>
                            </div>

                        </div>   
                    </div>
                    <div class="form-group full_w btn_group">
                        <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                        <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess" translate="reset"></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


