
<div class="app-content-body fade-in-up req-stock " data-ng-controller="cityListCtrl">
    <div class="panel panel-default hide-print">
        <div class="panel-heading clearfix ">
            <h2 translate="city"></h2>
            <a data-ui-sref="app.cityAdd" ui-scroll-to="app" class="add_button add-dash" translate="add_new"></a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()" class="add_button add-dash" translate="refresh"></a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin">
            <div class="head_right table-search wrapper-sm  clearfix ">
                <div class="col-sm-12">
                    <div class="row">                        
                            <form name="city_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                                <div class="sea" style='width:197px;'>
                                    <input type="text"
                                           placeholder="{{'city_name'| translate}}"
                                           data-ng-model="searchFilter.name"
                                           angular-localstorage-field='true'
                                           class="form-control " data-ng-change="initTableFilter()" />
                                    <span class="glyphicon glyphicon-search head-right-search "></span>
                                </div>                      
                                <div class="col-sm-9 adwidth">
                                    <div class="col-sm-5">
                                        <div class="sea" style='width:197px;margin-top: 6px;'>

                                            <!--                    <input type="text"
                                                                       placeholder="State Name"
                                                                       data-ng-model="searchFilter.state_name"
                                                                       class="form-control " data-ng-change="initTableFilter()" />
                                                                <span class="glyphicon glyphicon-search head-right-search "></span>-->
                                            <ui-select ng-model="searchFilter.country_id" theme="select2" data-ng-change="getstateList();getList();"  style="min-width: 300px;" title="">
                                                <ui-select-match placeholder="{{'select_country'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="country.id as country in cityModel.country_list | propsFilter: {name: $select.search}">
                                                    <div ng-bind-html="country.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>  
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="sea" style='width:197px;     margin-top: 6px;'>

                                            <!--                    <input type="text"
                                                                       placeholder="Country Name"
                                                                       data-ng-model="searchFilter.country_name"
                                                                       class="form-control " data-ng-change="initTableFilter()" />
                                                                <span class="glyphicon glyphicon-search head-right-search "></span>-->
                                            <ui-select ng-model="searchFilter.state_id" theme="select2" data-ng-change="initTableFilter()" style="min-width: 300px;" title="">
                                                <ui-select-match placeholder="{{'select_state'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                                <ui-select-choices repeat="state.id as state in cityModel.state_list | propsFilter: {name: $select.search}">
                                                    <div ng-bind-html="state.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <p style="margin-top: 5px;width: 101%;" id="notes">(*Note : Select the country First)</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-1" style="    margin-top: 2px;">
                                        <div class="sea" style='margin-top: 5px;'>
                                            <a href="javascript:void(0)" data-ng-click="refreshScreen()" class="btn-sm btn-primary" translate="clear"></a>
                                        </div>
                                    </div>
                                </div>
                            </form>                       
                    </div>
                </div>
            </div>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 120px;"  rowspan="1" colspan="1" translate="id">

                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="city_name">

                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" translate="city_code">

                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" translate="state_name">

                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" translate="country_name">

                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1" translate="action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="cityModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="cityModel.list.length == 0">
                            <td colspan="6" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="city in cityModel.list">
                            <td>
                                <a data-ui-sref="app.cityEdit({id: '{{city.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{city.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.cityEdit({id: '{{city.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{city.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.cityEdit({id: '{{city.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{city.code}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.cityEdit({id: '{{city.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{city.state_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.cityEdit({id: '{{city.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{city.country_name}}
                                </a>
                            </td>
                            <td>
                                <a  data-ui-sref="app.cityEdit({id: '{{city.id}}'})" data-ui-scroll-to="app">
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a  class="chel-edit-add add-dash" data-ng-click="showPopup(city.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="cityModel.list.length == 0" >
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label translate="show"></label>
                                <select name = "perpage"
                                        ng-model="cityModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="getList()"
                                        ></select>
                            </td>
                            <td colspan="4" class="text-right">
                    <uib-pagination total-items="cityModel.total" ng-model="cityModel.currentPage" ng-change="getList()" items-per-page="cityModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>  
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteCityInfo()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" translate="cancel"></button></center>
    </div>
</div>





