<div class="app-content-body fade-in-up"  data-ng-controller="countryAddCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="add_country"></h2>
            <a data-ui-sref="app.country" class="add_button add-dash" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="add_country_form" angular-validator-submit="createcountry()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row bottommargin">
                                <div class="col-sm-5 topmarginxs right">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 clearfix">                               
                                    <input type="text"
                                           class="form-control"
                                           name = "countryname"
                                           ng-model = "countryModel.name"
                                           validator ="validationFactory.isAlbha(countryModel.name)==true"
                                           placeholder="{{'country_name' | translate}}"
                                           required
                                           />
                                </div> 
                            </div>   
                            <div class="row bottommargin">
                                <div class="col-sm-5 topmarginxs right">
                                    <label translate="code_required">Code*</label>
                                </div>
                                <div class="col-sm-7">                                       
                                    <input type="text"
                                           class="form-control"
                                           name = "countryname"
                                           ng-model = "countryModel.code"
                                           placeholder="{{'country_code' | translate}}"
                                           required
                                           />
                                </div>
                            </div>
                            <div class="row bottommargin">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label style="width: 100%;"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="checkbox"
                                           class=" "
                                           id="isDefault"
                                           name="isDefault"
                                           data-ng-model="countryModel.isDefault"
                                           />
                                    <label for="isDefault" translate="is_default"></label> 
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="form-group full_w btn_group">
                        <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                        <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess" translate="reset"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

