<script type="text/ng-template" id="customer_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="customerListCtrl">
    <div class="panel panel-default hide-print ">
        <div class="panel-heading clearfix ">
            <h2 translate="customers_list"></h2>
            <a data-ui-sref="app.customeradd" ui-scroll-to="app" class="add_button add-dash" translate="add_new"></a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
            <a href="{{APP_CONST.API.CUSTOMER_DOWN}}?fname={{searchFilter.name}}&is_sale=1&email={{searchFilter.email}}&phone={{searchFilter.phone}}&is_active={{searchFilter.activeOrDeactiveCutomer == 1 ? 0 : 1}}&limit={{customerModel.limit}}&start=0&customer_type={{searchFilter.customer_type}}"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="customer_list_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm clearfix ">
                    <div class="sea" style='width:185px;'>
                        <input type="text"
                               name="customer"
                               placeholder="{{'customer_name'| translate}}"
                               data-ng-model="searchFilter.name"
                               angular-localstorage-field='true'
                               class="form-control" data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <!--                <div class="sea" >
                                        <select class="form-control "
                                                ng-model="searchFilter.salesOrPurchase"
                                                data-ng-change="initTableFilter()"
                                                name="salesPurchaseDropDown"
                                                >
                                            <option value ="">All</option>
                                            <option value="1">Sales</option>
                                            <option value="2">Purchase</option>
                                        </select>
                                    </div>-->
                    <div class="sea" style='width:185px;'>
                        <input type="text"
                               placeholder="{{'email'| translate}}"
                               name="email"
                               data-ng-model="searchFilter.email"
                               angular-localstorage-field='true'
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea" style='width:185px;'>
                        <input type="text"
                               placeholder="{{'phone'| translate}}"
                               name="filterphone"
                               data-ng-model="searchFilter.phone"
                               angular-localstorage-field='true'
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea">
                        <select ng-model="searchFilter.customer_type" name="customer_type" class="form-control" data-ng-change="initTableFilter()">
                            <option value="" translate="customer_type"></option>
                            <option value="retailer" translate="retailer"></option>
                            <option value="wholesaler" translate="wholesaler"></option>
                        </select>
                    </div>
<!--                    <div class="sea" >
                        <select class="form-control "
                                ng-model="searchFilter.activeOrDeactiveCutomer"
                                data-ng-change="initTableFilter()"
                                angular-localstorage-field='true'
                                name="activeDeactiveCustomerDropDown"
                                >
                            <option value="" translate="active" ></option>
                            <option value="1" translate="deactive"></option>
                        </select>
                    </div>-->

                    <div class="sea" style="width:125px;">
                        <div class="dropdown-wrapper-act">
                            <div class="ae-dropdown dropdown">
                                <div class="ae-select"  style="text-align: center;position: relative;">
                                    <span id="actdrop" class="ae-select-content"></span>
                                    <a class="dropicon" >
                                        <img class="icon icons8-drop" style="width: 8px;height: 8px;position: absolute;right: 5px;top: 14px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAY1BMVEVHcExlZWVmZmZmZmZmZmZkZGRgYGBmZmZtbW1mZmZmZmZlZWVnZ2dmZmZnZ2dpaWlmZmZlZWVmZmZmZmZmZmZnZ2dmZmZlZWVnZ2dVVVVmZmZmZmZmZmZmZmZjY2NmZmZmZmZ86zGEAAAAIHRSTlMAsH3ZHiEI9gf0r0d83Eoi2Ex7gH+uRn6zBkuy9dsfsVvQi7YAAACBSURBVCjPvZHHEoAgEENFUcHee+H/v1KRQYHFGU/mmAy83azj/KGBWTSfwbZAP8z5kxoGzfUX8Uw/DQQlNoNS8nfdR/dgmGpk/xm5VwNX2UXlSzLgT/r+SPqRUYzkq2QhVwQJ6HIsuL8GsOWOB5mt/4ix1noYTCFZKKlebknIl4sfhisYgrX9ugMAAAAASUVORK5CYII=" >
                                    </a>
                                </div>
                                <ul class="dropdown-menuone ae-hide">
                                    <li value="0" class='selected' translate="active" data-ng-click="retwhosel('active')" style="text-align: center;"><a>Active</a></li>
                                    <li value="1" translate="deactive" data-ng-click="retwhosel('deactive')" style="text-align: center;"><a>Deactive</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--                    <div class="sea">
                                                                <select ng-model="searchFilter.customer_type" name="customer_type" class="form-control" data-ng-change="initTableFilter()">
                                                                    <option value="" translate="customer_type"></option>
                                                                    <option value="retailer" translate="retailer"></option>
                                                                    <option value="wholesaler" translate="wholesaler"></option>
                                                                </select>
                                                    </div>-->
                    <a href="javascript:void(0)" class="auto child-menu adva-open "
                       data-ng-class="{'open':isfilteropen}"
                       data-ng-click="isfilteropen = !isfilteropen;
                                   update(isfilteropen)"
                       data-ng-show="customAttributeList.length > 0"
                       >
                        <i class="glyphicon  icon"  >
                            <img class="icon down icons8-Down-Squared" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAABM0lEQVRYR+2X/U3DMBBH301QNoENWkZgAhihTNB2AhgBJmAEygawSTvBD52USE2oHRydpaiN/010fn535w9jQsMmxMIMk8rG9M1IWgHLivX0ZWb7fvyzZiRtgU1FmJ2Z+RydMQRzBL4Doe6ABTAKxnV6ykKGJE+Np3+G6RidzaQK7DLNSLoBPoBnMxtsd0nexi/Ag5kd3FaYGUlvwCPgge9zQA3IJ+ALeDezp2gYD+z7xG0OqAfyA6zCzTQrywLlQELNtB3S1M4fQ0MgVWAShtbAa1MjndSctnlYAff3jp6h9nMSpJqZRMqyINVhTlLmKVq3XXNdO3DEhaZaAY+BuygYP4cGD8UCS354+i4+6tpZME/Rr0UwfgkPu4ifwdz/+91UtMbAn6f/vA1cbFGo2UxK1y9fbjIzhRvSdwAAAABJRU5ErkJggg==" width="35" height="35">
                            <img class="icon up icons8-Up-Squared" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAABKUlEQVRYR+2X7U0DMRBE31YApdABSQd0QEqACiAVJCWEDuiA0EFKgQoWDcr9iOWPEK2lE7H/3sl+NzO7tzZmtGxGLAyYkhvzV8bdF8B9xzx9mtk+3T+rjLu/Ai8dYdZmpjNOVgvmGzgEQt0BN8BFMJJTloUsd5c1sn/AnCh6Xcq4+y2wAZ7N7KsWrq7KHEE+AFWJqm5ZA+oGk4BMglSBusAkIOpFT8D22EOKQOEwGZCFmR3cXVapj6ipZYFCYUogk0ctoDCYFsg5QJEwO+ARUEZ+rSmVcaLQm5mt9G4kjPrJu8JaA0kUUqgfpnIPg4n4Uw6YSpbGCJEV519lRiNB9AysFnHR2BlR0bk9/gSjITxsEM/Q7M++N/WSo7Xv/K+3rS/o9XwoU1L2B4dsMjOnK2okAAAAAElFTkSuQmCC" width="35" height="35">
                        </i>
                        <span class="arrow"></span>
                    </a>
                    <div class="advanced-searach clearfix"  data-ng-show="isfilteropen" >
                        <div data-ng-repeat="attribute in customAttributeList">
                            <div class="sea" data-ng-show="attribute.input_type != 'dropdown'">
                                <input type="text"
                                       name="attribute"
                                       placeholder="{{attribute.attribute_label}}"
                                       data-ng-model="searchFilter.customAttribute[$index]"
                                       class="form-control " data-ng-change="initTableFilter()"/>
                                <span class="glyphicon glyphicon-search head-right-search "></span>
                            </div>
                            <div class="sea"  data-ng-show="attribute.input_type == 'dropdown'">
                                <select class="form-control "
                                        ng-model="searchFilter.customAttribute[$index]"
                                        data-ng-change="initTableFilter()"
                                        name="attrdropdown"
                                        >
                                    <option value="">--{{attribute.attribute_label}}--</option>
                                    <option value="{{value}}" data-ng-repeat="value in attribute.option_value">{{value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" translate="id">

                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1" translate="name">

                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1" translate="company_name">

                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1" translate="email">

                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1" translate="phone">

                            </th>
                            <th style="width: 200px;"   rowspan="1" colspan="1" translate="customer_type">

                            </th>

                            <th data-ng-repeat="attribute in customAttributeList">
                                {{attribute.attribute_label}}
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1" translate="action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="customerModel.isLoadingProgress">
                            <td colspan="{{colspan}}" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="customerModel.list.length == 0">
                            <td colspan="{{colspan}}" class="text-center" translate="no_data_found">

                            </td>
                        </tr>
                        <tr data-ng-repeat="customer in customerModel.list">
                            <td>
                                <a data-ui-sref="app.customerEdit({id: '{{customer.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{customer.customer_code}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.customerEdit({id: '{{customer.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;text-transform: capitalize;">
                                    {{customer.fname}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.customerEdit({id: '{{customer.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;text-transform: capitalize;">
                                    {{customer.company}}
                            </td>
                            <td>
                                <a data-ui-sref="app.customerEdit({id: '{{customer.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{customer.email}}
                            </td>
                            <td>
                                <a data-ui-sref="app.customerEdit({id: '{{customer.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{customer.phone}}
                            </td>
                            <td>
                                <a data-ui-sref="app.customerEdit({id: '{{customer.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;text-transform: capitalize;">
                                    {{customer.customer_type}}
                            </td>

                            <td data-ng-repeat="attribute in customAttributeList">
                                <a data-ui-sref="app.customerEdit({id: '{{customer.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{customer.custom_attribute_json[attribute.attribute_code]}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.customerEdit({id: '{{customer.id}}'})" data-ui-scroll-to="app" >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-show="searchFilter.activeOrDeactiveCutomer == 0" data-ng-click="showPopup(customer.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-show="searchFilter.activeOrDeactiveCutomer == 1" data-ng-click="showActdactPopup(customer.id)">
                                    <img class="icon icons8-activate" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAolBMVEVHcEzJRETGQ0PLSUn//wC+n0yAgIC7nUrJrFzKSEi9n02+oE++n07KSEjJRUW8nUu+oE29nUm7nEnIqlrIrFu9nky9n0u9oE3IrFu/n07An07IRUW7m0rIQUHMSUn/7qO6m0j14ZXqe3u7nEn55pvqenr0i4vz4JS6mkj/7qLu2o386p7MsF/y35L555y8m0q9nEz1jIy8nErYmWvYmGq9nUtUYP6JAAAAH3RSTlMAS0z0AaUC+fTZ7I6a2Phz50n79PT9n5/1j835+0r0jky9CgAAAItJREFUGNNVztcOwyAMBVAHSIA0TfceGJKme7f//2sFRRVw33x0bRnAhsiVTMCHUPM0NBBpPo/3ruuhbO761ZRhAxWGDUItbDfB1QTVd73kHS+oKl3pSUsLXmR2RTkcOuBXkaJqgw4KcRMRsNm8voQAWSrqCIBNx+cIbGe0P9r5lP//YL3+ARHzAcAPB18POZ1704QAAAAASUVORK5CYII=" width="18" height="18">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="customerModel.list.length == 0" >
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label translate="show"></label>
                                <select firstName = "perpage"
                                        ng-model="customerModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="{{pagespan}}" class="text-right">
                    <uib-pagination total-items="customerModel.total" ng-model="customerModel.currentPage" ng-change="getList()" items-per-page="customerModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteCategoryLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteCustomerInfo()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" translate="cancel"></button></center>
    </div>
    
    <div class="model_overlay" ng-if="showActivatePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showActivatePopup" >
        <a href="javascript:void(0)" ng-click="closeActivatePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_activate_this_customer"></h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isActivateCustomerLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="activateCustomerInfo()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closeActivatePopup()" translate="cancel"></button></center>
    </div>
    
</div>