<a>
    <div class="cus-detail" style="margin-bottom: 2px;"> 
    <span style="text-transform: lowercase;" ng-bind-html="match.model.fname  | uibTypeaheadHighlight:query" > </span>&nbsp;&nbsp;<span style="text-transform: capitalize;" ng-if="match.model.company != ''">({{match.model.company}})</span>  <br ng-if="match.model.company != ''"/>
    </div>
    <div style="margin-top: -4px; font-size: 15px;"> 
        <p id="demo">  
         <span style="font-size: 11px;" ng-bind-html="match.model.phone.split(',')[0]  | uibTypeaheadHighlight:query" >{{match.model.phone}}</span>
        <span style="font-size: 11px;" ng-if="match.model.billing_city != ''" >-{{match.model.billing_city}}</span><br ng-if="match.model.billing_city != ''"/>
        </p>
    </div>
</a>
<div style=" width: 100%; margin-bottom: 10px;"></div>