<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="daylogReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="day_log_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()" translate="print"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="delivery_note_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false" angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false" angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="daycode" type="text" class="form-control" 
                               ng-model="searchFilter.daycode" placeholder="{{'daycode'| translate}}"
                               />
                    </div>
                    <div class="col-sm-4">
                        <div class="row ">
                            <div class="col-sm-3 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="dayLogModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":dayLogModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-3 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"> </span>  {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="daycode"></span>{{searchFilter.daycode == '' ? '-' : searchFilter.daycode}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style=""  rowspan="1" colspan="1" translate="start_on">

                            </th>
                            <th style=""   rowspan="1" colspan="1" translate="end_on">

                            </th>
                            <th style=""  rowspan="1" colspan="1"  class="right" translate="cash">

                            </th>
                            <th style=""  rowspan="1" colspan="1"  class="right" translate="credit">

                            </th>   
                            <th style=""  rowspan="1" colspan="1"  class="right" translate="card">

                            </th>   
                            <th style=""  rowspan="1" colspan="1" class="right" translate="advance">

                            </th>
                            <th style=""  rowspan="1" colspan="1" class="right" translate="others">

                            </th>
                            <th style=""  rowspan="1" colspan="1" class="right" translate="total_amount">

                            </th>
                            <th style=""  rowspan="1" colspan="1" class="right" translate="action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="dayLogModel.isLoadingProgress">
                            <td colspan="9" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="dayLogModel.list.length === 0">
                            <td colspan="9" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="day in dayLogModel.list" ng-click="show(day.flag)"  style="color:black;">
                            <td ng-show="day.start_on != null ">
                                {{day.start_on | date:'dd/MM/yyyy'}}
                            </td>
                            <td ng-show="day.start_on == null ">
                                -
                            </td>
                            <td ng-show="day.end_on != null ">
                                {{day.end_on | date:'dd/MM/yyyy'}}
                            </td>
                            <td ng-show="day.end_on == null ">
                                -
                            </td>
                            <td class="right">
                                {{day.cash}}
                            </td>
                            <td class="right">
                                {{day.credit}}
                            </td> 
                            <td class="right">
                                {{day.card}}
                            </td>      
                            <td class="right">
                                {{day.advance}}
                            </td> 
                            <td class="right">
                                {{day.others}}
                            </td>
                            <td class="right">
                                {{day.total_amount}}
                            </td>
                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>
                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{day.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td colspan="9" style="border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 88%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="si_no">

                                            </th>
                                            <th style="padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="name">

                                            </th>                                                                                           
                                            <th style="" class=""   rowspan="1" colspan="1" translate="ref_type">

                                            </th>
                                            <th style=""  rowspan="1" colspan="1" translate="date">

                                            </th> 
                                            <th style="" class="right"   rowspan="1" colspan="1" translate="total_amount">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-show="showDetails[{{day.flag}}]" data-ng-if="day.data.length == 0">
                                            <td colspan="5" class="text-center" >
                                                -No Data Found-
                                            </td>
                                        </tr>
                                        <tr data-ng-show="showDetails[{{day.flag}}]"  ng-repeat="data in day.data" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 5px;" ui-scroll-to="app" >
                                                {{$index + 1}}
                                            </td>
                                            <td colspan="1" style="padding-left: 5px;" ui-scroll-to="app" >
                                                {{data.fname}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                {{data.ref_type}}
                                            </td>                                            
                                            <td class="" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                {{data.date | date:'dd/MM/yyyy'}}
                                            </td>                                           
                                            <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                {{data.total_amount}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="dayLogModel.list.length == 0" >
                        <tr style="font-weight: bold;">
                            <td colspan="2" class="text-left right" >
                                <span translate="total"></span>
                            </td>
                            <td colspan="1" class="right"> 
                                {{dayLogModel.total_cash}}
                            </td>
                            <td colspan="1" class="text-right"> 
                                {{dayLogModel.total_credit}}
                            </td>                           
                            <td colspan="1" class="text-right"> 
                                {{dayLogModel.total_card}}
                            </td>
                            <td colspan="1" class="text-right"> 
                                {{dayLogModel.total_advance}}
                            </td>
                            <td colspan="1" class="text-right"> 
                                {{dayLogModel.total_others}}
                            </td>
                            <td colspan="1" class="text-right"> 
                                {{dayLogModel.total_amount}}
                            </td>
                            <td colspan="1" class="text-right">                                
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


