<div class="wrapper-md content">
    <div class="clearfix add-form form-wrapper">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix right">                                              
                <!--                <a ui-sref="app.invoiceAdd({deal_id: '{{dealAddModel.id}}'})" ui-scroll-to="app" href="#/quote">
                                    Create Invoice
                                </a> -->
<!--                <a data-ui-sref="app.dealInvoiceAdd({id: '{{0}}',deal_id: '{{dealAddModel.id}}'})" ui-scroll-to="app" >
                    Convert to Invoice{{dealAddModel.id}}
                </a> -->
            <a ng-click="createInvoice()"> <span class="viewspan test">Create invoice</sapn> </a>
<!--                <a href="http://lbs/public/admin/#/sales-invoice-add/0/{{dealAddModel.id}}"
                   ui-scroll-to="app" class="add_button add-dash" >Create Invoice</a>-->
            </div>
        </div>
    </div>
</div>