<form name="deal_edit_form3" angular-validator-submit="createLog()" class="form-horizontal clearfix top-form" novalidate angular-validator>
    <div class="bg-light table-back clearfix">
        <div class="clearfix add-form form-wrapper wrapper-md">
            <div class="wrapper-md content">
                <div class="clearfix add-form form-wrapper">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                            <div class="col-sm-8 bottommarginsm">
                                <label>Type*</label>
                                <select ng-model="dealAddModel.log_type" name="log_type_dropdown" class="form-control" required>
                                    <option value ="">-Select Log Activity-</option>
                                    <option value="call">Call</option>
                                    <option value="meeting">Meeting</option>
                                    <option value="Email">Email</option>
                                </select>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-8 bottommarginsm " data-ng-show="dealAddModel.log_type == 'call'">
                                <label>Sub Type</label>
                                <select ng-model="dealAddModel.log_subtype" name="log_subtype_dropdown" class="form-control">
                                    <option value ="">-Select Call Subtype-</option>
                                    <option value="busy">Busy</option>
                                    <option value="wrong number">Wrong Number</option>
                                    <option value="not reachable">Not Reachable</option>
                                    <option value="attended">Attended</option>
                                    <option value="not attended">Not Attended</option>                        
                                </select>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-sm-8 bottommarginsm">
                                <label>Date:*</label>
                                <input name="activity_date" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                       ng-model="dealAddModel.activity_date" is-open="activity_DateOpen" placeholder='From date'
                                       show-weeks="false" required
                                       close-text="Close"/>
                                <button type="button" class="btn btn-default btn_choose_1 " ng-click="openDate(1)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Time:*</label> 
                                <uib-timepicker ng-model="dealAddModel.activity_time" hour-step="1" minute-step="1" show-meridian="true" required></uib-timepicker>
                                <!--                                                <!--<div uib-timepicker ng-model="dealAddModel.activity_time" hour-step="1" minute-step="1" show-meridian="true" required></div>-->
                            </div>
                        </div>
                        <div class="form-group top-form text-1">
                            <label>Comments:</label> 
                            <textarea class="form-control"
                                      name = "Notes"
                                      ng-model = "dealAddModel.notes"
                                      placeholder="Add Notes ... "
                                      >                            
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group full_w btn_group btn-sec">
        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}'>Save</button>
        <a href="javascript:void(0)" class="btn btn-sm btn-primary " angular-validator-form-reset data-ng-click="formReset(3)">Reset</a>
    </div>

</form>