<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="dealCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Deal List</h2>
            <a data-ui-sref="app.dealadd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash">Refresh</a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="deal_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm clearfix ">
                    <div class="sea">
                        <input
                            name="name"
                            type="text"
                            class="form-control qty a-right "
                            placeholder="Name"
                            data-ng-model="searchFilter.name"
                            data-ng-change="initTableFilter()"
                            />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer Name"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noResult">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                    </div>

                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.stage"
                                data-ng-change="initTableFilter()"
                                name="stagedropdown"
                                >
                            <option value="">All Stage</option>
                            <option value= "{{stage.id}}" data-ng-repeat="stage in dealModel.stageList">{{stage.name}}</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:100px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:200px;" rowspan="1" colspan="1" >
                                Name
                            </th>
                            <th style="width:120px;" rowspan="1" colspan="1">
                                Stage
                            </th>
                            <th style="width:200px;"  rowspan="1" colspan="1">
                                Customer
                            </th>
                            <th style="width:150px;" rowspan="1" colspan="1">
                                Customer Type
                            </th>
                            <th style="width:120px;" class="right " rowspan="1" colspan="1">
                                Amount
                            </th>
                            <th style="width:180px;text-align: right"  rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="dealModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="dealModel.list.length == 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="deal in dealModel.list">
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{deal.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})"   ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.stage_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})"  ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.customer_name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.type}}
                                </a>
                            </td>
                            <td class="right " >
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{deal.amount}}
                                </a>
                            </td>
                            <td class="right " >
                                <a data-ui-sref="app.dealedit({id: '{{deal.id}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(deal.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="dealModel.list.length == 0">
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label class="show_count_label ">Show</label>
                                <select name = "perpage"
                                        ng-model="dealModel.limit"
                                        data-ng-hide="dealModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="5" class="text-right">
                    <uib-pagination  data-ng-hide="dealModel.list.length == 0" total-items="dealModel.total" ng-model="dealModel.currentPage" ng-change="getdealListInfo()" items-per-page="dealModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup delet-popup " ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2>Do you want to delete?</h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteDealItem()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>
</div>


