<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up"  data-ng-controller="dealAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2>Deal Add</h2>
                <a ui-sref="app.deal" class="add_button" ui-scroll-to="app">Back to List</a>
            </div>
        </div>
        <div class="container topmarginsm">
            <div class="wrapper-md invoice-add1">
                <div class="  clearfix add-form form-wrapper">
                    <form name="deal_form" angular-validator-submit="createDeal()" class="form-horizontal clearfix " novalidate angular-validator >
                        <div class="row ">
                            <div class="col-sm-12 ">
                                <div class="row ">
                                    <div class="col-sm-6">

                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Name*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name = "name1"
                                                   ng-model = "dealAddModel.name"
                                                   placeholder="Name"
                                                   required
                                                   />
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Deal Stage*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <select ng-model="dealAddModel.stage" name="stagedropdown" class="form-control"  required>
                                                <option value ="">-Select Stage-</option>
                                                <option value="{{stage.id}}" data-ng-repeat="stage in dealAddModel.stageList">{{stage.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Amount</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name = "amount"
                                                   ng-model = "dealAddModel.amount"
                                                   placeholder="Amount"
                                                   validator = "validationFactory.hasRequired(dealAddModel.amount) == false || validationFactory.isNumber(dealAddModel.amount) == true"
                                                   />
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Customer Type*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin" data-ng-show="userModel.rolename == 'superadmin'">
                                            <select ng-model="dealAddModel.type" name="typedropdown" class="form-control"
                                                    required>
                                                <option value ="">Select</option>
                                                <option value ="new">New</option>
                                                <option value ="existing">Existing</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Customer*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <input type="text"
                                                   class="form-control"
                                                   name="customer_dropdown_{{$index}}"
                                                   ng-model="dealAddModel.customer"
                                                   placeholder="Customer Name"
                                                   uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                   typeahead-loading="loadingLocations"
                                                   typeahead-no-results="noResults"
                                                   typeahead-on-select="initTableFilter()"
                                                   typeahead-min-length="0"
                                                   typeahead-editable="false"
                                                   typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                                   typeahead-input-formatter="formatCustomerModel($model)"
                                                   autocomplete="off" 
                                                   required/>
                                        </div>
                                         <span class="glyphicon glyphicon-search box-search "></span>
                                         <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResult">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
                                        <div class="right" data-ng-show="dealAddModel.type == 'new'">
                                            <a href="javascript:void(0)" data-ng-click="showCustomerPopup()">Add New Customer</a>
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Close Date</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <input name="closedate" type="text" class="form-control input-cal1" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="dealAddModel.closedate" is-open="closeDateOpen" placeholder='From date'
                                                   show-weeks="false"
                                                   close-text="Close" min-date="currentDate"/>
                                            <button type="button" class="btn btn-default btn-choosecd btn-cal1" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>Next Follow-up Date</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <input name="next_follow_up" type="text" class="form-control input-cal1" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="dealAddModel.nextdate" is-open="nextDateOpen" placeholder='From date'
                                                   show-weeks="false"
                                                   close-text="Close" min-date="currentDate"/>
                                            <button type="button" class="btn btn-default btn-choosecd btn-cal1"  ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-6 topmarginxs right">
                                            <label>User*</label>
                                        </div>
                                        <div class="col-sm-6 bottommargin">
                                            <select ng-model="dealAddModel.user" name="userdropdown" class="form-control"
                                                    ng-required="userModel.rolename == 'superadmin'">
                                                <option value ="">-Select User-</option>
                                                <option value="{{user.id}}" data-ng-repeat="user in dealAddModel.userList">{{user.f_name}}</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 bottommargin center">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                                        <button type="reset" class="btn btn-sm btn-primary btn_orng" angular-validator-form-reset data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-show="showCustomerAddPopup" ng-click="closeCustomerPopup()" ></div>
    <div class="model_popup" ng-show="showCustomerAddPopup" >
        <div data-ng-include=" 'tpl/newcustomer-add.html'" ng-if="true"  >
        </div>
    </div>
</div>
