<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="debitnoteAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="debit_note_add"></h2>
                <a ui-sref="app.debitnote" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form1 form-wrapper1 bg-white">
                <form name="save_debit_form" angular-validator-submit="createdebit()" class="form-horizontal clearfix col-sm-12" novalidate angular-validator>
                    <div class="col-sm-12">
                        <div class="row wrapper-md">
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="customer_name:"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control"
                                               name="customer_dropdown"
                                               data-ng-model="debitModel.customerInfo"

                                               placeholder="{{'customer_details' | translate}}"
                                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResults"
                                               typeahead-min-length="0"
                                               typeahead-editable="false"
                                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                               typeahead-input-formatter="formatCustomerModel($model)"
                                               autocomplete="off"
                                               required
                                               />
                                        <span class="glyphicon glyphicon-search box-search "></span>
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> 
                                            <span translate="no_results_found"></span>
                                        </div>
                                    </div>                  
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="payment_date_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input name="invoicedate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="debitModel.date" is-open="paymentDateOpen"  max-date="currentDate"
                                               show-weeks="false" datepicker-options="dateOptions"
                                               close-text="Close" required/>
                                        <button type="button" class="btn btn-calen date-cal btn-choose btn-default paydate-btn" ng-click="openDate(0)" >
                                            <i class="glyphicon glyphicon-calendar"></i>                
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="account_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select name="debit_account_dropdown" type="text" ng-model="debitModel.account" class="form-control" required>
                                            <option value="" translate="choose_an_account"></option>
                                            <option value="{{Accountlist.id}}" data-ng-repeat="Accountlist in debitModel.accountsList">{{Accountlist.account}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right">
                                        <label translate="amount_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Amount"
                                                ng-model = "debitModel.amount"
                                                placeholder="{{'amount' | translate}}"
                                                validator = "validationFactory.isNumber(debitModel.amount) === true && (debitModel.amount>0?true:false)"
                                                maxlength="20"
                                                required/>
                                    </div>  
<!--                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Category</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select name="categorydropdown" ng-model="debitModel.category"  class="form-control" >
                                            <option value="">Select Category </option>
                                            <option value="{{category.name}}" data-ng-repeat="category in debitModel.categoryList">{{category.name}}</option>
                                        </select>
                                    </div> -->
                                </div>                                                           
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right">
                                    <label translate="prefix"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select ng-model="debitModel.invoicePrefix"  class="form-control">
                                        <option value="" translate="none"></option>
                                        <option value="{{perfix + ''}}" data-ng-repeat="perfix in debitModel.prefixList">{{perfix}}</option>
                                    </select>
                                </div>
<!--                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right">
                                        <label>Mode*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select class="form-control "
                                                ng-model="debitModel.payment_mode"                                        
                                                name="modedropdown" required
                                                >
                                            <option value="">Select Payment Mode </option>
                                            <option value="{{paymentterms.name}}" data-ng-repeat="paymentterms in debitModel.paymentlist">{{paymentterms.name}}</option>                         
                                        </select>
                                    </div>
                                </div>-->
                                <div class="col-sm-5 topmarginxs right" data-ng-show="debitModel.payment_mode.toLowerCase() == 'cheque'">
                                    <label translate="cheque_number_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin" data-ng-show="debitModel.payment_mode.toLowerCase() == 'cheque'">
                                    <input type="text"
                                           name = "cheque"
                                           class="form-control"
                                           placeholder="{{'cheque_number' | translate}}"
                                           ng-model = "debitModel.cheque_no"
                                           validator = "validationFactory.hasRequired(debitModel.cheque_no) == false || validationFactory.isNumber(debitModel.cheque_no) == true"
                                           ng-required="debitModel.payment_mode.toLowerCase() == 'cheque'"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right">
                                    <label translate="comments"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea rows="4" cols="50"
                                              class="form-control"
                                              name = "comments"
                                              ng-model = "debitModel.comments"
                                              placeholder="{{'comments' | translate}}"
                                              style="height: 96px;"
                                              ></textarea>  
                                </div> 
                            </div>
                        </div>
                    </div>
                              <!--                    <div class="row paddleftt">   
                        <div class="col-sm-6">
                            <strong><b style="font-size: 15px;">Pending Sales Invoice</b></strong>
                            <div class="table-responsive ">

                                <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">                                                
                                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                                Invoice Date
                                            </th>
                                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                                Code
                                            </th>
                                            <th style="width:150px;"   rowspan="1" colspan="1">
                                                Amount
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-show="debitModel.isPurchaseOrderLoading">
                                            <td colspan="3" class="text-left" style="padding: 0;" >
                                                <p class="loader-icon" >
                                                    <img alt="loader" src="img/loading.gif" />
                                                </p>
                                            </td>
                                        </tr>
                                        <tr data-ng-if="debitModel.invoiceList.length == 0">
                                            <td colspan="3" class="text-center" >
                                                -No Data Found-
                                            </td>
                                        </tr>
                                        <tr data-ng-repeat="invoice in debitModel.invoiceList" >                                                
                                            <td>
                                                <input class="" type="radio" name="radio_{{$index}}" value="{{invoice.id}}" id="radio_{{$index}}" 
                                                       data-ng-change ="getInvoiceDetails($index)"
                                                       ng-model="debitModel.invoice_id" />
                                                <label for="radio_{{$index}}">{{invoice.date}}</label>
                                                                                                                                  <input type="radio" name="radio_{{$index}}" id="radio_{{$index}}">
                                                                                                                                  <label for="radio_{{$index}}" >{{invoice.date| date:'dd-MM-yyyy'}}</label>
                                            </td>  
                                            <td>
                                                {{invoice.invoice_code}}
                                            </td>
                                            <td>
                                                {{invoice.balance_amount}}
                                            </td>                                                
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Invoice No : {{debitModel.invoiceDetails.invoice_no}}</label><br>
                            <label>Invoice Date : {{debitModel.invoiceDetails.date}}</label><br>
                            <label>Bill Amount : {{debitModel.invoiceDetails.total_amount}}</label><br>
                            <label>Paid Amount : {{debitModel.invoiceDetails.paid_amount}}</label><br>
                            <label>Balance Amount : {{debitModel.invoiceDetails.balance_amount}}</label><br>

                        </div>
                                                  </div>-->
                              <!--<div class="row" style="margin-top: 20px;">-->


                        <div class="form-group full_w btn_group clear_b">
                            <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="save"></button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " angular-validator-form-reset data-ng-click="formReset()" translate="cancel"></a>
                        </div>

                    </div>
            </div>
            </form>
        </div>           
    </div>
</div>    
</div>

