<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="debitnoteCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="debit_note"></h2>
            <a data-ui-sref="app.debitnoteadd" ui-scroll-to="app" class="add_button add-dash" translate="add_new"></a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
        </div>
    </div>        
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="debitpayment_list" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm clearfix ">                    
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown"                      
                               ng-model="searchFilter.customerInfo"
                               placeholder="{{'customer_name'| translate}}"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               angular-localstorage-field='true'
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>  
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>   
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> 
                            <span translate="no_results_found"></span>
                        </div>
                    </div> 
                    <div class="sea">
                        <select name="prefix_dropdown" ng-model="searchFilter.invoicePrefix"  class="form-control" data-ng-change="initTableFilter()" angular-localstorage-field='true'>
                            <option value="" translate="all"></option>
                            <option value="{{perfix + ''}}" data-ng-repeat="perfix in debitModel.prefixList">{{perfix}}</option>
                        </select>
                    </div>
                    <!--                    <div class="sea ">
                                            <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="searchFilter.from_date" is-open="fromDateOpen" placeholder='From date'
                                                   show-weeks="false"
                                                   data-ng-change="initTableFilter()"
                                                   close-text="Close" readonly  validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class="sea ">
                                            <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="searchFilter.to_date" is-open="toDateOpen" placeholder='To date'
                                                   show-weeks="false" data-ng-change="initTableFilter()"
                                                   close-text="Close" readonly validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>-->
                </div> 
            </form>
            <div class="table-responsive ">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width:180px;" rowspan="1" colspan="1" translate="date">

                            </th>
                            <th  style="width:190px;" rowspan="1" colspan="1" translate="customer">

                            </th>  
                            <th  style="width:190px;" rowspan="1" colspan="1" translate="prefix">

                            </th>  
                            <th style="width:180px;" class="right " rowspan="1" colspan="1" translate="amount">

                            </th>                          
                            <th style="width:150px;" rowspan="1" colspan="1" translate="comments">

                            </th>     
                            <th style="width:100px;" rowspan="1" colspan="1" translate="action">

                            </th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr data-ng-show="debitModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="debitModel.list.length == 0">
                            <td colspan="7" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="debit in debitModel.list">
                            <td>
                                <a data-ui-sref="app.debitnoteview({id: '{{debit.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{debit.id}}
                                </a>
                            </td>
                            <td>                                
                                <a data-ui-sref="app.debitnoteview({id: '{{debit.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;">
                                    {{debit.date}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.debitnoteview({id: '{{debit.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{debit.fname}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.debitnoteview({id: '{{debit.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{debit.prefix}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.debitnoteview({id: '{{debit.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%; text-align: right;">
                                    {{debit.amount}}
                                </a>
                            </td>  
                            <td>
                                <a data-ui-sref="app.debitnoteview({id: '{{debit.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{debit.comments}}
                                </a>
                            </td>                                                                     
                            <td>
                                <a data-ui-sref="app.debitnoteview({id: '{{debit.id}}'})" ui-scroll-to="app" >
                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(debit.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="debitModel.list.length == 0">
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label class="show_count_label " translate="show"></label>
                                <select name = "perpage"
                                        ng-model="debitModel.limit"
                                        data-ng-hide="debitModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="5" class="text-right">
                    <uib-pagination  data-ng-hide="debitModel.list.length == 0" total-items="debitModel.total" ng-model="debitModel.currentPage" ng-change="getList()" items-per-page="debitModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup delet-popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>    
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAdvancePaymentItem()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" translate="cancel"></button></center>
    </div>  
</div>


