
<div class="app-content-body fade-in-up"  data-ng-controller="debitnoteViewCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="debit_note_details"></h2>
            <a ui-sref="app.debitnote" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="debitModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="advancepayment_view" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-7 ">
                            <div class="row ">
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="date:"></label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin">
                                    <label>{{debitModel.debitDetails.date}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="pay_customer_name"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{debitModel.debitDetails.fname}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="account_name:"></label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin ">
                                    <label>{{debitModel.debitDetails.account}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="total_amount:"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{debitModel.debitDetails.amount}}</label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="prefix"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{debitModel.debitDetails.prefix}}</label>
                                </div>
<!--                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label>Payment Mode:</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{debitModel.debitDetails.payment_mode}}</label>
                                </div> 
                                 <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label>Category:</label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin">
                                    <label>{{debitModel.debitDetails.tra_category}}</label>
                                </div> -->
                                <div class="col-sm-6 topmarginxs bottommargin right " data-ng-show="debitModel.debitDetails.reference_no!=''">
                                    <label translate="cheque_number"></label>
                                </div>
                                <div class="col-sm-6  topmarginxs bottommargin" data-ng-show="debitModel.debitDetails.reference_no!=''">
                                    <label>{{debitModel.debitDetails.reference_no}}</label>
                                </div> 
                                <div class="col-sm-6 topmarginxs bottommargin right ">
                                    <label translate="comments"></label>
                                </div>
                                <div class="col-sm-6 topmarginxs bottommargin">
                                    <label>{{debitModel.debitDetails.comments}}</label>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>