<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.code + '('+ match.model.name +')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="quote_product_container" data-ng-controller="deliverynoteAddCtrl">
    <form name="delivery_add_form"  angular-validator-submit="createOrder(false)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="model_overlay" ng-show="orderListModel.customerInfoLoadingProgress" style="padding-top: 200px; text-align: center;">
                <p class="loader-icon">
                <center><img alt="loader" src="../img/loading.gif" /></center>
                </p>
            </div>
            <div class="panel-heading clearfix " data-ng-show =" $stateParams.type == 'in'">
                <h2 translate="delivery_note_add_in"></h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' translate="save">
                    </button>
                    <!--                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' ng-submit="createOrder('Mail')" >Save and Send
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng" data-ng-click="showPopup()">
                                            Save and Send
                                        </a>-->
                    <a ui-sref="app.deliverynote" ui-scroll-to="app" translate="back_to_list">

                    </a>
                </div>
            </div>
            
            <div class="panel-heading clearfix " data-ng-show =" $stateParams.type == 'out'">
                <h2 translate="delivery_note_add_out"></h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' translate="save">
                    </button>
                    <!--                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' ng-submit="createOrder('Mail')" >Save and Send
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng" data-ng-click="showPopup()">
                                            Save and Send
                                        </a>-->
                    <a ui-sref="app.deliverynote" ui-scroll-to="app" translate="back_to_list">

                    </a>
                </div>
            </div>
            
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <strong class="bottommarginxs " translate="bill_to" data-ng-show =" $stateParams.type == 'out'"></strong><br/>
                                <strong class="bottommarginxs " translate="bill_from" data-ng-show =" $stateParams.type == 'in'"></strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="orderListModel.customerInfo"
                                       placeholder="{{'customer_details'| translate}}"
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingCustomerLocations"
                                       typeahead-no-results="noCustomerResult"
                                       typeahead-min-length="0"
                                       typeahead-on-select = "showIconInfo()"
                                       typeahead-editable="true"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       ng-blur="custDrop()"
                                       required
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noCustomerResult">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <div class="right">
                                    <a class="newCus" href="javascript:void(0)" data-ng-click="showCustomerPopup()" translate="add_new_customer"></a>
                                </div>                                                            
                            </div>
                            <div class=" col-sm-1 ">
                                <a data-ng-click="showCusInfoPopup()" ng-show =" showInfoIcon == true && orderListModel.customerInfo != ''" >  
                                    <img style="margin-top: 30px;" class="icon icons8-Info i-icon" width="24" height="24" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABrUlEQVRIS72W/TEEQRDF30VABogAETgRIAIuBBEgAxkgAkSACJwMyOAug6vfVM/W7NR89J6i/9nanel+3a+/dqZ/kpkT50jSmSSeu6azkrSU9GrPpqke0JWkG0n7HYe+Jd1KeqrdqwFh+NkicAYdrhHhhSSAR1ICgp63hKIpQNyF0tOczhyISD4dIF+GfljxArDjNLIciNBrytEmeSB3CHkhhyXBFmBBUiCUHxw8Qcu73ZsbzTW1haTHHIhwdxxAL5IwwH2MXDZ0KIqDFIgCIDd/IdC3jNS1uE7BP+yFotlzenVHLiMQnJ80FOl+cghdUaCQadETdM+9QAAweq4l3Ztlb/HAwtwLFL0ONNjLFLonAzFeoAzZijqvd2nfedthVAye8g5JdTZqWiCj8uaA5mqV7Db5+YkrZsoISoGIjDWCoZZzxRFEVK2hyhlzLvYSTctsZN6VhAlPSoKU1gQGWzOP5qanBiMFlLWdDwuwtvgw5hmwpUgAIUocHqS1yumT3m7KgaCL/LlWearMmKHHegOUouBe2D0l6f0FRR3ygael3y0iH9H0G6Cao+7vG6EbWxugqrbcAAAAAElFTkSuQmCC">
                                </a>
                            </div>
                            <div class=" col-sm-2">
                                &nbsp;
                            </div>
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">

                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="date"> </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="orderListModel.billdate" is-open="startDateOpen"
                                                   show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close" readonly="true" validator="validateDateFilterData()"/>
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>                                   
                                </ul>
                                <ul class="invoice-date-info " ng-show =" $stateParams.type == 'out'">

                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="reference_no"> </span>
                                        <span class="tit-desc ">
                                            <input type="text"
                                                   class="form-control"
                                                   name = "referance_no"
                                                   ng-model = "orderListModel.ref_no"
                                                   validator = "validationFactory.isPositiveNumber(orderListModel.ref_no) === true"
                                                   placeholder="{{'reference_no'| translate}}"
                                                   />  
                                        </span>
                                    </li>  
                                </ul>
                            </div>

                            <div class="col-sm-12  ">
                                <div class="product-add topmargin  ">

                                    <ul class="ul-list-wrapper ul-table-head clearfix ">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class="name " translate="barcode">

                                        </li>
                                        <!--                                        <li class="sku left ">
                                                                                    SKU
                                                                                </li>-->
                                        <li class="right uom " data-ng-hide="!appConfig.uomdisplay">
                                            {{appConfig.uomlabel}}
                                        </li>
                                        <li class="right qty " translate="quantity">

                                        </li>
                                        <li class="right price " translate="price">

                                        </li>
                                        <li class="right f-right action ">
                                            &nbsp;
                                        </li>
                                        <li class="right f-right row-total " translate="row_total">

                                        </li>
                                    </ul>
                                    <div class="invoice-prod-list table-responsive ">
                                        <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="order in orderListModel.list">
                                            <li class="num center ">
                                                {{$index + 1}}
                                            </li>
                                            <li class="name ">
                                                <input type="text"
                                                       name="productname_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].productname"
                                                       placeholder="{{'barcode'| translate}}"
                                                       uib-typeahead="itemList for itemList in getItemList($viewValue)"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control name"
                                                       typeahead-editable="true"
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-show-hint="true"
                                                       typeahead-on-select = "checkProductInfo($model,$index)"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       typeahead-min-length="0"                                                       
                                                      >
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i> 
                                                <div ng-show="noProductResults" class="result-dis  left remove-icon">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div> 
                                            </li> 
                                            <li class="uom right " data-ng-hide="!appConfig.uomdisplay">
                                                <input type="text"
                                                       class="form-control"
                                                       name="uom_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].uomInfo"
                                                       placeholder="{{'uom' | translate}}"
                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                       typeahead-loading="loadingUomLocations"
                                                       typeahead-no-results="noUomResult"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="true"
                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatUomModel($model)"
                                                       autocomplete="off"   angular-validator-field
                                                       readonly
                                                       />
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingUomLocations" class="glyphicon glyphicon-refresh"></i> 
                                            </li>
                                            <li  class="qty right " ng-if =" $stateParams.type == 'in'">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].qty) &&  orderListModel.list[$index].qty > 0"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="{{'quantity'| translate}}"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li  class="qty right " ng-if =" $stateParams.type == 'out'">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].qty) && orderListModel.list[$index].qty > 0 && orderListModel.list[$index].qty <= orderListModel.list[$index].qty_limit "
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="{{'quantity'| translate}}"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="price right ">
                                                <input
                                                    name="sales_price_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="order.sales_price"
                                                    validator = "validationFactory.isNumber($parent.orderListModel.list[$index].sales_price)"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="{{'price'| translate}}"
                                                    angular-validator-field
                                                    readonly
                                                    />
                                            </li>
                                            <li class="action f-right right ">
                                                <a href="javascript:void(0)" data-ng-if="orderListModel.list.length != 0" data-ng-click="deleteProduct($index)" ui-toggle-class="" style="padding: 0;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </li>
                                            <li class="row-total  f-right right ">
                                                <input
                                                    name="rowtotal"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model=order.rowtotal
                                                    data-ng-change="updateInvoiceTotal()"
                                                    data-ng-disabled="true"
                                                    />
                                            </li>                                            
                                        </ul>
                                        <ul>
                                            <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewProduct()"></a>
                                        </ul>
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">

                                            <tfoot>
                                                <tr>
                                                    <td class="right " colspan="6"><br>
                                                        <strong translate="sub_total"></strong>
                                                    </td>
                                                    <td class="right " colspan="1"><br>
                                                        <strong>{{currencyFormat}}.{{orderListModel.subtotal}}</strong>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>                                                
                                                <tr>
                                                    <td class="right " colspan="6" translate="round_off">

                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.roundoff}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6"><br/>
                                                        <span translate="grand_total"></span><strong>({{currencyFormat}}):</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1"><br/>
                                                        <strong>{{currencyFormat}}.{{round}}</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-sm-12  " style="margin-top: 20px;" ng-show =" $stateParams.type == 'out'">
                                <div class="row">
                                    <label translate="comments" style="margin: 10px;width: 98.5%;"></label>
                                    <div class="col-sm-12 bottommargin">
                                        <textarea rows="4" cols="50"
                                                  class="form-control"
                                                  name = "comments"
                                                  ng-model = "orderListModel.comments"
                                                  placeholder="{{'comments'| translate}}"
                                                  style="height: 96px;"
                                                  ></textarea>  
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </form>
    <div class="model_overlay" ng-show="showCustomerAddPopup" ng-click="closeCustomerPopup()" ></div>
    <div class="popups">
        <div class="model_popup" ng-show="showCustomerAddPopup" >
            <div data-ng-include=" 'tpl/newcustomer-add.html'" ng-if="true"  >
            </div>
        </div></div>
    <div class="model_overlay" ng-if="showcustomerinfopopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showcustomerinfopopup" >
        <a href="javascript:void(0)" ng-click="closeCusInfoPopup()" class="glyphicon glyphicon-remove close " ></a>
        <div class="row topmarginsm bottommarginsm pos-shadow">
            <div class="col-sm-12">
                <table class="cus-table">
                    <thead>
                        <tr >
                            <th>Product Name</th>
                            <th>Barcode</th>
                            <th>SKU</th>
                            <th>Given Qty</th> 
                            <th>Balance Qty</th> 
                            <th>Received Qty</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="orderListModel.customerInfoLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="orderListModel.customerIconInfo.length == 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="cus in orderListModel.customerIconInfo">
                            <td>{{cus.product_name}}</td>
                            <td>{{cus.barcode}}</td>
                            <td>{{cus.product_sku}}</td>
                            <td>{{cus.given_qty}}</td>
                            <td>{{cus.balance_qty}}</td>
                            <td>{{cus.received_qty}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

