<script type="text/ng-template" id="incomecategory_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="depositCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="deposit"></h2>
            <a data-ui-sref="app.depositAdd" ui-scroll-to="app" class="add_button add-dash" translate="add_new"></a>  
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="deposit_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false"   angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.hasRequired(searchFilter.fromdate)== false || validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) " readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.hasRequired(searchFilter.todate)== false || validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="incomecategory_dropdown"
                               ng-model="searchFilter.incomeCategoryInfo"
                               typeahead-on-select="initTableFilter()"
                               placeholder ="{{'select_category' | translate}}"
                               uib-typeahead="category for category in getIncomeCategoryList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               angular-localstorage-field='true'
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="false"
                               typeahead-template-url="incomecategory_dropdown_tpl.html"
                               typeahead-input-formatter="formatincomeCategoryModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                         <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    <span translate="no_results_found"></span>
                                </div>
                    </div>
                    <div class="sea" >
                        <select name="user_dropdown" class="form-control "data-ng-change="initTableFilter()" angular-localstorage-field='true'
                                ng-model="searchFilter.user">
                            <option value="" translate="users"></option>
                            <option value="{{user.id}}" ng-repeat=" user in depositModel.userlist">{{user.f_name}}({{user.username}})</option>
                        </select>
                    </div>
                    <div class="col-sm-2 " style="margin-top: 4px;float:right;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="depositModel.isLoadingProgress" data-ng-class='{"btn-loader":depositModel.isLoadingProgress}'
                                        translate="search">
                                    
                                </button>
                            </div>
<!--                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset translate="clear">
                                    
                                </button>
                            </div>-->
                        </div>
                    </div>
                </div>  
            </form>
        </div>
        <div class="table-responsive ">
            <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th rowspan="1" colspan="1" translate="id">
                            
                        </th>
                        <th rowspan="1" colspan="1" translate="date">
                            
                        </th>
                        <th rowspan="1" colspan="1" translate="particular">
                            
                        </th>
                        <th rowspan="1" colspan="1" translate="category">
                            
                        </th>
                        <th rowspan="1" colspan="1" translate="created_by">
                            
                        </th>
                        <th rowspan="1" colspan="1" translate="amount">
                            
                        </th>
                        <th rowspan="1" colspan="1" translate="action">
                           
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="depositModel.isLoadingProgress">
                        <td colspan="7" class="text-left" style="padding: 0;" >
                            <p class="loader-icon" >
                                <img alt="loader" src="../img/loading.gif" />
                            </p>
                        </td>
                    </tr>
                    <tr data-ng-if="depositModel.list.length == 0">
                        <td colspan="7" class="text-center" >
                            
                            <span translate="no_data_found"></span>
                        </td>
                    </tr>
                    <tr data-ng-repeat="deposit in depositModel.list">
                        <td>
                            <a data-ui-sref="app.depositEdit({id: '{{deposit.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{deposit.id}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.depositEdit({id: '{{deposit.id}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{deposit.transaction_date}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.depositEdit({id: '{{deposit.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{deposit.particulars}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.depositEdit({id: '{{deposit.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{deposit.account_category}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.depositEdit({id: '{{deposit.id}}'})"  ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{deposit.created_by_name}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.depositEdit({id: '{{deposit.id}}'})" class="right" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                {{deposit.amount}}
                            </a>
                        </td>
                        <td>
                            <a data-ui-sref="app.depositEdit({id: '{{deposit.id}}'})" ui-scroll-to="app" >
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </a>
<!--                            <a class="chel-edit-add add-dash" data-ng-click="showPopup(deposit.id, deposit.voucher_number, deposit.voucher_number)">
                                <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                            </a>-->
                        </td>
                    </tr>
                </tbody>
                <tfoot  data-ng-hide="depositModel.list.length == 0" >
                    <tr>
                        <td colspan="3" class="text-left" >
                            <label translate="show"></label>
                            <select firstName = "perpage"
                                    ng-model="depositModel.limit"
                                    ng-options="page for page in pagePerCount"
                                    class="form-control show_count"
                                    ng-change="initTableFilter()"
                                    >
                            </select>
                        </td>
                        <td colspan="4" class="text-right">
                <uib-pagination total-items="depositModel.total" ng-model="depositModel.currentPage" ng-change="getList()" items-per-page="depositModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                </td>
                </tr>
                </tfoot>                  
            </table>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteDepositInfo()">OK</button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" >Cancel</button></center>
    </div>

</div>   