
<div class="app-content-body fade-in-up"  data-ng-controller="designationAddCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="designation_add">Designation Add</h2>
            <a ui-sref="app.designation" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="designation_add_form" angular-validator-submit="createDesignation()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "designationname"
                                           data-ng-model = "designationModel.desname"
                                           placeholder="{{'designation_name' | translate}}"
                                           maxlength="35"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="comments"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "comments"
                                           data-ng-model = "designationModel.note"
                                           placeholder="{{'comments' | translate}}"
                                           maxlength="100"
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="checkbox"
                                           class=""
                                           id="isDefault"
                                           name="isDefault"
                                           data-ng-model="designationModel.isDefault"
                                           />
                                    <label for="isDefault" translate="default"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    <div class="form-group full_w btn_group">
                                        <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

