
<div class="app-content-body fade-in-up req-stock " >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Devices List</h2>
            <a data-ui-sref="app.deviceadd" ui-scroll-to="app" class="add_button add-dash" >Add New</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " data-ng-controller="deviceCtrl">
        <div class="panel panel-default ">
            <div class="head_right wrapper-sm  clearfix ">
                <div class="sea" style='width:197px;'>
                    <input type="text"
                           placeholder="Device Code"
                           data-ng-model="searchFilter.devicecode"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
                <div class="sea" style='width:197px;'>
                    <input type="text"
                           placeholder="Name"
                           data-ng-model="searchFilter.name"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>

                <div class="sea" style='width:197px;'>
                    <input type="text"
                           placeholder="Short Code"
                           data-ng-model="searchFilter.shortcode"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
            </div>

            <div class="table-responsive ">

                <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 120px;"  rowspan="1" colspan="1" >
                                ID
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Device Code
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Device Name
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Short Code
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1">
                                Comments
                            </th>
                            <th style="width: 50px;"   rowspan="1" colspan="1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="deviceModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="deviceModel.list.length == 0">
                            <td colspan="5" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="device in deviceModel.list">
                            <td>
                                <a data-ui-sref="device.deviceedit({id: '{{device.deviceCode}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{device.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.deviceedit({id: '{{device.deviceCode}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{device.deviceCode}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.deviceedit({id: '{{device.deviceCode}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{device.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.deviceedit({id: '{{device.deviceCode}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{device.shortCode}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.deviceedit({id: '{{device.deviceCode}}'})" ui-scroll-to="app"  style="display:block; width:100% ;height: 100%">
                                    {{device.comments}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.deviceedit({id: '{{device.deviceCode}}'})" ui-scroll-to="app" class="glyphicon glyphicon-edit " style="display:block; width:100% ;height: 100%">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="deviceModel.list.length == 0" >
                        <tr>
                            <td colspan="2" class="text-left" >
                                <label>Show</label>
                                <select name = "perpage"
                                        ng-model="deviceModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        ></select>
                            </td>
                            <td colspan="4" class="text-right">
                    <uib-pagination total-items="deviceModel.total" ng-model="deviceModel.currentPage" ng-change="getList()" items-per-page="deviceModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


