
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="discountedreportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="discount_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
                       <a href="{{APP_CONST.API.DISCOUNT_REPORT_CSV}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&start=0&limit=0"
                          ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix ">
        <div class="panel panel-default notopmargin">
            <form name="discounted_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false"      angular-localstorage-field='true'
                               required close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               show-weeks="false"     angular-localstorage-field='true'
                               required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row rowbtn">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="discountModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":discountModel.isSearchLoadingProgress}'
                                        translate="search">
                                    
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()" translate="clear">
                                   
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"> </span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>

            <div class="table-responsive discount">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th  rowspan="1" colspan="1" translate="si_no">
                                
                            </th>
                            <th rowspan="1" colspan="1" translate="invoice_number">
                                
                            </th>
                            <th  rowspan="1" colspan="1" translate="invoice_date">
                               
                            </th>
                            <th  rowspan="1" colspan="1" translate="customer_name">
                                
                            </th>
                            <th    rowspan="1" colspan="1" translate="city">
                               
                            </th>
                            <th style="text-align: right;"   rowspan="1" colspan="1" translate="net_total">
                                
                            </th>

                            <!--                             <th style="width: 250px;"   rowspan="1" colspan="1">
                                                            Discount(%)
                                                        </th>-->
                            <th   rowspan="1" colspan="1" translate="discount%">
                                
                            </th>                             
                            <th style="text-align: right;"   rowspan="1" colspan="1" translate="discount_amount">
                               
                            </th>
                            <th style="text-align:right;" rowspan="1" colspan="1" translate="invoice_amount">
                                
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="discountModel.isLoadingProgress">
                            <td colspan="9" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="discountModel.list.length === 0">
                            <td colspan="9" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="discount in discountModel.list">
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{$index + 1}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.invoice_code}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.date}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.name}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.billing_city}}
                            </td>
                            <td class="right" ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.subtotal}}
                            </td>

                            <!--                            <td class="right">
                                                            {{discount.percentage}}
                                                        </td>-->

                            <td class="left" ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.discount_percentage}}
                            </td>
                            <td class="right" ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.discount_amount}}
                            </td>
                            <td class="right" ui-scroll-to="app" data-ng-click="viewRedirect(discount.invoice_id)">
                                {{discount.total_amount}}
                            </td>

                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="discountModel.list.length === 0" >
                        <tr>
                            <td colspan="5" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{discountModel.Amount}}
                            </td>
                            <td colspan="1">
                                &nbsp;
                            </td>
                            <td colspan="1" class="text-right " >
                                {{discountModel.DiscountAmt}}
                            </td>
                            <td class="right">
                                {{discountModel.InvoiceAmt}}
                            </td>                            
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>



