
<div class="app-content-body fade-in-up"  data-ng-controller="emailSettingsCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="email_settings"></h2>
            <a data-ui-sref="app.emailsettings" class="add_button add-dash" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="emailSettingsModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <form name="email_settings_form" angular-validator-submit="updateEmailSettings()" class="form-horizontal clearfix " novalidate angular-validator >

                <div class="row ">

                    <div class="col-sm-12 ">
                        <div class="row topmargin " data-ng-repeat="email in emailSettingsModel.list">
                            <div class="col-sm-2 topmargin right ">
                                <label>{{email.label}}</label>
                            </div>
                            <div class="col-sm-10 topmarginsm ">
                                <input class="form-control"
                                       name = "subject"
                                       ng-model = "email.subject"
                                       placeholder="Subject"
                                       >
                            </div>
                             <div class="col-sm-2 topmargin right ">
                                <label></label>
                            </div>
                            <div class="col-sm-10 topmargin ">
                                <label></label>
                            </div>
                             <div class="col-sm-2 topmargin right ">
                                <label></label>
                            </div>
                            <div class="col-sm-10 topmarginsm ">
                                <div text-angular data-ng-model="email.message"
                                     name="message_{{$index}}"
                                     ta-toolbar=" [
                                     ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                                     ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
                                     ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],
                                     ['html']]"
                                     ta-text-editor-class="border-around container"
                                     ta-html-editor-class="border-around"></div>
                            </div>

                            <div class="col-sm-2 topmarginsm">&nbsp;</div>
                            <div class="col-sm-10 topmarginsm">
                                Variable parameters:{ {invoice_id} },{ {invoice_amount} },{ {duedate}},{ {date} },{ {companyname} }
                            </div>
                            <div class="col-sm-2 topmargin toppadding bottompaddingsm bottommargin">&nbsp;</div>
                            <div class="col-sm-10 topmargin toppadding bottompaddingsm bottommargin">
                                &nbsp;
                        </div>
                            <hr>
                            <div class="col-sm-2 topmargin toppadding bottompaddingsm bottommargin">&nbsp;</div>
                            <div class="col-sm-10 topmargin toppadding bottompaddingsm bottommargin">
                                &nbsp;
                        </div>
                    </div>

                    <div class="col-sm-12 topmargin toppadding center ">
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()" translate="reset"></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
