<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name + '('+ match.model.employee_code+')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="employeeSalesReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="employee_sales_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <a href="{{APP_CONST.API.EMP_SALES_REPORT_CSV}}?emp_id={{searchFilter.empInfo.id}}&from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="employee_sales_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false" angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false" angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="employee_dropdown"
                               ng-model="searchFilter.empInfo"
                               placeholder="{{'employee_name'| translate}}"
                               uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                               typeahead-loading="loadingEmpLocations"
                               typeahead-no-results="noEmpResults"                              
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               angular-localstorage-field='true'
                               typeahead-template-url="employee_dropdown__tpl.html"
                               typeahead-input-formatter="formatEmployeeModel($model)"
                               autocomplete="off" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                        <i ng-show="loadingEmpLocations" class="glyphicon glyphicon-refresh"></i> 
                        <div ng-show="noEmpResults">
                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row ">
                            <div class="col-sm-3 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="empSalesModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":empSalesModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-3 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"> </span>  {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="employee_name"></span>{{searchFilter.empInfo == '' ? '-' : searchFilter.empInfo.name}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style=""  rowspan="1" colspan="1" translate="employee_code">

                            </th>
                            <th style=""   rowspan="1" colspan="1" translate="employee_name">

                            </th>
                            <th style=""  rowspan="1" colspan="1"  class="right" translate="sales_quantity">

                            </th>
                            <th style=""  rowspan="1" colspan="1"  class="right" translate="sales_value">

                            </th>   
                            <th style=""  rowspan="1" colspan="1"  class="right" translate="bill_value">

                            </th>   
                            <th style=""  rowspan="1" colspan="1" class="right" translate="action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="empSalesModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="empSalesModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="employee in empSalesModel.list" ng-click="show(employee.flag)"  style="color:black;">
                            <td style="    padding: 5px 10px;">
                                {{employee.emp_code}}                   
                            </td>    
                            <td>
                                {{employee.emp_name}}
                            </td>
                            <td class="right">
                                {{employee.total_qty}}
                            </td>
                            <td class="right">
                                {{employee.total_amount}}
                            </td> 
                            <td class="right">
                                {{employee.bill_value}}
                            </td>                           
                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>
                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{employee.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td colspan="6" style="border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 88%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="si_no">

                                            </th>
<!--                                            <th style="padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="invoice_number">

                                            </th>                                                                                           -->
                                            <th style="" class=""   rowspan="1" colspan="1" translate="product_name">

                                            </th>
                                            <th style=""  rowspan="1" colspan="1" translate="quantity">

                                            </th> 
                                            <th style="" class="right"   rowspan="1" colspan="1" translate="sales_value">

                                            </th>
                                            <!--                                            <th style="" class="right"   rowspan="1" colspan="1" translate="bill_value">
                                                                                            
                                                                                        </th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-show="showDetails[{{employee.flag}}]"  ng-repeat="product in employee.detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 5px;" ui-scroll-to="app" >
                                                {{$index + 1}}
                                            </td>
<!--                                            <td colspan="1" style="padding-left: 5px;" ui-scroll-to="app" >
                                                {{product.invoice_code}}
                                            </td>-->
                                            <td colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                {{product.product_name}}
                                            </td>                                            
                                            <td class="" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                {{product.total_qty}}
                                            </td>                                           
                                            <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                {{product.total_amount}}
                                            </td>
                                            <!--                                            <td class="right" colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" >
                                                                                            {{product.bill_value}}
                                                                                        </td>-->
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="empSalesModel.list.length == 0" >
                        <tr style="font-weight: bold;">
                            <td colspan="2" class="text-left right" >
                                <span translate="total"></span>
                            </td>
                            <td colspan="1" class="right"> 
                                {{empSalesModel.total_qty}}
                            </td>
                            <td colspan="1" class="text-right"> 
                                {{empSalesModel.total_Amount}}
                            </td>                           
                            <td colspan="1" class="text-right"> 
                                {{empSalesModel.total_Bill_Amount}}
                            </td>
                            <td colspan="1" class="text-right">                                
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


