<div class="app-content-body fade-in-up req-stock " data-ng-controller="employeeListCtrl" >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="employee_list"></h2>
            <a data-ui-sref="app.employeeAdd" ui-scroll-to="app" class="add_button add-dash" translate="add_new"></a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <div class="head_right table-search wrapper-sm clearfix ">
                <div class="sea">
                    <input type="text"
                           placeholder="{{'code'| translate}}"
                           name="empcode"
                           data-ng-model="searchFilter.emp_code"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
                <div class="sea">
                    <input type="text"
                           placeholder="{{'name'| translate}}"
                           name="fname"
                           data-ng-model="searchFilter.fname"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
                <div class="sea">
                    <input type="text"
                           name="mobile"
                           placeholder="{{'mobile'| translate}}"
                           data-ng-model="searchFilter.mobile"
                           class="form-control " data-ng-change="initTableFilter()" />
                    <span class="glyphicon glyphicon-search head-right-search "></span>
                </div>
                <div class="sea" >
                    <select class="form-control "
                            ng-model="searchFilter.activeOrDeactiveEmployee"
                            data-ng-change="initTableFilter()"
                            angular-localstorage-field='true'
                            name="activeDeactiveEmployeeDropDown"
                            >
                        <option value="" translate="active" ></option>
                        <option value="1" translate="deactive"></option>
                    </select>

                </div>

            </div>
            <div class="table-responsive ">
                <table class="table  no-link  table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 30px;"  rowspan="1" colspan="1" translate="id">

                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="code">

                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="name">

                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1" translate="email">

                            </th>
                            <th style="width:100px;"   rowspan="1" colspan="1" translate="phone">

                            </th>
                            <th style="width: 50px;"   rowspan="1" colspan="1" translate="action">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="employeeModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="employeeModel.list.length == 0">
                            <td colspan="6" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="employee in employeeModel.list">
                            <td>
                                <a data-ui-sref="app.employeeEdit({id:'{{employee.statusType}}'})" ui-scroll-to="app" >
                                    {{employee.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.employeeEdit({id:'{{employee.statusType}}'})" ui-scroll-to="app" >
                                    {{employee.employee_code}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.employeeEdit({id:'{{employee.statusType}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{employee.name}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.employeeEdit({id:'{{employee.statusType}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{employee.email}}
                            </td>
                            <td>
                                <a data-ui-sref="app.employeeEdit({id:'{{employee.statusType}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{employee.mobile}}
                            </td>
                            <td>
                                <a data-ui-sref="app.employeeEdit({id:'{{employee.statusType}}'})" ui-scroll-to="app"  >
                                    <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                </a>
                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(employee.id)">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="employeeModel.list.length == 0" >
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label translate="show"></label>
                                <select firstName = "perpage"
                                        ng-model="employeeModel.limit"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="6" class="text-right">
                                <ul uib-pagination total-items="employeeModel.total" ng-model="employeeModel.currentPage" ng-change="getList()" items-per-page="employeeModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteEmployeeLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteEmployeeInfo()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" translate="cancel"></button></center>
    </div>
</div>


