<script type="text/ng-template" id="incomecategory_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="expensereportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="expense_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <a href="{{APP_CONST.API.EXPENSEREPORT_DOWN}}?from_Date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_Date={{todate|date:'yyyy-MM-dd'}}&account_category={{searchFilter.incomeCategoryInfo.name}}&is_active=1&mode=1&created_by={{searchFilter.credited_by}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="expensereport_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false"    angular-localstorage-field='true'  
                               close-text="Close"   validator = "validationFactory.hasRequired(searchFilter.fromdate)== false || validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               show-weeks="false"     angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.hasRequired(searchFilter.todate)== false || validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="incomecategory_dropdown"
                               ng-model="searchFilter.incomeCategoryInfo"
                               placeholder ="{{'select_category' | translate}}"
                               uib-typeahead="category for category in getIncomeCategoryList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               angular-localstorage-field='true'
                               typeahead-editable="false"
                               typeahead-template-url="incomecategory_dropdown_tpl.html"
                               typeahead-input-formatter="formatincomeCategoryModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> 
                            <span translate="no_results_found"></span>
                        </div>
                    </div>
                    <div class="sea" style="    width: 18.15%;">
                        <select class="form-control " name="user_dropdown"
                                ng-model="searchFilter.credited_by" data-ng-change="findUserName()"  angular-localstorage-field='true'>
                            <option value="" translate="user"></option>
                            <option value="{{user.id}}" ng-repeat=" user in expensereportModel.userlist">{{user.f_name}}({{user.username}})</option>
                        </select>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row rowbtn">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="expensereportModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":expensereportModel.isSearchLoadingProgress}'
                                        translate="search">
                                    
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary "  data-ng-click="clearFilters()" angular-validator-form-reset translate="clear">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                </div>   
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"></span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span>  {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="customer_name:"></span>{{searchFilter.incomeCategoryInfo == '' ? '-' : searchFilter.incomeCategoryInfo.name}}</li>
                    <li class="col-sm-4 "><span translate="user_name:"></span>{{expensereportModel.userName == '' ? '-' : expensereportModel.userName}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table  no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="date">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="particular">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="category">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="created_by">
                                
                            </th>
                            <th style="width: 120px;"  rowspan="1" colspan="1" class="right" translate="amount">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="expensereportModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="expensereportModel.list.length == 0">
                            <td colspan="5" class="text-center" >
                                
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="expensereport in expensereportModel.list">
                            <td>
                                {{expensereport.transaction_date}}
                            </td>
                            <td>
                                {{expensereport.particulars}}
                            </td>
                            <td>
                                {{expensereport.account_category}}
                            </td>
                            <td>
                                {{expensereport.created_by_name}}
                            </td>
                            <td class="right">
                                {{expensereport.amount}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="expensereportModel.list.length == 0" >
                        <tr>
                            <td colspan="4" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{expensereportModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>                  
                </table>
            </div>
        </div>
    </div>   
    </div>