<script type="text/ng-template" id="tax_dropdown_tpl.html">
    <a>
        <span ng-bind-html="match.model.tax_name | uibTypeaheadHighlight:query"></span>
        <span>({{match.model.tax_percentage}} %)</span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="hsncodeEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="hsncode_edit"></h2>
            <a ui-sref="app.hsncode" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            <!--                <a href="javascript:void(0)" data-ng-click="initTableFilter()"  class="add_button add-dash">Refresh</a>-->
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="edit_hsncode_form" angular-validator-submit="modifyHsncode()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="hsncode_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "hsncode"
                                            ng-model = "hsnModel.hsn_code"
                                            placeholder="{{'hsncode_req'| translate}}"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="type_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select name = "type" class="form-control" ng-model="hsnModel.type" required>
                                        <option value="">-Select Type-</option>
                                        <option value="product" >Product</option>
                                        <option value="service" >Service</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 topmarginxs right ">
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="description_req"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">

                                <textarea rows="7" cols="150"  maxlength="150"
                                          class="form-control "
                                          name = "description_req"
                                          ng-model = "hsnModel.description"
                                          placeholder="{{'description'| translate}}"
                                          required
                                          ></textarea>
                            </div>
                        </div>

                    </div>
                    <hr class="topmargin bottommargin hr-set">
                    <div class="row wrapper-md">
                        <h2 style="float: left;" translate="tax_details"></h2>
                        <a href="javascript:void(0)" id="add" class="add_button add-dash" ng-click="addTaxInfo()" style="margin-top: -5px;" translate="add_tax"></a>      
                        <div class="row toppadding">
                            <div class="over-div">
                                <table style="width: 100%;" class="table no-link table-striped b-t  dataTable no-footer productMap Cus-edit-table scrollTab" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info"> 
                                    <thead>
                                        <tr >
                                            <th translate="from_price"></th>
                                            <th style="text-align: center;" translate="to_price"></th>
                                            <th style="text-align: center;" translate="tax"></th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-if="hsnModel.hsnTaxMapping.length == 0">
                                            <td colspan="4" class="text-center" style="padding: 10px;"translate="no_data_found">
                                                
                                            </td>
                                        </tr>
                                        <tr data-ng-repeat="tax in hsnModel.hsnTaxMapping" data-ng-if="hsnModel.hsnTaxMapping.length > 0">
                                            <td class="date-drpdwn" style="padding:5px;">
                                                <input  type = "text"
                                                    class="form-control"
                                                    name = "fromprice_{{$index}}"
                                                    required
                                                    ng-model = "tax.from_price"
                                                    placeholder="{{'from_price'| translate}}"
                                                    required
                                                    angular-validator-field
                                                    />
                                            </td>
                                            <td class="date-drpdwn" style="padding:5px;">
                                               <input  type = "text"
                                                    class="form-control"
                                                    name = "toprice_{{$index}}"
                                                    required
                                                    ng-model = "tax.to_price"
                                                    ng-change="checkTaxInfo(tax,$index,tax.to_price)"
                                                    placeholder="{{'to_price'| translate}}"
                                                    validator = " tax.to_price > tax.from_price "
                                                    required
                                                    angular-validator-field
                                                    />
                                            </td>
                                            <td style="text-align: center;padding:5px;">
                                                <input  type = "text"
                                                    class="form-control"
                                                    name = "tax_{{$index}}"
                                                    ng-model = "tax.taxInfo"
                                                    uib-typeahead="tax for tax in getTaxList($viewValue)"
                                                    typeahead-loading="loadingLocations"
                                                    typeahead-no-results="noResults"
                                                    typeahead-min-length="0"
                                                    placeholder ="{{'add_tax'| translate}}"
                                                    typeahead-editable="false"
                                                    typeahead-on-select="updateNextRow(tax,$index)"
                                                    typeahead-template-url="tax_dropdown_tpl.html"
                                                    typeahead-input-formatter="formatTaxModel($model)"
                                                    autocomplete="off"
                                                    required
                                                    angular-validator-field
                                                    />
                                            </td>
                                            <td style="padding:5px;">
                                                <a style="margin-right: 17px;" ng-click="deleteTaxInfo({{tax.index}})">
                                                    <img style="margin-top: 10px;" class="icon icons8-Edit" src="../img/close.png" width="18" height="18">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
