<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a> 	
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="category_dropdown__tpl.html">
    <a> 	
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="inventoryStockCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <div ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                <h2 translate="inventory_list"></h2>
            </div>
            <div ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                <h2 translate="re_order_level_stock"></h2>
            </div>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()" translate="print"></a> 
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="inventory_stock_list_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea">
                        <input type="text"
                               name="productname"
                               placeholder="{{'name' | translate}}"
                               data-ng-model="searchFilter.name"
                               angular-localstorage-field='true'
                               class="form-control " data-ng-change="initTableFilter()" />
                    </div>
                    <div class="sea">
                        <select class="form-control "data-ng-change="initTableFilter('category')"
                                ng-model="searchFilter.category" angular-localstorage-field='true' name="categor_dropdown">
                            <option value="" translate="select"></option>
                            <option value="{{category.id}}" ng-repeat=" category in inventoryStockModel.categoryList">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="sea" >
                        <select class="form-control "
                                ng-model="searchFilter.miniquantity"
                                data-ng-change="initTableFilter('qty')"
                                name="miniquantitydropdown"
                                angular-localstorage-field='true'
                                >
                            <option value="" translate="all"></option>
                            <option value= "1" translate="more_than_minimum_stock"></option>
                            <option value= "2" translate="less_than_minimum_stock"> </option>
                        </select>
                    </div>
                    <!--                              <div class="sea ">
                                                        <button class="btn-sm btn-primary "  data-ng-click="initTableFilter()">
                                                              Search 
                                                        </button>
                                                  </div>
                                                  <div class="sea">
                                                        <button class="btn-sm btn-primary " data-ng-click="clearFilters()">
                                                              Clear
                                                        </button>
                                                  </div>-->
                    <div class="sea chk chko" style="padding-top: 5px;">
                        <input  type = "checkbox"
                                class=" "
                                id="category"
                                ng-model="checked" style="top: 4px;"
                                data-ng-change="initTableFilter()"
                                />
                        <label for="category" translate="show_category_wise_stock"></label>
                    </div>
                    <div class="sea chk chko" style="padding-top: 5px;float:right;">
                        <input  type = "textbox"
                                class=" "
                                id="colorindicator"
                                style="width: 19px;border: 0px;height: 18px;border-radius: 6px;"
                                ng-style="{'background-color': '#ffcaba'}"
                                readonly
                                />
                        <label for="colorindicator" translate="stock_less_indicator"></label>
                    </div>
                    <!--                    <div class="col-sm-6 ">
                                            <div class="row ">
                                                <div class="col-sm-2 ">
                                                    <button class="btn-sm btn-primary "  data-ng-click="initTableFilter()">
                                                        Search 
                                                    </button>
                                                </div>
                                                <div class="col-sm-2 ">
                                                    <button class="btn-sm btn-primary " data-ng-click="clearFilters()">
                                                        Clear
                                                    </button>
                                                </div>
                                                <div class="col-sm-4 chk chko" style="padding-top: 5px;">
                    
                                                    <input  type = "checkbox"
                                                            class=" "
                                                            id="category"
                                                            ng-model="checked" style="top: 4px;"
                                                            />
                                                    <label for="category">Show Categorywise Stock</label>
                    
                                                </div>
                                            </div>
                                        </div>-->
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="name:"> </span> {{searchFilter.name == '' ? '-' : searchFilter.name}}</li>
                    <li class="col-sm-4 "><span translate="category:"></span>{{searchFilter.category == '' ? '-' : searchFilter.category_name}}</li>
                    <li class="col-sm-4 "><span translate="qty:"> </span> {{searchFilter.miniquantity == '' ? '-' : searchFilter.miniquantity_name}}</li>
                </ul>
            </div>
            <div class="table-responsive "  data-ng-show="!showCategory && appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <!--                            <th style="width:110px;" rowspan="1" colspan="1" >
                                                            #
                                                        </th>-->
                            <th  style="width:250px;" rowspan="1" colspan="1" translate="name">

                            </th>
                            <th style="width:180px;" rowspan="1" colspan="1" translate="sku">

                            </th>
                            <th style="width:180px;" rowspan="1" colspan="1" translate="code">

                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1" translate="uom_name">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="quantity">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="minimum_stock_quantity">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1"
                                data-ng-show="!checked">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="inventoryStockModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="inventoryStockModel.list.length == 0">
                            <td colspan="7" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr   data-ng-repeat="product in inventoryStockModel.list">
                            <td>
                                <span data-ng-if='$index == 0'> 
                                    <b>  {{product.category_name}}</b>
                                </span >

                                <span data-ng-if='$index != 0'> 
                                    <b>{{product.category_name != $parent.inventoryStockModel.list[$index-1].category_name ? product.category_name : ''}}</b>
                                </span>
                                <br>
                                {{$index + 1}} . {{product.name}} 

                            </td>
                            <td> 
                                <span> 
                                </span>
                                <br>
                                {{product.sku}} 
                            </td>
                            <td> 
                                <span> 
                                </span>
                                <br>
                                {{product.barcode}} 
                            </td>
                            <td> 
                                <span> 
                                </span>
                                <br>
                                {{product.uom}}
                            </td>
                            <td class="right"> 
                                <span> 
                                </span>
                                <br>
                                {{product.quantity}} 
                            </td>
                            <td class="right"> 
                                <span> 
                                </span>
                                <br>
                                {{product.min_stock_qty}} 
                            </td>
                            <td class="right" data-ng-show="!checked"> 
                                <span> 
                                </span>
                                <br>
                                <button class="btn-sm btn-primary " data-ng-click="showLabelPopup($index)">
                                    Label
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- Table Two  -->      
            <div class="table-responsive " ng-show="showCategory">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 630px;"  rowspan="1" colspan="1" translate="category_name">

                            </th>                                                        
                            <th style="width: 160px;"  rowspan="1" colspan="1"  class="right" translate="quantity">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="minimum_stock_quantity">
                                Minimum Stock  Quantity
                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="differenced_quantity">
                                Differenced Quantity
                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="diff_quantity">
                                Diff.Quantity %
                            </th>
                            <th style="width: 110px;"  rowspan="1" colspan="1" class="right" translate="action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="inventoryStockModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="inventoryStockModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="inventoryStock in inventoryStockModel.list" ng-click="show(inventoryStock.flag)"  style="color:black;">

                            <td style="padding: 5px 10px;">
                                {{inventoryStock.name == '' ? 'Uncategorized' : inventoryStock.name}}                   
                            </td>                               
                            <td class="right">
                                {{inventoryStock.quantity}}
                            </td>
                            <td class="right"> 
                                {{inventoryStock.min_stock_qty}} 
                            </td> 
                            <td class="right"> 
                                {{inventoryStock.diff_stock_qty}} 
                            </td>
                            <td class="right"> 
                                {{inventoryStock.diff_qty_percentage}} 
                            </td>
                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>
                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{inventoryStock.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 500px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="product_name">

                                            </th>
                                            <th style="width: 500px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="sku">

                                            </th>
                                            <th style="width: 500px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="uom_name">

                                            </th>
                                            <th style="width: 200px;"  rowspan="1" colspan="1" translate="quantity">

                                            </th>
                                            <th style="width: 200px;"  rowspan="1" colspan="1" translate="minimum_stock_quantity">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  data-ng-show="showDetails[{{inventoryStock.flag}}]"  data-ng-repeat="product in inventoryStock.data" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 5px;" >
                                                {{product.name}}
                                            </td >
                                            <td colspan="1" >
                                                {{product.sku}}
                                            </td>
                                            <td colspan="1"  >
                                                {{product.uom}}
                                            </td>
                                            <td colspan="1" >
                                                {{product.qty}}
                                            </td>
                                            <td colspan="1" >
                                                {{product.min_stock_qty}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Table Three -->
            <div class="table-responsive "  data-ng-show="!showCategory && appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <!--                            <th style="width:110px;" rowspan="1" colspan="1" >
                                                            #
                                                        </th>-->
                            <th  style="width:250px;" rowspan="1" colspan="1" translate="name">

                            </th>
                            <th style="width:180px;" rowspan="1" colspan="1" translate="sku">

                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1" translate="uom_name">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="quantity">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="minimum_stock_quantity">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="differenced_quantity">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1" translate="diff_quantity">

                            </th>
                            <th style="width:150px;" class="right" rowspan="1" colspan="1"
                                data-ng-show="!checked">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="inventoryStockModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="inventoryStockModel.list.length == 0">
                            <td colspan="8" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="product in inventoryStockModel.list">
                            <td class="" colspan="21" style="padding-top: 10px;padding-bottom: 5px;" data-ng-if='$index == 0'><b>{{product.category_name}}</b></td>
                            <td  class="" colspan="21" style="padding-top: 10px;padding-bottom: 5px;"  data-ng-if='$index != 0 && product.category_name != $parent.inventoryStockModel.list[$index - 1].category_name'><b>{{product.category_name}}</b></td>
                        </tr>
                        <tr ng-click="show(product.flag)">
                            <td  ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}">
                                <!--                                <span data-ng-if='$index == 0'> 
                                                                    <b>  {{product.category_name}}</b>
                                                                </span >
                                
                                                                <span data-ng-if='$index != 0'> 
                                                                    <b>{{product.category_name != $parent.inventoryStockModel.list[$index-1].category_name ? product.category_name : ''}}</b>
                                                                </span>
                                                                <br>-->
                                {{$index + 1}} . {{product.name}} 
                            </td>
                            <td  ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                                {{product.sku}} 
                            </td>
                            <td  ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                                {{product.uom}}
                            </td>
                            <td class="right"  ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                                {{product.quantity}} 
                            </td> 
                            <td class="right"  ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                                {{product.min_stock_qty}} 
                            </td> 
                            <td class="right"  ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                                {{product.diff_stock_qty}} 
                            </td>
                            <td class="right"  ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                                {{product.diff_qty_percentage}} 
                            </td>
                            <td class="right" data-ng-show="!checked"  ng-style="{'background-color': (inventoryStockModel.list[$index].isOrangeApplied == true ? '#ffcaba':'#f9fafb')}"> 
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>
                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{product.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 500px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="purchase_invoice_id">

                                            </th>
                                            <th style="width: 500px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="product_name">

                                            </th>
                                            <th style="width: 500px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="code">

                                            </th>
                                            <th style="width: 500px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="sku">

                                            </th>
                                            <th style="width: 200px;"  rowspan="1" colspan="1" translate="quantity">

                                            </th>
                                            <th style="width: 100px;" class="right"  rowspan="1" colspan="1" >

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  ng-show="showDetails[{{product.flag}}]"  data-ng-repeat="pro in product.data" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 5px;" >
                                                {{pro.purchase_invoice_id}}
                                            </td >
                                            <td colspan="1" style="padding-left: 5px;" >
                                                {{pro.product_name}}
                                            </td >
                                            <td colspan="1"  >
                                                {{pro.bcnBarCode}}
                                            </td>
                                            <td colspan="1" >
                                                {{pro.product_sku}}
                                            </td>
                                            <td colspan="1" >
                                                {{pro.qty_in_hand}}
                                            </td>
                                            <td colspan="1" class="right">
                                                <button class="btn-sm btn-primary " data-ng-click="showLabelPopup($parent.$index, $index)">
                                                    <span translate="label"></span>
                                                </button>   
                                            </td>
                                        </tr>
                                        <tr data-ng-show="product.data.length == 0" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="4" class="text-center" >
                                                <span translate="no_data_found"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                </table>    

            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showLabel" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showLabel" style="width: 590px;">
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>

        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteCategoryLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="showDownloadQty()" data-ng-hide="showQty || showDownQty" translate="download_current_label"></button></br></br>
            <button type="Cancel" data-ng-hide="showQty || showDownQty" class="btn btn-sm btn-primary btn_grn" data-ng-click="showqty()" translate="relabel"></button></center>
        <div class="in-div">
            <form name="add_qty_form" angular-validator-submit="saveRelabel()"  data-ng-show='showQty' class="form-horizontal category-form clearfix clear1" novalidate angular-validator >
                <div class="form-group clearfix">
                    <div class="col-sm-12">
                        <label translate="quantity_required"></label>
                        <input type="text"
                               class="form-control"
                               name = "qty"
                               ng-model = "inventoryStockModel.qty"
                               placeholder="{{'type_quantity'| translate}}"
                               validator="inventoryStockModel.qty > 0"
                               required

                               />
                    </div>
                    <div class="col-sm-12">
                        <label translate="price_required"></label>
                        <input type="text"
                               class="form-control"
                               name = "price"
                               ng-model = "inventoryStockModel.price"
                               placeholder="{{'type_price'| translate}}"
                               required

                               />
                    </div>
                    <button type="submit"   data-ng-class='{"btn-loader":relabelSaveProcess}' data-ng-disabled="relabelSaveProcess" class="btn btn-sm btn-primary bg-btn-blue topmarginsm" style="padding: 7px 20px 7px 20px;margin-left: 7px;" translate="save_relabel"></button>
                </div>
            </form>
        </div>
        <div class="in-div">
            <form style="width: 100%;" name="add_qty_form" angular-validator-submit="downloadCurrentLabel()"  data-ng-show='showDownQty' class="form-horizontal category-form clearfix " novalidate angular-validator >
                <div class="col-sm-12 center">
                    <label class="popup-labl" translate="quantity_required"></label>
                </div>
                <div class="col-sm-12 center">
                    <div class="form-group clearfix" data-ng-show='showDownQty'>

                        <input type="text"
                               class="form-control"
                               name = "downqty"
                               ng-model = "inventoryStockModel.downqty"
                               placeholder="{{'type_quantity'| translate}}"
                               />
                    </div>
                    <center> <a href="{{APP_CONST.API.DOWNLOAD_CURRENT_LABEL}}?id={{inventoryStockModel.purchaseid}}&type=inventory&qty={{inventoryStockModel.downqty}}"
                                ui-scroll-to="app" class="add_button add-dash" data-ng-click='closePopup()' translate="download_label"></a></br></br>

                </div>
            </form>
        </div>
        <a style="margin-left: 13%;" href="javascript:void(0)" data-ng-show="showQty || showDownQty" data-ng-click="enableButtons()"><img height="35" width="35" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEhSURBVGhD7dhPagIxFAbwWdULlF6hYCkIXXWT4G4KbSdBPEqhp3HRhYsuNVG6Lq49QcEraLct+gbmQZBsRijje/1+8MARDPmI+TMpAAAAAOD89cfvF81HuWwVBsbHafMok/Fzb1z4Nj58Nl/JY114tS7+Wh/3IoOU5aJnXHyrA3CJC3LvP66o46s0hLggpoq3NBKb4xCigphq8UQd3h0H4BIRhCb1C43ETy4AF61e66ELd39az8vrpkvt1JscLa2TXMe7qJNG3T7OLusf5hrsqloHGY6WN7Q/fOUa67JaBaG58GB92OYa6rr+Z5Cair8WUzHZmYrlNyV+Q0ypOKIwFYdGpuIYz1S8WKXEv+qmVFw+MBXXQUzFBR0AAAAAZBTFAeoDx0ZVQWa4AAAAAElFTkSuQmCC"></a>

    </div>
</div>
