<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->


<div class="app-content-body invoice-container  req-stock " data-ng-controller="invoiceViewCtrl" >
    <div class="panel panel-default hide-print ">
        <div class="panel-heading clearfix ">
            <h2 translate="sales_invoice_view"></h2>
            <div class=" right action-links " >
                <!--<button id="cmd">generate PDF</button>-->
                <!--                <a href="javascript:void(0)" class=" " data-ng-click="exportAsPDF()">
                                    Export As PDF
                                </a>-->
                <!--                <a href="javascript:void(0)" ng-show="appConfig.invoice_print_template == 't1' || appConfig.invoice_print_template == 't2'"  class="btn btn-sm btn-primary btn_grn" data-ng-click="print()">
                                    Print
                                </a>-->
                <a ui-sref="app.invoiceReturnAdd({id: '{{stateParamData}}'})" ui-scroll-to="app" ng-if=" showRefund== true " translate="create_refund">
                    
                </a>    
                <a href="{{APP_CONST.INVOICE_PRINT_URL}}?no={{orderListModel.invoiceDetail.id}}&type=1" class="btn btn-sm btn-primary btn_grn" target="_blank" translate="print">
                    
                </a>
                <a data-ng-hide="orderListModel.invoiceDetail.status == 'paid' || orderListModel.invoiceDetail.status == 'partiallyPaid' || orderListModel.invoiceDetail.is_pos == 1" data-ui-sref="app.invoiceEdit({id: '{{stateParamData}}'})" ui-scroll-to="app" class="btn btn-sm btn-primary btn_orng" translate="edit">
                    
                </a>
                <a ui-sref="app.invoice" ui-scroll-to="app" href="#/invoice" translate="back_to_list">
                    
                </a>
            </div>
        </div>
        <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
                <img alt="loader" src="../img/loading.gif" />
            </p>
        </div>
    </div>

    <div class="animated fadeInUp  clearfix ">
        <div class="container invoice-wrapper clearfix ">
            <div class="row clearfix ">
                <div class="col-sm-8 print-invoice-view  ">
                    <div class="invoice-view invoice-view1 ">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="invoice-top-head   clearfix ">
                                    <div class="row flex clearfix ">
                                        <div class="col-sm-8 invoice-top-head-title wrapper-md">
                                            <img ng-src="../img/logo/{{appDomain}}.png" />
                                            <h2 translate="invoice_view"></h2>
                                        </div>
                                        <div class="col-sm-4 due-amnt ">
                                             <span translate="amount_due"></span>
                                            ({{currencyFormat}})
                                            <span><span class="rupee ">{{currencyFormat}}.</span>{{orderListModel.new_balance_amount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row  ">
                            <div class="invoice-top-info clearfix ">
                                <div class="col-sm-7  " style="width:45%;">
                                    <div class=" wrapper-md ">
                                        <div ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                        </div></br>
                                        <div ng-bind-html="appConfig.bank_detail | trustedhtml">
                                        </div>
                                        <p class="uppercase "><b translate="bill_to"></b></p>
                                        <p>
                                            <strong>{{orderListModel.customerInfo.fname}}</strong>
                                        </p>
                                        <p>
                                            {{orderListModel.customerInfo.phone}}
                                        </p>
                                        <p>
                                            {{orderListModel.customerInfo.email}}
                                        </p>
<!--                                        <ul data-ng-show="(orderListModel.customerAttributeInfo | filter:{is_show_in_invoice:1}).length > 0" data-ng-repeat="attr in orderListModel.customerAttributeInfo">
                                            <p data-ng-show="attr.is_show_in_invoice == 1">
                                                {{attr.attribute_code}}:{{attr.value}}
                                            </p>
                                        </ul>-->
                                    </div>
                                </div>
                                
                                <div class="col-sm-5 " style="width:55%;">
                                    <div class=" wrapper-md ">
                                        <p>
                                            <strong translate="invoice_number:"></strong>{{orderListModel.invoiceDetail.invoice_code}}
                                            <!--                                            <strong>Invoice Number: </strong>{{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.invoice_code}}-->
                                        </p>
                                        <p>
                                            <strong translate="invoice_date:"></strong>{{orderListModel.billdate}}
                                            <!--Feb 5, 2017-->
                                        </p>
                                        <p>
                                            <strong translate="payment_due:"></strong>{{orderListModel.duedate}}
                                            <!--Feb 5, 2017-->
                                        </p>
                                        <p>
                                            <strong translate="gst_no:"></strong>{{appConfig.customer_gst_no}}
                                        </p>
                                        <p>
                                            <strong translate="customer_gst_no_colon"></strong>{{orderListModel.customerInfo.gst_no}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="invoice-prod-list table-responsive ">
                            <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 70px;"  >
                                            #
                                        </th>
                                        <th class="left" style="width: 250px;" translate="product_name">
                                           
                                        </th>
                                        <th class="right " style="width: 100px;" data-ng-hide="!appConfig.uomdisplay">
                                            {{appConfig.uomlabel}}
                                        </th>
                                        <th class=" " style="width: 140px;" translate="employee_code">
                                           
                                        </th>
                                        <th class="right " style="width: 70px;" translate="quantity">
                                           
                                        </th>
                                        <th class="right " style="width: 150px;" translate="price">
                                            
                                        </th>
                                        <th class="right " style="width: 150px;" translate="row_total">
                                            
                                        </th>
                                    </tr>
                                <tbody>
                                    <tr data-ng-repeat="order in orderListModel.list">
                                        <td class="center ">
                                            {{$index + 1}}
                                        </td>
                                        <td  class="left " >
                                            {{order.productName}}
                                            <ul>
                                                <li>
                                                    {{order.invoice_item_custom1_label_name}} {{order.invoice_item_custom1_label_value}}
                                                </li>
                                                <li>
                                                    {{order.invoice_item_custom2_label_name}} {{order.invoice_item_custom2_label_value}}
                                                </li>
                                                <li>
                                                    {{order.invoice_item_custom3_label_name}} {{order.invoice_item_custom3_label_value}}
                                                </li>
                                                <li>
                                                    {{order.invoice_item_custom4_label_name}} {{order.invoice_item_custom4_label_value}}
                                                </li>
                                                <li>
                                                    {{order.invoice_item_custom5_label_name}} {{order.invoice_item_custom5_label_value}}
                                                </li>
                                                <li>Barcode  : {{order.barcode}}</li>
                                            </ul>
                                        </td>
                                        <!--                                        <td class="left" >
                                                                                    {{order.sku}}
                                                                                </td>-->
                                        <td class="right " data-ng-hide="!appConfig.uomdisplay">
                                            {{order.uom}}
                                        </td>
                                        <td class="">
                                            {{order.emp_code}} - {{order.emp_name}}
                                        </td>
                                        <td class="right" >
                                            {{order.qty}}
                                        </td>
                                        <td class="right " ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                            {{order.sales_price}}
                                        </td>
                                        <td class="right " ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                            {{order.rowtotal}}
                                        </td>
                                        <td class="right " ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                                            {{order.selling_price}}
                                        </td>
                                        <td class="right " ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                                            {{order.sales_rowtotal}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}" >
                                            <strong><span translate="total_qty:"></span></strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{orderListModel.total_qty}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}" >
                                            <span translate="sub_total"></span>
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{orderListModel.subtotal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}" >
                                            <span translate="discount:"></span>
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{orderListModel.discountAmt}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}" >
                                            <span translate="taxable_amount:"></span> 
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{orderListModel.taxableamount}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 4}}" >
                                            &nbsp;
                                        </td>
                                        <td class="right " colspan="3" >
                                            <table>
                                                <tr>
                                                  <th>
                                                     &nbsp;
                                                  </th>
                                                  <th style="text-align: center" data-ng-repeat="tax in orderListModel.taxPercentageInfo">
                                                     {{tax}}%
                                                  </th>
                                                  <th>
                                                     Total({{currencyFormat}})
                                                  </th>
                                                </tr>
                                                <tr data-ng-repeat="tax in orderListModel.taxInfo">
                                                    <td>
                                                        {{tax.name}}
                                                    </td>
                                                    <td data-ng-repeat="taxAmnt in tax.taxAmountInfo | orderBy : 'value'">
                                                        {{taxAmnt.amount}}
                                                    </td>
                                                    <td>
                                                        {{tax.totalTaxAmnt}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="{{colValue}}">
                                                        Total Tax
                                                    </td>
                                                    <td colspan="1">
                                                       {{overAllTaxAmount}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
<!--                                    <tr data-ng-repeat="tax in orderListModel.taxDetails">
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}" >
                                            {{tax.tax_name}}:
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{tax.amount}}
                                        </td>
                                    </tr>-->
                                    <tr>
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}">
                                            <span translate="round_off"></span>
                                        </td>
                                        <td class="right " colspan="1">
                                            {{currencyFormat}}.{{orderListModel.roundoff}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="left " colspan="2">
                                            <strong>{{orderListModel.amountinwords}} Only</strong>
                                        </td>
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 4 : 3}}" >
                                            <strong><span translate="grand_total:"></span>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.total}}</strong>
                                        </td>
                                    </tr>
                                    <tr data-ng-repeat="order in orderListModel.paymentList">
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}">
                                            Payment on {{order.newdate}} using {{order.payment_mode}} :
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{order.amount}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}">
                                            <strong><span translate="paid_amount"></span>({{currencyFormat}}):</strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.paid_amount}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right "  colspan="{{appConfig.uomdisplay == 1 ? 6 : 5}}">
                                            <strong><span translate="balance_due_amount:"></span> ({{currencyFormat}}):</strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.new_balance_amount}}</strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="wrapper-md " data-ng-show="(orderListModel.invoiceDetail.customattribute | filter:{is_show_in_invoice:1}).length > 0">
                            <div class="row ">
                                <div class="col-sm-12 " >
                                    <h4>Other Details</h4>
                                </div>
                                <div class="col-sm-3 " data-ng-repeat="attr in orderListModel.invoiceDetail.customattribute| filter:{is_show_in_invoice:1}">
                                    <p data-ng-show="attr.is_show_in_invoice == 1">
                                        {{attr.attribute_label}}:{{attr.value}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" uppercase invoice-status "  >
                            {{orderListModel.invoiceDetail.status}}
                        </div>
                        <div class="wrapper-md " data-ng-show="orderListModel.invoiceDetail.notes != ''">
                            <div class="row ">
                                <div class="col-sm-12 " >
                                    <h4>Notes</h4>
                                </div>
                                <div class="col-sm-12">
                                    <p>
                                        {{orderListModel.invoiceDetail.notes}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-md ">
                            {{appConfig.signature}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 invoice-info hide-print ">
                    <div class="created-date sep clearfix  " >
                        <h2 translate="create_invoice"></h2>
                        <strong translate="created_on:">  </strong> {{orderListModel.billdate}}
                    </div>
                    <div class="send-invoice sep clearfix " >
                        <h2 translate="send_invoice"></h2>
                        <strong translate="last_sent_on:"> </strong> {{orderListModel.billdate}}
                        <!--                    <a href="javascript:void(0)" data-ng-click="showSendInvPopup( )" class="btn " >Resend Invoice ...</a>-->
                    </div>
                    <div class="pdf-invoice sep clearfix ">
                        <a ng-href="{{APP_CONST.INVOICE_DOWNLOAD}}/{{orderListModel.invoiceDetail.id}}"
                           target="_blank" ui-scroll-to="app" class="add_button add-dash" translate="download_PDF"></a>
                    </div> 
                    <div class="payment-details sep clearfix " >
                        <h2 translate="get_paid"></h2>
                        <strong translate="status:"></strong>
                        <div class=" " ng-if= "orderListModel.status" translate="paid"> </div>
                        <div class=" " ng-if= "!orderListModel.status" translate="Your_invoice_is_awaiting_payment"> </div>
                        <br/>
                        <strong translate="paid_amount:"> </strong> {{orderListModel.paid_amount}} <br/>
                        <!--                    <a href="javascript:void(0)" >Send Remainder ...</a>-->
                        <div class="rec-payment " data-ng-hide="orderListModel.status == true">
                            <a href="javascript:void(0)" data-ng-click="showPaymentPopup()" class="btn " translate="record_payment"></a>
                        </div>
                        <div class="payment-list clearfix ">
                            <strong translate="payment_received:"></strong>
                            <ul data-ng-repeat="order in orderListModel.paymentList">
                                <li>
                                    {{order.newdate}} - A payment for <strong>{{currencyFormat}}.{{order.amount}}</strong> was made by {{order.payment_mode}}.<br/>
                                    <!--<a href="javascript:void(0)" data-ng-click="showPopup(order.id)">Send a Receipt</a> --->  
                                    <!--                                    <a href="javascript:void(0)"data-ng-click="showPaymentPopup(order.id)">Edit</a> -->
                                    <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a> - 
                                    <a href="/public/admin/#/payment-print/{{order.id}}">Print</a>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
    <div class="model_popup" ng-if="showpopup" >
        <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
        </div>
    </div>

    <div class="model_overlay" ng-if="showSendInvoicePopup" ng-click="closePopup()" ></div>
    <div class="model_popup" ng-if="showSendInvoicePopup" >
        <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
        </div>
    </div>

    <div class="model_overlay" ng-if="paymentRemovePopup" ></div>
    <div class="model_popup delet-popup add_review1_popup" ng-if="paymentRemovePopup">
        <form name="remove_payment_form" angular-validator-submit="removePayment()" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closeRemovePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2 translate="remove_invoice_payment"></h2>
            <div class="form-group">
                <p> Payment for Rs. {{removePaymentAmount}}. <br/><br/>
                    <span translate="are_you_sure_you_want_to_remove_this_invoice_payment?"></span> 
                </p>
            </div>
            <li>
                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataDeletingProcess"  data-ng-class='{"btn-loader":isDataDeletingProcess}' >Remove</button>
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closeRemovePaymentPopup()">Cancel</a>
                </div>
            </li>
        </form>
    </div>
    <div class="model_overlay" ng-if="showPayPopup" ></div>
    <div class="model_popup add_review1_popup" ng-if="showPayPopup">
        <form name="save_payment_form" angular-validator-submit="savePayment()" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2 translate="payment"></h2>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label translate="choose_payment:"></label>
                    <select name="advancedropdown" ng-model="paymentAddModel.advance_Id" class="form-control" 
                            ng-change="checkBalancePayment()">
                        <option value="">-Select-</option>
                        <option value="{{advance.id}}" data-ng-repeat="advance in paymentAddModel.advanceList">{{advance.id}}&nbsp;&nbsp;{{advance.date| date:'dd-MM-yyyy'}}&nbsp;&nbsp;{{advance.balance_amount}}</option>
                    </select>

                </div>
                <div class="col-sm-6 form-group" ng-show="advanceSelected" >
                    <label translate="payment_type"> </label>
                    <label class="form-control" style="text-transform: uppercase;">advance invoice</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label translate="customer_name:"> </label>
                    <input  type = "text"
                            class=""
                            ng-disabled="true"
                            name="account"
                            ng-model = "paymentAddModel.account"
                            placeholder="account"
                            disabled
                            />
                </div>
                <div class="col-sm-6 form-group">
                    <label translate="payment_date_required"></label>
                    <input data-ng-readonly="true" name="invoicedate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                           ng-model="paymentAddModel.invoicedate" is-open="$parent.invoiceDateOpen"
                           show-weeks="false" datepicker-options="dateOptions" min-date="orderListModel.validdate"
                           close-text="Close"
                           required />
                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(2)" >
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </div>
                <div class="col-sm-6 form-group">
                    <label translate="payment_amount_required"></label>
                    <input  type = "text"
                            class="form-control"
                            name = "Amount"
                            ng-model = "paymentAddModel.amount"
                            placeholder="Amount"
                            validator = "validationFactory.isNumber(paymentAddModel.amount) === true && (paymentAddModel.amount>0?true:false)"
                            maxlength="20"
                            required/>
                </div>
                <div class="col-sm-6 form-group">
                    <label translate="payment_terms_required"></label>
                    <select  name="paymentdefault" ng-model="paymentAddModel.payment_mode" class="form-control"                             
                             ng-disabled = "advanceSelected && paymentDefault" required>
                        <option value="" translate="select"></option>
                        <option value="{{paymentterms.name}}" data-ng-hide="advanceSelected" data-ng-repeat="paymentterms in paymentAddModel.paymentlist">{{paymentterms.name}}</option>
                        <option value="advance_allotment" data-ng-show="advanceSelected && advanceType == 'advance_allotment'">Advance Allotment</option>
                        <option value="invoice_return" data-ng-show="advanceSelected && advanceType == 'invoice_return'">Invoice Return</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label translate="category"></label>
                    <select name="category" ng-model="paymentAddModel.category"  class="form-control "  ng-disabled = "advanceSelected">
                        <option value="" translate="select_category"> </option>
                        <option value={{category.name}} data-ng-repeat="category in paymentAddModel.categoryList">{{category.name}}</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group" data-ng-hide="advanceSelected">
                    <label translate="account_required"></label>
                    <select name="accounts" ng-model="paymentAddModel.accouts"  class="form-control"  ng-disabled = "advanceSelected" required>
                        <option value="" translate="select_accounts"> </option>
                        <option value={{accouts.id}} data-ng-repeat="accouts in paymentAddModel.accountsList">{{accouts.account}}</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label translate="comments"></label>
                    <textarea rows="4" cols="50"
                              class="form-control"
                              name = "comments"
                              ng-model = "paymentAddModel.comments"
                              placeholder="Comments"
                              ></textarea>
                </div>
                <div class="col-sm-6 form-group" data-ng-show="paymentAddModel.payment_mode.toLowerCase() == 'cheque'" >
                    <label translate="cheque_number"></label>
                    <input type="text"
                           name = "chequeNo"
                           class="form-control"
                           placeholder="cheque no"
                           ng-model = "paymentAddModel.cheque_no"
                           validator = "validationChequeNo( )"
                           />
                </div>

            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="save"></button>
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closePaymentPopup()" translate="cancel"></a>
                </div>

            </div>
        </form>
    </div>
</div>