<div class="app-content-body fade-in-up"  data-ng-controller="invoicepayAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel-heading clearfix ">
            <h2>Payment Add</h2>
            <a ui-sref="app.invoicePayList" class="add_button" ui-scroll-to="app">Back to Payment List</a>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_payment_form" angular-validator-submit="createPayment()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="form-group">
                        <label>Account</label>
                        <input  type = "text"
                                class="form-control"
                                ng-disabled="true"
                                name = "account"
                                ng-model = "paymentAddModel.account"
                                placeholder="account"
                                />
                    </div>                  
                    <div class="form-group">
                        <label>Invoice Date</label>
                        <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="paymentAddModel.invoicedate" is-open="invoiceDateOpen"
                               min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                               required close-text="Close"  />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="form-group">
                        <label>comments</label>
                        <textarea rows="4" cols="50"
                                  class="form-control"
                                  name = "comments"
                                    ng-model = "paymentAddModel.comments"
                                  placeholder="Enter the comments"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Enter the Amount*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "Amount"
                                ng-model = "paymentAddModel.amount"
                                placeholder="Amount"
                                validator = "validationFactory.isNumber(paymentAddModel.amount) === true"
                                maxlength="20"
                                required/>
                    </div>                    
                    <div class="form-group">
                        <label>Payment Terms</label>
                        <select ng-model="paymentAddModel.paymentMode"  class="form-control">
                            <option value="">Select Payment Mode </option>
                            <option value="cash">Cash</option>
                            <option value="cheque">Cheque</option>
                            <option value="creditcard">Credit Card</option>
                            <option value="debit">Debit</option>
                            <option value="etransfer">Electronic Transfer</option>
                            <option value="paypal">Paypal</option>
                            <option value="atmwithdraw">ATM Withdrawals</option>
                        </select>
                    </div>                    
                    <li>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                        </div>
                    </li>
                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
