<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name + ' (' + match.model.qty_in_hand + ')'  | uibTypeaheadHighlight:query"></span>
    <span ng-if="match.model.qty_in_hand == null">{{match.model.qty_in_hand=0}}</span> 

    <!--<span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>-->
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="empcode_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.employee_code +'('+ match.model.name +')'| uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="invoice_product_container_1" data-ng-controller="invoiceAddCtrl">
    <form name="order_add_form"  angular-validator-submit="createOrder(false)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="sales_invoice_add"></h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' translate="save">
                    </button>
                    <!--                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' ng-submit="createOrder('Mail')" >Save and Send
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng" data-ng-click="showPopup()">
                                            Save and Send
                                        </a>-->
                    <a ui-sref="app.invoice" ui-scroll-to="app" href="#/invoice" translate="back_to_list">
                        
                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <strong class="bottommarginxs " translate="bill_to"></strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="orderListModel.customerInfo"
                                       placeholder="{{'customer_details' | translate}}"
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingCustomerLocations"
                                       typeahead-no-results="noCustomerResult"
                                       typeahead-min-length="0"
                                       typeahead-editable="true"
                                       typeahead-on-select="updateAddress()"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       ng-blur="custDrop()"
                                       required
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noCustomerResult">
                                    <i class="glyphicon glyphicon-remove"></i> 
                                    <span translate="no_results_found"></span>
                                </div>
<!--                                <div class="right">
                                    <a class="newCus" href="javascript:void(0)" data-ng-click="showCustomerPopup()" translate="add_new_customer"></a>
                                </div>-->
                                <br/>
                                <textarea class="form-control"
                                          name = "Address"
                                          ng-model = "orderListModel.customerInfo.shopping_address"
                                          readonly placeholder="{{'contact_details' | translate}}"
                                          ></textarea>
                                <strong class="bottommarginxs " translate="bill_from"></strong>
                                <div class="comp-address">{{appConfig.pay_to_address | htmlToPlaintext}}</div> 
                                <strong class="bottommarginxs " data-ng-show="orderListModel.dealId != '' && orderListModel.dealId != undefined && orderListModel.dealId != null">Deal Details</strong><br/>
                                <input type="text"
                                       class="form-control "
                                       data-ng-show="orderListModel.dealId != '' && orderListModel.dealId != undefined && orderListModel.dealId != null"
                                       ng-model = "orderListModel.dealName"
                                       name="dealname" ng-readonly="true"
                                       placeholder="Deal Name"
                                       />     
                            </div>
                            <div class=" col-sm-3 ">&nbsp;</div>
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="invoice_number"> </span>
                                        <span class="tit-desc " data-ng-show="orderListModel.is_next_autogenerator_num_changed == false">
                                            {{orderListModel.next_autogenerator_num}}
                                            <a href="javascript:void(0)" data-ng-click="invoiceNumberChange()" >Change</a>
                                        </span>

                                        <span class="tit-desc " data-ng-show="orderListModel.is_next_autogenerator_num_changed == true">
                                            <input type="text"
                                                   class="form-control "
                                                   ng-model = "orderListModel.invoiceno"
                                                   validator = "validationFactory.hasRequired(orderListModel.invoiceno) == false ||validationFactory.isPositiveNumber(orderListModel.invoiceno) === true"
                                                   name="invoice_no"
                                                   placeholder="{{'invoice_number' | translate}}"
                                                   />
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="invoice_prefix"></span>
                                        <span class="tit-desc ">
                                            <select ng-model="orderListModel.invoicePrefix"  class="form-control" data-ng-change="getNextInvoiceno()">
                                                <option value="" translate="none"></option>
                                                <option value="{{perfix + ''}}" data-ng-repeat="perfix in orderListModel.prefixList">{{perfix}}</option>
                                            </select>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="invoice_date">Invoice Date </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="orderListModel.billdate" is-open="startDateOpen"
                                                   max-date="currentDate"  show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close" readonly />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="payment_due"></span>
                                        <span class="tit-desc ">
                                            <select ng-model="orderListModel.paymentTerm"  class="form-control">
                                                <option value="" translate="due_on_receipts"></option>
                                                <option value="3" translate="+3_days">+3 days</option>
                                                <option value="5" translate="+5_days">+5 days</option>
                                                <option value="7" translate="+7_days">+7 days</option>
                                                <option value="10" translate="+10_days">+10 days</option>
                                                <option value="15" translate="+15_days">+15 days</option>
                                                <option value="30" translate="+30_days">+30 days</option>
                                                <option value="45" translate="+45_days">+45 days</option>
                                                <option value="60" translate="+60_days">+60 days</option>
                                                <option value="75" translate="+75_days">+75 days</option>
                                                <option value="90" translate="+90_days">+90 days</option>
                                                <option value="105" translate="+105_days">+105 days</option>
                                                <option value="120" translate="+120_days">+120 days</option>
                                                <option value="135" translate="+135_days">+135 days</option>
                                                <option value="150" translate="+150_days">+150 days</option>
                                            </select>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="gst_no"> </span>
                                        <span class="tit-desc ">
                                            <input type="text"
                                                   class="form-control "
                                                   ng-model = "orderListModel.gst_no"
                                                   name="gst_no"
                                                   readonly
                                                   placeholder="{{'gst_no' | translate}}"
                                                   />
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="customer_gst_no"> </span>
                                        <span class="tit-desc ">
                                            <input type="text"
                                                   class="form-control "
                                                   ng-model = "orderListModel.customerInfo.gst_no"
                                                   name="Customer GST No" readonly
                                                   placeholder="{{'customer_gst_no' | translate}}"
                                                   validator = "validationFactory.isGSTNumber(orderListModel.customerInfo.gst_no) == true || validationFactory.hasRequired(orderListModel.customerInfo.gst_no) == false"
                                                   />
                                        </span>
                                    </li>
                                    <!--                                    <li class="bottommarginsm   ship-date clearfix ">
                                                                            <span class="tit ">Tax </span>
                                                                            <span class="tit-desc ">
                                                                                <select name="taxDropDown"
                                                                                        type = "text"
                                                                                        ng-model="orderListModel.tax_id"
                                                                                        class="form-control"
                                                                                        ng-change="updateInvoiceTotal(); calculateTaxAmt()">
                                                                                    <option value="">-None-</option>
                                                                                    <option value="{{tax.id}}" data-ng-repeat="tax in orderListModel.taxInfo">{{tax.tax_name}}{{tax.is_group == 1 ? '(' + 'Group' + ')' : ''}}-{{tax.tax_percentage}}%</option>
                                                                                </select>
                                                                            </span>
                                                                        </li>-->
                                    <!--                                    <li class="bottommarginsm ship-date clearfix ">
                                                                            <span class="tit ">Discount Mode </span>
                                                                            <span class="tit-desc ">
                                                                                <select ng-model="orderListModel.discountMode" ng-change="updateInvoiceTotal()" class="form-control">
                                                                                    <option value="%">%</option>
                                                                                    <option value="amount">Amount</option>
                                                                                </select>
                                                                            </span>
                                                                        </li>
                                                                        <li class="ship-date clearfix ">
                                                                            <span class="tit ">Discount</span>
                                                                            <span class="tit-desc ">
                                                                                <input type="text" size="20"
                                                                                       class="form-control"
                                                                                       name = "discountPercentage"
                                                                                       ng-model = "orderListModel.discountPercentage"
                                                                                       ng-change="updateInvoiceTotal()"
                                                                                       validator = "validationFactory.isPositiveNumber(orderListModel.discountPercentage) === true"
                                                                                       />
                                                                            </span>
                                                                        </li>-->

                                </ul>
                            </div>

                            <div class="col-sm-12  ">
                                <div class="product-add topmargin  ">

                                    <ul class="ul-list-wrapper ul-table-head clearfix ">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class=" " style="width: 28%;" translate="barcode">
                                           
                                        </li>
                                        <!--                                        <li class=" ">
                                                                                    Name
                                                                                </li>-->
                                        <li class="right uom " data-ng-hide="!appConfig.uomdisplay">
                                            {{appConfig.uomlabel}}
                                        </li>
                                        <li class="center price " translate="hsn_code">

                                        </li>
                                        <li class="right qty " translate="quantity">
                                            
                                        </li>
                                        <li class="right empcode " translate="employee_code">
                                            
                                        </li>
                                        <li class="right price " translate="price">
                                            
                                        </li>                                        
                                        <li class="right f-right action ">
                                            &nbsp;
                                        </li>
                                        <li class="right f-right row-total " translate="row_total">
                                            
                                        </li>
                                        <li class="right f-right row-total " translate="discount">
                                            
                                        </li>
                                    </ul>
                                    <div class="invoice-prod-list table-responsive ">
                                        <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="order in orderListModel.list">
                                            <li class="num center ">
                                                {{$index + 1}}
                                            </li>
                                            <!--                                            <li class=" ">
                                                                                            <input
                                                                                                name="purchaseId_{{$index}}"
                                                                                                type="text"
                                                                                                id="product_item_{{$index}}_1"
                                                                                                next-focus-id="product_item_{{$index}}_2"
                                                                                                data-ng-keydown ="$parent.keyupHandler($event)"
                                                                                                product-index="{{$parent.$index}}"                                                    
                                                                                                class="form-control qty left "
                                                                                                data-ng-model="orderListModel.list[$index].purchase_invoice_item_id"
                                                                                                validator = "validationFactory.isNumber(orderListModel.list[$index].purchase_invoice_item_id)"
                                                                                                data-ng-change="initGetPurchaseProductDetail(orderListModel.list[$index].purchase_invoice_item_id, $index)"
                                                                                                placeholder="Barcode"
                                                                                                angular-validator-field
                                                                                                />
                                                                                        </li>-->
                                            <li class=" " style="width: 30%;">                                                
                                                <input type="text"
                                                       name="productname_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].productname"
                                                       placeholder="{{'product_list' | translate}}"
                                                       uib-typeahead="itemList for itemList in getItemList($viewValue)"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control name"
                                                       typeahead-editable="true"
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-show-hint="true"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       typeahead-min-length="0"
                                                       typeahed-on-select="initGetPurchaseProductDetail(orderListModel.list[$index].productname, $index)"
                                                       ng-blur="barcodeDrop($index)"
                                                       ng-change="checkEmpty($index)">
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i> 
                                                <div ng-show="noProductResults" class="result-dis  left remove-icon">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div> 
                                            </li>                                            
                                            <li class="uom right " data-ng-hide="!appConfig.uomdisplay">
                                                <input type="text"
                                                       class="form-control"
                                                       name="uom_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].uomInfo"
                                                       placeholder="{{'uom' | translate}}"
                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                       typeahead-loading="loadingUomLocations"
                                                       typeahead-no-results="noUomResult"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="true"
                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatUomModel($model)"
                                                       autocomplete="off"   angular-validator-field
                                                       readonly
                                                       />
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingUomLocations" class="glyphicon glyphicon-refresh"></i> 
                                            </li>
                                            <li  class="right" style="width: 10%;">
                                                <input
                                                    name="hsn_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].hsn_code"                                                    
                                                    placeholder="{{'hsn_code'| translate}}"                                                    
                                                    readonly
                                                    />
                                            </li>
                                            <li  class="qty right ">
                                                <!--                                                <input
                                                                                                    name="qty_{{$index}}"
                                                                                                    type="text"
                                                                                                    id="product_item_{{$index}}_2"                                                   
                                                                                                    next-focus-id="product_item_{{$index + 1}}_1"
                                                                                                    data-ng-keydown="$parent.keyupHandler($event)"
                                                                                                    product-index="{{$parent.$index}}"
                                                                                                    class="form-control qty right "
                                                                                                    data-ng-model="orderListModel.list[$index].qty"
                                                                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].qty)"
                                                                                                    data-ng-change="updateInvoiceTotal()"
                                                                                                    placeholder="qty"
                                                                                                    angular-validator-field
                                                                                                    />-->
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    id="product_item_{{$index}}_2"                                                                                                      
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator = "validationFactory.isPositiveNumber(orderListModel.list[$index].qty)"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="{{'quantity' | translate}}"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li  class="empcode right ">
                                                <input type="text"
                                                       class="form-control"
                                                       name="code_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].empCode"
                                                       placeholder="{{'employee_code' | translate}}"
                                                       uib-typeahead="code for code in getEmpCodeList($viewValue)"
                                                       typeahead-loading="loadingCode"
                                                       typeahead-no-results="noCodeResult"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="false"
                                                       typeahead-template-url="empcode_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatCodeModel($model)"
                                                       autocomplete="off"   
                                                       ng-blur="empDrop($index)"
                                                       angular-validator-field    
                                                       />
                                                <i ng-show="loadingCode" class="glyphicon glyphicon-refresh"></i>                                                  
                                                <div ng-show="noCodeResult" class="result-dis  left remove-icon">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div> 
                                            </li>
                                            <li class="price right ">
                                                <input
                                                    name="sales_price_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="order.sales_price"                                                    
                                                    validator = "validationFactory.isPositiveNumber($parent.orderListModel.list[$index].sales_price)"
                                                    data-ng-change="updateTierPricing($index)"
                                                    placeholder="{{'price' | translate}}"
                                                    angular-validator-field
                                                    readonly
                                                    />
                                            </li>
                                            <li class="action f-right right ">
                                                <!--                                                <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" style="padding: 0;">
                                                                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                                                                </a>-->
                                                <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($index)" ui-toggle-class="" style="padding: 0;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </li>
                                            <li class="row-total  f-right right ">
                                                <input
                                                    name="rowtotal"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="order.rowtotal"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    data-ng-disabled="true"
                                                    />
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">
                                                    <li class=" "> 
                                                        <span class="tit " translate="tax%"></span>
                                                        <input
                                                            name="taxDropDown_{{$index}}"
                                                            type="text"
                                                            class="form-control"
                                                            data-ng-model="orderListModel.list[$index].tax_name"
                                                            readonly
                                                            />
<!--                                                        <select name="taxDropDown_{{$index}}"
                                                                type = "text"
                                                                ng-model="orderListModel.list[$index].tax_id"
                                                                class="form-control"
                                                                angular-validator-field
                                                                
                                                                >
                                                            <option value="" translate="none"></option>
                                                            <option value="{{tax.id + ''}}" data-ng-repeat="tax in orderListModel.activeTaxList">{{tax.tax_name}}-{{tax.tax_percentage}}%</option>
                                                        </select>-->
                                                    </li>
                                                    <!--                                                    <li class=" "> 
                                                                                                            <span class="tit ">Tax %</span>
                                                                                                            <input
                                                                                                                name="taxpercent_{{$index}}"
                                                                                                                type="text"
                                                                                                                class="form-control qty left "
                                                                                                                data-ng-model="orderListModel.list[$index].taxPercentage"                                                    
                                                                                                                data-ng-readonly ="true"
                                                                                                                placeholder="Tax Percentage"
                                                                                                                angular-validator-field
                                                                                                                />
                                                                                                        </li> -->
                                                    <li class=" ">  
                                                        <span class="tit " translate="tax_amount"> </span>
                                                        <input
                                                            name="taxamount_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="orderListModel.list[$index].taxAmount"                                                    
                                                            data-ng-readonly ="true"
                                                            placeholder="{{'tax_amount' | translate}}"
                                                            angular-validator-field
                                                            />
                                                    </li>
                                                    <li class=" ">   
                                                        <span class="tit " translate="discount"> </span>
                                                        <input type="text" size="20"
                                                               class="form-control"
                                                               name = "discountPercentage"
                                                               ng-model = "orderListModel.list[$index].discountPercentage"
                                                               ng-change="updateDiscountToAll()"
                                                               placeholder="{{'discount' | translate}}"
                                                               validator = "validationFactory.isPositiveNumber(orderListModel.discountPercentage) === true"
                                                               />                                                       
                                                    </li>
                                                    <li class=" ">  
                                                        <span class="tit " translate="discount_mode"> </span>
                                                        <select ng-model="orderListModel.list[$index].discountMode" ng-change="updateInvoiceTotal()" class="form-control">
                                                            <option value="%">%</option>
                                                            <option value="amount" translate="amount"></option>
                                                        </select>                                                        
                                                    </li>  
                                                    <li class="row-total  f-right right ">
                                                        <span class="tit ">&nbsp; </span>
                                                        <input
                                                            name="rowtotal"
                                                            type="text"
                                                            class="form-control qty right "
                                                            data-ng-model="orderListModel.list[$index].discountAmount"
                                                            data-ng-change="updateInvoiceTotal()"
                                                            data-ng-disabled="true"
                                                            />
                                                    </li>
                                                </ul>                                                                                                  
                                            </li>

                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">
                                                    <li class="" data-ng-show="appConfig.invoice_item_custom1 == true">
                                                        {{appConfig.invoice_item_custom1_label}}
                                                        <input
                                                            name="invoice_item_custom1_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt1"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom2 == true">
                                                        {{(appConfig.invoice_item_custom2_label)}}
                                                        <input
                                                            name="invoice_item_custom2_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt2"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom3 == true">
                                                        {{(appConfig.invoice_item_custom3_label)}}
                                                        <input
                                                            name="invoice_item_custom3_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt3"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom4 == true">
                                                        {{appConfig.invoice_item_custom4_label}}
                                                        <input
                                                            name="invoice_item_custom4_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt4"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            /></br></li>
                                                    <li data-ng-show="appConfig.invoice_item_custom5 == true">
                                                        {{appConfig.invoice_item_custom5_label}}
                                                        <input
                                                            name="invoice_item_custom5_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt5"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            />
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewProduct()"></a>
                                        </ul>
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">

                                            <tfoot>
                                                <tr>
                                                    <td class="right " colspan="5"><br>
                                                        <strong translate="sub_total">:</strong>
                                                    </td>
                                                    <td class="right " colspan="3"><br>
                                                        <strong>{{currencyFormat}}.{{orderListModel.subtotal}}</strong>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="5"  translate="discount:">
                                                        
                                                    </td>
                                                    <td class="right " colspan="3">
                                                        {{currencyFormat}}.{{orderListModel.discountAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="5" translate="tax:">
                                                        
                                                    </td>
                                                    <td class="right " colspan="3">
                                                        {{currencyFormat}}.{{orderListModel.taxAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <!--                                                <tr ng-repeat="tax in orderListModel.taxMappingDetail">
                                                                                                    <td class="right " colspan="7">
                                                                                                        {{tax.taxName}}
                                                                                                    </td>
                                                                                                    <td class="left " colspan="2">
                                                                                                        {{currencyFormat}}.{{tax.overallTaxAmount}}
                                                                                                    </td>   
                                                                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                                                                </tr>-->
                                                <!--                                                <tr>
                                                                                                    <td class="right " colspan="5">
                                                                                                        Round off:
                                                                                                    </td>
                                                                                                    <td class="right " colspan="3">
                                                                                                        {{currencyFormat}}.{{orderListModel.roundoff}}
                                                                                                    </td>
                                                                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                                                                </tr>-->
                                                <tr>
                                                    <td class="right " colspan="5"><br/>
                                                        <strong><span translate="grand_total"></span>({{currencyFormat}}):</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="3"><br/>
                                                        <strong>{{currencyFormat}}.{{orderListModel.round}}</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
                                <div class="model_popup" ng-if="showpopup" >
                                    <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                                    </div>
                                </div>                                
                                <div data-ng-class="{'attr-groups topmargin toppadding':(customAttributeList | filter:{is_show_in_invoice:1}).length > 0}">
                                    <div class=" row " >
                                        <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeList">
                                            <div class="row ">
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                                    <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="order_add_form"></custom-checkbox>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                                    <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="order_add_form"></custom-selectoption>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                                    <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_add_form"></custom-multiselect>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                                    <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_add_form"></custom-yes-or-no>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                                    <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_add_form"></custom-textinput>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'date'">
                                                    <custom-date name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_add_form"></custom-date>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="notes ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <strong translate="notes"></strong>
                            <textarea class="form-control"
                                      name = "Notes"
                                      ng-model = "orderListModel.notes"
                                      placeholder="Enter notes that are visible to your customer"
                                      ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="model_overlay" ng-show="showCustomerAddPopup" ng-click="closeCustomerPopup()" ></div>
    <div class="popups">
        <div class="model_popup" ng-show="showCustomerAddPopup" >
            <div data-ng-include=" 'tpl/newcustomer-add.html'" ng-if="true"  >
            </div>
        </div></div>
</div>

