<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name  + ' (' + match.model.qty_in_hand + ') ' | uibTypeaheadHighlight:query"></span>
    <!--    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>-->
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="invoice_product_container" data-ng-controller="invoiceReturnAddCtrl">
    <div class="panel panel-default ">
        <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
    </div>
    <form name="order_edit_form"  angular-validator-submit="updateOrder(forceSave)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="sales_refund_add"></h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" ng-if="orderListModel.list.length > 0" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' translate="save">
                    </button>
                    <button type="button" class="btn btn-sm btn-primary btn_orng" ng-if="orderListModel.list.length == 0" ng-click="getInvoiceInfo()" translate="reset"></button>
                    <a ui-sref="app.invoice" ui-scroll-to="app" href="#/invoice" translate="back_to_list">

                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <strong class="bottommarginxs " translate="bill_to"></strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="orderListModel.customerInfo"
                                       placeholder="Customer Details..."
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingCustomerLocations"
                                       typeahead-no-results="noCustomerResult"
                                       typeahead-min-length="0"
                                       typeahead-editable="true"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       required
                                       readonly
                                       data-ng-disabled="true"
                                       />
                                <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noCustomerResult">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <br/>
                                <textarea class="form-control"
                                          name = "Address"
                                          ng-model = "orderListModel.customerInfo.shopping_address"
                                          placeholder="Contact Details ... "
                                          ></textarea>
                                <br/>
                            </div>
                            <div class=" col-sm-3 ">&nbsp;</div>
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="invoice_code"></span>
                                        <span class="tit-desc ">
                                            <input type="text"
                                                   class="form-control "
                                                   ng-model = "orderListModel.invoiceCode"
                                                   name="invoicecode"
                                                   data-ng-disabled = "true"
                                                   placeholder="Invoice Code"
                                                   value="10"
                                                   />
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="invoice_date"> </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="orderListModel.billdate" is-open="startDateOpen"
                                                   show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"  readonly data-ng-disabled="true"/>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="date"> </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="orderListModel.date" is-open="dueDateOpen"
                                                   min-date="orderListModel.billdate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"
                                                   readonly />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>

                                </ul>
                            </div>

                            <div class="col-sm-12  ">
                                <div class="product-add topmargin  ">

                                    <ul class="ul-list-wrapper ul-table-head clearfix ">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class=" " translate="name">

                                        </li>
                                        <!--                                        <li class=" ">
                                                                                    Name
                                                                                </li>                                        -->
                                        <li class="right uom " data-ng-hide="!appConfig.uomdisplay">
                                            {{appConfig.uomlabel}}
                                        </li>
                                        <li class="center price " translate="hsn_code">

                                        </li>
                                        <li class="right qty " translate="quantity">

                                        </li>
                                        <li class="right price " translate="price">

                                        </li>
                                        <li class="right f-right action ">
                                            &nbsp;
                                        </li>
                                        <li class="right f-right row-total " translate="row_total">

                                        </li>
                                        <li class="right f-right row-total " translate="discount">

                                        </li>
                                    </ul>
                                    <div class="invoice-prod-list table-responsive ">
                                        <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="order in orderListModel.list">
                                            <li class="num center ">
                                                {{$index + 1}}
                                            </li>
                                            <li class=" ">                                                
                                                <input type="text"
                                                       name="productname_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].productname"
                                                       placeholder="Product list.."
                                                       uib-typeahead="itemList for itemList in getItemList($viewValue)"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control name"
                                                       typeahead-editable="true"
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-show-hint="true"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       typeahead-min-length="0"
                                                       readonly
                                                       typeahed-on-select="initGetPurchaseProductDetail(orderListModel.list[$index].productname, $index)"
                                                       ng-blur="initValidateProductDataAndAddNew($index)">
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                            </li>                                            
                                            <li class="uom right " data-ng-hide="!appConfig.uomdisplay">
                                                <input type="text"
                                                       class="form-control"
                                                       name="uom_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].uomInfo"
                                                       placeholder="Uom Details..."
                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                       typeahead-loading="loadingUomLocations"
                                                       typeahead-no-results="noUomResult"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="true"
                                                       readonly
                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatUomModel($model)"
                                                       autocomplete="off"   angular-validator-field
                                                       />
                                                <i ng-show="loadingUomLocations" class="glyphicon glyphicon-refresh"></i>
                                            </li>
                                            <li  class="right" style="width: 10%;">
                                                <input
                                                    name="hsn_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].hsn_code"                                                    
                                                    placeholder="{{'hsn_code'| translate}}"                                                    
                                                    readonly
                                                    />
                                            </li>
                                            <li  class="qty right ">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    id="product_item_{{$index}}_2"
                                                    next-focus-id="product_item_{{$index + 1}}_1"
                                                    data-ng-keydown="$parent.keyupHandler($event)"
                                                    product-index="{{$parent.$index}}"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator = "validationFactory.isPositiveNumber(orderListModel.list[$index].qty) && orderListModel.list[$index].qty <= orderListModel.list[$index].balance_qty && orderListModel.list[$index].qty > 0"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="qty"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="price right ">
                                                <input
                                                    name="sales_price_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="order.sales_price"                                                    
                                                    validator = "validationFactory.isNumber($parent.orderListModel.list[$index].sales_price)"
                                                    data-ng-change="updateTierPricing($index)"
                                                    placeholder="Price"
                                                    readonly
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="action f-right right ">
                                                <a href="javascript:void(0)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" style="padding: 0;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </li>
                                            <li class="row-total  f-right right ">
                                                <input
                                                    name="rowtotal"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model=order.rowtotal
                                                    data-ng-change="updateInvoiceTotal()"
                                                    disabled
                                                    />
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">
                                                    <li class=" "> 
                                                        <span class="tit ">Tax %</span>
                                                        <select name="taxDropDown_{{$index}}"
                                                                type = "text"
                                                                ng-model="orderListModel.list[$index].tax_id"
                                                                class="form-control"
                                                                angular-validator-field
                                                                data-ng-disabled ="true"
                                                                readonly
                                                                >
                                                            <option value="">-None-</option>
                                                            <option value="{{tax.id + ''}}" data-ng-repeat="tax in orderListModel.activeTaxList">{{tax.tax_name}}-{{tax.tax_percentage}}%</option>
                                                        </select>
                                                    </li>
                                                    <li class=" ">  
                                                        <span class="tit ">Tax Amount </span>
                                                        <input
                                                            name="taxamount_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="orderListModel.list[$index].taxAmount"                                                    
                                                            data-ng-readonly ="true"
                                                            placeholder="Tax Amount"
                                                            angular-validator-field
                                                            readonly
                                                            />
                                                    </li>
                                                    <li class=" ">   
                                                        <span class="tit ">Discount </span>
                                                        <input type="text" size="20"
                                                               class="form-control"
                                                               name = "discountPercentage"
                                                               ng-model = "orderListModel.list[$index].discountPercentage"
                                                               ng-change="updateInvoiceTotal()"
                                                               placeholder="Discount"
                                                               readonly
                                                               validator = "validationFactory.isPositiveNumber(orderListModel.discountPercentage) === true"
                                                               />                                                       
                                                    </li>
                                                    <li class=" ">  
                                                        <span class="tit ">Discount Mode </span>
                                                        <select ng-model="orderListModel.list[$index].discountMode" 
                                                                disabled
                                                                ng-change="updateInvoiceTotal()" class="form-control">
                                                            <option value="%">%</option>
                                                            <option value="amount">Amount</option>

                                                        </select>                                                        
                                                    </li>  
                                                    <li class="row-total  f-right right ">
                                                        <span class="tit ">&nbsp; </span>
                                                        <input
                                                            name="rowtotal"
                                                            type="text"
                                                            class="form-control qty right "
                                                            data-ng-model="orderListModel.list[$index].discountAmount"
                                                            data-ng-change="updateInvoiceTotal()"
                                                            data-ng-disabled="true"
                                                            />
                                                    </li>
                                                </ul>                                                                                                  
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">
                                                    <li class="" data-ng-show="appConfig.invoice_item_custom1 == true">
                                                        {{appConfig.invoice_item_custom1_label}}
                                                        <input
                                                            name="invoice_item_custom1_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt1"
                                                            placeholder="Type Value"
                                                            angular-validator-field readonly
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom2 == true">
                                                        {{(appConfig.invoice_item_custom2_label)}}
                                                        <input
                                                            name="invoice_item_custom2_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt2"
                                                            placeholder="Type Value"
                                                            angular-validator-field readonly
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom3 == true">
                                                        {{(appConfig.invoice_item_custom3_label)}}
                                                        <input
                                                            name="invoice_item_custom3_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt3"
                                                            placeholder="Type Value"
                                                            angular-validator-field readonly
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom4 == true">
                                                        {{appConfig.invoice_item_custom4_label}}
                                                        <input
                                                            name="invoice_item_custom4_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt4"
                                                            placeholder="Type Value"
                                                            angular-validator-field readonly
                                                            /></br></li>
                                                    <li data-ng-show="appConfig.invoice_item_custom5 == true">
                                                        {{appConfig.invoice_item_custom5_label}}
                                                        <input
                                                            name="invoice_item_custom5_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt5"
                                                            placeholder="Type Value"
                                                            angular-validator-field readonly
                                                            />
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <!--                                        <ul>
                                                                                    <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewProduct()"></a>
                                                                                </ul>-->
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">

                                            <tfoot>
                                                <tr>
                                                    <td class="right " colspan="5"><br>
                                                        <strong><span translate="sub_total"></span></strong>
                                                    </td>
                                                    <td class="right " colspan="3"><br>
                                                        <strong>{{currencyFormat}}.{{orderListModel.subtotal}}</strong>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="5" translate="discount:">

                                                    </td>
                                                    <td class="right " colspan="3">
                                                        {{currencyFormat}}.{{orderListModel.discountAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="5" translate="tax:">

                                                    </td>
                                                    <td class="right " colspan="3">
                                                        {{currencyFormat}}.{{orderListModel.taxAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr ng-repeat="tax in orderListModel.taxMappingDetail">
                                                    <td class="right " colspan="5">
                                                        {{tax.taxName}}
                                                    </td>
                                                    <td class="left " colspan="3">
                                                        {{currencyFormat}}.{{tax.overallTaxAmount}}
                                                    </td>   
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="5" translate="round_off">

                                                    </td>
                                                    <td class="right " colspan="3">
                                                        {{currencyFormat}}.{{orderListModel.roundoff}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="5"><br/>
                                                        <strong><span translate="grand_total"></span>({{currencyFormat}}):</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="3"><br/>
                                                        <strong>{{currencyFormat}}.{{orderListModel.round}}</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notes ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <strong translate="notes"></strong>
                            <textarea class="form-control"
                                      name = "Notes"
                                      ng-model = "orderListModel.notes"
                                      placeholder="Enter Notes "
                                      ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

