
<div class="app-content-body fade-in-up"  data-ng-controller="appSettingsEditCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="invoice_settings"></h2>
        </div>
    </div>
    <div class="model_overlay" ng-show="appSettingsEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
            <img alt="loader" src="../img/loading.gif" />
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class=" bg-white topmargin ">
            <form name="app_settings_form" angular-validator-submit="updateAppSettings()" class="form-horizontal clearfix " novalidate angular-validator >

                <div class="row wrapper-md">
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6  left ">
                                <label class="verticalmid" style="width: 100%;" translate="invoice_cc"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoicecc"
                                       ng-model = "appSettingsEditModel.invoicecc"
                                       placeholder="{{'invoice_cc' | translate}}"
                                       >
                            </div>
                            <div class="col-sm-6 left ">
                                <label class="verticalmid" style="width: 100%;" translate="invoice_print_format"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <select ng-model="appSettingsEditModel.invoiceprinttemplate" class="form-control " data-ng-change="initTableFilter()">
                                    <option value="" translate="select"></option>
                                    <option value="t1" translate="full_page"></option>
                                    <option value="t2" translate="half_page"></option>
                                    <option value="t4" translate="tally_style"></option>
                                    <option value="t5" translate="tally_style2"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6  left ">
                                <label class="verticalmid" style="width: 100%;" translate="invoice_from"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoicefrom"
                                       ng-model = "appSettingsEditModel.invoicefrom"
                                       placeholder="{{'invoice_from' | translate}}"
                                       >
                            </div>
                            
                        </div>
                    </div>
                </div>

                <hr class="topmargin bottommargin hr-set">

                <div class="row wrapper-md labhigh">
                    <div class="col-sm-12">
                        <h2 translate="sales_product_column"></h2>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6 left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="uom"
                                       name="uom"
                                       data-ng-model="appSettingsEditModel.uom"
                                       />
                                <label for="uom" translate="invoice_item_measurement"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm  ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "uomlabel"
                                       ng-model = "appSettingsEditModel.uomlabel"
                                       placeholder="{{'invoice_item_measurement_label' | translate}}"
                                       >
                            </div>
                            <div class="col-sm-6   left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom2"
                                       name="invoice_item_custom2"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom2"
                                       />
                                <label for="invoice_item_custom2" translate="invoice_item_custom_option2"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom2_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom2_label"
                                       placeholder="{{'invoice_item_custom2_label' | translate}}"
                                       >
                            </div>
                            <div class="col-sm-6   left toppadding ">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom4"
                                       name="invoice_item_custom4"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom4"
                                       />
                                <label for="invoice_item_custom4" translate="invoice_item_custom_option4"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom4_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom4_label"
                                       placeholder="{{'invoice_item_custom4_label' | translate}}"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6  left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom1"
                                       name="invoice_item_custom1"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom1"
                                       />
                                <label for="invoice_item_custom1" translate="invoice_item_custom_option1"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom1_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom1_label"
                                       placeholder="{{'invoice_item_custom1_label' | translate}}"
                                       >
                            </div>
                            <div class="col-sm-6  left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom3"
                                       name="invoice_item_custom3"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom3"
                                       />
                                <label for="invoice_item_custom3" translate="invoice_item_custom_option3"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom3_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom3_label"
                                       placeholder="{{'invoice_item_custom3_label' | translate}}"
                                       >
                            </div>
                            <div class="col-sm-6   left toppadding">
                                <input type="checkbox"
                                       class=" "
                                       id="invoice_item_custom5"
                                       name="invoice_item_custom5"
                                       data-ng-model="appSettingsEditModel.invoice_item_custom5"
                                       />
                                <label for="invoice_item_custom5" translate="invoice_item_custom_option5"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "invoice_item_custom5_label"
                                       ng-model = "appSettingsEditModel.invoice_item_custom5_label"
                                       placeholder="{{'invoice_item_custom5_label' | translate}}"
                                       >
                            </div>

                        </div>
                    </div>
                </div>
                <hr class="topmargin bottommargin hr-set">


                <div class="row wrapper-md">
                    <div class="col-sm-12">
                        <h2 translate="purchase_product_column"></h2>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6 topmarginsm left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom1"
                                       name="purchase_invoice_item_custom1"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom1"
                                       />
                                <label for="purchase_invoice_item_custom1" translate="purchase_invoice_item_custom1"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom1_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom1_label"
                                       placeholder="{{'purchase_invoice_item_custom1_label' | translate}}"
                                       >
                            </div>
                            <div class="col-sm-12" style="height:0px;">  &nbsp;</div>


                            <div class="col-sm-6 topmarginsm  left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom3"
                                       name="purchase_invoice_item_custom3"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom3"
                                       />
                                <label for="purchase_invoice_item_custom3" translate="purchase_invoice_item_custom3"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom3_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom3_label"
                                       placeholder="{{'purchase_invoice_item_custom3_label' | translate}}"
                                       >
                            </div> 
                            <div class="col-sm-12" style="height:0px;">  &nbsp;</div>
                            <div class="col-sm-6 topmarginsm  left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom5"
                                       name="purchase_invoice_item_custom5"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom5"
                                       />
                                <label for="purchase_invoice_item_custom5" translate="purchase_invoice_item_custom5"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom5_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom5_label"
                                       placeholder="{{'purchase_invoice_item_custom5_label' | translate}}"
                                       >
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="row">
                            <div class="col-sm-6 topmarginsm  left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom2"
                                       name="purchase_invoice_item_custom2"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom2"
                                       />
                                <label for="purchase_invoice_item_custom2" translate="purchase_invoice_item_custom2"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom2_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom2_label"
                                       placeholder="{{'purchase_invoice_item_custom2_label' | translate}}"
                                       >
                            </div>
                            <div class="col-sm-12" style="height:0px;">  &nbsp;</div>
                            <div class="col-sm-6 topmarginsm  left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_invoice_item_custom4"
                                       name="purchase_invoice_item_custom4"
                                       data-ng-model="appSettingsEditModel.purchase_invoice_item_custom4"
                                       />
                                <label for="purchase_invoice_item_custom4" translate="purchase_invoice_item_custom4"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_invoice_item_custom4_label"
                                       ng-model = "appSettingsEditModel.purchase_invoice_item_custom4_label"
                                       placeholder="{{'purchase_invoice_item_custom4_label' | translate}}"
                                       >
                            </div>
                             <div class="col-sm-12" style="height:0px;">  &nbsp;</div>
                            <div class="col-sm-6 topmargin left ">
                                <input type="checkbox"
                                       class=" "
                                       id="purchase_uom"
                                       name="purchase_uom"
                                       data-ng-model="appSettingsEditModel.purchase_uom"
                                       />
                                <label for="purchase_uom" translate="purchase_invoice_item_measurement"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm  ">
                                <input type="text" size="20"
                                       class="form-control "
                                       name = "purchase_uom_label"
                                       ng-model = "appSettingsEditModel.purchase_uom_label"
                                       placeholder="{{'purchase_invoice_item_measurement_label' | translate}}"
                                       >
                            </div>


                        </div>



                    </div>

                    <div class="col-sm-12 topmargin toppadding center ">
                        <div class="form-group full_w btn_group">
                            <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()" translate="reset"></a>
                        </div>
                    </div>
                </div>





        </div>

    </div>






</form>

</div>
</div>
</div>


