
<script type="text/ng-template" id="category_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="itemizedsalesCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="itemized_sales_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="winprint('printablediv')" translate="print"></a>
            <a href="{{APP_CONST.API.ITEMIZED_SALES_REPORT_CSV}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{todate|date:'yyyy-MM-dd'}}&cat_id={{searchFilter.categoryInfo.id}}&show_all={{checked==true?1:''}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="itemized_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false" angular-localstorage-field='true' required
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false" angular-localstorage-field='true' required
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                            <input type="text"
                                   class="form-control"
                                   name="category_dropdown"
                                   ng-model="searchFilter.categoryInfo"
                                   placeholder="{{'category_details'| translate}}"
                                   uib-typeahead="category for category in getCategoryList($viewValue)"
                                   typeahead-loading="loadingCategory"
                                   typeahead-no-results="noResultCategory"
                                   angular-localstorage-field='true'
                                   typeahead-min-length="0"
                                   typeahead-editable="false"
                                   typeahead-template-url="category_dropdown__tpl.html"
                                   typeahead-input-formatter="formatCategoryModel($model)"
                                   autocomplete="off"
                                   />
                            <span class="glyphicon glyphicon-search head-right-search"></span>
                        </div>
                    <div class="col-sm-4">
                        <div class="row rowbtn">
                            <div class="col-sm-3 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="itemizedsalesModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":itemizedsalesModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-3 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                            <div class="col-sm-6 chk chko" style="padding: 0px; margin-top: 7px;">
                                <input  type = "checkbox"
                                        class=" "
                                        id="category"
                                        ng-model="checked" style="top: 4px;"
                                        />
                                <label for="category" translate="show_category_wise_sales"></label>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"></span>{{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive" ng-hide="showCategory">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 630px;"  rowspan="1" colspan="1" translate="product_name">

                            </th>
                             <th style="width: 630px;"  rowspan="1" colspan="1" translate="category_name">

                            </th>
                            <th style="width: 340px; padding-left: 15px;"  rowspan="1" colspan="1" translate="uom">

                            </th>

                            <th style="width: 30px;"   rowspan="1" colspan="1" translate="quantity">

                            </th>
                            <th style="width: 160px;"  rowspan="1" colspan="1"  class="right" translate="amount">

                            </th>
                            <th style="width: 110px;"  rowspan="1" colspan="1" class="right" translate="action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="itemizedsalesModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="itemizedsalesModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="itemizedsales in itemizedsalesModel.list" ng-click="show(itemizedsales.flag)"  style="color:black;">

                            <td style="    padding: 5px 10px;">
                                {{itemizedsales.product_name}}                   
                            </td> 
                            <td style="padding: 5px 10px;">
                                {{itemizedsales.category_name}}                   
                            </td> 
                            <td>
                                {{itemizedsales.uom_name}}
                            </td>
                            <td>
                                {{itemizedsales.qty}}
                            </td>
                            <td class="right">
                                {{itemizedsales.total_price}}
                            </td>
                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>

                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{itemizedsales.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="6" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="invoice_number">

                                            </th>
                                            <th style="width: 175px;"  rowspan="1" colspan="1" translate="date" >

                                            </th>
                                            <th style="width: 320px;"   rowspan="1" colspan="1" translate="customer_name">

                                            </th>
                                            <th style="width: 100px;"   rowspan="1" colspan="1" translate="city">

                                            </th>
                                            <th style="width: 100px; padding-left: 15px;text-align: center;" translate="mrp"  rowspan="1" colspan="1" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">

                                            </th>
                                            <th style="width: 100px; padding-left: 15px;text-align: center;"  rowspan="1" colspan="1" translate="discount">

                                            </th>
                                            <th style="width: 200px;"  rowspan="1" colspan="1"  class="right" translate="quantity">

                                            </th>
                                            <th style="width: 140px;padding-right: 15px;"  rowspan="1" colspan="1" class="right" translate="total_price">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  data-ng-show="showDetails[{{itemizedsales.flag}}]"  ng-repeat="item in itemizedsales.data" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 5px;" ui-scroll-to="app" data-ng-click="print(item.invoice_id)">
                                                {{item.invoice_code}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" data-ng-click="print(item.invoice_id)">
                                                {{item.date}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" data-ng-click="print(item.invoice_id)">
                                                {{item.fname}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;" ui-scroll-to="app" data-ng-click="print(item.invoice_id)">
                                                {{item.billing_city}}
                                            </td>
                                            <td class="right" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                                {{item.mrp_price}}
                                            </td>
                                            <td class="right">
                                                {{item.discount_amount}}
                                            </td>
                                            <td colspan="1" class="right" ui-scroll-to="app" data-ng-click="print(item.invoice_id)" style="padding: 0px;">
                                                {{item.qty}}
                                            </td>
                                            <td colspan="1" class="right" ui-scroll-to="app" data-ng-click="print(item.invoice_id)">
                                                {{item.total_price}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="itemizedsalesModel.list.length === 0" >
                        <tr style="font-weight: bold;">
                            <td colspan="4" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{itemizedsalesModel.total_Amount}}
                            </td>
                            <td colspan="1" class="text-right">

                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- Table Two  -->      
            <div class="table-responsive " ng-show="showCategory">
                <table class="table no-link  b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 630px;"  rowspan="1" colspan="1" translate="category_name">

                            </th>
                            <th>

                            </th>
                            <th style="width: 30px;"   rowspan="1" colspan="1" translate="quantity">

                            </th>
                            <th style="width: 160px;"  rowspan="1" colspan="1"  class="right" translate="amount">

                            </th>
                            <th style="width: 110px;"  rowspan="1" colspan="1" class="right" translate="action">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="itemizedsalesModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="itemizedsalesModel.list.length === 0">
                            <td colspan="5" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="itemizedsales in itemizedsalesModel.list" ng-click="show(itemizedsales.flag)"  style="color:black;">

                            <td style="    padding: 5px 10px;">
                                {{itemizedsales.name == '' ? 'Uncategorized' : itemizedsales.name}}                   
                            </td>    
                            <td>

                            </td>
                            <td>
                                {{itemizedsales.qty}}
                            </td>
                            <td class="right">
                                {{itemizedsales.total_price}}
                            </td>
                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>

                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{itemizedsales.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="5" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Product Name
                                            </th>
                                            <th style="padding-left: 5px;padding: 8px 10px 4px;" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'" class="right" rowspan="1" colspan="1" >
                                                MRP Price
                                            </th>
                                            <th style="padding-left: 5px;padding: 8px 10px 4px;" class="right" rowspan="1" colspan="1" >
                                                Discount
                                            </th>
                                            <th  rowspan="1" colspan="1"  class="right">
                                                Quantity
                                            </th>
                                            <th style="padding-right: 15px;"  rowspan="1" colspan="1" class="right">
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  data-ng-show="showDetails[{{itemizedsales.flag}}]"  data-ng-repeat="itemizedsales in itemizedsales.product" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 5px;" >
                                                {{itemizedsales.name}}
                                            </td >
                                            <td colspan="1" class="right" style="padding-left: 5px;" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                                {{itemizedsales.mrp_price}}
                                            </td >
                                            <td colspan="1" class="right" >
                                                {{itemizedsales.discount_amount}}
                                            </td >
                                            <td colspan="1" class="right" >
                                                {{itemizedsales.qty}}
                                            </td>
                                            <td colspan="1" class="right" >
                                                {{itemizedsales.total_price}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="itemizedsalesModel.list.length === 0" >
                        <tr style="font-weight: bold;">
                            <td colspan="3" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{itemizedsalesModel.total_Amount}}
                            </td>
                            <td colspan="1" ></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


