<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
        <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="minstockListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="exceed_minimum_stock_product_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()" translate="print"> </a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <div class="head_right table-search wrapper-sm clearfix ">
                  <form name="minstock_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="sea" >
                    <input type="text"
                           name="product_dropdown"
                           ng-model="minstockModel.productInfo"
                           placeholder ="{{'product_name' | translate}}"
                           uib-typeahead="product for product in getProductList($viewValue)"
                           typeahead-loading="loadingLocations"
                           typeahead-no-results="noResults"
                           typeahead-min-length="0"
                           class="form-control"
                           typeahead-editable="false"
                           typeahead-template-url="product_dropdown__tpl.html"
                           typeahead-input-formatter="formatproductModel($model)"
                           autocomplete="off" 
                           angular-localstorage-field='true'
                           />
                    <span class="glyphicon glyphicon-search head-right-search"></span>
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> 
                         <span translate="no_results_found"></span>
                    </div>
                </div>
                 <div class="sea">
                    <select class="form-control "
                                ng-model="minstockModel.inventory"
                                data-ng-change="initTableFilter()"
                                name="statusdropdown"
                                >
                            <option value="">---All---</option>
                            <option value= "1">With Inventory</option>
                            <option value= "0">Without Inventory</option>
                        </select>
                </div>     
                <div class="col-sm-2 ">
                    <div class="row ">
                        <div class="col-sm-6 ">
                            <button class="btn-sm btn-primary "  data-ng-click="initTableFilter()" translate="search">
                                 
                            </button>
                        </div>
                        <div class="col-sm-6 ">
                            <button class="btn-sm btn-primary " data-ng-click="clearFilters()" translate="clear">
                                
                            </button>
                        </div>
                    </div>
                </div>
              </form>
            </div>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="product_name"></span>{{minstockModel.productInfo == '' ? '-' : minstockModel.productInfo.name}}</li>
                </ul>
            </div>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:150px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:250px;" rowspan="1" colspan="1" translate="product_name">
                                
                            </th>
                            <th style="width:200px;" rowspan="1" colspan="1" translate="sku">
                                
                            </th>
                            <th style="width:250px;" rowspan="1" colspan="1" translate="minimum_quantity">
                                
                            </th>
                            <th style="width:250px;" rowspan="1" colspan="1" translate="current_stock">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="minstockModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="minstockModel.list.length == 0">
                            <td colspan="5" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="minstock in minstockModel.list">
                            <td> 
                                {{$index + 1}} 
                            </td>
                            <td> 
                                {{minstock.name}} 
                            </td>
                            <td> 
                                {{minstock.sku}} 
                            </td>
                            <td class=""> 
                                {{minstock.min_stock_qty}}
                            </td>
                            <td class=""> 
                                {{minstock.quantity}} 
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


