<div class="cusErrorPopup "  data-ng-controller="newCustomerAddCtrl">

    <div class=" clearfix">

        <h2 ng-if="currentPage == 'purchase-invoiceAdd' || currentPage == 'purchase-orderAdd'" class="bottommarginsm " translate="quick_vendor_add"></h2>
        <h2 ng-if="currentPage == 'pos' || currentPage == 'invoiceAdd' || currentPage == 'estimateAdd' || currentPage == 'orderAdd'" class="bottommarginsm " translate="quick_customer_add"></h2>
        <a href="javascript:void(0)" ng-click="closeCustomerPopup()" class="glyphicon glyphicon-remove close " ></a>

        <div class=" ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_customer_form" angular-validator-submit="createcustomer()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class=" ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name="customername"
                                                ng-model="customerAddModel.name"
                                                placeholder="Full Name"
                                                maxlength="35"
                                                required/>
                                    </div>
                                    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label>Company Name</label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin">
                                                                            <input  type = "text"
                                                                                    class="form-control"
                                                                                    name = "companyname"
                                                                                    ng-model = "customerAddModel.companyName"
                                                                                    placeholder="Company Name"
                                                                                    maxlength="35"
                                                                                    />
                                                                        </div>-->
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="email"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "email"
                                                ng-model = "customerAddModel.email"
                                                placeholder="Enter the Email"
                                                validator = "validationFactory.hasRequired(customerAddModel.email) == false || validationFactory.emailValidator(customerAddModel.email) == true"/>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="phone_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type= "text"
                                               class="form-control"
                                               name = "mobile"
                                               ng-model = "customerAddModel.mobile"
                                               placeholder="Enter the Mobile no"
                                               maxlength="20"
                                               required
                                               validator = "validationFactory.mobileValidator(customerAddModel.mobile) == true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="address"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea rows="7" cols="150"  maxlength="150"
                                                  class="form-control "
                                                  name = "billingaddr"
                                                  ng-model = "customerAddModel.billingaddr"
                                                  placeholder="Address"
                                                  ></textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="country"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select ng-model="customerAddModel.country_id" data-ng-change="CountryChange();" theme="select2"  style="min-width: 230px;" title="" >
                                            <ui-select-match placeholder="Select Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="country.name as country in customerAddModel.country_list | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="state"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select ng-model="customerAddModel.state_id" data-ng-change="StateChange();" theme="select2"  style="min-width: 230px;" title="" >
                                            <ui-select-match placeholder="Select State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices refresh="initBillingAddressStateList('{{$select.search}}')" refresh-delay="0"  repeat="state.name as state in customerAddModel.state_list | propsFilter: {name: $select.search} ">
                                                <div ng-bind-html="state.name | highlight: $select.search" ></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="city"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select ng-model="customerAddModel.city_id" theme="select2"  style="min-width: 230px;" title="" >
                                            <ui-select-match placeholder="Select City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices refresh="initBillingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.name as city in customerAddModel.city_list | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="city.name | highlight: $select.search" ></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div> 
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="post_code"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingpostcode"
                                                ng-model = "customerAddModel.billingpostcode"
                                                placeholder="Postcode"
                                                maxlength="20"
                                                validator = "validationFactory.postCodeValidate(customerAddModel.billingpostcode) === true"
                                                />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group full_w btn_group">
                        <button id="btnLoad1" type="submit" class="btn btn-sm btn-primary btn_grn" id="hideWarning" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                        <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></a>
                        <button type="button" ng-click="redirectToCustomer()" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="detail"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="msg-handling" data-ng-show="actionMsgError != ''" data-ng-class='{"phoneValidMsg":actionMsgError != ""}'>
        <ul class="msg-show" data-ng-click="changeMsgErrorAction()">
            <li class="msg-tick-red"><img width="20" height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFbSURBVFhH7ZddDoIwEIRRLyR6Cv+O6D31BZwxu4aMNSLbIg/9kg2Bdme/gMTQVCqVyp/p+36N2tppNrqua5G7stNpUA5BV9QNdbDLYZB1Qt2ZjRkbu/w7vHOUw7HnERWWRMZTzjIp2drSNCiFyiKJ3iNqKHeypRiUQoUk0VNGzqEUyiU5YLQk9qrc0ZbyQikZ9FWSMtJTRs6hlAz8KEkZ2VtWzqGUDH6TpIzsmUfOoZQIvCQpI2vzyjmUUhGr/8s5EFDJ5cg5FHExsig5smjBoZyJLecRU0CFEtfy/qWNJSHyuluJtXklEwJvj5JSsmceScrI4I+/M0rJ3rMtlYEyMvDrS0Ap6SkjSRkZNPoNpZT0XmwpDwjURzVazkFPGUkEheUc9OaVREArgeE3kVLDTBz2tvQ7aF4hhJ+dWeQcZD0lmY0Za7s8DQRsEBT7NEyAzF1YrlKpVKI0zQNIGVAKxWwDvQAAAABJRU5ErkJggg=="></li>
            <li class="msg-info-red">{{actionMsgError}}</li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#hideWarning").click(function () {
            $(".hideCus").css("display", "none");
            setTimeout(function () {
                $(".hideCus").css("display", "block");
            }, 6000);
        });

    });
</script>