
<div class="app-content-body fade-in-up">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="your_notifications"></h2>
        </div>
    </div>
    <div class="wrapper-md" style="margin-top: 55px;">       
        <div class="container animated fadeInUp clearfix topmarginsm  bg-white">            
            <ul class="viewallnotifi">
                <li class="viewLi" data-ng-class="{'notify-list-unread' : notify.read_or_not == 0}" data-ng-repeat="notify in userModel.notificationList">
                    <div class="row">
                        <div class="col-sm-1" style="width: 5%;">
                            <img style="margin-top: 15px;margin-left: 15px;" src="../img/user.png">
                        </div>
                        <div class="col-sm-11" ng-click="redirectPage(notify.short_url, notify.id, notify.read_or_not)">
                            <p> {{notify.description}}</p>                           
                            <p>Created By {{notify.created_by_name}}</p>
                            <p>{{notify.date}}</p>
                        </div>
                    </div>            
                </li>
            </ul>
        </div>
    </div>
</div>
