<div class="app-content-body fade-in-up req-stock "  data-ng-controller="partywisepurchasereportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="partywise_purchase_detail"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"> </a>
            <a href="{{APP_CONST.API.PARTYWISE_PURCHASE_CSV}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&summary={{showDetail == false? '':1}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix ">
        <div class="panel panel-default notopmargin">
            <form name="payable_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-loalstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               required close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <!--                    <div class="col-sm-2 ">
                                            <div>
                                                <input type = "checkbox"
                                                       class=""
                                                       id="showAll"
                                                       name="showall"
                                                       data-ng-model = "showDetail"
                                                       data-ng-change ="initTableFilter()"
                                                       />
                                                <label for="showAll" class="detailchk" translate="show_details"></label>
                                                                            <input type="checkbox">
                                                                            <label class="detailchk">Detail</label>
                                            </div>
                                        </div>-->
                    <div class="col-sm-3 ">
                        <div class="row rowbtn">
                            <div class="col-sm-3 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="purchaseModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":purchaseModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-3 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()" translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"></span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>

            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 120px;"  rowspan="1" colspan="1" translate="si_no">

                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="supplier_name">

                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" translate="city">

                            </th>
                            <th style="width: 250px;" rowspan="1" colspan="1" translate="purchase_code">

                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" translate="purchase_quantity">

                            </th>
                            <th class="right" style="width: 250px;"   rowspan="1" colspan="1" translate="purchase_amount">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="purchaseModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="purchaseModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="purchase in purchaseModel.list">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{purchase.name}}
                            </td>
                            <td>
                                {{purchase.billing_city}}
                            </td>
                            <td>
                                {{purchase.purchase_code}}
                            </td>
                            <td>
                                {{purchase.Purchase_Qty}}
                            </td>
                            <td class="right">
                                {{purchase.total_amount}}
                            </td>
                        </tr>

                    </tbody>
                    <tfoot data-ng-show="purchaseModel.list.length > 0">
                        <tr>
                            <td colspan="4" class="text-right" >
                                Total
                            </td>
                            <td  colspan="1" class="text-left">
                                {{purchaseModel.Quantity}}
                            </td>
                            <td colspan="1" class="text-right">
                                {{purchaseModel.Amount}}
                            </td>                            
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>




