
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname + '(' + match.model.phone +  ',' + match.model.email + ')'| uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name + '(' + match.model.sku +  ')'| uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="partysalespurchasebasedCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="partywise_sales_purchase_based_statement"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <a href="{{APP_CONST.API.PARTYSALES_DOWN_CSV}}?customer_id={{searchFilter.customerInfo.id}}&product_id={{searchFilter.productInfo.id}}&show_all={{showDetail== true? 1:''}}"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="partysales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">

                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder="{{'vendor_details' | translate}}"
                               angular-localstorage-field='true'
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingCustomerLocations"
                               typeahead-no-results="noCustomerResult"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                        <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i> 
                        <div ng-show="noCustomerResult">
                            <i class="glyphicon glyphicon-remove"></i> 
                            <span translate="no_results_found"></span>
                        </div>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="product_dropdown"
                               ng-model="searchFilter.productInfo"
                               placeholder="{{'product_details' | translate}}"
                               uib-typeahead="product for product in getProductList($viewValue)"
                               typeahead-loading="loading"
                               typeahead-no-results="noResult"
                               angular-localstorage-field='true'
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatProductModel($model)"
                               autocomplete="off"

                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="row ">
                            <div class="col-sm-4 ">
                                <div>
                                    <input type = "checkbox"
                                           class=""
                                           id="showAll"
                                           name="showall"
                                           data-ng-model = "showDetail"
                                           data-ng-change ="initTableFilter()"
                                           />
                                    <label for="showAll" class="detailchk" translate="show_details"></label>
                                    <!--                            <input type="checkbox">
                                                                <label class="detailchk">Detail</label>-->
                                </div>
                            </div>
                            <div class="col-sm-3 rowbtn">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="partysalespurchasebasedModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":partysalespurchasebasedModel.isSearchLoadingProgress}'
                                        translate="search">
                                    
                                </button>
                            </div>
                            <div class="col-sm-4 rowbtn">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset translate="clear">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="customer_name:"></span>{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 "><span translate="product_name"> </span>{{searchFilter.productInfo == '' ? '-' : searchFilter.productInfo.name}}</li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 27%; text-align: left;"  rowspan="1" colspan="1" translate="vendor_id">
                                
                            </th>
                            <th style="width: 32%; text-align: left;"   rowspan="1" colspan="1" translate="vendor_name">
                                
                            </th>
                            <th style="width: 32%; text-align: left;"   rowspan="1" colspan="1" translate="city">
                            
                            </th>
                            <th style="width: 100px; text-align: right;"   rowspan="1" colspan="1" translate="quantity">
                                
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="partysalespurchasebasedModel.isLoadingProgress">
                            <td colspan="4" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-show="partysalespurchasebasedModel.list.length == 0">
                            <td colspan="4" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="partyWise in partysalespurchasebasedModel.list">
                            <td style="width:150px; padding-left: 40px;">
                                {{partyWise.customer_id}}
                            </td>
                            <td style="text-align: left;">
                                {{partyWise.customer_name}}
                            </td>
                            <td style="text-align: left;">
                                {{partyWise.billing_city}}
                            </td>
                            <td style="text-align: right;">
                                {{partyWise.overall_sales_qty}}
                            </td>
                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetail" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td colspan="4" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 26%;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="product_id">
                                                
                                            </th>
                                            <th style="width: 42%;"  rowspan="1" colspan="1" translate="product_name">
                                                
                                            </th>
                                            <th style="width: 150px;padding-right: 15px;"  rowspan="1" colspan="1" class="right" translate="sales_quantity">
                                                
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  data-ng-show="showDetails[{{item.flag}}]"  ng-repeat="item in partyWise.product_detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 30px;" >
                                                {{item.product_id}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{item.product_name}}
                                            </td>
                                            <td colspan="1" class="right" >
                                                {{item.sales_qty}}
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <!--<tfoot>
                        <tr data-ng-show="partysalespurchasebasedModel.openingBalance != null">
                            <td colspan="2"></td>
                            <td style="width: 150px; text-align: right;" ><b>  </b></td>
                            <td style="width: 150px; text-align: right;" ><b>  </b></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{partysalespurchasebasedModel.totalbalance}}</b></td>
                        </tr>
                    </tfoot>-->
                </table>
            </div>
        </div>
    </div>
</div>
</div>


