
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname + '(' + match.model.phone +  ',' + match.model.email + ')'| uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="partyPurchasesStatementCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="partywise_purchase_statement"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <!--            <a href="{{APP_CONST.API.PARTYPURCHASE_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&is_active=1&mode=1&start=0&limit=0"
                           ui-scroll-to="app" class="add_button add-dash" >Download CSV</a>-->
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="partyPurchase_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false"   angular-localstorage-field='true' required
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)&& validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false"   angular-localstorage-field='true' required
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder="{{'vendor_details'| translate}}"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingCustomerLocations"
                               typeahead-no-results="noCustomerResult"
                               typeahead-min-length="0"
                               angular-localstorage-field='true'
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"
                               required
                               />
                        <!--                        <input type="text"
                                                       name="customer_dropdown"
                                                       ng-model="searchFilter.customerInfo"
                                                       placeholder ="Customer Id"
                                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                                       typeahead-loading="loading"
                                                       typeahead-no-results="noResults"
                                                       typeahead-min-length="0"
                                                       class="form-control"
                                                       typeahead-editable="false"
                                                       typeahead-template-url="customer_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatcustomerModel($model)"
                                                       autocomplete="off"
                                                       required
                                                       />-->
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                        <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i> 
                        <div ng-show="noCustomerResult">
                            <i class="glyphicon glyphicon-remove"></i> 

                            <span translate="no_results_found"></span>
                        </div>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row rowbtn">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="partyPurchaseStatementModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":partyPurchaseStatementModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
                <div class="selected-date bottommargin print-show">
                    <ul class="search-filters clearfix">
                        <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                        <li class="col-sm-4 "><span translate="customer_name:"></span>{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                        <li class="col-sm-4 "><span translate="from_date"></span>{{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                        <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    </ul>
                </div>
                <div class="table-responsive">
                    <table class="table no-link table-striped b-t  dataTable no-footer " style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 150px; text-align: center;"  rowspan="1" colspan="1" translate ="transaction_date">

                                </th>
                                <th style="width: 100px; text-align: left;"   rowspan="1" colspan="1" translate="id">

                                </th>
                                <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1" translate ="narration">

                                </th>
                                <th style="width:100px; text-align: center;"   rowspan="1" colspan="1" translate="source_type">

                                </th>
                                <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1" translate ="debit">

                                </th>
                                <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1" translate ="credit">

                                </th>
                                <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1" translate ="balance">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="partyPurchaseStatementModel.isLoadingProgress">
                                <td colspan="7" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-show="partyPurchaseStatementModel.openingBalance == null">
                                <td colspan="7" class="text-center" >
                                    <span translate="no_data_found"></span>
                                </td>
                            </tr>
                            <tr data-ng-show="partyPurchaseStatementModel.openingBalance != null" >
                                <td  colspan="2">
                                </td>
                                <td colspan="2">
                                    <b>Opening Balance</b>
                                </td>
                                <td style="text-align: right;">
                                    {{partyPurchaseStatementModel.openingCredit}}
                                </td>
                                <td style="text-align: right;">
                                    {{partyPurchaseStatementModel.openingDebit}}
                                </td>
                                <td style="text-align: right;">
                                    {{partyPurchaseStatementModel.openingAmount}}
                                </td>
                            </tr>
                            <tr data-ng-repeat="account in partyPurchaseStatementModel.list" ng-show="partyPurchaseStatementModel.list.length > 0">
                                <td style="width:150px;">
                                    <a ng-show="account.mode == 0" data-ui-sref="app.purchaseInvoiceView({id: '{{account.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.date}}
                                    </a>
                                    <a ng-show="account.mode == 1" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.date}}
                                    </a>
                                    <a  ng-show="account.mode == 3"  data-ui-sref="app.purchaseInvoiceView({id: '{{account.purchase_invoice_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.date}}
                                    </a>
                                </td>
                                <td style="width:150px;">
                                    <a ng-show="account.mode == 0" data-ui-sref="app.purchaseInvoiceView({id: '{{account.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.id}}
                                    </a>
                                    <a ng-show="account.mode == 1" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.id}}
                                    </a>
                                    <a  ng-show="account.mode == 3"  data-ui-sref="app.purchaseInvoiceView({id: '{{account.purchase_invoice_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.id}}
                                    </a>
                                </td>
                                <td style="width:200px;">
                                    <a ng-show="account.mode == 0" data-ui-sref="app.purchaseInvoiceView({id: '{{account.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.description}}
                                    </a>
                                    <a ng-show="account.mode == 1" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.description}}
                                    </a>
                                    <a  ng-show="account.mode == 3"  data-ui-sref="app.purchaseInvoiceView({id: '{{account.purchase_invoice_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.description}}
                                    </a>
                                </td>
                                <td style="width:150px; text-align: center;">
                                    <a ng-show="account.mode == 0" data-ui-sref="app.purchaseInvoiceView({id: '{{account.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.type}}
                                    </a>
                                    <a ng-show="account.mode == 1" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.type}}
                                    </a>
                                    <a  ng-show="account.mode == 3"  data-ui-sref="app.purchaseInvoiceView({id: '{{account.purchase_invoice_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.type}}
                                    </a>
                                </td>
                                <td style="width:100px; text-align: right;" class="credit-col" >
                                    <a ng-show="account.mode == 0" data-ui-sref="app.purchaseInvoiceView({id: '{{account.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.debit}}
                                    </a>
                                    <a ng-show="account.mode == 1" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.debit}}
                                    </a>
                                    <a  ng-show="account.mode == 3"  data-ui-sref="app.purchaseInvoiceView({id: '{{account.purchase_invoice_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.debit}}
                                    </a>
                                </td>
                                <td style="width:100px; text-align: right;" class="debit-col" >
                                    <a ng-show="account.mode == 0" data-ui-sref="app.purchaseInvoiceView({id: '{{account.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.credit}}
                                    </a>
                                    <a ng-show="account.mode == 1" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.credit}}
                                    </a>
                                    <a  ng-show="account.mode == 3"  data-ui-sref="app.purchaseInvoiceView({id: '{{account.purchase_invoice_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.credit}}
                                    </a>
                                </td>
                                <td style=" width:100px;text-align: right;">
                                    <a ng-show="account.mode == 0" data-ui-sref="app.purchaseInvoiceView({id: '{{account.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.balance}}
                                    </a>
                                    <a ng-show="account.mode == 1" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.balance}}
                                    </a>
                                    <a  ng-show="account.mode == 3"  data-ui-sref="app.purchaseInvoiceView({id: '{{account.purchase_invoice_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{account.balance}}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr  data-ng-show="partyPurchaseStatementModel.openingBalance != null">
                                <td colspan="3"></td>
                                <td style="width: 150px; text-align: right;" ><b translate="total"></b></td>
                                <td style="width: 150px; text-align: right;" ><b>{{partyPurchaseStatementModel.totaldebit}}</b></td>
                                <td style="width: 150px; text-align: right;" ><b>{{partyPurchaseStatementModel.totalcredit}}</b></td>
                                <td style="width: 150px; text-align: right;" ><b>{{partyPurchaseStatementModel.totalbalance.toFixed(2)}}</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


