<script type="text/ng-template" id="user_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.firstName+'('+match.model.username+')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="paymentSettlementCtrl">
    <div class="bg-light clearfix">
        <div class="panel-heading clearfix "> 
            <h2>Payment Settlement Details</h2>
            <a ui-sref="app.paymentlist" class="add_button" ui-scroll-to="app">Back to Payment List</a>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix payment-set-form form-wrapper">
                <form name="payment_settlement_form" angular-validator-submit="createPaymentSettlement()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="sea paymentset-input">
                        <label style="display: block;">Select User*</label>
                        <select class="form-control "
                                ng-model="paymentSettlementModel.user"
                                ng-change="getPaymentList(paymentSettlementModel.user)"
                                name="userdropdown"
                                required>
                            <option value= "{{user.userid + ''}}" ng-repeat="user in paymentSettlementModel.userList">{{user.firstName}}({{user.username}})</option>
                        </select>
                    </div>

                    <br/>
                    <br/>
                    <br/>
                    <div class="form-group" data-ng-show="paymentSettlementModel.list.length === 0">
                        <h2>
                            Unsettled Payment
                        </h2>
                        <p style="text-align: center; font-style: italic;" data-ng-show = "paymentSettlementModel.user != undefined"> - No Payments -</p>
                        <p style="text-align: center; font-style: italic;" data-ng-show = "paymentSettlementModel.user == undefined"> - Select User -</p>
                    </div>
                    <div class="form-group" data-ng-show="paymentSettlementModel.list.length > 0">
                        <h2 style="overflow: hidden;">
                            Unsettled Payment
                            <a style="float: right" data-ui-sref="settlement-print({id: '{{paymentSettlementModel.user}}'})" data-ng-if="paymentSettlementModel.user" target="_blank" class="btn btn-sm btn-primary btn_grn"> Print </a>
                        </h2>
                        <div class="form-group " >
                            <input type="checkbox"
                                   name = "client_{{$index}}"
                                   ng-model = "paymentSettlementModel.isSelectedAll"
                                   data-ng-click="checkAllItem()"
                                   id="select-all-paym"
                                   value="paymentdetail.clientId"
                                   />
                            <label for="select-all-paym">Select All</label>
                        </div>
                        <div class="form-group " data-ng-repeat = "paymentdetail in paymentSettlementModel.list">
                            <input type="checkbox"
                                   name = "client_{{$index}}"
                                   ng-model = "$parent.paymentSettlementModel.list[$index].isSelected"
                                   data-ng-click="checkItem()"
                                   id="client_{{$index}}"
                                   value="paymentdetail.clientId"
                                   />
                            <label for="client_{{$index}}">{{paymentdetail.clientName}}</label>
                            <span class="tite-detai select-no-edit ">{{paymentdetail.amount.toFixed(2)}}</span>
                        </div>
                        <div class="form-group full_w" >
                            <label>Total Amount</label>
                            <span class="tite-detai select-no-edit ">Rs. {{paymentSettlementModel.totalamount.toFixed(2)}}</span>
                        </div>
                    </div>
                    <div class="form-group selected-con " data-ng-show="settledList.length === 0">
                        <h2>
                            Settled Payment
                        </h2>
                        <p style="text-align: center; font-style: italic;"> - Select Payment - </p>
                    </div>
                    <div class="form-group selected-con " data-ng-show="settledList.length > 0">
                        <h2>Settled Payment</h2>
                        <div class="form-group " data-ng-repeat = "paymentSettlementDetail in settledList">
                            <label for="paymentSettlementDetail.clientId">{{paymentSettlementDetail.clientName}}</label>
                            <span class="tite-detai select-no-edit ">{{paymentSettlementDetail.amount.toFixed(2)}}</span>
                        </div>
                        <div class="form-group  full_w selected-total " >
                            <label>Total Amount</label>
                            <span class="tite-detai select-no-edit ">Rs. {{paymentSettlementModel.totalsettleamount.toFixed(2)}}</span>
                        </div>
                        <div class="form-group full_w btn_group" data-ng-show="settledList != '' && settledList != []">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Settled</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>