
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<script type="text/ng-template" id="receiver_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.f_name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="paymentReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2>Payment Report</h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()">Print </a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="payment_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false"   data-ng-change="initTableFilter()"
                               required close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false"  data-ng-change="initTableFilter()"
                               required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text"
                               placeholder="Invoice Id"
                               data-ng-model="searchFilter.invoiceid"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               typeahead-on-select="initTableFilter()"
                               placeholder ="Customer Details"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingCustomerLocations"
                               typeahead-no-results="noCustomerResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatcustomerModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                        <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noCustomerResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="receiver_dropdown"
                               ng-model="searchFilter.receiverInfo"
                               typeahead-on-select="initTableFilter()"
                               placeholder ="Select Receiver"
                               uib-typeahead="receiver for receiver in getReceiverList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="receiver_dropdown__tpl.html"
                               typeahead-input-formatter="formatReceiverModel($model)"
                               autocomplete="off"
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                    </div></br>
                    <div class="sea" >
                        <select class="form-control "
                                ng-model="searchFilter.category"
                                data-ng-change="initTableFilter()"
                                name="categorydropdown"
                                >
                            <option value="">-Select Category-</option>
                            <option value="{{category.name}}" ng-repeat="category in paymentModel.categoryList">{{category.name}}</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 ">Created On:{{todaynewDate}}</li>
                    <li class="col-sm-4 ">From Date: {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">To Date: {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 ">Invoice ID:{{searchFilter.invoiceid == '' ? '-' : searchFilter.invoiceid}}</li>
                    <li class="col-sm-4 ">Customer Name:{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 ">Receiver Name:{{searchFilter.receiverInfo == '' ? '-' : searchFilter.receiverInfo.f_name}}</li>
                    <li class="col-sm-4 ">Invoice ID:{{searchFilter.category == '' ? '-' : searchFilter.category}}</li>
                </ul>
            </div>
            <div class="table-responsive ">
                <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Date
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" >
                                Invoice Id
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                Customer Name
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                Description
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                Category
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                Received By
                            </th>
                            <th style="width: 250px;text-align: right;"   rowspan="1" colspan="1" class="text-right">
                                Amount
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="paymentModel.isLoadingProgress">
                            <td colspan="7" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="paymentModel.list.length === 0">
                            <td colspan="7" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="payment in paymentModel.list">
                            <td>
                                {{payment.date}}
                            </td>
                            <td>
                                ID{{payment.invoice_id}}
                            </td>
                            <td>
                                {{payment.customer_fname}}
                            </td>
                            <td>
                                {{payment.comments}}
                            </td>
                            <td>
                                {{payment.tra_category}}
                            </td>
                            <td>
                                {{payment.Receiver_fname}}
                            </td>
                            <td class="text-right">
                                {{payment.amount}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="paymentModel.list.length === 0" >
                        <tr>
                            <td colspan="6" class="text-left right" >
                                Total
                            </td>
                            <td colspan="1" class="text-right">
                                {{paymentModel.total_Amount.toFixed(2)}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


