




<div class="app-content-body fade-in-up" data-ng-controller="paymentEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel-heading clearfix ">
            <h2>Payment Edit</h2>
            <a data-ui-sref="app.paymentlist" ui-scroll-to="app" class="add_button" >Back to Payment List</a>
        </div>
        <div class="model_overlay" ng-show="paymentModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="payment_edit_form" angular-validator-submit="modifyPayment()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="form-group">
                        <label>User Name</label>
                        <input  type = "text"
                                class="form-control"
                                name = "username"
                                ng-disabled="true"
                                ng-model = "paymentModel.username"
                                placeholder="username"
                                />
                    </div>
                    <div class="form-group">
                        <label>Client Name</label>
                        <input  type = "text"
                                class="form-control"
                                name = "Email"
                                ng-disabled="true"
                                ng-model = "paymentModel.clientname"
                                placeholder="Email"
                                maxlength="20"
                                />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input  type = "text"
                                class="form-control"
                                name = "Email"
                                ng-disabled="true"
                                ng-model = "paymentModel.email"
                                placeholder="Email"
                                maxlength="20"
                                />
                    </div>

                    <div class="form-group">
                        <label>Amount*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "fname"
                                ng-model = "paymentModel.amount"
                                ng-disabled="paymentModel.isSettled"
                                validator = "validationFactory.isNumber(paymentModel.amount) === true"
                                placeholder="Enter Name"
                                maxlength="35"
                                required/>
                    </div>
                    <div class="form-group">
                        <label>Comments*</label>
                        <textarea rows="4" cols="50"
                                  class="form-control"
                                  name = "comments"
                                  ng-model = "paymentModel.comments"
                                  ng-disabled="paymentModel.isSettled"
                                  placeholder="comments"
                                  required></textarea>
                    </div>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  ng-disabled="paymentModel.isSettled" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}'>Save</button>
                        <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()"  ng-disabled="paymentModel.isSettled"  data-ng-disabled="isDataSavingProcess">Reset</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


