 
<script type="text/ng-template" id="clientlist_tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<script type="text/ng-template" id="client_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="paymentAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel-heading clearfix ">
            <h2>Payment Add</h2>
            <a ui-sref="app.paymentlist" class="add_button" ui-scroll-to="app">Back to Payment  List</a>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_payment_form" angular-validator-submit="createPayment()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="form-group" >
                        <label>Client Name*</label>
                        <input type="text"
                               name="user_dropdown"
                               ng-model="paymentAddModel.clientInfo"
                               uib-typeahead="user for user in getClientList($viewValue)"
                               typeahead-loading="loading"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               placeholder="Select Client First"
                               typeahead-editable="false"
                               typeahead-template-url="client_dropdown_tpl.html"
                               typeahead-input-formatter="formatClientModel($model)"
                               autocomplete="off"
                               required
                               />
                    </div>
                    <div class="form-group">
                        <label>Balance Amount</label>
                        <input  type = "text"
                                class="form-control"
                                ng-disabled="true"
                                name = "amount"
                                ng-model = "paymentAddModel.clientInfo.balanceAmount"
                                placeholder="amount"
                                />
                    </div>
                    <div class="form-group">
                        <label>Email Id</label>
                        <input  type = "text"
                                class="form-control"
                                name = "Email"
                                ng-disabled="true"
                                ng-model = "paymentAddModel.clientInfo.email"
                                placeholder="Email"

                                />
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input  type = "text"
                                class="form-control"
                                name = "phoneNumber"
                                ng-disabled="true"
                                ng-model = "paymentAddModel.clientInfo.phoneNumber"
                                placeholder="Mobile"
                                maxlength="20"
                                />
                    </div>
                    <div class="form-group">
                        <label>Enter the Amount*</label>
                        <input  type = "text"
                                class="form-control"
                                name = "Amount"
                                ng-model = "paymentAddModel.amount"
                                placeholder="Amount"
                                validator = "validationFactory.isNumber(paymentAddModel.amount) === true"
                                maxlength="20"
                                required/>
                    </div>
                    <div class="form-group">
                        <label>Comments</label>
                        <textarea rows="4" cols="50"
                                  class="form-control"
                                  name = "comments"
                                  ng-model = "paymentAddModel.comments"
                                  placeholder="Enter the comments"
                                  required></textarea>
                    </div>
                    <li>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                            <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                        </div>
                    </li>
                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
