


<div class="app-content-body fade-in-up req-stock print-page  " >
    <div class="wrapper-md animated fadeInUp clearfix " data-ng-controller="paymentSettlementPrintCtrl">
        <div class="panel panel-default ">
            <div class=" wrapper-sm clearfix ">

                <div class="table-responsive ">
                    <div class=" header-con  ">
                        <div class="con">
                            <h2>UnSettlement Payment Report</h2>
                            <ul>
                                <li>
                                    <span class="tite-desc">Company Name: </span>
                                    <span class="tite-detai">{{userModel.comp.name}}</span>
                                </li>
                                <li>
                                    <span class="tite-desc">User Name: </span>
                                    <span class="tite-detai">{{paymentModel.userInfo.username}}</span>
                                </li>
                                <li>
                                    <span class="tite-desc">Date:</span>
                                    <span class="tite-detai">{{ currentDate | date : 'dd-MM-yyyy'}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="sea">
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_grn print-btn" data-ng-click="print()">Print</a>
                        </div>
                    </div>
                    <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width: 60px;"  rowspan="1" colspan="1" >
                                    ID
                                </th>
                                <th style="width: 200px;"  rowspan="1" colspan="1" >
                                    Client Name
                                </th>
                                <th style="width: 200px;"   rowspan="1" colspan="1">
                                    Email
                                </th>
                                <th style="width: 200px;"   rowspan="1" colspan="1">
                                    Date
                                </th>
                                <th style="width: 200px;"   rowspan="1" colspan="1">
                                    comments
                                </th>
                                <th style="width: 100px;"   rowspan="1" colspan="1">
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="paymentModel.isLoadingProgress">
                                <td colspan="7" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="paymentModel.list.length == 0">
                                <td colspan="7" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="payment in paymentModel.list">
                                <td>
                                    <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{payment.id}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{payment.clientName}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{payment.email}}
                                    </a>
                                </td>
                                <td>
                                    <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{payment.date| date:'dd/MM/yyyy  '}}
                                </td>
                                <td>
                                    <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{payment.comments}}
                                </td>
                                <td style="text-align: right;">
                                    <a data-ui-sref="app.paymentEdit({id: '{{payment.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{payment.amount.toFixed(2)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
