
<div class="app-content-body fade-in-up"  data-ng-controller="appSettingsEditCtrl">


    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="prefix_settings"></h2>
        </div>
    </div>
    <div class="model_overlay" ng-show="prefixSettingsEditModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
            <img alt="loader" src="../img/loading.gif" />
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <form name="app_settings_form" angular-validator-submit="updateAppSettings()" class="form-horizontal clearfix " novalidate angular-validator >

                <div class="row ">
                    <div class="col-sm-6 ">
                        <div class="row ">
                            <div class="col-sm-6 topmargin right ">
                                <label translate="type"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <select name="type" ng-model="appSettingsEditModel.type"  class="form-control"
                                        data-ng-change="getappSettingsInfo()">
                                    <option value ="" translate="--type--"></option>
                                    <option value="sales_estimate_prefix" ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'" translate="sales_estimate"></option>
                                    <option value="sales_order_prefix" ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'" translate="sales_order"></option>
                                    <option value="sales_invoice_prefix" ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'" translate="sales_invoice"></option>
                                    <option value="purchase_estimate_prefix" ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'" translate="purchase_estimate"></option>
                                    <option value="purchase_invoice_prefix" ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'" translate="purchase_invoice"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 topmargin right ">
                                <label translate="prefix"></label>
                            </div>
                            <div class="col-sm-6 topmarginsm ">
                                <textarea rows="7" cols="150"  maxlength="150"
                                          class="form-control "
                                          name = "Prefix"
                                          ng-model = "appSettingsEditModel.prefix"
                                          placeholder="{{'prefix' | translate}}"
                                          required style="height:100px;"
                                          ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 hint" style="padding-top: 10px;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <p class="hp" style="text-align: center;font-weight: 500;font-size: 13px;"> ( You can add new Prefix using Enter key )</p>
                        </div>
                    </div>
                    <div class="col-sm-12 center topmargin toppading " data-ng-show="appSettingsEditModel.type != ''">
                        <div class="form-group full_w btn_group">
                            <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                        </div>
                    </div>

                </div>



            </form>
        </div>
    </div>


    <div class="model_overlay ng-hide" ng-show="showUploadFilePopup"></div>
    <div class="model_popup model_popup_fixed add add_review_popup ng-hide" ng-show="showUploadFilePopup">
        <a href="javascript:void(0)" ng-click="closePopup('fileupload')" class="glyphicon glyphicon-remove close " ></a>
        <h3>File Upload</h3>
        <div class="form-container " ng-if="showUploadFilePopup">
            <fileupload cloud-upload-path="img/logo/" image-list="" show-comment="false" type="logo" has-limit="true" limit="1"></fileupload>
            <ul class="form-editable">
                <li class="center ">
                    <button type="button" class="btn btn-sm btn-primary btn_grn"
                            data-ng-disabled="isImageSavingProcess"
                            data-ng-class='{"btn-loader":isImageSavingProcess}'
                            data-ng-click="closeLogoUpload()"
                            >Ok</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="model_overlay ng-hide" ng-show="showBackgroundUploadPopup"></div>
    <div class="model_popup model_popup_fixed add add_review_popup ng-hide" ng-show="showBackgroundUploadPopup">
        <a href="javascript:void(0)" ng-click="closePopup('background')" class="glyphicon glyphicon-remove close " ></a>
        <h3>Background Upload</h3>
        <div class="form-container " ng-if="showBackgroundUploadPopup">
            <fileupload cloud-upload-path="img/bg/" image-list="" show-comment="false" type="background" has-limit="true" limit="1"></fileupload>
            <ul class="form-editable">
                <li class="center ">
                    <button type="button" class="btn btn-sm btn-primary btn_grn"
                            data-ng-disabled="isBackgroundSavingProcess"
                            data-ng-class='{"btn-loader":isBackgroundSavingProcess}'
                            data-ng-click="closeBackgroundUpload()"
                            >Ok</button>
                </li>
            </ul>
        </div>
    </div>
</div>
