<div class="app-content-body fade-in-up req-stock " data-ng-controller="productListCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="product_list"></h2>
            <a data-ui-sref="app.productAdd" ui-scroll-to="app" class="add_button add-dash" translate="add_new"></a>
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
            <a href="{{APP_CONST.API.PRODUCT_DOWN}}?name={{searchFilter.name}}&sku={{searchFilter.sku}}&type=Product&is_active={{searchFilter.activeOrDeactiveProduct == 1 ? 0 : 1}}&is_sale={{searchFilter.salesOrPurchase == 1 ? 1 : 0}}&is_purchase={{searchFilter.salesOrPurchase == 2 ? 1 : 0}}&limit={{productModel.limit}}&start=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="panel panel-default ">
                <div class="head_right table-search wrapper-sm clearfix ">
                    <form name="product_list_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                        <div class="sea">
                            <input type="text" name="name_search"
                                   placeholder="{{'name' | translate}}"
                                   data-ng-model="searchFilter.name"
                                   angular-localstorage-field='true'
                                   class="form-control " data-ng-change="initTableFilter()" />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>
                        <div class="sea" >
                            <select class="form-control "
                                    ng-model="searchFilter.salesOrPurchase"
                                    data-ng-change="initTableFilter()"
                                    angular-localstorage-field='true'
                                    name="salesPurchaseDropDown"
                                    >
                                <option value ="" translate="all"></option>
                                <option value="1" translate="sales"></option>
                                <option value="2" translate="purchase"></option>
                            </select>

                        </div>
                        <div class="sea" >
                            <select class="form-control "
                                    ng-model="searchFilter.activeOrDeactiveProduct"
                                    data-ng-change="initTableFilter()"
                                    angular-localstorage-field='true'
                                    name="activeDeactiveProductDropDown"
                                    >
                                <option value="" translate="active" ></option>
                                <option value="1" translate="deactive"></option>
                            </select>

                        </div>
                    </form>
                </div>
                <div class="table-responsive ">

                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width:110px;" rowspan="1" colspan="1">
                                    #
                                </th>
                                <th  style="width:250px;" rowspan="1" colspan="1" translate="name">
                                   
                                </th>
                                <th style="width:180px;" rowspan="1" colspan="1" translate="sku">
                                    
                                </th>
                                <th style="width:180px;" rowspan="1" colspan="1" translate="HSN/legal_code">
                                    
                                </th>
                                <th data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'" style="width:200px;" rowspan="1" colspan="1" translate="sales_price">
                                    
                                </th>
                                <th style="width:400px;" rowspan="1" colspan="1" translate="description">
                                    
                                </th>
                                <th style="width:100px;" rowspan="1" colspan="1" translate="action">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="productModel.isLoadingProgress">
                                <td colspan="7" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>

                            <tr data-ng-if="productModel.list.length == 0">
                                <td colspan="7" class="text-center" >
                                    <span translate="no_data_found"></span>
                                </td>
                            </tr>
                            <tr   data-ng-repeat="product in productModel.list">
                                <td> 
                                    <a data-ui-sref="app.productEdit({id: '{{service.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{product.id}} 
                                    </a>
                                </td>
                                <td> 
                                    <a data-ui-sref="app.productEdit({id: '{{product.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{product.name}} 
                                    </a>
                                </td>
                                <td> 
                                    <a data-ui-sref="app.productEdit({id: '{{product.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{product.sku}} 
                                    </a>
                                </td>
                                <td> 
                                    <a data-ui-sref="app.productEdit({id: '{{product.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{product.hsn_code}} 
                                    </a>
                                </td>
                                <td data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'"> 
                                    <a data-ui-sref="app.productEdit({id: '{{product.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{product.sales_price}}
                                    </a>
                                </td>
                                <td> 
                                    <a data-ui-sref="app.productEdit({id: '{{product.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                        {{product.description}} 
                                    </a>
                                </td>
                                <td>
                                    <a  data-ui-sref="app.productEdit({id: '{{product.id}}'})" data-ui-scroll-to="app">
                                        <img class="icon icons8-Edit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABFElEQVQ4T63UwU3DQBAF0P+DNmcf4jOU4BJcgjvAWwFwNkhGGHGlg00HcSogHWAqAK4xEuHKBgaZYEhiA+vIe169mf2aWaKnw54cdII8k3rDgToSkZDkbH6YnNeNOEMVoqhuIEKA14AcE8znOkkrzAmqEQKBAOMyTrRvLmMAcamT0Ala78RiL1J4y0HeAggomDp1tIksw4VOF565Ohjy/V5E7kp9GvybUTvyk5PFCv4T6oq0ZrQL0oB2RRqQb7KCgPeKZbAK9vdMtjfie45G5iIkBvnnBWJixZ7UA7gdbNtarUFZNamRhY0U1AOJZxF5cUE2nuabbAxi/6taAMGjK9KEAAhQAFI86bNZl5/BaddcwN6gD8jtvxMIXPP6AAAAAElFTkSuQmCC" width="18" height="18">
                                    </a>
                                    <a  class="chel-edit-add add-dash" data-ng-click="showPopup(product.id)">
                                        <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-ng-hide="productModel.list.length == 0" >
                            <tr>
                                <td colspan="2" class="text-left" >
                                    <label class="show_count_label " translate="show"></label>
                                    <select name = "perpage"
                                            ng-model="productModel.limit"
                                            data-ng-hide="productModel.list.length == 0"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="initTableFilter()"
                                            >
                                    </select>
                                </td>
                                <td colspan="5" class="text-right">
                        <uib-pagination  data-ng-hide="productModel.list.length == 0" total-items="productModel.total" ng-model="productModel.currentPage" ng-change="getProductListInfo()" items-per-page="productModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>  
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteProductInfo()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" translate="cancel"></button></center>
    </div>
</div>


