<script type="text/ng-template" id="product_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="productEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="product_edit"></h2>
            <a ui-sref="app.productList" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="productModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="product_edit_form" angular-validator-submit="editProductInfo()" class="form-horizontal material-form clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="productname"
                                           class="form-control "
                                           placeholder="{{'name'| translate}}"
                                           data-ng-model="productModel.name"
                                           maxlength="100"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="sku_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="sku"
                                           class="form-control "
                                           placeholder="{{'sku'| translate}}"
                                           data-ng-model="productModel.sku"
                                           maxlength="40"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="uom"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select type = "text" ng-model="productModel.uom" class="form-control">
                                        <option value="" translate="select"></option>
                                        <option value="{{uomlist.name}}" data-ng-repeat="uomlist in productModel.uomList">{{uomlist.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="category_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select name ="categoryDropdown" type = "text" ng-model="productModel.category_id" class="form-control" required>
                                        <option value="" translate="select"></option>
                                        <option value="{{categorylist.id}}" data-ng-repeat="categorylist in productModel.categorylist">{{categorylist.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="HSN/legal_code_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="hsn"
                                           class="form-control "
                                           placeholder="{{'HSN/legal_code'| translate}}"
                                           data-ng-model="productModel.hsncode"
                                           maxlength="40"
                                           ng-click="showHsnPopup()"
                                           required
                                           readonly
                                           />
                                    <span class="glyphicon glyphicon-search head-right-search hsn-search"></span>
                                </div>

                                <div class="col-sm-12  bottommargin" ng-if="productModel.hsncode != ''">
                                    <table class="table table-striped b-t  dataTable no-footer small-table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th ng-if="productModel.hsncodeTaxinfo.length > 1" translate="from_price"></th>
                                                <th ng-if="productModel.hsncodeTaxinfo.length > 1" translate="to_price"></th>                                                                                                                                                
                                                <th translate="intra_state_tax" style="width: max-content;"></th>
                                                <th translate="inter_state_tax" style="width: max-content;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="productModel.hsncodeTaxinfo.length == 0">
                                                <td class="center" colspan="2">-Nill-</td>
                                            </tr>
                                            <tr data-ng-repeat="product in productModel.hsncodeTaxinfo">

                                                <td style="padding: 10px 15px 8px;" ng-if="productModel.hsncodeTaxinfo.length > 1">
                                                    {{product.from_price}}
                                                </td>
                                                <td style="padding: 10px 15px 8px;" ng-if="productModel.hsncodeTaxinfo.length > 1">
                                                    {{product.to_price == 0.00 ? product.from_price+'+' : product.to_price}}
                                                </td>                                                
                                                <td style="padding: 10px 15px 8px;width: max-content;">
                                                    {{product.inter_tax_name}}
                                                </td>
                                                <td style="padding: 10px 15px 8px;width: max-content;">
                                                    {{product.intra_tax_name}}
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>

                                <div data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="sales_price_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="salesPrice"
                                               class="form-control "
                                               placeholder ="{{'sales_price'| translate}}"
                                               data-ng-model="productModel.sales_price"
                                               validator = "validationFactory.isNumber(productModel.sales_price) === true"
                                               ng-required="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'"
                                               />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="description"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "Description"
                                              ng-model = "productModel.description"
                                              placeholder="{{'description'| translate}}"
                                              >
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label style="width: 100%;"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <!--                                        <input type="checkbox"
                                                                                   class=" "
                                                                                   id="productactive"
                                                                                   name="is_active"
                                                                                   data-ng-model="productModel.is_active"
                                                                                   />
                                                                            <label for="productactive">Active</label>-->
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="productis_sale"
                                           name="is_sale"
                                           data-ng-model="productModel.is_sale"
                                           validator="validationFactory.hasRequired(productModel.is_sale) || validationFactory.hasRequired(productModel.is_purchase)"
                                           />
                                    <label for="productis_sale" translate="sales"></label>

                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="productis_purchase"
                                           name="is_purchase"
                                           data-ng-model="productModel.is_purchase"
                                           validator="validationFactory.hasRequired(productModel.is_sale) || validationFactory.hasRequired(productModel.is_purchase)"
                                           />
                                    <label for="productis_purchase" translate="purchase"></label>
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="hasinventory"
                                           name="hasinventory"
                                           data-ng-model="productModel.hasinventory"
                                           />
                                    <label for="hasinventory" translate="has_inventory"></label>
                                </div>
                                <div class="col-sm-5 topmarginxs right "  data-ng-show="productModel.hasinventory">
                                    <label translate="min_stock_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin" data-ng-show="productModel.hasinventory">
                                    <input type="text"
                                           name="minstock"
                                           class="form-control "
                                           placeholder="{{'min_stock'| translate}}"
                                           data-ng-model="productModel.minstock"
                                           validator = "validationFactory.isNumber(productModel.minstock) === true"
                                           ng-required ="productModel.hasinventory"
                                           />
                                </div>
                            </div>
                            <!--                            <div class="col-sm-5 topmarginxs right ">
                                                            <label ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'" translate="tax_mapping_required"></label>
                                                            <label translate="tax_mapping"></label>
                                                        </div>
                                                        <div class="col-sm-7 bottommargin">
                                                            <select ng-model="productModel.tax" name="taxdropdown" class="form-control" ng-required="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                                                            <select ng-model="productModel.tax" name="taxdropdown" class="form-control">
                                                                <option value ="" translate="select_tax"></option>
                                                                <option value="{{tax.tax_id}}" data-ng-repeat="tax in productModel.taxMapping">{{tax.tax_name}}-({{tax.tax_percentage}})</option>
                                                            </select>
                                                        </div>-->
                        </div>
                    </div>
                    <!--                    <div class ="row tier-left">
                                            <h5 class="tier" translate="tier_pricing"></h5>
                                            <a class="glyphicon glyphicon-plus add-icon add-new" data-ng-click="addNewRow()">
                                            </a></br></br>
                                            <div class="col-sm-12">  
                                                <div class="row" data-ng-show="productModel.tierPriceList.length > 0">
                                                    <div class="col-sm-3 tier" translate="from_qty">
                    
                                                    </div>
                                                    <div class="col-sm-3 tier" translate="to_qty">
                    
                                                    </div>
                                                    <div class="col-sm-3 tier" translate="unit_price">
                    
                                                    </div>
                                                </div>
                                                <div class="tax-map-wrap clearfix "  data-ng-repeat="tierprice in productModel.tierPriceList">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-group texts">
                                                                <input
                                                                    name="from_qty_{{$index}}"
                                                                    type="text"
                                                                    class="form-control qty "
                                                                    placeholder="{{'from_qty'| translate}}"
                                                                    data-ng-model="$parent.productModel.tierPriceList[$index].from_qty"
                                                                    validator = "validationFactory.isNumber($parent.productModel.tierPriceList[$index].from_qty)"
                                                                    angular-validator-field
                                                                    required
                                                                    />
                                                            </div>
                                                                                                          data-ng-change="checkQty($parent.productModel.tierPriceList[$index].from_qty, $index,'from')"
                                                            
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group texts">
                                                                <input
                                                                    name="to_{{$index}}"
                                                                    type="text"
                                                                    class="form-control qty "
                                                                    placeholder="{{'to_qty'| translate}}"
                                                                    data-ng-model="$parent.productModel.tierPriceList[$index].to_qty"
                                                                    validator = "validationFactory.isNumber($parent.productModel.tierPriceList[$index].to_qty)"
                                                                    angular-validator-field
                                                                    required
                                                                    />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group texts">
                                                                <input
                                                                    name="unit_price_{{$index}}"
                                                                    type="text"
                                                                    class="form-control qty "
                                                                    placeholder="{{'unit_price'| translate}}"
                                                                    data-ng-model="$parent.productModel.tierPriceList[$index].unit_price"
                                                                    validator = "validationFactory.isNumber($parent.productModel.tierPriceList[$index].unit_price)"
                                                                    angular-validator-field
                                                                    required
                                                                    />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <a style="display: inline-block; margin-top: 9px;" href="javascript:void(0)" data-ng-click="deleteTierPrice($index, tierprice.id)" ui-toggle-class="" style="padding: 0;">
                                                                <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" data-ng-show="productModel.tierPriceList.length == 0">
                                                    <span translate="no_data_found"></span>
                                                </div>
                                            </div>
                                        </div>-->
                    <div class="row clear_b">                               
                        <div class="col-sm-12 form-group" >
                            <div class=" bg-white avt avt1" data-ng-click="showPopup('photogalary')">                                        
                                <div class="col-sm-4 form-container prof profile-photo" data-ng-repeat="image in productModel.attachments">
                                    <cloud-image-loader urlpath="image.url" preview="false"></cloud-image-loader>                 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 btn_group">
                        <a href="javascript:void(0)" class="upload-all-photo topmargin" data-ng-click="showPopup('morefileupload')" translate="upload_photo"></a>
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()" translate="reset"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="model_overlay ng-hide" ng-show="showUploadMoreFilePopup" ></div>
    <div class="model_popup model-photo  add_review_popup ng-hide popup-fixed" ng-show="showUploadMoreFilePopup" style="position: fixed;">
        <a href="javascript:void(0)" ng-click="closePopup('morefileupload')" class="glyphicon glyphicon-remove close close1 " ></a>
        <h3>File Upload</h3>
        <div class="form-container productPopup" ng-if="showUploadMoreFilePopup" >
            <fileupload cloud-upload-path="product/{{productModel.id}}" image-list="productModel.attachments" has-limit="false"></fileupload>
            <ul class="form-editable">
                <li class="a-right btn-wrapper ">
                    <!--                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light "
                                                data-ng-disabled="isImageSavingProcess"
                                                data-ng-class='{"btn-loader":isImageSavingProcess}'
                                                data-ng-click="saveImagePath()"
                                                >Save</button>-->
                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light"
                            data-ng-disabled="isImageSavingProcess"                            
                            data-ng-click="saveImagePath()" translate="save"
                            ></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="model_overlay ng-hide" ng-show="showPhotoGalaryPopup" ></div>
    <div class="model_popup model_popup_fixed add_review_popup ng-hide pgal popup-fixed galpopup" data-ng-show="showPhotoGalaryPopup" >
        <a href="javascript:void(0)" ng-click="closePopup('photogalary')" class="glyphicon glyphicon-remove close " ></a>
        <div class="form-container">
            <photo-gallery  image-list="productModel.attachments" attachment-view="true" image-width="600" ></photo-gallery>
        </div>
    </div> 
    <div class="model_overlay" ng-if="showHSNDetail" ></div>
    <div class="model_popup model_popuphsn delet-popup model_popup_fixed add_review_popup ng-hide pgal popup-fixed galpopup popupp" data-ng-show="showHSNDetail" >
        <a href="javascript:void(0)" ng-click="closeHsnPopup()" class="glyphicon glyphicon-remove close " ></a>
        <form name="hsncode_form" angular-validator-submit="getHsnList()" class="form-horizontal clearfix " novalidate angular-validator>
            <div class="first-head"><h5>HSN Search</h5></div>
            <div class="panel panel-default hsn-popup">
                <div class="row topmarginsm bottommarginsm">

                    <div class="head_right wrapper-sm1 clearfix bor-div">
                        <div class="sea" >
                            <input type="text"
                                   id='hsn_dropdown'
                                   class="form-control"
                                   name="hsn_dropdown"
                                   ng-model="searchFilter.hsn_code"
                                   placeholder="HSN Code Details..."
                                   ng-required =" searchFilter.product == '' || searchFilter.product == 'undefined' || searchFilter.product == null  "
                                   angular_field_validator
                                   />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                            <!--                            <i ng-show="loadingLocations"  class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noResults" >
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>-->
                        </div>

                        <div class="sea" >
                            <input type="text"
                                   id='desc'
                                   class="form-control"
                                   name="employee_dropdown_{{$index}}"
                                   ng-model="searchFilter.product"
                                   placeholder="product Details..."
                                   ng-required =" searchFilter.hsn_code == '' || searchFilter.hsn_code == 'undefined' || searchFilter.hsn_code == null  "
                                   angular_field_validator
                                   />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                            <!--                            <i ng-show="loadingLocations"  class="glyphicon glyphicon-refresh"></i>
                                                        <div ng-show="noResults" >
                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                        </div>-->
                        </div>
                        <div class="button">
                            <button type="submit" class="btn-sm1 btn-primary " data-ng-disabled="productModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":productModel.isSearchLoadingProgress}' >Search</button>
                        </div>
                        <div class="button">
                            <button class="btn-sm1 btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset style="margin-left:10px;">Clear</button>
                        </div>
                    </div>
                </div>


                <div class="row rowwtab topmarginsm bottommarginsm posnew-shadow">

                    <table class="cus-tablehsn">
                        <thead>
                            <tr>
                                <th style="padding-left: 15px;width:150px;">HSN Code</th>
                                <th style="padding-left: 15px;">Description</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="productModel.isLoadingProgress">
                                <td colspan="2" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="productModel.hsnList.length == 0 ||  (productModel.hsnList |  filter:searchFilter.hsn_code).length == 0 ||  (productModel.hsnList |  filter:searchFilter.product).length == 0 ">
                                <td colspan="2" class="text-center" style="padding:10px 0px 8px; width:100%;">
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="product in productModel.hsnList|filter:searchFilter.hsn_code |filter:searchFilter.product " data-ng-click="editHsnInfo(product)" style="cursor:pointer;">
                                <td style="padding: 10px 15px 8px;width:14%;">{{product.hsn_code}}</td>
                                <td style="padding: 10px 15px 8px; width:85%;">
                                    <span data-ng-bind-html="product.description | highlightKeywords:searchFilter.product"></span>
                                </td>
                            </tr>
                            <!--                                <tr >
                            
                                                                <td style="padding: 10px 15px 8px;">017</td>
                                                                <td style="padding: 10px 15px 8px;">sample hsn</td>
                                                            </tr>
                                                            <tr>
                            
                                                                <td style="padding: 10px 15px 8px;">019</td>
                                                                <td style="padding: 10px 15px 8px;">sample</td>
                                                            </tr>                                -->
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="hsn-msgdiv" >
                <p><span class="parahsn">Want to Add New HSN?</span><a href="">Click Here</a></p>
            </div>
        </form>

    </div> 
</div>



