<div class="app-content-body fade-in-up"  data-ng-controller="productAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="product_add"></h2>
                <a ui-sref="app.productList" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
        <div class="container animated fadeInUp clearfix topmarginsm  ">
            <div class="wrapper-md bg-white topmargin "> 
                <div class="  clearfix add-form form-wrapper">
                    <form name="product_add_form" angular-validator-submit="addProductInfo()" class="form-horizontal clearfix " novalidate angular-validator >
                        <div class="row ">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="productname"
                                               class="form-control "
                                               placeholder="{{'name' | translate}}"
                                               data-ng-model="productModel.name"
                                               maxlength="100"
                                               required                                                   
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="sku_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="sku"
                                               class="form-control "
                                               placeholder="{{'sku' | translate}}"
                                               data-ng-model="productModel.sku"
                                               maxlength="40"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="uom"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select type = "text" ng-model="productModel.uomName" class="form-control" >
                                            <option value="" translate="select"></option>
                                            <option value="{{uomlist.name}}" data-ng-repeat="uomlist in productModel.uomList">{{uomlist.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="category_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select name ="categoryname" type = "text" ng-model="productModel.id" class="form-control" required>
                                            <option value="" translate="select"></option>
                                            <option value="{{categorylist.id}}" data-ng-repeat="categorylist in productModel.categorylist">{{categorylist.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="HSN/legal_code_req"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="hsn_{{$index}}"
                                               class="form-control "
                                               placeholder="{{'HSN/legal_code' | translate}}"
                                               data-ng-model="productModel.hsncode"
                                               maxlength="40"
                                               ng-click="showHsnPopup()"
                                               required
                                               readonly
                                               />
                                    </div>
                                    
                                    <div class="col-sm-12  bottommargin" ng-if="productModel.hsncode !=''">
                                    <table class="table table-striped b-t  dataTable no-footer small-table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                               <th ng-if="productModel.hsncodeTaxinfo.length > 1" translate="from_price"></th>
                                                <th ng-if="productModel.hsncodeTaxinfo.length > 1" translate="to_price"></th>                                                                                                                                                                                                
                                                <th translate="intra_state_tax" style="width: max-content;"></th>
                                                <th translate="inter_state_tax" style="width: max-content;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="productModel.hsncodeTaxinfo.length == 0">
                                                <td class="center" colspan="2">-Nill-</td>
                                            </tr>
                                            <tr data-ng-repeat="product in productModel.hsncodeTaxinfo">

                                                <td ng-show="productModel.hsncodeTaxinfo.length > 1" style="padding: 10px 15px 8px;">
                                                    {{product.from_price}}
                                                </td>
                                                <td ng-show="productModel.hsncodeTaxinfo.length > 1" style="padding: 10px 15px 8px;">
                                                    {{product.to_price == 0.00 ? product.from_price+'+' : product.to_price}}
                                                </td>                                                
                                                <td style="padding: 10px 15px 8px;width: max-content;">
                                                    {{product.inter_tax_name}}
                                                </td>
                                                <td style="padding: 10px 15px 8px;width: max-content;">
                                                    {{product.intra_tax_name}}
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                                    
                                    <div ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                                        <div class="col-sm-5 topmarginxs right ">
                                            <label translate="sales_price_required"></label>
                                        </div>
                                        <div class="col-sm-7 bottommargin">
                                            <input type="text"
                                                   name="{{'sales_price' | translate}}"
                                                   class="form-control "
                                                   placeholder ="Sales Price "
                                                   data-ng-model="productModel.salesPrice"
                                                   validator = "validationFactory.isNumber(productModel.salesPrice) === true"
                                                   ng-required="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'"
                                                   angular-validator-field
                                                   />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="description"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea class="form-control"
                                                  name = "Description"
                                                  ng-model = "productModel.description"
                                                  placeholder="{{'description' | translate}}"
                                                  >
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label style="width: 100%;"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <!--                                        <input type="checkbox"
                                                                                       class=" "
                                                                                       id="productactive"
                                                                                       name="isActive"
                                                                                       data-ng-model="productModel.isActive"
                                                                                       />
                                                                                <label for="productactive">Active</label>-->


                                        <input type="checkbox"
                                               class=" "
                                               id="productisSale"
                                               name="isSale"
                                               data-ng-model="productModel.isSale"
                                               validator="validationFactory.hasRequired(productModel.isSale) || validationFactory.hasRequired(productModel.isPurchase)"
                                               />
                                        <label for="productisSale" translate="sales"></label>

                                        <label style="width: 100%;"></label>
                                        <input type="checkbox"
                                               class=" "
                                               id="productisPurchase"
                                               name="isPurchase"
                                               data-ng-model="productModel.isPurchase"
                                               validator="validationFactory.hasRequired(productModel.isSale) || validationFactory.hasRequired(productModel.isPurchase)"
                                               />
                                        <label for="productisPurchase" translate="purchase"></label>
                                        <label style="width: 100%;"></label>
                                        <input type="checkbox"
                                               class=" "
                                               id="hasinventory"
                                               name="hasinventory"
                                               data-ng-model="productModel.hasinventory"
                                               />
                                        <label for="hasinventory" translate="has_inventory"></label>
                                    </div>
                                    <div data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                                        <div class="col-sm-5 topmarginxs right " data-ng-show="productModel.hasinventory">
                                            <label>Open Stock*</label>
                                        </div>
                                        <div class="col-sm-7 bottommargin" data-ng-show="productModel.hasinventory">
                                            <input type="text"
                                                   name="openstock"
                                                   class="form-control "
                                                   placeholder="Open Stock"
                                                   data-ng-model="productModel.openstock"
                                                   validator = "validationFactory.isNumber(productModel.openstock) === true"
                                                   ng-required ="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'"
                                                   angular-validator-field
                                                   />
                                        </div>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right "  data-ng-show="productModel.hasinventory">
                                        <label>Min Stock*</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin" data-ng-show="productModel.hasinventory">
                                        <input type="text"
                                               name="minstock"
                                               class="form-control "
                                               placeholder="Min Stock"
                                               data-ng-model="productModel.minstock"
                                               validator = "validationFactory.isNumber(productModel.minstock) === true"
                                               ng-required ="productModel.hasinventory"
                                               />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12 btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()" translate="reset"></a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="model_overlay" ng-if="showHSNDetail" ></div>
    <div class="model_popup model_popuphsn delet-popup model_popup_fixed add_review_popup ng-hide pgal popup-fixed galpopup popupp" data-ng-show="showHSNDetail" >
        <a href="javascript:void(0)" ng-click="closeHsnPopup()" class="glyphicon glyphicon-remove close " ></a>
        <form name="hsncode_form" angular-validator-submit="getHsnList()" class="form-horizontal clearfix " novalidate angular-validator>
            <div class="first-head"><h5>HSN Search</h5></div>
            <div class="panel panel-default hsn-popup" style="margin-top:15px;">
                <div class="row topmarginsm bottommarginsm">

                    <div class="head_right wrapper-sm1 clearfix hsnpop bor-div">
                        <div class="sea" >
                            <input type="text"
                                   id='hsn_dropdown'
                                   class="form-control"
                                   name="hsn_dropdown"
                                   ng-model="searchFilter.hsn_code"
                                   placeholder="HSN Code Details..."
                                   ng-required =" searchFilter.product == '' || searchFilter.product == 'undefined' || searchFilter.product == null  "
                                   angular_field_validator
                                   />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
<!--                            <i ng-show="loadingLocations"  class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults" >
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>-->
</div>
                        
                        <div class="sea" >
                            <input type="text"
                                   id='desc'
                                   class="form-control"
                                   name="employee_dropdown_{{$index}}"
                                   ng-model="searchFilter.product"
                                   placeholder="product Details..."
                                   ng-required =" searchFilter.hsn_code == '' || searchFilter.hsn_code == 'undefined' || searchFilter.hsn_code == null  "
                                   angular_field_validator
                                   />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
<!--                            <i ng-show="loadingLocations"  class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults" >
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>-->
                        </div>
                        <div class="button">
                        <button type="submit" class="btn-sm1 btn-primary " data-ng-disabled="productModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":productModel.isSearchLoadingProgress}' >Search</button>
                        </div>
                        <div class="button">
                        <button class="btn-sm1 btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset style="margin-left:10px;">Clear</button>
                        </div>
                    </div>
                </div>


                <div class="row rowwtab bottommarginsm posnew-shadow">
                    
                        <table class="cus-tablehsn">
                            <thead>
                                <tr>
                                    <th style="padding-left: 15px;width:150px;">HSN Code</th>
                                    <th style="padding-left: 15px;">Description</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="productModel.isLoadingProgress">
                                    <td colspan="2" class="center" style="padding: 0;" >
                                        <p class="loader-icon" >
                                            <img alt="loader" src="../img/loading.gif" />
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-if="productModel.hsnList.length == 0 ||  (productModel.hsnList |  filter:searchFilter.hsn_code).length == 0 ||  (productModel.hsnList |  filter:searchFilter.product).length == 0 ">
                                <td colspan="2" class="text-center" style="padding:10px 0px 8px; width:100%;">
                                        -No Data Found-
                                    </td>
                                </tr>
                            <tr data-ng-repeat="product in productModel.hsnList |  filter:searchFilter.hsn_code |  filter:searchFilter.product" style="cursor:pointer;">

                                <td style="padding: 10px 15px 8px; width:14%;" >
                                    <a ng-click="updateHsn(product)"> {{product.hsn_code}}</a>
                                </td>
                                <td style="padding: 10px 15px 8px; width:85%;" data-ng-click="addHsnInfo(product)">
                                    <a ng-click="updateHsn(product)"><span data-ng-bind-html="product.description | highlightKeywords:searchFilter.product"></span></a>
                                </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    
                </div>
               
            </div>
            
            <div class="hsn-msgdiv" >
                <p><span class="parahsn">Want to Add New HSN?</span><a href="">Click Here</a></p>
            </div>
        </form>

    </div> 
    
</div>