<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="purchaseInvoiceViewCtrl" >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix hide-print">

            <h2 translate="purchase_invoice_view"></h2>
            <div class=" right action-links " >
                <!--<button id="cmd">generate PDF</button>-->
                <!--                <a href="javascript:void(0)" class=" " data-ng-click="exportAsPDF()">
                                    Export As PDF
                                </a>-->
                <!--                <div data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'" >-->
<!--                <a href="javascript:void(0)" data-ng-click="generateBarCode()"
                   data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED' && hidebarcode == true"
                   data-ng-class="{'update_qty_btn':isBarcodeGenerating}"
                   ui-scroll-to="app" class="btn btn-sm btn-primary btn_orng" translate="generate_barcode">
                    
                </a>
                <a href="javascript:void(0)" 
                   data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED' && hidebarcode == false"                       
                   ui-scroll-to="app" class="btn btn-sm btn-primary btn_orng" translate="barcode_generated">
                    
                </a>-->
                <!--</div>-->
                <!--<div ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED' && hidebarcode==true"><strong>Barcode generated for all items</strong></div>-->
                <a ng-if="hidebarcode == false" href="{{APP_CONST.API.DOWNLOAD_CURRENT_LABEL}}?id={{orderListModel.invoiceId}}&type=purchaseinvoice"
                   ui-scroll-to="app" class="add_button add-dash"
                   data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'" ng-click="checkCode()" translate="download"></a>
                <!--                <a href="{{APP_CONST.INVOICE_PRINT_URL}}?purchase_no={{orderListModel.invoiceDetail.id}}" class="btn btn-sm btn-primary btn_grn" target="_blank">
                                    Print
                                </a>-->
                <a  class="btn btn-sm btn-primary btn_grn" ng-click="print()" translate="print">
                    
                </a>
                <a data-ng-hide="orderListModel.invoiceDetail.status == 'paid' || orderListModel.invoiceDetail.status == 'partiallyPaid' || orderListModel.invoiceDetail.is_sale == 1" data-ui-sref="app.purchaseInvoiceEdit({id: '{{stateParamData}}'})" ui-scroll-to="app" class="btn btn-sm btn-primary btn_orng" translate="edit">
                    
                </a>
                <a ui-sref="app.purchaseInvoice" ui-scroll-to="app" href="#/purchase-invoice" translate="back_to_list">
                    
                </a>
            </div>
        </div>
        <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
                <img alt="loader" src="../img/loading.gif" />
            </p>
        </div>
    </div>

    <div class="animated fadeInUp  clearfix ">
        <div class="container invoice-wrapper clearfix ">
            <div class="row clearfix ">
                <div class="col-sm-8 print-invoice-view  ">
                    <div class="invoice-view invoice-view1 ">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="invoice-top-head   clearfix ">
                                    <div class="row flex clearfix ">
                                        <div class="col-sm-5 invoice-top-head-title wrapper-md">
                                            <img ng-src="../img/logo/{{appDomain}}.png" />
                                            <h2 translate="purchase_invoice"></h2>
                                            <!-- <h2>Invoice : {{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.id}} </h2>-->
                                        </div>
                                        <div class="col-sm-3" style="margin-top: 35px;" ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                        </div>
                                        <div class="col-sm-4 due-amnt ">
                                            <span translate="amount_due"></span>({{currencyFormat}})
                                            <span><span class="rupee ">{{currencyFormat}}.</span>{{orderListModel.new_balance_amount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row  ">
                            <div class="invoice-top-info clearfix ">
                                <div class="col-sm-7  ">
                                    <div class=" wrapper-md ">
                                        <!--<div ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                        </div></br>-->
                                        <div class="hide-print" ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                        </div><br>
                                        <div ng-bind-html="appConfig.bank_detail | trustedhtml">
                                        </div>
                                        <div class="show-print">{{companyname_inprint}}
                                        </div><br>
                                        <p class="uppercase "><b translate="bill_from"></b></p>
                                        <p>
                                            <strong>{{orderListModel.customerInfo.fname}}</strong>
                                        </p>
                                        <br/>
                                        <p>
                                            {{orderListModel.customerInfo.billing_address}}
                                        </p>
                                        <p>
                                            {{orderListModel.customerInfo.billing_city}} - {{orderListModel.customerInfo.billing_pincode}}
                                        </p>
                                        <p>
                                            {{orderListModel.customerInfo.phone}}  
                                        </p>
                                        <p>
                                            {{orderListModel.customerInfo.email}}
                                        </p>
<!--                                        <ul data-ng-show="(orderListModel.customerAttributeInfo | filter:{is_show_in_invoice:1}).length > 0" data-ng-repeat="attr in orderListModel.customerAttributeInfo">
                                            <p data-ng-show="attr.is_show_in_invoice == 1">
                                                {{attr.attribute_code}}:{{attr.value}}
                                            </p>
                                        </ul>-->
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class=" wrapper-md ">
                                        <!--                                        <p>
                                                                                    <strong>Purchase ID: </strong>{{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.id}}
                                                                                </p>-->
                                        <p>
                                            <strong translate="purchase_number:"> </strong> {{orderListModel.invoiceDetail.purchase_code}}
                                        </p>
                                        <p>
                                            <strong translate="invoice_date"> </strong>{{orderListModel.billdate}}  
                                            <!--Feb 5, 2017-->
                                        </p>
                                        <p>
                                            <strong translate="payment_due:"> </strong>{{orderListModel.duedate}}
                                            <!--Feb 5, 2017-->
                                        </p>
                                        <p>
                                            <strong translate="invoice_number:"> </strong>{{orderListModel.invoiceDetail.reference_no}}
                                            <!--Feb 5, 2017-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="invoice-prod-list table-responsive ">
                            <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 70px;">
                                            #
                                        </th>
                                        <th class="left" style="width: 300px;"  translate="name">
                                            
                                        </th>
                                        <th class="right " style="width: 100px;"  data-ng-hide="!appConfig.purchase_uom">
                                            {{appConfig.purchase_uom_label}}
                                        </th>
                                        <th class="right " style="width: 70px;">

                                        </th>
                                        <th class="right " style="width: 70px;"  translate="quantity">
                                            
                                        </th>
                                        <th class="right " style="width: 150px;"  translate="price">
                                            
                                        </th>
                                        <th class="right " style="width: 150px;"  translate="row_total">
                                            
                                        </th>
                                    </tr>
                                <tbody>                                                            
                                    <tr data-ng-repeat="order in orderListModel.list">
                                        <td class="center ">
                                            {{$index + 1}}                                         </td>
                                        <td  class="left " >
                                            {{order.productName}}
                                            <ul>
                                                <li>
                                                    {{order.purchase_invoice_item_custom1_label_name}} {{order.purchase_invoice_item_custom1_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom2_label_name}} {{order.purchase_invoice_item_custom2_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom3_label_name}} {{order.purchase_invoice_item_custom3_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom4_label_name}} {{order.purchase_invoice_item_custom4_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom5_label_name}} {{order.purchase_invoice_item_custom5_label_value}}
                                                </li>
                                                <li>Hsn Code :  {{order.hsn_code}} </li>
                                                <li>Selling Price : {{order.sales_price}}</li>
                                                <li>Selling Tax Percentage : {{order.selling_tax_percentage}}</li>
<!--                                                <li>Qty in hand   : {{order.qty_in_hand}}</li>-->
                                                <li data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">Barcode  : {{order.code}}</li>
                                            </ul>
                                        </td>
                                        <td class="right "  data-ng-hide="!appConfig.purchase_uom">
                                            {{order.uom}}
                                        </td>
                                        <td >
                                            <b ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED' && orderListModel.invoiceDetail.item[$index].is_barcode_generated != null && orderListModel.invoiceDetail.item[$index].is_barcode_generated != '' && orderListModel.invoiceDetail.item[$index].is_barcode_generated != undefined">Barcode generated</b>
                                            <!--<b ng-if="orderListModel.invoiceDetail.item[$index].is_barcode_generated == null && orderListModel.invoiceDetail.item[$index].is_barcode_generated == '' && orderListModel.invoiceDetail.item[$index].is_barcode_generated == undefined">Barcode generated</b>-->
                                        </td>
                                        <td class="right" >
                                            {{order.qty}}
                                        </td>
                                        <td class="right " >
                                            {{order.purchase_price}}
                                        </td>
                                        <td class="right " >
                                            {{order.rowtotal}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}" >
                                            <span translate="sub_total"></span>
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{orderListModel.subtotal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}" >
                                           <span translate="discount:"></span>
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{orderListModel.discountAmt}}
                                        </td>
                                    </tr>
                                    <tr data-ng-repeat="tax in orderListModel.taxDetails">
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}" >
                                            {{tax.tax_name}}:
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{tax.overAllTaxAmt}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}">
                                           <span translate="round_off"></span>
                                        </td>
                                        <td class="right " colspan="1">
                                            {{currencyFormat}}.{{orderListModel.roundoff}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}" ><br/>
                                            <strong><span translate="grand_total"></span></strong>
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            <strong>{{currencyFormat}}.{{orderListModel.total}}</strong>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}" ><br/>
                                            <strong><span translate="total_quantity"></span></strong>
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            <strong>{{orderListModel.totalQty}}</strong>
                                        </td>
                                    </tr>    
                                    <tr data-ng-repeat="order in orderListModel.paymentList">
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}" >
                                            Payment on {{order.newdate}} using {{order.payment_mode}} :
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{order.amount}}
                                        </td>                                    
                                    </tr>   
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}" >
                                            <strong><span translate="paid_amount"></span> ({{currencyFormat}}):</strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.paid_amount}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 6 : 5}}" >
                                            <strong><span translate="balance_due_amount:"></span> ({{currencyFormat}}):</strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.new_balance_amount}}</strong>
                                        </td>
                                    </tr>    
                                    </br>
                                    <!--                                    <tr>
                                                                            <td class="right " colspan="5" >
                                                                                <strong>{{appConfig.signature}}:</strong>
                                                                            </td>
                                                                            <td class="right " colspan="1" >
                                                                                <strong></strong>
                                                                            </td>
                                                                        </tr> -->
                                </tfoot>
                            </table>
                        </div>
                        <div class="wrapper-md " data-ng-show="(orderListModel.invoiceDetail.customattribute | filter:{is_show_in_invoice:1}).length > 0">
                            <div class="row ">
                                <div class="col-sm-12 " >
                                    <h4>Other Details</h4>
                                </div>
                                <div class="col-sm-3 " data-ng-repeat="attr in orderListModel.invoiceDetail.customattribute| filter:{is_show_in_invoice:1}">
                                    <p data-ng-show="attr.is_show_in_invoice == 1">
                                        {{attr.attribute_label}}:{{attr.value}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 uppercase invoice-status1 "  >
                            {{orderListModel.invoiceDetail.status}}
                        </div>
<!--                        <div class="wrapper-md ">
                            {{appConfig.signature}}
                        </div>-->
                    </div>
                </div>
                <div class="col-sm-4 invoice-info hide-print">
                    <div class="created-date sep clearfix  " >
                        <h2 translate="create_invoice"></h2>
                        <strong translate="created_on:"> </strong> {{orderListModel.billdate}}
                    </div>
                    <div class="send-invoice sep clearfix " >
                        <h2 translate="send_invoice"></h2>
                        <strong translate="last_sent_on:"> </strong> {{orderListModel.billdate}}                    
                        <!--                    <a href="javascript:void(0)" data-ng-click="showSendInvPopup( )" class="btn " >Resend Invoice ...</a>-->
                    </div>
                    <div class="payment-details sep clearfix " >
                        <h2 translate="get_paid"></h2>
                        <strong translate="status:"> </strong>                    
                        <div class=" " ng-if= "orderListModel.status" translate="paid"> Paid </div>
                        <div class=" " ng-if= "!orderListModel.status" translate="Your_invoice_is_awaiting_payment"> </div>                    
                        <br/>
                        <strong translate="paid_amount:"> </strong> {{orderListModel.paid_amount}} <br/>
                        <!--                    <a href="javascript:void(0)" >Send Remainder ...</a>-->
                        <div class="rec-payment ">
                            <a data-ng-hide="orderListModel.invoiceDetail.status == 'paid'" href="javascript:void(0)" data-ng-click="showPaymentPopup()" class="btn " translate="record_payment"></a>
                        </div>
                        <div class="payment-list clearfix ">
                            <strong translate="payable"></strong>
                            <ul data-ng-repeat="order in orderListModel.paymentList">
                                <li>
                                    {{order.newdate}} - A payment for <strong>{{currencyFormat}}.{{order.amount}}</strong> was made by {{order.payment_mode}}.<br/>
                                    <!--                                <a href="javascript:void(0)" data-ng-click="showPopup(order.id)">Send a Receipt</a> -                                                                
                                                                    <a href="javascript:void(0)"data-ng-click="showPaymentPopup(order.id)">Edit</a> --->
                                    <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>                                
                                    <!--<a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>-->                                
                                    <!--                                <div class="rec-payment ">
                                                                        <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>                                                                    
                                                                    </div>                                -->
                                </li>                            
                            </ul>                               
                            <!--                        <ul>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Payment</a>
                                </li>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Payment</a>
                                </li>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Pay   ment</a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    <div class="wrapper-md animated fadeInUp clearfix " >
            <form name="order_view_form" angular-validator-submit="updateOrder()" class="form-horizontal  clearfix" novalidate angular-validator >
                <div class=" panel-default clearfix ">
                    <div class="cust-info clearfix ">
                        <div class="sea">
                            <label>Customer Name:* </label>   
                            <input type="text"
                                   class="form-control"
                                   name="customer_dropdown_0"
                                   ng-model="orderListModel.customerInfo"
                                   placeholder="Customer Details..."
                                   uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                   typeahead-loading="loading"
                                   typeahead-no-results="noResults"                               
                                   typeahead-min-length="0"
                                   typeahead-editable="true"
                                   typeahead-template-url="customer_dropdown__tpl.html"
                                   typeahead-input-formatter="formatCustomerModel($model)"
                                   autocomplete="off"
                                   required
                                   />
                        </div>     
                        <div class="sea">
                            <label>Address</label>                        
                            <textarea class="form-control"
                                      name = "Address"
                                      ng-model = "orderListModel.customerInfo.address"
                                      placeholder="Description"
                                      ></textarea>
                        </div>                    
                    </div>
    
                    <div class="bill-info col clearfix ">
                        <ul class="  clearfix ">
                            <li class="ship-date clearfix ">
                            <li class="ship-amnt clearfix ">
                                <span class="tit ">Subtotal: </span>
                                <span class="tit-desc a-right "  >
                                    {{currencyFormat}}.{{orderListModel.subtotal}}
                                </span>
                            </li>
                            <li class="total-amnt clearfix ">
                                <span class="tit ">Tax Amount: </span>
                                <span class="tit-desc a-right " >
                                    {{currencyFormat}}.{{orderListModel.taxAmt}}
                                </span>
                            </li>
                            <li class="total-amnt clearfix ">
                                <span class="tit ">Discount Amount: </span>
                                <span class="tit-desc a-right " >
                                    {{currencyFormat}}.{{orderListModel.discountAmt}}
                                </span>
                            </li>                        
                            <li class="ship-amnt clearfix ">
                                <span class="tit ">Total: </span>
                                <span class="tit-desc a-right "  >
                                    {{currencyFormat}}.{{orderListModel.total}}
                                </span>
                            </li>                        
                            <li class="ship-amnt clearfix ">
                                <span class="tit ">Paid Amount: </span>
                                <span class="tit-desc a-right "  >
                                    {{currencyFormat}}.{{orderListModel.paid_amount}}
                                </span>
                            </li>                                                
                            <li class="ship-amnt clearfix ">
                                <span class="tit ">Balance Amount: </span>
                                <span class="tit-desc a-right "  >
                                    {{currencyFormat}}.{{orderListModel.new_balance_amount}}
                                </span>
                            </li>                                        
                        </ul>
                    </div>
                    <div class="date-info ">
                        <ul class="  clearfix ">
                            <li class="ship-date clearfix ">
                                <span class="tit ">Invoice Prefix</span>
                                <span class="tit-desc ">
                                    <input type="text" size="20"
                                           class="form-control"
                                           name = "invoicePrefix"
                                           ng-model = "orderListModel.invoicePrefix"
                                           />
                                </span>
                            </li>                        
                            <li class="ship-date clearfix ">
                                <span class="tit ">Invoice Date *</span>
                                <span class="tit-desc ">
                                    <input name="billdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                           ng-model="orderListModel.billdate" is-open="startDateOpen"
                                           min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                           required close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </li>
                            <li class="ship-date clearfix ">
                                <span class="tit ">Due Date *</span>
                                <span class="tit-desc ">
                                    <input name="duedate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                           ng-model="orderListModel.duedate" is-open="dueDateOpen"
                                           min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                           required close-text="Close"  />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </li>
                            <li class="ship-date clearfix ">
                                <span class="tit ">Tax </span>
                                <span class="tit-desc ">                            
                                    <select name="taxDropDown" 
                                            type = "text" 
                                            ng-model="orderListModel.tax_id" 
                                            class="form-control"
                                            ng-change="updateInvoiceTotal()">
                                        <option value="">-None-</option>
                                        <option value="{{tax.id}}" data-ng-repeat="tax in orderListModel.taxInfo">{{tax.tax_name}}-{{tax.tax_percentage}}%</option>
                                    </select>                                
                                </span>   
                            </li>
                            <li class="ship-date clearfix ">
                                <span class="tit ">Discount %</span>
                                <span class="tit-desc ">
                                    <input type="text" size="20"
                                           class="form-control"
                                           name = "discountPercentage"
                                           ng-model = "orderListModel.discountPercentage"
                                           ng-change="updateInvoiceTotal()"
                                           validator = "validationFactory.isPositiveNumber(orderListModel.discountPercentage) === true"
                                           />
                                </span>
                            </li>                                                
                        </ul>
                    </div>
    
                    <div class="" style="clear: both;"></div>                    
                    <br/>
                    <div class="panel panel-default">
                        <div class=" ">
                            Added Product List
                            <div class="table-responsive ">
                                <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">                        
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 100px;"  rowspan="1" colspan="1" >
                                                #
                                            </th>
                                            <th class="a-left" style="width: 150px;"   rowspan="1" colspan="1">
                                                Product Name
                                            </th>
                                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                                SKU
                                            </th>
                                            <th style="width: 150px;"   rowspan="1" colspan="1">
                                                UOM 
                                            </th>                                                                                
                                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                                Qty
                                            </th>                                        
                                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                                Price
                                            </th>
                                            <th style="width: 200px;"   rowspan="1" colspan="1">
                                                Row Total
                                            </th>
                                            <th style="width: 150px;"   rowspan="1" colspan="1">
    
                                            </th>
                                        </tr>
                                    <tbody>
                                        <tr data-ng-repeat="order in orderListModel.list">
                                            <td>{{$index + 1}}</td>
                                            <td class="prod-detail">
                                                {{order.productName}}
                                            </td>
                                            <td class="a-center ">
                                                {{order.sku}}
                                            </td>
                                            <td class="prod-detail">
                                                {{order.uom}}
                                            </td>
                                            <td  class="a-center ">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    class="form-control qty a-right "
                                                    data-ng-model="$parent.orderListModel.list[$index].qty"
                                                    validator = "validationFactory.isNumber($parent.orderListModel.list[$index].qty)"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    angular-validator-field
                                                    />
                                            </td>                        
                                            <td  class="a-center ">
                                                <input
                                                    name="sales_price_{{$index}}"
                                                    type="text"
                                                    class="form-control qty a-right "
                                                    data-ng-model="order.sales_price"
                                                    validator = "validationFactory.isNumber($parent.orderListModel.list[$index].sales_price)"
                                                    angular-validator-field
                                                    />
                                            </td>
                                            <td  class="a-center ">
                                                <input
                                                    name="rowtotal"
                                                    type="text"
                                                    class="form-control qty a-right "
                                                    data-ng-model=order.rowtotal
                                                    data-ng-change="updateInvoiceTotal()"
                                                    data-ng-disabled="true"
                                                    />
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" class="">X
                                                    <i class="fa fa-check text-success text-active"></i>
                                                    <i class="fa fa-times text-danger text"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a class="add-more-prod panel btn panel-default glyphicon glyphicon-plus " ng-click="prodSearchOpen = !prodSearchOpen" >
                            </a>
                            <div class="form-group full_w btn_group">
                                <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                        "btn-loader":isDataSavingProcess}' >Save</button>                                                        
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="formReset()">Reset</a>                            
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="prod-list-search clearfix " data-ng-class="{'open':prodSearchOpen}">
                <div data-ng-include=" 'tpl/purchase-product-select.html'" ng-if="true"  >
                </div>
            </div>-->
    </div>
    <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
    <div class="model_popup" ng-if="showpopup" >        
        <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
        </div>
    </div>        

    <div class="model_overlay" ng-if="showSendInvoicePopup" ng-click="closePopup()" ></div>
    <div class="model_popup" ng-if="showSendInvoicePopup" >        
        <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
        </div>
    </div>            

    <div class="model_overlay" ng-if="paymentRemovePopup" ></div>
    <div class="model_popup add_review_popup" ng-if="paymentRemovePopup">
        <form name="remove_payment_form" angular-validator-submit="removePayment()" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closeRemovePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2 translate="remove_invoice_payment"></h2>
            <div class="form-group">
                <p> Payment for Rs. {{removePaymentAmount}} using a bank transfers. <br/><br/>         
                    <span translate="are_you_sure_you_want_to_remove_this_invoice_payment?"></span>                
                </p>
            </div>                                 
            <li>
                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataDeletingProcess"  data-ng-class='{"btn-loader":isDataDeletingProcess}' translate="remove"></button>
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closeRemovePaymentPopup()" translate="cancel"></a>
                </div>
            </li>
        </form>
    </div>
    <div class="model_overlay" ng-if="showPayPopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showPayPopup">
        <form name="save_payment_form" angular-validator-submit="savePayment()" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2 translate="payment"></h2>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label translate="choose_payment:"></label>
                    <select name="advancedropdown" ng-model="paymentAddModel.advance_Id" class="form-control" 
                            ng-change="checkBalancePayment()">
                        <option value="">-Select-</option>
                        <option value="{{advance.id}}" data-ng-repeat="advance in paymentAddModel.advanceList">{{advance.id}}&nbsp;&nbsp;{{advance.date| date:'dd-MM-yyyy'}}&nbsp;&nbsp;{{advance.balance_amount}}</option>
                    </select>

                </div>
                <div class="col-sm-6 form-group" ng-show="advanceSelected" >
                    <label translate="payment_type"> </label>
                    <label class="form-control" style="text-transform: uppercase;">advance purchase</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label translate="vendor_name:"> </label>
                    <input  type = "text"
                            class=""
                            ng-disabled="true"
                            name = "account"
                            ng-model = "paymentAddModel.account"
                            placeholder="account"
                            disabled
                            />
                </div>                  
                <div class="col-sm-6 form-group">
                    <label translate="payment_date_required"></label>
                    <input data-ng-readonly="true" name="invoicedate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                           ng-model="paymentAddModel.invoicedate" is-open="$parent.invoiceDateOpen"  min-date="orderListModel.validdate" 
                           show-weeks="false" datepicker-options="dateOptions"
                           close-text="Close" required />
                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(2)" >
                        <i class="glyphicon glyphicon-calendar"></i>                
                    </button>
                </div>
                <div class="col-sm-6 form-group">
                    <label translate="payment_amount_required"></label>
                    <input  type = "text"
                            class="form-control"
                            name = "Amount"
                            ng-model = "paymentAddModel.amount"
                            placeholder="Amount"
                            validator = "validationFactory.isNumber(paymentAddModel.amount) === true && (paymentAddModel.amount>0?true:false)"
                            maxlength="20"
                            required/>
                </div>                    
                <div class="col-sm-6 form-group">
                    <label translate="payment_terms_required"></label>
                    <select  name="paymentdefault" ng-model="paymentAddModel.payment_mode" class="form-control" required ng-disabled = "advanceSelected && paymentDefault">
                        <option value="" translate="select"></option>
                        <option value="{{paymentterms.name}}" data-ng-repeat="paymentterms in paymentAddModel.paymentlist">{{paymentterms.name}}</option>
                    </select>
                </div>                    
                <div class="col-sm-6 form-group">
                    <label translate="category"></label>
                    <select name="category" ng-model="paymentAddModel.category"  class="form-control" >
                        <option value="" translate="select_category"> </option>
                        <option value={{category.name}} data-ng-repeat="category in paymentAddModel.categoryList">{{category.name}}</option>
                    </select>
                </div> 
                <div class="col-sm-6 form-group" data-ng-hide="advanceSelected">
                    <label translate="account_required">Accounts*</label>
                    <select name="accounts" ng-model="paymentAddModel.accouts"  class="form-control" required>
                        <option value="" translate="select_accounts"> </option>
                        <option value={{accouts.id}} data-ng-repeat="accouts in paymentAddModel.accountsList">{{accouts.account}}</option>
                    </select>
                </div> 
                <div class="col-sm-6 form-group">
                    <label translate="comments"></label>
                    <textarea rows="4" cols="50"
                              class="form-control"
                              name = "comments"
                              ng-model = "paymentAddModel.comments"
                              placeholder="Comments"
                              ></textarea>  
                </div> 
                <div class="col-sm-6 form-group" data-ng-show="paymentAddModel.payment_mode.toLowerCase() == 'cheque'" >  
                    <label translate="cheque_number"></label>                                       
                    <input type="text"
                           name = "chequeNo"
                           class="form-control"
                           placeholder="cheque no"
                           ng-model = "paymentAddModel.cheque_no"
                           validator = "validationChequeNo( )"
                           />
                </div>

            </div>
            <div class="row" style="margin-top: 20px;">




                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="save"></button>
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closePaymentPopup()" translate="cancel"></a>
                </div>

            </div>
        </form>
    </div>    

</div>
