<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="purchasepaymentCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="purchase_receipt"></h2>
            <!--<a data-ui-sref="app.advancepaymenAdd" ui-scroll-to="app" class="add_button add-dash" translate="add_new" ></a>-->
            <a href="javascript:void(0)" data-ng-click="refreshScreen()"  class="add_button add-dash" translate="refresh"></a>
        </div>
    </div>        
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default wrapper-md notopmargin  ">
            <form name="advancepayment_list" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm clearfix ">                    
                    <div class="sea">
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown"                      
                               ng-model="searchFilter.customerInfo"
                               placeholder="{{'vendor_name' | translate}}"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               angular-localstorage-field='true'
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>  
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>   
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> 
                            <span translate="no_results_found"></span>
                        </div>
                    </div>                                               
                    <div class="sea">
                        <select class="form-control "
                                ng-model="searchFilter.status"
                                data-ng-change="initTableFilter()"
                                name="statusdropdown"
                                angular-localstorage-field='true'
                                >
                            <option value="" translate="all_status"></option>
                            <option value= "used" translate="used"></option>
                            <option value= "available" translate="available"></option>                            
                        </select>
                    </div>
                </div> 
            </form>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:110px;" rowspan="1" colspan="1" >
                                #
                            </th>
                            <th  style="width:280px;" rowspan="1" colspan="1" translate="vendor">
                                
                            </th>                                                                
                            <th style="width:180px;" class="right " rowspan="1" colspan="1" translate="total_advance_amount">
                                
                            </th>  
                            <th style="width:180px;" class="right " rowspan="1" colspan="1" translate="used_amount">
                                
                            </th>
                            <th style="width:180px;" class="right " rowspan="1" colspan="1" translate="balance_amount">
                                
                            </th>
                            <th style="width:180px;" class="right " rowspan="1" colspan="1" translate="advance_date">
                                
                            </th>                             
                            <th style="width:120px;" rowspan="1" colspan="1" translate="status">
                                
                            </th>     
                            <th style="width:100px;" rowspan="1" colspan="1" translate="action">
                                
                            </th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr data-ng-show="advanceModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>

                        <tr data-ng-if="advanceModel.list.length == 0">
                            <td colspan="8" class="text-center" >
                                -No Data Found-
                            </td>
                        </tr>
                        <tr data-ng-repeat="advance in advanceModel.list">
                            <td>
                                <a data-ui-sref="app.purchasepaymentView({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.id}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.purchasepaymentView({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.fname}}
                                </a>
                            </td>                                                                                                                                           
                            <td>
                                <a data-ui-sref="app.purchasepaymentView({id: '{{advance.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%; text-align: right;">
                                    {{advance.amount}}
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.purchasepaymentView({id: '{{advance.id}}'})" class="right " ui-scroll-to="app" style="display:block; width:100% ;height: 100%; text-align: right;">
                                    {{advance.used_amount}}
                                </a>
                            </td>   
                            <td>
                                <a data-ui-sref="app.purchasepaymentView({id: '{{advance.id}}'})" class="right "  ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{advance.balance_amount}}
                                </a>
                            </td> 
                            <td>                                
                                <a data-ui-sref="app.purchasepaymentView({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%; text-align: right;">
                                    {{advance.date}}
                                </a>
                            </td> 
                            <td>
                                <a data-ui-sref="app.purchasepaymentView({id: '{{advance.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%;text-transform: capitalize;">
                                    <span class="available color-green,used color-red">{{advance.status}}</span>
                                </a>
                            </td>                                                                     
                            <td>
                                <a data-ui-sref="app.purchasepaymentView({id: '{{advance.id}}'})" ui-scroll-to="app" >
                                    <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                                </a>                                
                                <a class="chel-edit-add add-dash" data-ng-click="showPopup(advance.id)" ng-hide="advance.status.toLowerCase() == 'used' ">
                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                </a>                                
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-ng-hide="advanceModel.list.length == 0">
                        <tr>
                            <td colspan="3" class="text-left" >
                                <label class="show_count_label " translate="show"></label>
                                <select name = "perpage"
                                        ng-model="advanceModel.limit"
                                        data-ng-hide="advanceModel.list.length == 0"
                                        ng-options="page for page in pagePerCount"
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        >
                                </select>
                            </td>
                            <td colspan="5" class="text-right">
                    <uib-pagination  data-ng-hide="advanceModel.list.length == 0" total-items="advanceModel.total" ng-model="advanceModel.currentPage" ng-change="getinvoiceListInfo()" items-per-page="advanceModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup delet-popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>    
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteAdvancePaymentItem()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" translate="cancel"></button></center>
    </div>  
</div>


