<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="purchaseQuoteViewCtrl" >
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="purchase_estimate_view"></h2>           
            <div class=" right action-links " >
                <!--<button id="cmd">generate PDF</button>-->
                <!--                <a href="javascript:void(0)" class=" " data-ng-click="exportAsPDF()">
                                    Export As PDF
                                </a>-->
                <a ui-sref="app.purchaseInvoiceAdd({id: '{{stateParamData}}'})" ui-scroll-to="app" href="#/quote" data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'" translate="create_invoice">
                    
                </a>    
                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_grn" data-ng-click="print()" translate="print">
                    
                </a>                                 
                <a data-ui-sref="app.purchaseQuoteEdit({id: '{{stateParamData}}'})" ui-scroll-to="app" class="btn btn-sm btn-primary btn_orng" translate="edit">
                   
                </a>
                <a ui-sref="app.purchaseQuote" ui-scroll-to="app" href="#/purchase-quote" translate="back_to_list">
                    
                </a>
            </div>
        </div>
        <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
                <img alt="loader" src="../img/loading.gif" />
            </p>
        </div>
    </div>

    <div class="animated fadeInUp  clearfix ">
        <div class="container invoice-wrapper clearfix ">
            <div class="row clearfix ">
                <div class="col-sm-8 print-invoice-view  ">
                    <div class="invoice-view invoice-view1 ">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="invoice-top-head   clearfix ">
                                    <div class="row flex clearfix ">
                                        <div class="col-sm-8 invoice-top-head-title wrapper-md">
                                            <img ng-src="../img/logo/{{appDomain}}.png" />
                                            <h2 translate="estimate_view"></h2>
                                        </div>
                                        <div class="col-sm-4 due-amnt ">
                                            <span translate="amount_due"></span>
                                             ({{currencyFormat}})
                                            <span><span class="rupee ">{{currencyFormat}}.</span>{{orderListModel.new_balance_amount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row  ">
                            <div class="invoice-top-info clearfix ">
                                <div class="col-sm-7  ">
                                    <div class=" wrapper-md ">
                                        <div class="hide-print" ng-bind-html="appConfig.pay_to_address | trustedhtml">
                                        </div></br>
                                        <div ng-bind-html="appConfig.bank_detail | trustedhtml">
                                        </div>
                                        <div class="show-print">{{companyname_inprint}}
                                        </div></br>
                                        <p class="uppercase "><b translate="bill_from"></b></p>
                                        <p>
                                            <strong>{{orderListModel.customerInfo.fname}}</strong>
                                        </p>
                                        <br/>
                                        <p>
                                            {{orderListModel.customerInfo.phone}}  
                                        </p>
                                        <p>
                                            {{orderListModel.customerInfo.email}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class=" wrapper-md ">
                                        <p>
                                            <strong translate="order_number"> </strong>{{(orderListModel.invoiceDetail.prefix != '' ? orderListModel.invoiceDetail.prefix+'-' :'' )}}{{orderListModel.invoiceDetail.id}}
                                        </p>
                                        <p>
                                            <strong translate="order_date:"></strong>{{orderListModel.billdate}}  
                                            <!--Feb 5, 2017-->
                                        </p>
                                        <p>
                                            <strong translate="payment_due:"></strong>{{orderListModel.duedate}}
                                            <!--Feb 5, 2017-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="invoice-prod-list table-responsive ">
                            <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 70px;"  >
                                            #
                                        </th>
                                        <th class="left" style="width: 300px;" translate="name">
                                            
                                        </th>
                                        <th class="right " style="width: 100px;" data-ng-hide="!appConfig.purchase_uom">
                                            {{appConfig.purchase_uom_label}}
                                        </th>
                                        <th class="right " style="width: 70px;" translate="quantity">
                                            
                                        </th>
                                        <th class="right " style="width: 150px;" translate="price">
                                            
                                        </th>
                                        <th class="right " style="width: 150px;" translate="row_total">
                                            
                                        </th>
                                    </tr>
                                <tbody>                                                            
                                    <tr data-ng-repeat="order in orderListModel.list">
                                        <td class="center ">
                                            {{$index + 1}}
                                        </td>
                                        <td  class="left " >
                                            {{order.productName}}
                                            <ul>
                                                <li>
                                                    {{order.purchase_invoice_item_custom1_label_name}} {{order.purchase_invoice_item_custom1_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom2_label_name}} {{order.purchase_invoice_item_custom2_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom3_label_name}} {{order.purchase_invoice_item_custom3_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom4_label_name}} {{order.purchase_invoice_item_custom4_label_value}}
                                                </li>
                                                <li>
                                                    {{order.purchase_invoice_item_custom5_label_name}} {{order.purchase_invoice_item_custom5_label_value}}
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="right " data-ng-hide="!appConfig.purchase_uom">
                                            {{order.uom}}
                                        </td>
                                        <td class="right" >
                                            {{order.qty}}
                                        </td>
                                        <td class="right " >
                                            {{order.sales_price}}
                                        </td>
                                        <td class="right " >
                                            {{order.rowtotal}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" ><br/>
                                            <span translate="sub_total:"></span>
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            {{currencyFormat}}.{{orderListModel.subtotal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" ><br/>
                                            <span translate="discount:"></span>
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            {{currencyFormat}}.{{orderListModel.discountAmt}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" ><br/>
                                            <span translate="tax:"></span>
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            {{currencyFormat}}.{{orderListModel.taxAmt}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}">
                                            <span translate="round_off"></span>
                                        </td>
                                        <td class="right " colspan="1">
                                            {{currencyFormat}}.{{orderListModel.roundoff}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" ><br/>
                                            <strong><span translate="grand_total"></span></strong>
                                        </td>
                                        <td class="right " colspan="1" ><br/>
                                            <strong>{{currencyFormat}}.{{orderListModel.total}}</strong>
                                        </td>
                                    </tr>                                                               
                                    <tr data-ng-repeat="order in orderListModel.paymentList">
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" >
                                            Payment on {{order.newdate}} using {{order.payment_mode}} :
                                        </td>
                                        <td class="right " colspan="1" >
                                            {{currencyFormat}}.{{order.amount}}
                                        </td>                                    
                                    </tr>   
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" >
                                            <strong><span translate="paid_amount"></span> ({{currencyFormat}}):</strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.advance_amount}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="right " colspan="{{appConfig.purchase_uom == 1 ? 5 : 4}}" >
                                            <strong><span translate="balance_due_amount"></span> ({{currencyFormat}}):</strong>
                                        </td>
                                        <td class="right " colspan="1" >
                                            <strong>{{currencyFormat}}.{{orderListModel.new_balance_amount}}</strong>
                                        </td>
                                    </tr>                                
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-sm-5 uppercase invoice-status "  >
                            {{orderListModel.invoiceDetail.status}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 invoice-info ">
                    <div class="created-date sep clearfix  " >
                        <h2 translate="create_invoice"></h2>
                        <strong translate="created_on:"></strong> {{orderListModel.billdate}}
                    </div>
                    <div class="send-invoice sep clearfix " >
                        <h2 translate="send_invoice"></h2>
                        <strong translate="last_sent_on:"> </strong> {{orderListModel.billdate}}                   
                        <!--                    <a href="javascript:void(0)" data-ng-click="showSendInvPopup( )" class="btn " >Resend Invoice ...</a>-->
                    </div>
<!--                    <div class="payment-details sep clearfix " >
                        <h2 translate="get_paid"></h2>
                        <strong translate="status:"> </strong>                    
                        <div class=" " ng-if= "orderListModel.status" translate="paid"> </div>
                        <div class=" " ng-if= "!orderListModel.status" translate="Your_invoice_is_awaiting_payment"></div>                    
                        <br/>
                        <strong translate="paid_amount:"> </strong> {{orderListModel.paid_amount}} <br/>
                                            <a href="javascript:void(0)" >Send Remainder ...</a>
                        <div class="rec-payment " data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'">
                            <a href="javascript:void(0)" data-ng-click="showPaymentPopup()" class="btn " translate="record_payment"></a>
                        </div>
                        <div class="payment-list clearfix ">
                            <strong translate="payment_received:"></strong>
                            <ul data-ng-repeat="order in orderListModel.paymentList">
                                <li>
                                    {{order.newdate}} - A payment for <strong>{{currencyFormat}}.{{order.amount}}</strong> was made by {{order.payment_mode}}.<br/>
                                                                    <a href="javascript:void(0)" data-ng-click="showPopup(order.id)">Send a Receipt</a> -                                                                
                                                                    <a href="javascript:void(0)"data-ng-click="showPaymentPopup(order.id)">Edit</a> -
                                    <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)" data-ng-show="order.purchase_invoice_id == 0" data-ng-hide="orderListModel.invoiceDetail.status.toLowerCase() == 'invoiced'">Remove Payment</a>                                
                                    <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>                                
                                                                    <div class="rec-payment ">
                                                                        <a href="javascript:void(0)" data-ng-click="showRemovePaymentPopup(order.id)">Remove Payment</a>                                                                    
                                                                    </div>                                
                                </li>                            
                            </ul>                               
                                                    <ul>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Payment</a>
                                </li>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Payment</a>
                                </li>
                                <li>
                                                            February 20, 2017 - A payment for <strong>?10.00</strong> ?was made using a bank transfer.<br/>
                                    <a href="">Send a Receipt</a> -
                                    <a href="">Edit</a> -
                                    <a href="">Remove Pay   ment</a>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
        <div class="model_popup" ng-if="showpopup" >        
            <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
            </div>
        </div>        

        <div class="model_overlay" ng-if="showSendInvoicePopup" ng-click="closePopup()" ></div>
        <div class="model_popup" ng-if="showSendInvoicePopup" >        
            <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
            </div>
        </div>            

        <div class="model_overlay" ng-if="paymentRemovePopup" ></div>
        <div class="model_popup add_review_popup" ng-if="paymentRemovePopup">
            <form name="remove_payment_form" angular-validator-submit="removePayment()" class="form-horizontal clearfix " novalidate angular-validator >
                <a href="javascript:void(0)" ng-click="closeRemovePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
                <h2 translate="remove_invoice_payment"></h2>
                <div class="form-group">
                    <p> Payment for Rs. {{removePaymentAmount}} using a bank transfers. <br/><br/>         
                        <span translate="are_you_sure_you_want_to_remove_this_invoice_payment?"></span>                
                    </p>
                </div>                                 
                <li>
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataDeletingProcess"  data-ng-class='{"btn-loader":isDataDeletingProcess}' translate="remove"></button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closeRemovePaymentPopup()" translate="cancel"></a>
                    </div>
                </li>
            </form>
        </div>            
    </div>
    <div class="model_overlay" ng-if="showPayPopup" ></div>
    <div class="model_popup delet-popup add_review_popup" ng-if="showPayPopup">
        <form name="save_payment_form" angular-validator-submit="savePayment()" class="form-horizontal clearfix " novalidate angular-validator >
            <a href="javascript:void(0)" ng-click="closePaymentPopup()" class="glyphicon glyphicon-remove close " ></a>
            <h2 translate="advance_payment"></h2>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label translate="customer_name:"> </label>
                    <input  type = "text"
                            class=""
                            ng-disabled="true"
                            name = "account"
                            ng-model = "paymentAddModel.account"
                            placeholder="account"
                            disabled
                            />
                </div>                  
                <div class="col-sm-6 form-group">
                    <label translate="payment_date_required"></label>
                    <input name="invoicedate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                           ng-model="paymentAddModel.invoicedate" is-open="$parent.invoiceDateOpen"  
                           show-weeks="false" datepicker-options="dateOptions" min-date="orderListModel.validdate"
                           close-text="Close" required readonly/>
                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(2)" >
                        <i class="glyphicon glyphicon-calendar"></i>                
                    </button>
                </div>
                <div class="col-sm-6 form-group">
                    <label translate="enter_the_amount_required"></label>
                    <input  type = "text"
                            class="form-control"
                            name = "Amount"
                            ng-model = "paymentAddModel.amount"
                            placeholder="Amount"
                            validator = "validationFactory.isNumber(paymentAddModel.amount) === true && (paymentAddModel.amount>0?true:false)"
                            maxlength="20"
                            required/>
                </div>                    
                <div class="col-sm-6 form-group">
                    <label translate="payment_terms_required"></label>
                    <select  name="paymentdefault" ng-model="paymentAddModel.payment_mode" class="form-control" required>
                        <option value="" translate="select"></option>
                        <option value="{{paymentterms.name}}" data-ng-repeat="paymentterms in paymentAddModel.paymentlist">{{paymentterms.name}}</option>
                    </select>
                </div>    
                <div class="col-sm-6 form-group">
                    <label translate="category"></label>
                    <select name="category" ng-model="paymentAddModel.category"  class="form-control">
                        <option value="" translate="select_category"> </option>
                        <option value={{category.name}} data-ng-repeat="category in paymentAddModel.categoryList">{{category.name}}</option>
                    </select>
                </div> 
                <div class="col-sm-6 form-group">
                    <label translate="accounts_required"></label>
                    <select name="accounts" ng-model="paymentAddModel.accouts"  class="form-control" required>
                        <option value="" translate="select_accounts"> </option>
                        <option value={{accouts.id}} data-ng-repeat="accouts in paymentAddModel.accountsList">{{accouts.account}}</option>
                    </select>
                </div> 
                <div class="col-sm-6 form-group">
                    <label translate="comments"></label>
                    <textarea rows="4" cols="50"
                              class="form-control"
                              name = "comments"
                              ng-model = "paymentAddModel.comments"
                              placeholder="Comments"
                              ></textarea>  
                </div> 
                <div class="col-sm-6 form-group" data-ng-show="paymentAddModel.payment_mode.toLowerCase() == 'cheque'" >  
                    <label translate="cheque_number"></label>                                       
                    <input type="text"
                           name = "chequeNo"
                           class="form-control"
                           placeholder="cheque no"
                           ng-model = "paymentAddModel.cheque_no"
                           validator = "validationChequeNo( )"
                           />
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="form-group full_w btn_group">
                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="save"></button>
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng "  data-ng-click="closePaymentPopup()" translate="cancel"></a>
                </div>

            </div>
        </form>
    </div>
</div>