
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock "  data-ng-controller="purchaseInvoiceAddCtrl">
    <form name="purchase_invoice_add_form"  angular-validator-submit="createOrder(false)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
                <p class="loader-icon">
                <center><img alt="loader" src="../img/loading.gif" /></center>
                </p>
            </div>
            <div class="panel-heading clearfix ">
                <h2 translate="purchase_invoice_add"></h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' translate="save">
                    </button>
                    <!--                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' ng-submit="createOrder('Mail')" >Save and Send
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng" data-ng-click="showPopup()">
                                            Save and Send
                                        </a>-->
                    <a ui-sref="app.purchaseInvoice" ui-scroll-to="app" href="#/purchase-invoice" translate="back_to_list">

                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <strong class="bottommarginxs " translate="bill_from"></strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="orderListModel.customerInfo"
                                       placeholder="{{'vendor_details'| translate}}"
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingVendorLocations"
                                       typeahead-no-results="noVendorResult"
                                       typeahead-min-length="0"
                                       typeahead-on-select="updateAddress()"
                                       typeahead-editable="true"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       ng-blur="custDrop()"
                                       required
                                       />
                                <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingVendorLocations" class="glyphicon glyphicon-refresh"></i> 

                                <div ng-show="noVendorResult">
                                    <i class="glyphicon glyphicon-remove"></i> 
                                    <span translate="no_results_found"></span>
                                </div>
                                <div class="right">
                                    <a class="newCus" href="javascript:void(0)" data-ng-click="showCustomerPopup()" translate="add_new_vendor"></a>
                                </div>
                                <br/>
                                <textarea class="form-control"
                                          name = "Address"
                                          ng-model = "orderListModel.customerInfo.shopping_address"
                                          readonly
                                          placeholder="{{'contact_details'| translate}}"
                                          ></textarea>
                                <br/>
                            </div>
                            <div class=" col-sm-3 ">&nbsp;</div>
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">
                                    <!--                                    <li class="bottommarginsm ">
                                                                            <span class="tit ">Purchase ID </span>
                                    
                                                                            <span class="tit-desc " data-ng-show="orderListModel.is_next_autogenerator_num_changed == false">
                                                                                {{orderListModel.next_autogenerator_num}}
                                                                                <a href="javascript:void(0)" data-ng-click="invoiceNumberChange()" >Change</a>
                                                                            </span>
                                    
                                                                            <span class="tit-desc " data-ng-show="orderListModel.is_next_autogenerator_num_changed == true">
                                                                                <input type="text"
                                                                                       class="form-control "
                                                                                       ng-model = "orderListModel.purchase_no"
                                                                                       validator = "validationFactory.isPositiveNumber(orderListModel.purchase_no) === true"                                                   
                                                                                       name="invoice_no"  
                                                                                       placeholder="Invoice No"
                                                                                       />
                                                                            </span>
                                                                        </li>-->
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="invoice_prefix"></span>
                                        <span class="tit-desc ">
                                            <select ng-model="orderListModel.invoicePrefix"  class="form-control" data-ng-change="getNextInvoiceno()">
                                                <option value="" translate="none"></option>
                                                <option value="{{perfix + ''}}" data-ng-repeat="perfix in orderListModel.prefixList">{{perfix}}</option>
                                            </select>

                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="tit " translate="invoice_number_required"></span>
                                                <span class="tit-desc ">
                                                    <input type="text"
                                                           class="form-control "
                                                           ng-model = "orderListModel.reference_no"
                                                           name="reference_no"
                                                           ng-keydown="keyupHandler($event)"
                                                           placeholder="{{'invoice_number'| translate}}"
                                                           required
                                                           />
                                                </span>
                                            </div>

                                        </div>


                                    </li>
                                    <!--                                    <li class="bottommarginsm ">
                                                                            <span class="tit ">Purchase code </span>
                                                                            <span class="tit-desc ">
                                                                                <input type="text"
                                                                                       class="form-control "
                                                                                       ng-model = "orderListModel.purchase_code"
                                                                                       name="purchase_code"
                                                                                       placeholder="Purchase code"                                                   
                                                                                       />
                                                                            </span>
                                                                        </li>-->
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="invoice_date"> </span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                                                   ng-model="orderListModel.billdate" is-open="startDateOpen"
                                                   max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"  />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                    <!--                                    <li class="bottommarginsm ">
                                                                            <span class="tit ">Payment Terms </span>
                                                                            <span class="tit-desc ">
                                                                                <select ng-model="orderListModel.paymentTerm"  class="form-control">
                                                                                    <option value="">Due On Receipt</option>
                                                                                    <option value="3">+3 days</option>
                                                                                    <option value="5">+5 days</option>
                                                                                    <option value="7">+7 days</option>
                                                                                    <option value="10">+10 days</option>
                                                                                    <option value="15">+15 days</option>
                                                                                    <option value="30">+30 days</option>
                                                                                    <option value="45">+45 days</option>
                                                                                    <option value="60">+60 days</option>
                                                                                    <option value="75">+75 days</option>
                                                                                    <option value="90">+90 days</option>
                                                                                    <option value="105">+105 days</option>
                                                                                    <option value="120">+120 days</option>
                                                                                    <option value="135">+135 days</option>
                                                                                    <option value="150">+150 days</option>
                                                                                </select>
                                                                            </span>
                                                                        </li>
                                                                        <li class="bottommarginsm ship-date clearfix ">
                                                                            <span class="tit ">Discount Mode </span>
                                                                            <span class="tit-desc ">
                                                                                <select ng-model="orderListModel.discountMode" class="form-control">
                                                                                    <option value="%">%</option>
                                                                                </select>
                                                                            </span>
                                                                        </li>
                                                                        <li class="bottommarginsm ship-date clearfix ">
                                                                            <span class="tit ">Discount</span>
                                                                            <span class="tit-desc ">
                                                                                <input type="text" size="20"
                                                                                       class="form-control"
                                                                                       name = "discountPercentage"
                                                                                       ng-model="orderListModel.discount_value"
                                                                                       ng-change="initUpdateProductDiscountPrice()"
                                                                                       validator = "validationFactory.isPositiveNumber($scope.orderListModel.discount_value) == true"
                                                                                       angular-validator-field
                                                                                       />
                                                                            </span>
                                                                        </li>-->
                                </ul>
                            </div>
                            <div class="row clear_b" style="margin-left: 0px;margin-right: 0px;">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label translate="payment_due"></label>
                                        <select ng-model="orderListModel.paymentTerm"  class="form-control">
                                            <option value="" translate="due_on_receipts"></option>
                                            <option value="3" translate="+3_days"></option>
                                            <option value="5" translate="+5_days"></option>
                                            <option value="7" translate="+7_days"></option>
                                            <option value="10" translate="+10_days"></option>
                                            <option value="15" translate="+15_days"></option>
                                            <option value="30" translate="+30_days"></option>
                                            <option value="45" translate="+45_days"></option>
                                            <option value="60" translate="+60_days"></option>
                                            <option value="75" translate="+75_days"></option>
                                            <option value="90" translate="+90_days"></option>
                                            <option value="105" translate="+105_days"></option>
                                            <option value="120" translate="+120_days"></option>
                                            <option value="135" translate="+135_days"></option>
                                            <option value="150" translate="+150_days"></option>
                                        </select>
                                    </div>
                                </div>
                                <!--                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label>Discount Mode</label>
                                                                        <select ng-model="orderListModel.discountMode" class="form-control"  ng-change="initUpdateProductDiscountPrice()">
                                                                            <option value="%">%</option>
                                                                            <option value="amount">Amount</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label>Discount</label>
                                                                        <input type="text" size="20"
                                                                               class="form-control"
                                                                               name = "discountPercentage"
                                                                               ng-model="orderListModel.discount_value"
                                                                               ng-change="initUpdateProductDiscountPrice()"
                                                                               validator = "validationFactory.isPositiveNumber($scope.orderListModel.discount_value) == true"
                                                                               angular-validator-field
                                                                               />
                                                                    </div>
                                                                </div>-->
                            </div>
                            <div class="col-sm-12  ">
                                <div class="product-add topmargin  ">

                                    <ul class="ul-list-wrapper ul-table-head clearfix ">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class="name " translate="name" style="width: 45%;">

                                        </li>
                                        <!--                                        <li class="sku left ">
                                                                                    SKU
                                                                                </li>-->
                                        <li class="right uom " data-ng-hide="!appConfig.purchase_uom">
                                            {{appConfig.purchase_uom_label}}
                                        </li>
                                        <li class="center price " translate="hsn_code">

                                        </li>
                                        <li class="right qty " translate="quantity">

                                        </li>
                                        <li class="right price " translate="purchase_price">

                                        </li>
                                        <li class="right f-right action ">
                                            &nbsp;
                                        </li>
                                        <li class="right f-right row-total " translate="row_total">

                                        </li>
                                    </ul>
                                    <div class="invoice-prod-list table-responsive " id="purchase_invoice_product_container">
                                        <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="order in orderListModel.list">
                                            <li class="num center ">
                                                {{$index + 1}}
                                            </li>
                                            <li class="name " style="width: 45%;">
                                                <input type="text"
                                                       name="product_dropdown_{{$index}}"
                                                       ng-model="order.productInfo"
                                                       placeholder ="{{'product_details' | translate}}"
                                                       uib-typeahead="product for product in getproductlist($viewValue)"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-no-results="noPurchaseProductResults"
                                                       typeahead-min-length="0"
                                                       class="form-control"
                                                       typeahead-editable="false"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       angular-validator-field
                                                       autocomplete="off"
                                                       ng-blur="initValidateProductDataAndAddNew($index)"
                                                       /> 
                                                <span class="glyphicon glyphicon-search box-search "></span>
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i> 
                                                <div ng-show="noPurchaseProductResults" class="result-dis  left remove-icon">
                                                    <i class="glyphicon glyphicon-remove"></i> 
                                                    <span translate="no_results_found"></span>
                                                </div>

                                            </li>
                                            <!--                                                                                        <li class="sku ">
                                                                                                                                        <input
                                                                                                                                            name="sku_{{$index}}"
                                                                                                                                            type="text"
                                                                                                                                            class="form-control qty left "
                                                                                                                                            data-ng-model="orderListModel.list[$index].sku"
                                                                                                                                            placeholder="sku"
                                                                                                                                            angular-validator-field
                                                                                                                                            />
                                                                                                                                    </li>-->
                                            <li class="uom right " data-ng-hide="!appConfig.purchase_uom">
                                                <input type="text"
                                                       class="form-control"
                                                       name="uom_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].uomInfo"
                                                       placeholder="{{'uom'| translate}}"
                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                       typeahead-loading="loadingLocations"
                                                       typeahead-no-results="noUomResult"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="false"
                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatUomModel($model)"
                                                       autocomplete="off"   angular-validator-field
                                                       data-ng-disabled="true"
                                                       />
                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 

                                            </li>
                                            <li  class="right" style="width: 10%;">
                                                <input
                                                    name="hsn_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].hsncode"                                                    
                                                    placeholder="{{'hsn_code'| translate}}"                                                    
                                                    readonly
                                                    />
                                            </li>
                                            <li  class="qty right ">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator ="validationFactory.isPositiveNumber(orderListModel.list[$index].qty)"
                                                    data-ng-change="initUpdateProductPurchasePrice()"
                                                    placeholder="{{'quantity'| translate}}"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="price right" >
                                                <input
                                                    name="purchase_price_{{$index}}"
                                                    type="text"
                                                    class="form-control qty left "
                                                    data-ng-model="order.purchase_price"
                                                    placeholder="{{'purchase_price'| translate}}"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].purchase_price)
                                                    && validationFactory.minNumber(orderListModel.list[$index].mrp_price,orderListModel.list[$index].purchase_price)"
                                                    ng-change="getPricebasedTaxInfo($index)"
                                                    angular-validator-field
                                                    />
                                            </li>

                                            <li class="action f-right right ">
                                                <!--                                                <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($parent.orderListModel.list[$index].id)" ui-toggle-class="" style="padding: 0;">
                                                                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                                                                </a>-->
                                                <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($index)" ui-toggle-class="" style="padding: 0;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </li>
                                            <li class="row-total  f-right right ">
                                                <input
                                                    name="rowtotal"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model=order.rowtotal
                                                    data-ng-change="initUpdateProductPurchasePrice()"
                                                    data-ng-disabled="true"
                                                    />
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">

                                                    <li>
                                                        <span translate="purchase_with_tax"></span>

                                                        <input
                                                            name="purchase_price_with_tax_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.purchase_price_with_tax"
                                                            placeholder="{{'purchase_with_tax'| translate}}"
                                                            validator = "validationFactory.isNumber(orderListModel.list[$index].purchase_price_with_tax)"
                                                            data-ng-change="initUpdateProductPurchasePrice()"
                                                            angular-validator-field readonly
                                                            /></br>
                                                    </li>
                                                    <li ng-show=" listType == 'product'">
                                                        <span translate="tax"></span>
                                                        <input
                                                            name="taxDropDown_{{$index}}"
                                                            type="text"
                                                            class="form-control"
                                                            data-ng-model="orderListModel.list[$index].tax_name"                                                            
                                                            readonly
                                                            />
                                                        </br>
                                                    </li>
                                                    <li ng-show=" listType == 'purchse'">
                                                        <span translate="tax"></span>
                                                        <select name="taxDropDown_{{$index}}"
                                                                type = "text"
                                                                ng-model="orderListModel.list[$index].tax_id"
                                                                class="form-control" ng-disabled="true"
                                                                >
                                                            <option value="">-None-</option>
                                                            <option value="{{tax.id + ''}}" data-ng-repeat="tax in orderListModel.taxGroupList">{{tax.tax_name}}-{{tax.tax_percentage}}%</option>
                                                        </select>
                                                        </br>
                                                    </li>
                                                    <li class="clearfix">
                                                        <span translate="mrp"></span>
                                                        <input
                                                            name="mrp_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.mrp_price"
                                                            validator = "validationFactory.isNumber(orderListModel.list[$index].mrp_price)
                                                            && validationFactory.minNumber(orderListModel.list[$index].mrp_price,orderListModel.list[$index].purchase_price)"
                                                            placeholder="{{'mrp_value'| translate}}"
                                                            angular-validator-field
                                                            ng-change="getSalesPricebasedTaxInfo($index)"
                                                            /></br>
                                                    </li>
                                                    <li ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                                        <span translate="selling_tax"></span>
                                                        <select name="sellingtaxDropDown_{{$index}}"
                                                                type = "text"
                                                                ng-model="order.selling_tax_id"
                                                                class="form-control"
                                                                angular-validator-field ng-disabled="true"
                                                                data-ng-change="initUpdateProductPurchasePrice()">
                                                            <option value="" translate="none"></option>
                                                            <option value="{{tax.id + ''}}" data-ng-repeat="tax in order.productTaxMapping">{{tax.tax_name}}-{{tax.tax_percentage}}%</option>
                                                        </select>
                                                        </br>
                                                    </li>
                                                    <li class="price right " ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                                        <span translate="selling_price"></span>
                                                        <input
                                                            name="sales_price_{{$index}}"
                                                            type="text"
                                                            class="form-control qty right "
                                                            data-ng-model="order.sales_price"
                                                            validator = "validationFactory.isNumber($parent.orderListModel.list[$index].sales_price)"
                                                            data-ng-change="initUpdateProductPurchasePrice()"
                                                            placeholder="{{'price'| translate}}"
                                                            readonly
                                                            angular-validator-field
                                                            />
                                                    </li>

<!--                                                    <li ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                                        <span translate="barcode"></span></br>
                                                        <span ng-if="order.productInfo.id != undefined">{{$parent.orderListModel.customerInfo.customer_code}}{{order.productInfo.sku}}-</span>
                                                        <span ng-if="order.productInfo.id == undefined">-</span>

                                                    </li>-->

                                                </ul>
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix">
                                                    <li>
                                                        <span translate="discount_mode"></span>
                                                        <select name = "discountMode_{{$index}}" ng-model="order.discount_mode" ng-change="initUpdateProductPurchasePrice()" class="form-control">
                                                            <option value="%">%</option>
                                                            <option value="amount" translate="amount"></option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <span translate="discount_value"></span>
                                                        <input type="text" size="20"
                                                               class="form-control"
                                                               name = "discountPercentage_{{$index}}"
                                                               ng-model="order.discount_value"
                                                               ng-change="getPricebasedTaxInfo($index)"
                                                               validator = "validationFactory.isPositiveNumber($parent.orderListModel.list[$index].discount_value) == true"
                                                               angular-validator-field
                                                               />
                                                    </li>
                                                    <li>
                                                        <span translate="discount_amount"></span>
                                                        <span>{{order.discount_amount_display}} </span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">
                                                    <li class="" data-ng-show="appConfig.purchase_invoice_item_custom1 == true">
                                                        {{appConfig.purchase_invoice_item_custom1_label}}
                                                        <input
                                                            name="purchase_invoice_item_custom1_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt1"
                                                            placeholder="{{'type_value'| translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.purchase_invoice_item_custom2 == true">
                                                        {{(appConfig.purchase_invoice_item_custom2_label)}}
                                                        <input
                                                            name="purchase_invoice_item_custom2_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt2"
                                                            placeholder="{{'type_value'| translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.purchase_invoice_item_custom3 == true">
                                                        {{(appConfig.purchase_invoice_item_custom3_label)}}
                                                        <input
                                                            name="purchase_invoice_item_custom3_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt3"
                                                            placeholder="{{'type_value'| translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.purchase_invoice_item_custom4 == true">
                                                        {{appConfig.purchase_invoice_item_custom4_label}}
                                                        <input
                                                            name="purchase_invoice_item_custom4_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt4"
                                                            placeholder="{{'type_value'| translate}}"
                                                            angular-validator-field
                                                            /></br></li>
                                                    <li data-ng-show="appConfig.purchase_invoice_item_custom5 == true">
                                                        {{appConfig.purchase_invoice_item_custom5_label}}
                                                        <input
                                                            name="purchase_invoice_item_custom5_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt5"
                                                            placeholder="{{'type_value'| translate}}"
                                                            angular-validator-field
                                                            />
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewProduct()"></a>
                                        </ul>
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">

                                            <tfoot>
                                                <tr>
                                                    <td class="right " colspan="6"><br>
                                                        <strong translate="sub_total"></strong>
                                                    </td>
                                                    <td class="right " colspan="1"><br>
                                                        <strong>{{currencyFormat}}.{{orderListModel.subtotal}}</strong>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6" translate="discount:">

                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.discountAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6" translate="tax:">

                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.taxAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="right " colspan="6" translate="round_off">

                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.roundoff}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6"><br/>
                                                        <strong><span translate="grand_total"></span>({{currencyFormat}}):</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1"><br/>
                                                        <strong>{{currencyFormat}}.{{orderListModel.round}}</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6">
                                                        <strong> <span translate="total_quantity"></span></strong>
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        <strong>{{orderListModel.totalQty}}</strong>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
                                <div class="model_popup" ng-if="showpopup" >
                                    <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                                    </div>
                                </div>
                                <div data-ng-class="{
                                        'attr-groups topmargin toppadding':(customAttributeList | filter:{is_show_in_invoice:1}
                                        ).length > 0}">
                                    <div class=" row " >
                                        <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeList">
                                            <div class="row ">
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                                    <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="purchase_invoice_add_form"></custom-checkbox>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                                    <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="purchase_invoice_add_form"></custom-selectoption>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                                    <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="purchase_invoice_add_form"></custom-multiselect>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                                    <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="purchase_invoice_add_form"></custom-yes-or-no>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                                    <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="purchase_invoice_add_form"></custom-textinput>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'date'">
                                                    <custom-date name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="purchase_invoice_add_form"></custom-date>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="notes ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <strong>NOTES</strong>
                            <textarea class="form-control"
                                      name = "Notes"
                                      ng-model = "orderListModel.notes"
                                      placeholder="Enter notes that are visible to your customer"
                                      ></textarea>
                        </div>
                    </div>
                                </div>-->
            </div>
        </div>
    </form>
    <div class="model_overlay" ng-show="showCustomerAddPopup" ng-click="closeCustomerPopup()" ></div>
    <div class="popups">
        <div class="model_popup" ng-show="showCustomerAddPopup" >
            <div data-ng-include=" 'tpl/newcustomer-add.html'" ng-if="true"  >
            </div>
        </div></div>
</div>

