<div class="app-content-body fade-in-up req-stock " data-ng-controller="purFromCusCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="purchase_from_vendor"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"> </a>
            <a href="{{APP_CONST.API.PURCHASE_FROM_CUSTOMER_CSV}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&purchase_code={{searchFilter.code}}"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="purfromcus_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false"   angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false"   angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text" name="code"
                               placeholder="{{'purchase_code'| translate}}"
                               angular-localstorage-field='true'
                               data-ng-model="searchFilter.code"
                               class="form-control "/>
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div> 
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="purFromCusModel.isSearchLoadingProgress" data-ng-class='{
                                                    "btn-loader":purFromCusModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"> </span>{{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="purchase_code"></span>  {{searchFilter.code == '' ? '-' : searchFilter.code}}</li>
               </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link  b-t  dataTable no-footer tableScroll" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="vendor_name">

                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="purchase_code">

                            </th>
                            <th style="width: 150px;"  rowspan="1" colspan="1" translate="city">

                            </th>
                            <th style="width: 150px;"   rowspan="1" colspan="1" translate="mobile">

                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1"  translate="gst_number">

                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="invoice_date">

                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="invoice_amount">

                            </th>
                            <th style="width: 120px;"  rowspan="1" colspan="1" class="right" translate="discount_amount">

                            </th>
                            <th style="width: 120px;"  rowspan="1" colspan="1" class="right" translate="taxable_amount">

                            </th>
                            <th style="width:70px;"   rowspan="1" colspan="1" class="right" translate="tax_amount">

                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1"  class="right" data-ng-show="purFromCusModel.tax_list.length > 0" data-ng-repeat="tax in purFromCusModel.tax_list">
                                {{tax.tax_name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="purFromCusModel.isLoadingProgress">
                            <td colspan="{{purFromCusModel.colspan}}" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="purFromCusModel.list.length === 0">
                            <td colspan="{{purFromCusModel.colspan}}" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat="purfromcus in purFromCusModel.list"  style="color:black;">

                            <td style="    padding: 5px 10px;">
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.name}} 
                                </a>
                            </td>  
                            <td style="    padding: 5px 10px;">
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.purchase_code}} 
                                </a>
                            </td>   
                            <td>
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.billing_city}} 
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.phone}} 
                                </a>
                            </td>
                            <td>
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.gst_no}} 
                                </a>
                            </td>
                            <td class="right">
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.date | date:'dd/MM/yyyy'}} 
                                </a>
                            </td>
                            <td class="right">
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.total_amount}} 
                                </a>
                            </td>
                            <td class="right">
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.discount_amount}} 
                                </a>
                            </td>

                            <td class="right">
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.valauable_amount}} 
                                </a>
                            </td>
                            <td class="right">
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{purfromcus.tax_amount}} 
                                </a>
                            </td>
                            <td data-ng-repeat="tax in purfromcus.tax_detail" class="right"  data-ng-show="purFromCusModel.tax_list.length > 0">
                                <a data-ui-sref="app.purchaseInvoiceView({id: '{{purfromcus.purchase_id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                    {{tax.tax_amount}} 
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr data-ng-show="purFromCusModel.list.length > 0">
                            <td colspan="5"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{purFromCusModel.total_Invoice_Amount}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{purFromCusModel.total_Disc_Amount}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{purFromCusModel.total_Amount}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{purFromCusModel.total_Tax_Amount}}</b></td>
                            <!--                            <td style="width: 150px; text-align: right;" ><b>{{purFromCusModel.totalTaxAmount}}</b></td>-->
                            <td data-ng-repeat ="purfromcus in purFromCusModel.tax_list" style="width: 150px; text-align: right;" ><b>{{purfromcus.total_tax}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


