
<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="receivableReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="receivable_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"> </a>
            <a href="{{APP_CONST.API.RECEIVABLEREPORT_DOWN}}?to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&status=partiallyPaid&start=0&limit=0&type=receivable&customer_id={{searchFilter.customerInfo.id}}"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="receivable_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
<!--                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>-->
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               class="form-control"
                               name="customer_dropdown_{{$index}}"
                               ng-model="searchFilter.customerInfo"
                               placeholder="Customer Details..."
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loading"
                               typeahead-no-results="noResult"
                               typeahead-min-length="0"
                               typeahead-editable="false"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatCustomerModel($model)"
                               autocomplete="off"

                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row rowbtn">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="receivableReportModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":receivableReportModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="customer_name:"></span>{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 "><span translate="from_date"> </span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive ">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="customer_name">

                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="city">

                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="mobile">

                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1" translate="email">

                            </th>
                            <!--                            <th style="width: 300px;"   rowspan="1" colspan="1">
                                                            Qty
                                                        </th>-->
                            <th style="width: 250px;text-align: right;"   rowspan="1" colspan="1" class="text-right" translate="amount">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="receivableReportModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="receivableReportModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="receivable in receivableReportModel.list"ng-click="show(receivable.flag)" >
                            <td >
                                {{$index + 1}}
                            </td>
                            <td >
                                {{receivable.customer_name}}
                            </td>
                            <td >
                                {{receivable.billing_city}} 
                            </td>
                            <td>
                                {{receivable.phone}} 
                            </td>
                            <td> 
                                {{receivable.email}} 
                            </td>
                            <!--                            <td ui-scroll-to="app" data-ng-click="viewRedirect(receivable.id)">
                                                            {{receivable.qty}} 
                                                        </td>-->
                            <td class="right"> 
                                {{receivable.amount}}
                            </td>
                          

                        </tr>
<!--                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{receivable.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="7" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 6px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="customer_code">

                                            </th>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;"  rowspan="1" colspan="1" translate="invoice_number">

                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="invoice_date">

                                            </th>
                                            <th style="width: 100px;"   rowspan="1" colspan="1" class="" translate="difference_days">

                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="quantity">

                                            </th>
                                            <th style="width: 100px;text-align: center;"   rowspan="1" colspan="1" translate="amount">

                                            </th>
                                            <th style="width: 100px;"   rowspan="1" colspan="1" class="" translate="status">

                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="action">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="showDetails[{{receivable.flag}}]" ng-repeat="invoice in receivable.details" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="width: 13%;" >
                                                {{receivable.customer_code}}
                                            </td >
                                            <td colspan="1" >
                                                {{invoice.invoice_code}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.date}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.diff_date}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.qty}}
                                            </td>

                                            <td colspan="1" style=" padding-left: 0px;text-align: right;">
                                                {{invoice.balance}}
                                            </td>

                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.status}}
                                            </td>

                                            <td colspan="1">
                                                                                                <a data-ui-sref="app.invoiceView1({id: '{{invoice.id}}'})" ui-scroll-to="app" class="btn-sm btn-primary view-btn">
                                                <a href="javascript:void(0)" class="add_button add-dash"   data-ng-click="view(invoice.id)" style="padding: 3px 10px 3px 10px;" translate="view"> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>-->
                    </tbody>
                    <tfoot  data-ng-hide="receivableReportModel.list.length === 0" >
                        <tr>
                            <td colspan="5" class="text-left right" >
                                <span translate="total"></span>
                            </td>
                            <td colspan="1" class="text-right">
                                {{receivableReportModel.total_Amount}}
                            </td>                            
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


