<div class="app-content-body fade-in-up req-stock " data-ng-controller="salesToCusCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="sales_to_customers"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <a href="{{APP_CONST.API.SALESTO_CUSTOMER_CSV}}?from_date={{searchFilter.fromdate == '' ? searchFilter.todate : searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate == '' ? searchFilter.fromdate : searchFilter.todate|date:'yyyy-MM-dd'}}&invoice_code={{searchFilter.invoice_code}}&customer_type={{searchFilter.customer_type}}"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="salestocus_report_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false"   angular-localstorage-field='true'
                               close-text="Close"   required validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false"   angular-localstorage-field='true'
                               close-text="Close"  required validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text"
                               placeholder="{{'invoice_code'| translate}}"
                               data-ng-model="searchFilter.invoice_code"
                               angular-localstorage-field='true'
                               class="form-control "/>
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div> 
                    <div class="sea">
                        <select ng-model="searchFilter.customer_type" name="customer_type" class="form-control" >
                            <option value="" translate="customer_type"></option>
                            <option value="retailer" translate="retailer"></option>
                            <option value="wholesaler" translate="wholesaler"></option>
                        </select>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="salesToCusModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":salesToCusModel.isSearchLoadingProgress}'
                                        translate="search">

                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"> </span>{{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span>  {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="invoice_code"></span>  {{searchFilter.invoice_code == '' ? '-' : searchFilter.invoice_code}}</li>
               </ul>
            </div>
            <div class="table-responsive ">
                <table class="table no-link  b-t  dataTable no-footer tableScroll" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th   rowspan="1" colspan="1" translate="serial_number">

                            </th>
                            <th   rowspan="1" colspan="1" translate="name">

                            </th>
                            <th   rowspan="1" colspan="1" translate="customer_type">

                            </th>
                            <th   rowspan="1" colspan="1" translate="city">

                            </th>
                            <th    rowspan="1" colspan="1" translate="mobile">

                            </th>
                            <th   rowspan="1" colspan="1"  translate="gst_number">

                            </th>
                            <th   rowspan="1" colspan="1" translate="invoice_number">

                            </th>
                            <th    rowspan="1" colspan="1" class="right" translate="quantity">

                            </th>
                            <th    rowspan="1" colspan="1" class="right" translate="invoice_amount">

                            </th>
                            
                            <th   rowspan="1" colspan="1" class="right" translate="discount_amount">

                            </th>
                            <!--                            <th   rowspan="1" colspan="1" class="right" translate="invoice_amount">
                            
                                                        </th>-->

                            <th    rowspan="1" colspan="1" class="right" translate="taxable_amount">

                            </th>
                            <th   rowspan="1" colspan="1" class="right" translate="tax_amount">

                            </th>

                            <th   rowspan="1" colspan="1"  class="right" data-ng-show="salesToCusModel.tax_list.length > 0" data-ng-repeat="tax in salesToCusModel.tax_list">
                                {{tax.tax_name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="salesToCusModel.isLoadingProgress">
                            <td colspan="{{salesToCusModel.colspan}}" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="salesToCusModel.list.length === 0">
                            <td colspan="{{salesToCusModel.colspan}}" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat="salestocus in salesToCusModel.list"  style="color:black;">
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{$index + 1}} 
                            </td> 
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.name}} 
                            </td>
                            <td style="width:100% ;height: 100%;text-transform: capitalize;" ui-scroll-to="app" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.customer_type}} 
                            </td>
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.billing_city}} 
                            </td>
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.phone}} 
                            </td>
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.gst_no}} 
                            </td>
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.invoice_code}} 
                            </td>
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" class="right" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.overall_qty}} 
                            </td>
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" class="right" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.total_amount}} 
                            </td>
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" class="right" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.discount_amount}} 
                            </td>

                            <td style="width:100% ;height: 100%" ui-scroll-to="app" class="right" data-ng-click="viewRedirect(salestocus.invoice_id)">   

                                {{salestocus.valauable_amount}} 

                            </td>
                            <!--                            <td style=" width:100% ;height: 100%" ui-scroll-to="app" class="right" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                            
                                                            {{salestocus.total_amount}} 
                            
                                                        </td>-->
                            <td style="width:100% ;height: 100%" ui-scroll-to="app" class="right" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{salestocus.tax_amount}} 
                            </td>

                            <td style="width:100% ;height: 100%" data-ng-repeat="tax in salestocus.tax_detail" ui-scroll-to="app" class="right" data-ng-show="salesToCusModel.tax_list.length > 0" data-ng-click="viewRedirect(salestocus.invoice_id)">   
                                {{tax.tax_amount}} 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr data-ng-show="salesToCusModel.list.length > 0" >
                            <td colspan="6"></td>
                            <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{salesToCusModel.total_Overall_Qty}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{salesToCusModel.total_Invoice_Amount}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{salesToCusModel.total_Disc_Amount}}</b></td>
                            <td style="width: 150px; text-align: right;" ><b>{{salesToCusModel.total_Amount}}</b></td>
                            <!--                            <td style="width: 150px; text-align: right;" ><b>{{salesToCusModel.total_Invoice_Amount}}</b></td>-->
                            <td style="width: 150px; text-align: right;" ><b>{{salesToCusModel.total_Tax_Amount}}</b></td>
                            <td data-ng-repeat ="salestocus in salesToCusModel.tax_list" style="width: 150px; text-align: right;" ><b>{{salestocus.total_tax}}</b></td>
                        </tr>
                        <!--                        <tr >
                                                   
                                                </tr>    -->
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


