<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname  + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body req-stock " id="invoice_edit_product_container" data-ng-controller="salesorderEditCtrl">
    <div class="panel panel-default ">
        <div class="model_overlay" ng-show="orderListModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
            <p class="loader-icon">
            <center><img alt="loader" src="../img/loading.gif" /></center>
            </p>
        </div>
    </div>
    <form name="order_edit_form"  angular-validator-submit="updateOrder(forceSave)" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="sales_order_edit"> </h2>
                <div class=" right action-links ">
                    <!--                    <a href="javascript:void(0)" class=" ">
                                            Preview
                                        </a>-->
                    <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' translate="save" >
                    </button>
                    <!--                    <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                                                "btn-loader":isDataSavingProcess}' ng-submit="createOrder('Mail')" >Save and Send
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng" data-ng-click="showPopup()">
                                            Save and Send
                                        </a>-->
                    <a ui-sref="app.salesorder" ui-scroll-to="app" href="#/sales-order" translate="back_to_list">
                        
                    </a>
                </div>
            </div>
        </div>

        <div class="container invoice-container animated fadeInUp  topmarginsm ">
            <div class=" invoice-add bottommargin ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="row ">
                            <div class=" col-sm-4 ">
                                <strong class="bottommarginxs " translate="bill_to"></strong><br/>
                                <input type="text"
                                       class="form-control"
                                       name="customer_dropdown_{{$index}}"
                                       ng-model="orderListModel.customerInfo"
                                       placeholder="{{'customer_details' | translate}}"
                                       uib-typeahead="customer for customer in getCustomerList($viewValue)"
                                       typeahead-loading="loadingCustomerLocations"
                                       typeahead-no-results="noCustomerResult"
                                       typeahead-min-length="0"
                                       typeahead-editable="true"
                                       typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                                       typeahead-input-formatter="formatCustomerModel($model)"
                                       autocomplete="off"
                                       required
                                       />
                                 <span class="glyphicon glyphicon-search box-search "></span>
                                <i ng-show="loadingCustomerLocations" class="glyphicon glyphicon-refresh"></i> 
                               
                                <div ng-show="noCustomerResult">
                                    <i class="glyphicon glyphicon-remove"></i> 
                                    <span translate="no_results_found"></span>
                                </div>
                                <br/>
                                <textarea class="form-control"
                                          name = "Address"
                                          ng-model = "orderListModel.customerInfo.shopping_address"
                                          placeholder="{{'contact_details' | translate}}"
                                          ></textarea>
                                <br/>
                            </div>
                            <div class=" col-sm-3 ">&nbsp;</div>
                            <div class=" col-sm-5 right form ">
                                <ul class="invoice-date-info ">
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="order_prefix">Order Prefix </span>
                                        <span class="tit-desc ">
                                            <input type="text"
                                                   class="form-control "
                                                   ng-model = "orderListModel.invoicePrefix"
                                                   name="invoice_prefix"
                                                   placeholder="{{'order_prefix' | translate}}"
                                                   value="10"
                                                   />
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="order_date"></span>
                                        <span class="tit-desc ">
                                            <input name="orderdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                                   ng-model="orderListModel.billdate" is-open="startDateOpen" 
                                                   max-date="orderListModel.validdate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close" readonly="true"  />
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ">
                                        <span class="tit " translate="due_date"></span>
                                        <span class="tit-desc ">
                                            <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                                   ng-model="orderListModel.duedate" is-open="dueDateOpen"
                                                   min-date="minDate" show-weeks="false" datepicker-options="dateOptions"
                                                   required close-text="Close"
                                                   readonly="true"/>
                                            <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm   ship-date clearfix ">
                                        <span class="tit " translate="tax"> </span>
                                        <span class="tit-desc ">
                                            <select name="taxDropDown"
                                                    type = "text"
                                                    ng-model="orderListModel.tax_id"
                                                    class="form-control"
                                                    ng-change="updateInvoiceTotal(); calculateTaxAmt()">
                                                <option value="">-None-</option>
                                                <option value="{{tax.id}}" data-ng-repeat="tax in orderListModel.taxInfo">{{tax.tax_name}}{{tax.is_group == 1 ? ('Group') : ''}}-{{tax.tax_percentage}}%</option>
                                            </select>
                                        </span>
                                    </li>
                                    <li class="bottommarginsm ship-date clearfix ">
                                        <span class="tit " translate="discount_mode"></span>
                                        <span class="tit-desc ">
                                            <select ng-model="orderListModel.discountMode" ng-change="updateInvoiceTotal()" class="form-control">
                                                <option value="%">%</option>
                                                <option value="amount" translate="amount"></option>
                                            </select>
                                        </span>
                                    </li>
                                    <li class=" bottommarginsm ship-date clearfix ">
                                        <span class="tit " translate="discount"></span>
                                        <span class="tit-desc ">
                                            <input type="text" size="20"
                                                   class="form-control"
                                                   name = "discountPercentage"
                                                   ng-model = "orderListModel.discountPercentage"
                                                   ng-change="updateInvoiceTotal()"
                                                   validator = "validationFactory.isPositiveNumber(orderListModel.discountPercentage) === true"
                                                   />
                                        </span>
                                    </li>
                                    <li class=" bottommarginsm ship-date clearfix ">
                                        <span class="tit " translate="status"></span>
                                        <span class="tit-desc ">
                                            <select class="form-control "
                                                    ng-model="orderListModel.status"
                                                    name="statusdropdown"
                                                    >
                                                <option value="" translate="all_status"></option>
                                                <option value= "new" translate="new"></option>
                                                <option value= "pending" translate="pending"></option>
                                                <option value= "invoiced" translate="invoiced"></option>
                                            </select>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-12  ">
                                <div class="product-add topmargin  ">

                                    <ul class="ul-list-wrapper ul-table-head clearfix ">
                                        <li class="num ">
                                            #
                                        </li>
                                        <li class="name " translate="name">
                                            
                                        </li>
                                        <!--                                        <li class="sku left ">
                                                                                    SKU
                                                                                </li>-->
                                        <li class="right uom " data-ng-hide="!appConfig.uomdisplay">
                                            {{appConfig.uomlabel}}
                                        </li>
                                        <li class="right qty " translate="quantity">
                                            
                                        </li>
                                        <li class="right price " translate="price">
                                            
                                        </li>
                                        <li class="right f-right action ">
                                            &nbsp;
                                        </li>
                                        <li class="right f-right row-total " translate="row_total">
                                            
                                        </li>
                                    </ul>
                                    <div class="invoice-prod-list table-responsive ">
                                        <ul class="ul-list-wrapper ul-table-details clearfix " data-ng-repeat="order in orderListModel.list">
                                            <li class="num center ">
                                                {{$index + 1}}
                                            </li>
                                            <li class="name ">
                                                <input type="text"
                                                       ng-model="order.productname"
                                                       placeholder="{{'product_list' | translate}}"
                                                       uib-typeahead="itemList  as itemList.name for itemList in orderListModel.productList | filter:{name:$viewValue}"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control"
                                                       typeahead-editable="true"
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-show-hint="true"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       typeahead-min-length="0"
                                                       ng-blur="initValidateProductDataAndAddNew($index)">
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                            </li>
                                            <!--                                            <li class="sku ">
                                                                                            <input
                                                                                                name="sku_{{$index}}"
                                                                                                type="text"
                                                                                                class="form-control qty left "
                                                                                                data-ng-model="orderListModel.list[$index].sku"
                                                                                                placeholder="sku"
                                                                                                angular-validator-field
                                                                                                />
                                                                                        </li>-->
                                            <li class="uom right " data-ng-hide="!appConfig.uomdisplay">
                                                <input type="text"
                                                       class="form-control"
                                                       name="uom_dropdown_{{$index}}"
                                                       ng-model="orderListModel.list[$index].uomInfo"
                                                       placeholder="{{'uom' | translate}}"
                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                       typeahead-loading="loadingLocations"
                                                       typeahead-no-results="noUomResult"
                                                       typeahead-min-length="0"
                                                       typeahead-editable="true"
                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                       typeahead-input-formatter="formatUomModel($model)"
                                                       autocomplete="off"   angular-validator-field
                                                       />
                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                
                                            </li>
                                            <li  class="qty right ">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].qty)"
                                                    data-ng-change="updateTierPricing($index)"
                                                    placeholder="{{'quantity' | translate}}"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="price right ">
                                                <input
                                                    name="sales_price_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="order.new_sales_price"
                                                    validator = "validationFactory.isNumber($parent.orderListModel.list[$index].new_sales_price)"
                                                    data-ng-change="updateInvoiceTotal()"
                                                    placeholder="{{'price' | translate}}"
                                                    angular-validator-field
                                                    />
                                            </li>
                                            <li class="action f-right right ">
                                                <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($index)" ui-toggle-class="" style="padding: 0;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </li>
                                            <li class="row-total  f-right right ">
                                                <input
                                                    name="rowtotal"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model=order.rowtotal
                                                    data-ng-change="updateInvoiceTotal()"
                                                    data-ng-disabled="true"
                                                    />
                                            </li>
                                            <li class="ul-table-inner-wrapper clearfix ">
                                                <ul class="f-in ">
                                                    <li >&nbsp;</li>
                                                </ul>
                                                <ul class="ul-table-inner clearfix  ">
                                                    <li class="" data-ng-show="appConfig.invoice_item_custom1 == true">
                                                        {{appConfig.invoice_item_custom1_label}}
                                                        <input
                                                            name="invoice_item_custom1_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt1"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom2 == true">
                                                        {{(appConfig.invoice_item_custom2_label)}}
                                                        <input
                                                            name="invoice_item_custom2_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt2"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom3 == true">
                                                        {{(appConfig.invoice_item_custom3_label)}}
                                                        <input
                                                            name="invoice_item_custom3_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt3"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            /></br>
                                                    </li>
                                                    <li data-ng-show="appConfig.invoice_item_custom4 == true">
                                                        {{appConfig.invoice_item_custom4_label}}
                                                        <input
                                                            name="invoice_item_custom4_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt4"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            /></br></li>
                                                    <li data-ng-show="appConfig.invoice_item_custom5 == true">
                                                        {{appConfig.invoice_item_custom5_label}}
                                                        <input
                                                            name="invoice_item_custom5_label_value_{{$index}}"
                                                            type="text"
                                                            class="form-control qty left "
                                                            data-ng-model="order.custom_opt5"
                                                            placeholder="{{'type_value' | translate}}"
                                                            angular-validator-field
                                                            />
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <a class="add-more-prod panel panel-default glyphicon glyphicon-plus " href="javascript:void(0)" data-ng-click="addNewProduct()"></a>
                                        </ul>
                                        <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">

                                            <tfoot>
                                                <tr>
                                                    <td class="right " colspan="6"><br>
                                                        <strong translate="sub_total:"></strong>
                                                    </td>
                                                    <td class="right " colspan="1"><br>
                                                        <strong>{{currencyFormat}}.{{orderListModel.subtotal}}</strong>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6" translate="discount:">
                                                        
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.discountAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6" translate="tax:">
                                                        
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.taxAmt}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td class="right " colspan="6" translate="round_off">
                                                        
                                                    </td>
                                                    <td class="right " colspan="1">
                                                        {{currencyFormat}}.{{orderListModel.roundoff}}
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="right " colspan="6"><br/>
                                                        <strong><span translate="grand_total"></span>({{currencyFormat}}):</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1"><br/>
                                                        <strong>{{currencyFormat}}.{{round}}</strong><br/><br/>
                                                    </td>
                                                    <td class="right " colspan="1" style="width: 7px;">&nbsp;</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="model_overlay" ng-if="showpopup" ng-click="closePopup()" ></div>
                                <div class="model_popup" ng-if="showpopup" >
                                    <div data-ng-include=" 'tpl/sendMail.html'" ng-if="true"  >
                                    </div>
                                </div>
                                <div class=" attr-groups topmargin toppadding  " >
                                    <div class=" row " >
                                        <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeList">
                                            <div class="row ">
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                                    <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="order_add_form"></custom-checkbox>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                                    <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="order_add_form"></custom-selectoption>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                                    <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_add_form"></custom-multiselect>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                                    <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_add_form"></custom-yes-or-no>
                                                </div>
                                                <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                                    <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="order_add_form"></custom-textinput>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="notes ">
                                    <div class="row ">
                                        <div class="col-sm-12 ">
                                            <strong>NOTES</strong>
                                            <textarea class="form-control"
                                                      name = "Notes"
                                                      ng-model = "orderListModel.notes"
                                                      placeholder="Enter notes that are visible to your customer"
                                                      ></textarea>
                                        </div>
                                    </div>
                                </div>-->
            </div>
        </div>
    </form>

</div>

