<!--<script type="text/ng-template" id="customer_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.fname + '(' + match.model.phone +  ',' + match.model.email + ')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="salesCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix ">
            <h2 translate="sales_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <a href="{{APP_CONST.API.INVOICE_SALES_DOWN}}?from_date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_date={{searchFilter.todate|date:'yyyy-MM-dd'}}&customer_id={{searchFilter.customerInfo.id}}&prefix={{prefix1}}&is_active=1&mode=2&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class=" animated fadeInUp clearfix " >
        <div class="panel panel-default  wrapper-md notopmargin  ">
            <form name="sales_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               close-text="Close" required  validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               show-weeks="false"  angular-localstorage-field='true'
                               close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="customer_dropdown"
                               ng-model="searchFilter.customerInfo"
                               placeholder ="{{'customer_details' | translate}}"
                               uib-typeahead="customer for customer in getCustomerList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="true"
                               typeahead-template-url="/public/admin/tpl/customer_dropdown__tpl.html"
                               typeahead-input-formatter="formatcustomerModel($model)"
                               autocomplete="off"
                               angular-localstorage-field='true'
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> 
                            <span translate="no_results_found"></span>
                        </div>
                    </div>
                    <!--                    <div class="sea" style="width: 13%;">
                                            <select ng-model="searchFilter.prefix"  class="form-control">
                                                <option value="">-None-</option>
                                                <option value="{{perfix + ''}}" data-ng-repeat="perfix in salesModel.prefixList">{{perfix}}</option>
                                            </select>
                                        </div>-->
                    <div class="sea ">
                        <div>
                            <input type = "checkbox"
                                   class=""
                                   id="showAll"
                                   name="showall"
                                   data-ng-model = "showDetail"
                                   data-ng-change ="initTableFilter()"
                                   />
                            <label for="showAll" class="detailchk" translate="show_details"></label>
                            <!--                            <input type="checkbox">
                                                        <label class="detailchk">Detail</label>-->
                        </div>
                    </div>
                    <div class="col-sm-2 " style="margin-top: 4px;float:right;">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="salesModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":salesModel.isSearchLoadingProgress}'
                                        translate="search">
                                    
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()" angular-validator-form-reset translate="clear">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row clear_b" style="margin-left: 0px;">
                        <div class="sea head-drop-con multiselectdropdown topmargin" style="width:100% !important;">                                 
                            <input ng-model="searchPrefix"  style="width: auto;" class="form-control" placeholder="{{'select_prefix' | translate}}" data-ng-change= "showMultiSelect(1)" data-ng-click= "showMultiSelect(1)" />
                            <input type="checkbox"              
                                   name="multi_select_1"
                                   id="multi_select_1"
                                   data-ng-model="selectAllMultiSelect1"
                                   data-ng-change="checkAllMultiSelect(1)" 
                                   angular-localstorage-field='true'
                                   />
                            <!--                            <label for="multi_select_1" style="float:right;">Check All ({{selectedPrefixCount}}/{{salesModel.prefixArrayList.length + 1}})</label>-->
                            <label for="multi_select_1" style="margin-left: 10px;top: -8px;" translate="check_all"></label>
                            <div class="model_overlay " data-ng-show="showMultiSelectList1" data-ng-click="closeMultiSelect(1)" style="background: transparent;"></div>
                            <ul class="head-drop-menu" data-ng-show="showMultiSelectList1">                                          
                                <li>
                                    <input type="checkbox"                                           
                                           id="selectactive_none"
                                           name="is_select_none"
                                           data-ng-model="salesModel.noPrefix"
                                           data-ng-change="noneCheckAllMultiSelect(1)"
                                           angular-localstorage-field='true'
                                           />
                                    <label for="selectactive_none">None</label>
                                </li>
                                <li class=" " data-ng-repeat="data in salesModel.prefixArrayList">
                                    <div class=" ">
                                        <input type="checkbox"                                           
                                               id="selectactive_{{data.index}}_c_1"
                                               name="is_select_{{data.index}}_c_1"
                                               data-ng-model="salesModel.prefixArrayList[data.index].is_select"
                                               data-ng-change="findSelectedCount(1)"
                                               angular-localstorage-field='true'
                                               />
                                        <label for="selectactive_{{data.index}}_c_1">{{data.value}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="customer_name:"></span>{{searchFilter.customerInfo == '' ? '-' : searchFilter.customerInfo.fname}}</li>
                    <li class="col-sm-4 "><span translate="from_date"> </span>{{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:50px; text-align: right;"  rowspan="1" colspan="1" >
                                #
                            </th>
                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="date">
                                
                            </th>
                            <th style="width: 300px;"  rowspan="1" colspan="1" translate="invoice ">
                                
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1" translate="customer_name">
                                
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1" translate="city">
                                
                            </th>
                            <th style="width: 300px;"   rowspan="1" colspan="1" translate="prefix">
                                 
                            </th>
                            <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1" class="text-right" translate="amount">
                                
                            </th>
                            <th style="width: 200px;text-align: right"   rowspan="1" colspan="1" translate="paid_amount">
                                
                            </th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="salesModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="salesModel.list.length === 0">
                            <td colspan="8" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="sales in salesModel.list">
                            <td style="width:50px; text-align: right;" ui-scroll-to="app" data-ng-click="viewRedirect(sales.id)">
                                {{$index + 1}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(sales.id)">
                                {{sales.date}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(sales.id)">
                                {{sales.invoice_code}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(sales.id)">
                                {{sales.customer_fname}} {{sales.customer_lname}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(sales.id)">
                                {{sales.billing_city}}
                            </td>
                            <td ui-scroll-to="app" data-ng-click="viewRedirect(sales.id)">
                                {{sales.prefix}}
                            </td>
                            <td style="text-align: right;" ui-scroll-to="app" data-ng-click="viewRedirect(sales.id)">
                                {{sales.total_amount}}
                            </td>
                            <td style="text-align: right;" ui-scroll-to="app" data-ng-click="viewRedirect(sales.id)">
                                {{sales.paid_amount}}
                            </td>
                            

                        </tr>
                        <tr class="d0" ng-repeat-end ng-show="showDetail" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="8" style="    border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 21px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 600px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" >
                                                Product Name
                                            </th>
                                            <th style="width: 175px;"  rowspan="1" colspan="1" >
                                                Qty
                                            </th>
                                            <th style="width: 320px;padding-right: 15px;"   rowspan="1" colspan="1" class="right">
                                                Unit Price
                                            </th>
                                            <th style="width: 265px;padding-right: 15px;"  rowspan="1" colspan="1"  class="right">
                                                Row Total
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in sales.item" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="padding-left: 10px;" >
                                                {{product.product_name}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{product.qty}}&nbsp;{{product.uom_name}}
                                            </td>
                                            <td colspan="1" class="right" >
                                                {{product.unit_price}}
                                            </td>
                                            <td colspan="1" class="right" >
                                                {{product.rowtotal.toFixed(2)}}
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="salesModel.list.length === 0" >
                        <tr>
                            <td colspan="7" class="text-left right" >
                                Total :&nbsp;&nbsp;&nbsp;&nbsp; {{salesModel.total_Amount}}
                            </td>
                            <td colspan="1" class="text-left right" >
                                &nbsp;&nbsp;&nbsp;&nbsp; {{salesModel.total_paid_Amount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
