<div class="app-content-body fade-in-up"  data-ng-controller="sampleAddCtrl">
 <div class="bg-light clearfix">
        <div class="panel-heading clearfix "> 
            <h2>Sample Add</h2>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_attribute_form" angular-validator-submit="addAttributeDetails()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="form-group">
                        <label>Option Value</label>
                        <input  type = "text"
                                class="form-control"
                                name = "optionText"
                                ng-model = "attributeAddModel.optionValue"
                                placeholder="Option Value"
                                maxlength="20"
                                validator = "validationFactory.isAlbhaNumeric(attributeAddModel.optionValue) === true"
                                />                                
                        <!--validator = "validationFactory.isAlbhaNumeric(attributeAddModel.optionValue) === true"-->                                

                    </div> 
                    <div class="form-group">
                        <label>Option Value</label>
                        <input  type = "text"
                                class="form-control"
                                name = "optionValue"
                                ng-model = "attributeAddModel.optionText"
                                placeholder="Option Value"
                                maxlength="20"
                                validator = "validationFactory.isNumber(attributeAddModel.optionText) === true"
                                />
                        <!--validator = "validationFactory.isAlbhaNumeric(attributeAddModel.optionValue) === true"-->                                

                    </div>                     
                    <div class="form-group full_w btn_group">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' >Submit</button>
                        <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()">Reset</button>
                    </div>
                    <div ng-controller="Controller">
                        <div my-customer></div>
                    </div>
                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
    </div>
</div>
