<div class="app-content-body fade-in-up"  data-ng-controller="serviceAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="service_add"></h2>
            <a ui-sref="app.serviceList" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>

    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">

                <form name="service_add_form" angular-validator-submit="addServiceInfo()" class="form-horizontal material-form clearfix " novalidate angular-validator >


                    <div class="row ">

                        <div class="col-sm-5 " style="width: 50%;">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="servicename"
                                           class="form-control "
                                           placeholder="{{'name'| translate}}"
                                           data-ng-model="serviceModel.name"
                                           maxlength="100"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="sku_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="sku"
                                           class="form-control "
                                           placeholder="{{'sku'| translate}}"
                                           data-ng-model="serviceModel.sku"
                                           maxlength="40"
                                           required
                                           />
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="uom"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select type = "text" ng-model="serviceModel.uomName" class="form-control" >
                                        <option value="" translate="select"></option>
                                        <option value="{{uomlist.name}}" data-ng-repeat="uomlist in serviceModel.uomList">{{uomlist.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="sales_price_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="salesPrice"
                                           class="form-control "
                                           placeholder ="{{'sales_price'| translate}}"
                                           data-ng-model="serviceModel.salesPrice"
                                           validator = "validationFactory.isNumber(serviceModel.salesPrice) === true"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="HSN/legal_code_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="hsn"
                                           class="form-control "
                                           placeholder="{{'HSN/legal_code_req'| translate}}"
                                           data-ng-model="serviceModel.hsncode"
                                           maxlength="40"
                                           ng-click="showHsnPopup()"
                                           readonly
                                           required
                                           />
                                </div>
                                <div class="col-sm-12  bottommargin" ng-if="serviceModel.hsncode != ''">
                                    <table class="table table-striped b-t  dataTable no-footer small-table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th ng-show="serviceModel.hsncodeTaxinfo.length > 1" translate="from_price"></th>
                                                <th ng-show="serviceModel.hsncodeTaxinfo.length > 1" translate="to_price"></th>                                                                                                
                                                <th translate="intra_state_tax" style="width: max-content;"></th>
                                                <th translate="inter_state_tax" style="width: max-content;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="serviceModel.hsncodeTaxinfo.length == 0">
                                                <td class="center" colspan="2">-Nill-</td>
                                            </tr>
                                            <tr data-ng-repeat="product in serviceModel.hsncodeTaxinfo">

                                                <td ng-show="serviceModel.hsncodeTaxinfo.length > 1" style="padding: 10px 15px 8px;">
                                                    {{product.from_price}}
                                                </td>
                                                <td ng-show="serviceModel.hsncodeTaxinfo.length > 1" style="padding: 10px 15px 8px;">
                                                    {{product.to_price == 0.00 ? product.from_price+'+' : product.to_price}}
                                                </td>                                                
                                                <td style="padding: 10px 15px 8px;">
                                                    {{product.inter_tax_name}}
                                                </td>
                                                <td style="padding: 10px 15px 8px;">
                                                    {{product.intra_tax_name}}
                                                </td>
                                            </tr>
                                            <!--                                <tr >

                                                                                <td style="padding: 10px 15px 8px;">017</td>
                                                                                <td style="padding: 10px 15px 8px;">sample hsn</td>
                                                                            </tr>
                                                                            <tr>

                                                                                <td style="padding: 10px 15px 8px;">019</td>
                                                                                <td style="padding: 10px 15px 8px;">sample</td>
                                                                            </tr>                                -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 " style="width: 50%;position: relative;">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="description"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "Description"
                                              ng-model = "serviceModel.description"
                                              placeholder="{{'description'| translate}}"
                                              >
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label style="width: 100%;"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="productisSale"
                                           name="isSale"
                                           data-ng-model="serviceModel.isSale"
                                           validator="validationFactory.hasRequired(serviceModel.isSale) || validationFactory.hasRequired(serviceModel.isPurchase)"
                                           />
                                    <label for="productisSale" translate="sales">Sales</label>

                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="productisPurchase"
                                           name="isPurchase"
                                           data-ng-model="serviceModel.isPurchase"
                                           validator="validationFactory.hasRequired(serviceModel.isSale) || validationFactory.hasRequired(serviceModel.isPurchase)"
                                           />
                                    <label for="productisPurchase" translate="purchase"></label>
                                </div>
                                <div class="pos-prod-list-edit " data-ng-class='{"product":showHSNDetail}' style="background: #eeee;height: 366px;" ng-show="showHSNDetail == true">
                                    <a href="javascript:void(0)" ng-click="closeHsnPopup()" class="glyphicon glyphicon-remove close " ></a>
                                    <!--<form name="hsncode_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator>-->
                                        <div class="first-head"><h5>HSN Code Details</h5></div>
                                        <div class="panel panel-default hsn-popup">
                                            <div class="row topmarginsm bottommarginsm">
                                                <div class="head_right wrapper-sm1 clearfix bor-div">
                                                    <div class="sea" >
                                                        <input type="text"
                                                               class="form-control"
                                                               name="hsn_code"
                                                               ng-model="searchFilter.hsn_code"
                                                               placeholder="HSN Code Details..."
                                                               />
                                                        <span class="glyphicon glyphicon-search head-right-search "></span>
                                                    </div>

                                                    <div class="sea" >
                                                        <input type="text"
                                                               class="form-control"
                                                               name="hsn_details"
                                                               ng-model="searchFilter.product"
                                                               placeholder="Product Details..."
                                                               />
                                                        <span class="glyphicon glyphicon-search head-right-search "></span>
                                                    </div>
                                                    <div class="button">
                                                        <a href="javascript:void(0)" type="btton" ng-click="getHsnList()" class="btn-sm1 btn-primary " data-ng-disabled="serviceModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":serviceModel.isSearchLoadingProgress}' translate="search"></a>
                                                        <a href="javascript:void(0)" class="btn-sm1 btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset style="margin-left:3px;" translate="clear"></a>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row rowwtab bottommarginsm posnew-shadow">

                                                <table class="cus-tablehsn">
                                                    <thead>
                                                        <tr>
                                                            <th style="padding-left: 15px;width: 14%;">HSN Code</th>
                                                            <th style="padding-left: 15px;">Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-show="serviceModel.isLoadingProgress">
                                                            <td colspan="2" class="center" style="padding: 0;" >
                                                                <p class="loader-icon" >
                                                                    <img alt="loader" src="../img/loading.gif" />
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr data-ng-show="serviceModel.hsnList.length == 0">
                                                            <td colspan="2" class="text-center" style="padding:10px 0px 8px; width:100%;">
                                                                -No Data Found-
                                                            </td>
                                                        </tr>
                                                        <tr data-ng-repeat="product in serviceModel.hsnList  |  filter:searchFilter.hsn_code |  filter:searchFilter.product" style="cursor:pointer;">
                                                            <td style="padding: 10px 15px 8px;width: 14%;" >
                                                                <a ng-click="updateHsn(product)"> {{product.hsn_code}}</a>
                                                            </td>
                                                            <td style="padding: 10px 15px 8px 15px; width:80%">
                                                                <a ng-click="updateHsn(product)"><span data-ng-bind-html="product.description | highlightKeywords:searchFilter.product"></span></a>
                                                            </td>
                                                        </tr>                            
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>

                                        <div class="hsn-msgdiv" >
                                            <p><span class="parahsn">Want to Add New HSN?</span><a style="font-weight: 400;" href="javascript:void(0)">Click Run</a></p>
                                        </div>
<!--                                    </form>-->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 btn_group">
                        <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()" translate="reset"></a>
                    </div>

                </form>
            </div>
        </div>
    </div>
<!--    <div class="model_overlay" ng-if="showHSNDetail" ></div>
    <div class="model_popup model_popuphsn delet-popup model_popup_fixed add_review_popup ng-hide pgal popup-fixed galpopup popupp" data-ng-show="showHSNDetail" >
        <a href="javascript:void(0)" ng-click="closeHsnPopup()" class="glyphicon glyphicon-remove close " ></a>
        <form name="hsncode_form" angular-validator-submit="getHsnList()" class="form-horizontal clearfix " novalidate angular-validator>
            <div class="first-head"><h5>HSN Code Details</h5></div>
            <div class="panel panel-default hsn-popup">
                <div class="row topmarginsm bottommarginsm">
                    <div class="head_right wrapper-sm1 clearfix bor-div">
                        <div class="sea" >
                            <input type="text"
                                   class="form-control"
                                   name="hsn_dropdown_{{$index}}"
                                   ng-model="searchFilter.hsn_code"
                                   placeholder="HSN Code Details..."
                                   required
                                   />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>

                        <div class="sea" >
                            <input type="text"
                                   class="form-control"
                                   name="employee_dropdown_{{$index}}"
                                   ng-model="searchFilter.product"
                                   placeholder="Product Details..."
                                   />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>
                        <div class="button">
                            <button type="submit" class="btn-sm1 btn-primary " data-ng-disabled="serviceModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":serviceModel.isSearchLoadingProgress}' translate="search"></button>
                        </div>
                        <div class="button">
                            <button class="btn-sm1 btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset style="margin-left:3px;" translate="clear"></button>
                        </div>
                    </div>
                </div>


                <div class="row rowwtab bottommarginsm posnew-shadow">

                    <table class="cus-tablehsn">
                        <thead>
                            <tr>
                                <th style="padding-left: 15px;width: 14%;">HSN Code</th>
                                <th style="padding-left: 15px;">Description</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="serviceModel.isLoadingProgress">
                                <td colspan="2" class="center" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-show="serviceModel.hsnList.length == 0">
                                <td colspan="2" class="text-center" style="padding:10px 0px 8px; width:100%;">
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="product in serviceModel.hsnList" style="cursor:pointer;">
                                <td style="padding: 10px 15px 8px;width: 14%;" >
                                    <a ng-click="updateHsn(product)"> {{product.hsn_code}}</a>
                                </td>
                                <td style="padding: 10px 15px 8px 15px; width:80%">
                                    <a ng-click="updateHsn(product)"><span data-ng-bind-html="product.description | highlightKeywords:searchFilter.product"></span></a>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="hsn-msgdiv" >
                <p><span class="parahsn">Want to Add New HSN?</span><a style="font-weight: 400;" href="javascript:void(0)">Click Run</a></p>
            </div>
        </form>

    </div>-->
</div>