<div class="app-content-body fade-in-up"  data-ng-controller="serviceEditCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="service_edit"></h2>
            <a ui-sref="app.serviceList" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="serviceModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="service_edit_form" angular-validator-submit="editServiceInfo()" class="form-horizontal material-form clearfix " novalidate angular-validator >
                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="servicename"
                                           class="form-control "
                                           placeholder="{{'name'| translate}}"
                                           data-ng-model="serviceModel.name"
                                           maxlength="100"

                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="sku_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="sku"
                                           class="form-control "
                                           placeholder="{{'sku'| translate}}"
                                           ng-disabled="true"
                                           data-ng-model="serviceModel.sku"
                                           maxlength="40"

                                           required
                                           />
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="uom"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select type = "text" ng-model="serviceModel.uom" class="form-control" name="uomDropdown">
                                        <option value="" translate="select"></option>
                                        <option value="{{uomlist.name}}" data-ng-repeat="uomlist in serviceModel.uomList">{{uomlist.name}}</option>
                                    </select>                                    
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="sales_price_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="sales_price"
                                           class="form-control "
                                           placeholder ="{{'sales_price'| translate}}"
                                           data-ng-model="serviceModel.sales_price"
                                           validator = "validationFactory.isNumber(serviceModel.sales_price) === true"
                                           required
                                           />
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="HSN/legal_code_req"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="hsn"
                                           class="form-control "
                                           placeholder="{{'HSN/legal_code_req'| translate}}"
                                           data-ng-model="serviceModel.hsncode"
                                           maxlength="40"
                                           ng-click="showHsnPopup()"
                                           readonly
                                           required
                                           />
                                </div>
                                <div class="col-sm-12  bottommargin" ng-if="serviceModel.hsncode != ''">
                                    <table class="table table-striped b-t  dataTable no-footer small-table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th ng-show="serviceModel.hsncodeTaxinfo.length > 1" translate="from_price"></th>
                                                <th ng-show="serviceModel.hsncodeTaxinfo.length > 1" translate="to_price"></th>                                                
                                                <th translate="intra_state_tax"></th>
                                                <th translate="inter_state_tax"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="serviceModel.hsncodeTaxinfo.length == 0">
                                                <td class="center" colspan="2">-Nill-</td>
                                            </tr>
                                            <tr data-ng-repeat="product in serviceModel.hsncodeTaxinfo">

                                                <td style="padding: 10px 15px 8px;" ng-if="serviceModel.hsncodeTaxinfo.length > 1">
                                                    {{product.from_price}}
                                                </td>
                                                <td style="padding: 10px 15px 8px;" ng-if="serviceModel.hsncodeTaxinfo.length > 1">
                                                    {{product.to_price}}
                                                </td>                                                
                                                <td style="padding: 10px 15px 8px;width: max-content;" >
                                                    {{product.intra_tax_name}}
                                                </td>
                                                <td style="padding: 10px 15px 8px; width: max-content;" >
                                                    {{product.inter_tax_name}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="description"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "Description"
                                              ng-model = "serviceModel.description"
                                              placeholder="{{'description'| translate}}"
                                              >
                                    </textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label style="width: 100%;"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">

                                    <!--                                        <input type="checkbox"
                                                                                   class=" "
                                                                                   id="productactive"
                                                                                   name="is_active"
                                                                                   data-ng-model="serviceModel.is_active"
                                                                                   />
                                                                            <label for="productactive">Active</label>-->


                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="productis_sale"
                                           name="is_sale"
                                           data-ng-model="serviceModel.is_sale"
                                           validator="validationFactory.hasRequired(serviceModel.is_sale) || validationFactory.hasRequired(serviceModel.is_purchase)"
                                           />
                                    <label for="productis_sale" translate="sales"></label>


                                    <label style="width: 100%;"></label>
                                    <input type="checkbox"
                                           class=" "
                                           id="productis_purchase"
                                           name="is_purchase"
                                           data-ng-model="serviceModel.is_purchase"
                                           validator="validationFactory.hasRequired(serviceModel.is_sale) || validationFactory.hasRequired(serviceModel.is_purchase)"
                                           />
                                    <label for="productis_purchase" translate="purchase"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 btn_group">
                        <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()" translate="reset"></a>
                    </div>

                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md "></div>
        </div>
    </div>
    <div class="model_overlay" ng-if="showHSNDetail" ></div>
    <div class="model_popup model_popuphsn delet-popup model_popup_fixed add_review_popup ng-hide pgal popup-fixed galpopup popupp" data-ng-show="showHSNDetail" >
        <a href="javascript:void(0)" ng-click="closeHsnPopup()" class="glyphicon glyphicon-remove close " ></a>
        <form name="hsncode_form" angular-validator-submit="getHsnList()" class="form-horizontal clearfix " novalidate angular-validator>
            <div class="first-head"><h5>HSN Code Details</h5></div>
            <div class="panel panel-default hsn-popup" style="padding-left: 10px;">
                <div class="row topmarginsm bottommarginsm">

                    <div class="head_right wrapper-sm1 clearfix bor-div">
                        <div class="sea" >
                            <input type="text"
                                   class="form-control"
                                   name="hsn_dropdown_{{$index}}"
                                   ng-model="searchFilter.hsn_code"
                                   placeholder="HSN Code Details..."
                                   required
                                   />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>

                        <div class="sea" >
                            <input type="text"
                                   class="form-control"
                                   name="employee_dropdown_{{$index}}"
                                   ng-model="searchFilter.product"
                                   placeholder="Product Details..."
                                   />
                            <span class="glyphicon glyphicon-search head-right-search "></span>
                        </div>
                        <div class="button">
                            <button type="submit" class="btn-sm1 btn-primary " data-ng-disabled="serviceModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":serviceModel.isSearchLoadingProgress}' >Search</button>
                        </div>
                        <div class="button">
                            <button class="btn-sm1 btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset style="margin-left:3px;">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="row rowwtab topmarginsm bottommarginsm posnew-shadow">
                    <table class="cus-tablehsn">
                        <thead>
                            <tr>
                                <th style="padding-left: 15px;">HSN Code</th>
                                <th style="padding-left: 15px;">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="serviceModel.isLoadingProgress">
                                <td colspan="2" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-show="serviceModel.hsnList.length == 0">
                                <td colspan="2" class="text-center" style="padding:10px 0px 8px; width:100%;">
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="product in serviceModel.hsnList" style="cursor:pointer;">

                                <td style="padding: 10px 15px 8px; width:14%" ng-click="updateHsn(product)">
                                    {{product.hsn_code}}
                                </td>
                                <td style="padding: 10px 15px 8px;  width:85%" >
                                    <a ng-click="updateHsn(product)"><span data-ng-bind-html="product.description | highlightKeywords:searchFilter.product"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="hsn-msgdiv" >
                <p><span class="parahsn">Want to Add New HSN?</span><a href="javascript:void(0)">Click Run</a></p>
            </div>
        </form>
    </div>
</div>
