<div class="app-content-body fade-in-up"  data-ng-controller="stateAddCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="state_add"></h2>
            <a data-ui-sref="app.state" class="add_button add-dash" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="add_state_form" angular-validator-submit="createstate()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                    <div class="row">
                        <div class="col-sm-5">                            
                            <div class="row bottommargin">
                                <div class="col-sm-5 topmarginxs right">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7">                              
                                    <input type="text"
                                           class="form-control"
                                           name = "statename"
                                           ng-model = "stateModel.name"
                                           validator ="validationFactory.isAlbha(stateModel.name)==true"
                                           placeholder="{{'state_name' | translate}}"
                                           required

                                           />
                                </div> 
                            </div>  
                            <div class="row bottommargin">                            
                                <div class="col-sm-5 topmarginxs right">
                                    <label translate="code_required"></label>
                                </div>
                                <div class="col-sm-7">                                   
                                    <input type="text"
                                           class="form-control"
                                           name = "statename"
                                           ng-model = "stateModel.code"
                                           placeholder="{{'state_code' | translate}}"
                                           required
                                           />
                                </div>                           
                            </div>
                            <div class="row bottommargin">
                                <div class="col-sm-5 topmarginxs right">
                                    <label translate="country_name"></label>
                                </div>
                                <div class="col-sm-7">

                                    <!--                                <select type = "text" ng-model="stateModel.country_id" name="countryname" class="form-control" required>
                                                                        <option value="">-Select-</option>
                                                                        <option value="{{country.id}}" data-ng-repeat="country in stateModel.country_list">{{country.name}}</option>
                                                                    </select>-->
                                    <ui-select ng-model="stateModel.country_id" theme="select2"  style="min-width: 300px;" title="" ng-class="{'error': $select.isEmpty()}" required>
                                        <ui-select-match placeholder="{{'select_country' | translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="country.id as country in stateModel.country_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="row bottommargin">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label style="width: 100%;"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="checkbox"
                                           class=" "
                                           id="isDefault"
                                           name="isDefault"
                                           data-ng-model="stateModel.isDefault"
                                           />
                                    <label for="isDefault" translate="is_default"></label> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group full_w btn_group">
                        <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                        <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess" translate="reset"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

