<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a> 	
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="stocktracelistCtrl">
    <div class="panel panel-default hide-print ">
        <div class="panel-heading clearfix ">
            <h2 translate="stock_trace"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print()" translate="print"></a>
        </div>
    </div>

    <div class="wrapper-md animated fadeInUp clearfix ">
        <form name="stocktrace_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator>
            <div class="panel panel-default ">
                <div class="head_right table-search wrapper-sm clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date'| translate}}"
                               show-weeks="false" show-button-bar="true" angular-localstorage-field='true'
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) &&validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date'| translate}}"
                               show-weeks="false" show-button-bar="true" angular-localstorage-field='true'
                               close-text="Close"  validator="validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="product_dropdown"
                               ng-model="searchFilter.productInfo"
                               placeholder ="{{'product_details'| translate}}"
                               uib-typeahead="product for product in getproductlist($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-min-length="0"
                               class="form-control"
                               typeahead-editable="false"
                               typeahead-template-url="product_dropdown__tpl.html"
                               typeahead-input-formatter="formatproductlistModel($model)"
                               autocomplete="off"
                               angular-localstorage-field='true'
                               required
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> 
                            <span translate="no_results_found"></span>
                        </div>
                    </div>
                    <div class="sea">
                        <input type="text" 
                               name="barcode" 
                               ng-model="searchFilter.barcode" 
                               placeholder="{{'barcode'| translate}}" 
                               class="form-control"
                               angular-localstorage-field='true'
                               />
                        <span class="glyphicon glyphicon-search head-right-search"></span>
                    </div>
                    <div class="col-sm-2 ">
                        <div class="row ">
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-disabled="stocktracelistModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":stocktracelistModel.isSearchLoadingProgress}' translate="search">

                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " data-ng-click="clearFilters()"  angular-validator-form-reset translate="clear">

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selected-date bottommargin print-show">
                    <ul class="search-filters clearfix">
                        <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                        <li class="col-sm-4 "><span translate="product_name"></span>{{searchFilter.productInfo == '' ? '-' : searchFilter.productInfo.name}}</li>
                        <li class="col-sm-4 "><span translate="barcode"></span> {{searchFilter.barcode == '' ? '-' : searchFilter.barcode}}</li>
                        <li class="col-sm-4 "><span translate="from_date"> </span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                        <li class="col-sm-4 "><span translate="to_date"></span> {{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    </ul>
                </div>
                <div class="table-responsive ">
                    <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
<!--                                <th style="width: 60px; text-align: center;"  rowspan="1" colspan="1" translate="id">

                                </th>-->
                                <th style="width: 125px;"  rowspan="1" colspan="1"translate="date" >

                                </th>
                                <th style=""  rowspan="1" colspan="1"translate="product_name" >

                                </th>
                                <th style=""   rowspan="1" colspan="1" translate="sku">

                                </th>
<!--                                <th style="width: 100px; "   rowspan="1" colspan="1" translate="uom_name">

                                </th>-->
                                <th style=""   rowspan="1" colspan="1" translate="barcode">

                                </th>
                                <th style=""   rowspan="1" colspan="1" translate="description">

                                </th>
                                <th style="" class="right"  rowspan="1" colspan="1" translate="quantity(+)">

                                </th>
                                <th style=""  class="right" rowspan="1" colspan="1" translate="quantity(-)">

                                </th>
                                <th style="" class="right"  rowspan="1" colspan="1" translate="current_stock">

                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="stocktracelistModel.isLoadingProgress">
                                <td colspan="8" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="stocktracelistModel.openingBalance == null">
                                <td colspan="8" class="text-center" >
                                    <span translate="no_data_found"></span>
                                </td>
                            </tr>
                            <tr data-ng-show="stocktracelistModel.openingBalance != null">
                                <td  colspan="2">
                                </td>
                                <td colspan="3">
                                    <b>Opening Stock</b>
                                </td>
                                <td style="text-align: right;">
                                    {{stocktracelistModel.openingCredit}}
                                </td>
                                <td style="text-align: right;">
                                    {{stocktracelistModel.openingDebit}}
                                </td>
                                <td style="text-align: right;">
                                    {{stocktracelistModel.openingAmount}}
                                </td>
                            </tr>
                            <tr data-ng-repeat="product in stocktracelistModel.list">
<!--                                <td>
                                    {{product.id}}
                                </td>-->
                                <td style="text-align: center;">
                                    {{product.date | date:'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{product.name}}
                                </td>
                                <td>
                                    {{product.sku}}
                                </td>
<!--                                <td>
                                    {{product.uom_name}}
                                </td>-->
                                <td>
                                    {{product.barcode}}
                                </td>
                                <td >
                                    {{product.comments}}  {{(product.ref_id != 0 && product.ref_id != null)? '#' +product.ref_id :'' }}
                                </td>
                                <td  class="right">
                                    {{product.quantity_credit}}
                                </td>
                                <td  class="right">
                                    {{product.quantity_debit}}
                                </td>
                                <td class="right">
                                    {{product.balance}}
                                </td>
                            </tr>
                        </tbody>
                        <!--                        <tfoot  data-ng-hide="stocktracelistModel.total == 0" >
                                                    <tr>
                                                        <td colspan="2" class="text-left" >
                                                            <label>Show</label>
                                                            <select firstName = "perpage"
                                                                    ng-model="stocktracelistModel.limit"
                                                                    ng-options="page for page in pagePerCount"
                                                                    class="form-control show_count"
                                                                    ng-change="initTableFilter()"
                                                                    >
                                                            </select>
                                                        </td>
                                                        <td colspan="6" class="text-right">
                                                <uib-pagination total-items="stocktracelistModel.total" ng-model="stocktracelistModel.currentPage" ng-change="getList()" items-per-page="productlistModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                                                </td>
                                                </tr>
                                                </tfoot>-->
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>



