<!--<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>-->
<div class="app-content-body fade-in-up req-stock " data-ng-controller="stockwastageCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
<!--            <h2 translate="stock_wastage"></h2>-->
            <div ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                <h2 translate="stock_wastage"></h2>
            </div>
            <div ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                <h2 translate="stock_wastage"></h2>
            </div>
            <!--            <a data-ng-show ="screenAccessDetail.stockwastage.is_create == true" data-ui-sref="app.stockwastageAdd" ui-scroll-to="app" class="add_button add-dash" >-->
            <a data-ui-sref="app.stockwastageAdd" ui-scroll-to="app" class="add_button add-dash" translate="add_new">   
                
            </a>
            <a href="javascript:void(0)" data-ng-click="clearFilters()"  class="add_button add-dash" translate="refresh"></a>
            <a href="{{APP_CONST.API.STOCK_REPORTS_CSV}}?from_date={{searchFilter.from_date|date:'yyyy-MM-dd'}}&to_date={{searchFilter.to_date|date:'yyyy-MM-dd'}}&is_active=1&start=0&limit=0&type=stock_wastage&auto_no={{searchFilter.stockAdjNo}}&reason={{searchFilter.reason}}"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <form name="stockwastage_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator >
            <div class="panel panel-default ">
                <div class="head_right table-search wrapper-sm clearfix ">
                    <div class="sea ">
                        <input name="wastagefromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.from_date" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               angular-localstorage-field='true'
                               min-date="minDate" show-weeks="false" show-button-bar="true"  data-ng-change="initTableFilter('from')"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.from_date,searchFilter.to_date)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="stocktodate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.to_date" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               angular-localstorage-field='true' validator = "validationFactory.maxDate(searchFilter.to_date,searchFilter.from_date)"
                               show-weeks="false" show-button-bar="true"  data-ng-change="initTableFilter('to')"
                               close-text="Close"  readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text" name="stkAdjNo" class="form-control"
                               ng-model="searchFilter.stockAdjNo"
                               data-ng-change="initTableFilter()"
                               angular-localstorage-field='true'
                               placeholder="{{'stock_wastage_number' | translate}}"/>
                    </div>
                    <div class="sea">
                        <input type="text" name="resonText" class="form-control"
                               ng-model="searchFilter.reason"
                               placeholder="{{'reason' | translate}}"
                               angular-localstorage-field='true'
                               data-ng-change="initTableFilter()"/>
                    </div>

                </div>
                <div class="table-responsive " data-ng-show=" appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">

                    <table class="table  no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width:110px;" rowspan="1" colspan="1" translate="stock_wastage_number">
                                   
                                </th>
                                <th  style="width:250px;" rowspan="1" colspan="1" translate="date">
                                    
                                </th>
                                <th  style="width:250px;" rowspan="1" colspan="1" translate="reason">
                                   
                                </th>
                                <th style="width:250px;" rowspan="1" colspan="1" translate="quantity">
                                   
                                </th>
                                <th style="width:250px;" rowspan="1" colspan="1" class="right" translate="purchased_value">
                                    
                                </th>
                                <th style="width:200px;" rowspan="1" colspan="1" class="right" translate="mrp">
                                    
                                </th>
                                <th style="width:200px;" rowspan="1" colspan="1" class="" translate="approved_by">
                                    
                                </th>
                                <th style="width:100px;" rowspan="1" colspan="1" translate="action">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="stockwastageModel.isLoadingProgress">
                                <td colspan="8" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>

                            <tr data-ng-if="stockwastageModel.list.length === 0">
                                <td colspan="8" class="text-center" >
                                   
                                    <span translate="no_data_found"></span>
                                </td>
                            </tr>
                            <tr   data-ng-repeat="stockwastage in stockwastageModel.list">
                                <td> 
                                    {{stockwastage.auto_no}}
                                    <!--                                <a data-ui-sref="app.stockwastageEdit({id: '{{stockwastage.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                                      {{$index + 1}}
                                                                    </a>-->
                                </td>
                                <td> 
                                    {{stockwastage.date}} 
                                </td>
                                <td> 
                                    {{stockwastage.reason}} 
                                </td>
                                <td> 
                                    {{stockwastage.overall_qty}} 
                                </td>
                                <td class="right"> 
                                    {{stockwastage.overall_purchase_price}}
                                </td>
                                <td class="right"> 
                                    {{stockwastage.overall_mrp_price}} 
                                </td>
                                <td>
                                    {{stockwastage.emp_name}}
                                </td>
                                <td >
                                    <a href="javascript:void(0)" data-ng-click="openOptions($index)">
                                        <i class="fa fa-ellipsis-h" id="highlight_{{$index}}" aria-hidden="true"></i>
                                    </a>
                                    <div class="setting-menu-pos" ng-if="stockwastage.show" id="popup_{{$index}}">
                                        <a class="listClose" data-ng-click="closeOptions($index)"><img src="https://img.icons8.com/small/16/000000/filled-cancel.png"></a>
                                        <ul class="setting-menu-pos-ul clear_b">
                                            <li style="padding: 4px; padding-left: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a href="javascript:void(0)" ui-scroll-to="app" data-ui-sref="app.stockwastageView({id: '{{stockwastage.id}}'})">
                                                            View
                                                        </a>
                                                    </div>                                                    
                                                </div>
                                            </li>
                                            <li>
                                                <div><a data-ui-sref="app.stockwastageEdit({id: '{{stockwastage.id}}'})" ui-scroll-to="app"  >
                                                        Edit
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div><a class="chel-edit-add add-dash" data-ng-click="showPopup(stockwastage.id)">
                                                        Delete
                                                    </a></div>
                                            </li>                                            
                                        </ul>  
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-ng-hide="stockwastageModel.list.length == 0" >
                            <tr>
                                <td colspan="3" class="text-left" >
                                    <label class="show_count_label " translate="show"></label>
                                    <select name = "perpage"
                                            ng-model="stockwastageModel.limit"
                                            data-ng-hide="stockwastageModel.list.length == 0"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="initTableFilter()"
                                            >
                                    </select>
                                </td>
                                <td colspan="5" class="text-right">
                        <uib-pagination  data-ng-hide="stockwastageModel.list.length == 0" total-items="stockwastageModel.total" ng-model="stockwastageModel.currentPage" ng-change="getStockwastageListInfo()" items-per-page="stockwastageModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                
                
                <div class="table-responsive " data-ng-show=" appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">

                    <table class="table  no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th style="width:110px;" rowspan="1" colspan="1" translate="stock_wastage_number">
                                   
                                </th>
                                <th  style="width:250px;" rowspan="1" colspan="1" translate="date">
                                    
                                </th>
                                <th  style="width:250px;" rowspan="1" colspan="1" translate="reason">
                                   
                                </th>
                                <th style="width:200px;" rowspan="1" colspan="1" translate="quantity">
                                   
                                </th>
                                <th style="width:200px;" rowspan="1" colspan="1" class="right" translate="sales_price">
                                    
                                </th>
<!--                                <th style="width:200px;" rowspan="1" colspan="1" class="right" translate="mrp">
                                    
                                </th>-->
                                <th style="width:250px;" rowspan="1" colspan="1" class="" translate="approved_by">
                                    
                                </th>
                                <th style="width:150px;" rowspan="1" colspan="1" translate="action">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-show="stockwastageModel.isLoadingProgress">
                                <td colspan="7" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>

                            <tr data-ng-if="stockwastageModel.list.length === 0">
                                <td colspan="7" class="text-center" >
                                   
                                    <span translate="no_data_found"></span>
                                </td>
                            </tr>
                            <tr   data-ng-repeat="stockwastage in stockwastageModel.list">
                                <td> 
                                    {{stockwastage.auto_no}}
                                    <!--                                <a data-ui-sref="app.stockwastageEdit({id: '{{stockwastage.id}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">
                                                                      {{$index + 1}}
                                                                    </a>-->
                                </td>
                                <td> 
                                    {{stockwastage.date}} 
                                </td>
                                <td> 
                                    {{stockwastage.reason}} 
                                </td>
                                <td> 
                                    {{stockwastage.overall_qty}} 
                                </td>
                                <td class="right"> 
                                    {{stockwastage.overall_sales_price}}
                                </td>
<!--                                <td class="right"> 
                                    {{stockwastage.overall_mrp_price}} 
                                </td>-->
                                <td>
                                    {{stockwastage.emp_name}}
                                </td>
                                <td >
                                    <a href="javascript:void(0)" data-ng-click="openOptions($index)">
                                        <i class="fa fa-ellipsis-h" id="highlight_{{$index}}" aria-hidden="true"></i>
                                    </a>
                                    <div class="setting-menu-pos" ng-if="stockwastage.show" id="popup_{{$index}}">
                                        <a class="listClose" data-ng-click="closeOptions($index)"><img src="https://img.icons8.com/small/16/000000/filled-cancel.png"></a>
                                        <ul class="setting-menu-pos-ul clear_b">
                                            <li style="padding: 4px; padding-left: 10px;">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a href="javascript:void(0)" ui-scroll-to="app" data-ui-sref="app.stockwastageView({id: '{{stockwastage.id}}'})">
                                                            View
                                                        </a>
                                                    </div>                                                    
                                                </div>
                                            </li>
                                            <li>
                                                <div><a data-ui-sref="app.stockwastageEdit({id: '{{stockwastage.id}}'})" ui-scroll-to="app"  >
                                                        Edit
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div><a class="chel-edit-add add-dash" data-ng-click="showPopup(stockwastage.id)">
                                                        Delete
                                                    </a></div>
                                            </li>                                            
                                        </ul>  
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-ng-hide="stockwastageModel.list.length == 0" >
                            <tr>
                                <td colspan="3" class="text-left" >
                                    <label class="show_count_label " translate="show"></label>
                                    <select name = "perpage"
                                            ng-model="stockwastageModel.limit"
                                            data-ng-hide="stockwastageModel.list.length == 0"
                                            ng-options="page for page in pagePerCount"
                                            class="form-control show_count"
                                            ng-change="initTableFilter()"
                                            >
                                    </select>
                                </td>
                                <td colspan="4" class="text-right">
                        <uib-pagination  data-ng-hide="stockwastageModel.list.length == 0" total-items="stockwastageModel.total" ng-model="stockwastageModel.currentPage" ng-change="getStockwastageListInfo()" items-per-page="stockwastageModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                
                
                
            </div>
        </form>
    </div>
    <div class="model_overlay" ng-if="showdeletePopup" ></div>
    <div class="model_popup add_review_popup" ng-if="showdeletePopup" >
        <a href="javascript:void(0)" ng-click="closePopup()" class="glyphicon glyphicon-remove close " ></a>
        <h2 translate="do_you_want_to_delete?"></h2>
        <br>
        <center><button type="OK"   data-ng-class='{"btn-loader":isdeleteCategoryLoadingProgress}'class="btn btn-sm btn-primary btn_grn"  data-ng-click="deleteStockItem()" translate="ok"></button>
            <button type="Cancel"  class="btn btn-sm btn-primary btn_grn" data-ng-click="closePopup()" translate="cancel"></button></center>
    </div>
</div>


