<script type="text/ng-template" id="employee_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name +'('+ match.model.code +')' | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="uom_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div data-ng-controller="stockadjustmentAddCtrl">
    <form name="stock_adj_add_form" id="invoice_product_container" angular-validator-submit="createOrder()" class="form-horizontal  clearfix" novalidate angular-validator >
        <div class="app-content-body fade-in-up req-stock " >
            <div class="panel panel-default ">
                <div class="panel-heading clearfix ">
                    <h2 translate="stock_adjustment_add">  </h2>
                    <div class=" right action-links ">
                        <button type="submit" class="btn btn-sm btn-primary btn_grn" id="btnLoad" data-ng-disabled="isDataSavingProcess" data-ng-class='{
                            "btn-loader":isDataSavingProcess}' translate="save">
                        </button>
                        <!--<button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>-->
                        <a ui-sref="app.stockadjustment" class="add_button" ui-scroll-to="app" translate="back_to_list">
                            
                        </a>
                    </div>
                </div>
            </div>

            <div class="container animated fadeInUp clearfix topmarginsm  stockadjs">
                <div class="wrapper-md bg-white topmargin stockadjustment-add ">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row bottommargin">
                                <div class="col-sm-5">
                                    <label translate="reason_required"></label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"
                                           name="reason_text"
                                           ng-model="orderListModel.reason"
                                           placeholder="{{'reason' | translate}}"
                                           required/>
                                </div>
                            </div>
                            <div class="row bottommargin">
                                <div class="col-sm-5">
                                    <label translate="approved_by_required"></label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text"
                                           name="userNameTypeahead"
                                           ng-model="orderListModel.employeeInfo"
                                           placeholder="{{'approved_by' | translate}}"
                                           uib-typeahead="employee for employee in getEmployeeList($viewValue)"
                                           typeahead-loading="loadingUserLocations"
                                           typeahead-template-url="employee_dropdown__tpl.html"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-no-results="noUserResults"
                                           typeahead-show-hint="true"
                                           typeahead-input-formatter="formatEmployeeModel($model,$index)"
                                           typeahead-min-length="0" 
                                           required
                                           angular-validator-field>
                                    <span class="glyphicon glyphicon-search barcodeSearch"></span>
                                    <i ng-show="loadingUserLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noUserResults" class="result-dis  left remove-icon">
                                        <i class="glyphicon glyphicon-remove"></i> 
                                        <span translate="no_results_found"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row bottommargin">
                                <div class="col-sm-5">
                                    <label translate="stock_adjustment_number_required"></label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"
                                           name="stock_adjNo"
                                           ng-model="orderListModel.stockAdj_no"
                                           placeholder="{{'stock_adjustment_number' | translate}}"
                                           readonly/>
                                </div>
                            </div>
                            <div class="row bottommargin">
                                <div class="col-sm-5">
                                    <label translate="date_required"></label>
                                </div>
                                <div class="col-sm-7">
                                    <input name="startingdate" type="text" class="form-control " uib-datepicker-popup="{{dateFormat}}"
                                           ng-model="orderListModel.date" is-open="startDateOpen"
                                           max-date="currentDate"  show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close" readonly required/>
                                    <button type="button" class="btn btn-default btn-choose stockDate" ng-click="openDate(0)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="col-sm-12">
                                <label translate="attachment"></label>
                                <a data-ng-click="showPopup('morefileupload')">
                                    <img width="15" height="15" src="https://img.icons8.com/metro/26/000000/attach.png">
                                </a>
                                <div class="col-sm-12 form-group" >
                                    <div class=" bg-white avt avt1">                                        
                                        <div class="col-sm-2 form-container prof profile-photo" data-ng-repeat="image in orderListModel.attachments">
                                            <cloud-image-loader urlpath="image.url" preview="false"></cloud-image-loader>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12  ">
                        <div class="product-add topmargin  ">
                            <div class="stockadjustment-prod-list table-responsive ">
                                <table class="table no-link " id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th  class="left " style="width: 70px;" translate="barcode">
                                               
                                            </th>
                                            <th class="left" style="width: 150px;" translate="product_name">
                                                
                                            </th>
                                            <!--                                                <th class="left" style="width: 50px;">
                                                                                                SKU
                                                                                            </th>
                                                                                            <th class="left" style="width: 70px;" data-ng-hide="!appConfig.uomdisplay">
                                                                                                {{appConfig.uomlabel}}
                                                                                            </th>-->
                                            <th class="right" style="width:50px;" translate="quantity">
                                                
                                            </th>
                                            <th class="right" style="width:50px;" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'" translate="purchased_value">
                                                
                                            </th>
                                            <th class="center" style="width:50px;" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'" translate="mrp">
                                                
                                            </th>
                                            <th class="center" style="width:50px;" ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'" translate="sales_price">
                                                
                                            </th>
                                            <th style="width: 75px;padding-left: 70px;" translate="row_total">
                                           
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="order in orderListModel.list">
                                            <td style="width: 20%;">
                                                <input type="text"
                                                       name="barcodenum__{{$index}}"
                                                       ng-model="order.productname"
                                                       placeholder="{{'enter_barcode' | translate}}"
                                                       uib-typeahead="itemList for itemList in getProductList($viewValue)"
                                                       typeahead-loading="loadingProductLocations"
                                                       typeahead-template-url="product_dropdown__tpl.html"
                                                       class="form-control"
                                                       typeahead-editable="false"
                                                       typeahead-no-results="noProductResults"
                                                       typeahead-show-hint="true"
                                                       typeahead-input-formatter="formatProductModel($model,$index)"
                                                       typeahead-min-length="0"
                                                       ng-blur="initValidateProductDataAndAddNew($index)"
                                                       angular-validator-field>
                                                <span class="glyphicon glyphicon-search barcodeSearch"></span>
                                                <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noProductResults" class="result-dis  left remove-icon">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                    
                                                    <span translate="no_results_found"></span>
                                                </div>
                                            </td>

                                            <td class="left " style="width: 25%;">
                                                <!--                                                    <input type="text"
                                                                                                           name="productname_{{$index}}"
                                                                                                           ng-model="order.productname"
                                                                                                           placeholder="Product list.."
                                                                                                           uib-typeahead="itemList for itemList in getProductList($viewValue)"
                                                                                                           typeahead-loading="loadingProductLocations"
                                                                                                           typeahead-template-url="product_dropdown__tpl.html"
                                                                                                           class="form-control"
                                                                                                           typeahead-editable="false"
                                                                                                           typeahead-no-results="noProductResults"
                                                                                                           typeahead-show-hint="true"
                                                                                                           typeahead-input-formatter="formatProductModel($model,$index)"
                                                                                                           typeahead-min-length="0"
                                                                                                           ng-blur="initValidateProductDataAndAddNew($index)"
                                                                                                           angular-validator-field>
                                                                                                    <i ng-show="loadingProductLocations" class="glyphicon glyphicon-refresh"></i>
                                                                                                    <div ng-show="noProductResults" class="result-dis  left remove-icon">
                                                                                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                                                    </div>-->
                                                <input
                                                    name="productname_{{$index}}"
                                                    type="text"
                                                    class="form-control qty left "
                                                    data-ng-model="orderListModel.list[$index].product"
                                                    placeholder="{{'product_name' | translate}}"
                                                    angular-validator-field
                                                    readonly
                                                    />
                                            </td>
                                            <!--                                                <td class="left">
                                                                                                <input
                                                                                                    name="sku_{{$index}}"
                                                                                                    type="text"
                                                                                                    class="form-control qty left "
                                                                                                    data-ng-model="orderListModel.list[$index].sku"
                                                                                                    placeholder="sku"
                                                                                                    angular-validator-field
                                                                                                    data-ng-disabled="true"
                                                                                                    />
                                                                                            </td>
                                                                                            <td class="right " data-ng-hide="!appConfig.uomdisplay">
                                                                                                <input type="text"
                                                                                                       class="form-control"
                                                                                                       name="uom_dropdown_{{$index}}"
                                                                                                       ng-model="orderListModel.list[$index].uomInfo"
                                                                                                       placeholder="Uom Details..."
                                                                                                       uib-typeahead="uom for uom in getUomList($viewValue)"
                                                                                                       typeahead-loading="loadingLocations"
                                                                                                       typeahead-no-results="noUomResult"
                                                                                                       typeahead-min-length="0"
                                                                                                       typeahead-editable="false"
                                                                                                       typeahead-template-url="uom_dropdown__tpl.html"
                                                                                                       typeahead-input-formatter="formatUomModel($model)"
                                                                                                       autocomplete="off"   angular-validator-field
                                                                                                       data-ng-disabled="true"
                                                                                                       />
                                                                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                            
                                                                                            </td>-->
                                            <td class="right" style="width: 8%;">
                                                <input
                                                    name="qty_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].qty"
                                                    validator = "validationFactory.hasRequired(orderListModel.list[$index].qty) == false || validationFactory.isPositiveNumber(orderListModel.list[$index].qty) && orderListModel.list[$index].qty > 0 "
                                                    data-ng-change="updateStockadjustmentTotal()"
                                                    placeholder="{{'quantity' | translate}}"
                                                    angular-validator-field
                                                    />
                                            </td>
                                            <td class="right" style="width: 12%;" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                                <input
                                                    name="purchaseamount_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].purchase_price"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].purchase_price)"                                                        
                                                    placeholder="{{'purchase_price' | translate}}"
                                                    angular-validator-field
                                                    readonly
                                                    data-ng-change="updateStockadjustmentTotal()"
                                                    />
                                            </td>
                                            <td class="right" style="width: 12%;" ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                                <input
                                                    name="mrpamount_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].mrp_price"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].mrp_price)"                                                        
                                                    placeholder="{{'mrp_price' | translate}}"
                                                    angular-validator-field
                                                    readonly
                                                    />
                                            </td>
                                            <td class="right" style="width: 12%;" ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                                                <input
                                                    name="salesprice_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].sales_price"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].sales_price) == true || validationFactory.hasRequired(orderListModel.list[$index].sales_price) == false"                                                        
                                                    placeholder="{{'sales_price' | translate}}"
                                                    angular-validator-field
                                                    readonly
                                                    />
                                            </td>
                                            <td class="right" style="width: 20%;" >
                                                <input
                                                    name="rowtotal_{{$index}}"
                                                    type="text"
                                                    class="form-control qty right "
                                                    data-ng-model="orderListModel.list[$index].rowtotal"
                                                    validator = "validationFactory.isNumber(orderListModel.list[$index].rowtotal)"                                                        
                                                    placeholder=""
                                                    angular-validator-field
                                                    data-ng-disabled="true"
                                                    style="display: inline-block;width: 70%;"
                                                    />
                                                <a href="javascript:void(0)" data-ng-if="$index != (orderListModel.list.length - 1)" data-ng-click="deleteProduct($index)" ui-toggle-class="" style="padding: 0;vertical-align: middle;">
                                                    <img class="icon icons8-Delete" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5ElEQVQ4T7WUQQ6CMBBF/1Rx040HkcgFNHhyiV4AAwdx40a0Y1qjgkxbo5X19PH7/58SEn+UmIf/A7ks5lY1VfUxpN43N1Boh06TbGtB+tptfNDQ3BioZhUIS4BrCfqCUQHGQZtz2f/xyEN3wAONwZxVkk8S1M7d7ZCVPTjelAdQNo07QCqXrtkXFayNg1K2h6IFmAFGq7lbhRoQB6rpDlC5M4dNo81l/RVwEIDh1l3LKvWkH/RQStOFEqmUmHKoGqFKiQo/6VkMKm+KXb23DehX4wkV5sRNSfY4pHgb//8e/qryBsNQ0RVVJsf8AAAAAElFTkSuQmCC" width="20" height="20">
                                                </a>
                                            </td>
                                            <!--                                                <td class="right ">
                                                                                                
                                                                                            </td>-->
                                        </tr>

                                        <tr>
                                            <td colspan="{{appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED' ? 4 : 5}}" class="right">
                                               
                                                <span translate="total_quantity"></span>
                                            </td>
                                            <td class="right" style="padding-right:45px;">
                                                {{orderListModel.totalQty}}                                                
                                            </td>
                                        </tr>
                                        <tr ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
                                            <td  colspan="{{appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED' ? 4 : 5}}"  class="right">
                                                <span translate="total_purchased_amount"></span>
                                            </td>
                                            <td class="right" style="padding-right:45px;">
                                                {{orderListModel.subtotal}}
                                            </td>
                                        </tr>
                                        <tr  ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                                            <td  colspan="{{appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED' ? 4 : 5}}" class="right">
                                                <span translate="total_amount"></span>
                                            </td>
                                            <td class="right" style="padding-right:25px;">
                                                {{orderListModel.subtotal}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="model_overlay ng-hide" ng-show="showUploadMoreFilePopup" ></div>
    <div class="model_popup model-photo  add_review_popup ng-hide popup-fixed" ng-show="showUploadMoreFilePopup" style="position: fixed;">
        <a href="javascript:void(0)" ng-click="closePopup('morefileupload')" class="glyphicon glyphicon-remove close close1 " ></a>
        <h3 translate="file_upload"></h3>
        <div class="form-container productPopup" ng-if="showUploadMoreFilePopup" >
            <fileupload cloud-upload-path="stockAdjustment/{{orderListModel.id}}" image-list="orderListModel.attachments" has-limit="false"></fileupload>
            <ul class="form-editable">
                <li class="a-right btn-wrapper ">
                    <!--                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light "
                                                data-ng-disabled="isImageSavingProcess"
                                                data-ng-class='{"btn-loader":isImageSavingProcess}'
                                                data-ng-click="saveImagePath()"
                                                >Save</button>-->
                    <button type="button" class="btn btn-sm btn-orng ripple ripple-light"
                            data-ng-disabled="isImageSavingProcess"                            
                            data-ng-click="saveImagePath()"
                            translate="save"></button>
                </li>
            </ul>
        </div>
    </div>
</div>
