
<script type="text/ng-template" id="product_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.name + '(' + match.model.phone +  ',' + match.model.email + ')'| uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up req-stock " data-ng-controller="stockAdjusmentReportCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
<!--            <h2 translate="stock_adjustment_report"></h2>-->
            <div ng-if="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">
                <h2 translate="stock_adjustment_report"></h2>
            </div>
            <div ng-if="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">
               <h2 translate="stock_adjustment_report"></h2>
            </div>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"></a>
            <a href="{{APP_CONST.API.STOCK_REPORTS_CSV}}?from_date={{searchFilter.from_date|date:'yyyy-MM-dd'}}&to_date={{searchFilter.to_date|date:'yyyy-MM-dd'}}&is_active=1&start=0&limit=0&type=stock_adjust&auto_no={{searchFilter.stockAdjNo}}&reason={{searchFilter.reason}}"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default ">
            <form name="stk_adjust_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage>
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.from_date" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               angular-localstorage-field='true'
                               min-date="minDate" show-weeks="false" show-button-bar="true"  data-ng-change="initTableFilter()"
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.from_date,searchFilter.to_date)" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="stockAdjtodate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.to_date" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               angular-localstorage-field='true' validator = "validationFactory.maxDate(searchFilter.to_date,searchFilter.from_date)"
                               show-weeks="false" show-button-bar="true"  data-ng-change="initTableFilter()"
                               close-text="Close"  readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <input type="text" name="stkAdjNo" class="form-control"
                               ng-model="searchFilter.stockAdjNo"
                               data-ng-change="initTableFilter()"
                               angular-localstorage-field='true'
                               placeholder="{{'stock_adjustment_number' | translate}}"/>
                    </div>
                    <div class="sea">
                        <input type="text" name="resonText" class="form-control"
                               ng-model="searchFilter.reason"
                               placeholder="{{'reason' | translate}}"
                               angular-localstorage-field='true'
                               data-ng-change="initTableFilter()"/>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>                    
                    <li class="col-sm-4 "><span translate="from_date"> </span>{{searchFilter.from_date == '' ? '-' : searchFilter.from_date|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span>{{searchFilter.to_date == '' ? '-' : searchFilter.to_date|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="stock_adjustment_number"></span>{{searchFilter.stockAdjNo == '' ? '-' : searchFilter.stockAdjNo}}</li>
                    <li class="col-sm-4 "><span translate="reason"></span>{{searchFilter.reason == '' ? '-' : searchFilter.reason}}</li>
                </ul>
            </div>
            <div class="table-responsive " data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PURCHASE BASED'">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" translate="stock_adjustment_number">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="date">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="reason">
                                
                            </th>
                            <th style="width: 250px;" class="right" rowspan="1" colspan="1" translate="quantity">
                                
                            </th>
                            <th style="width: 300px;" class="right"  rowspan="1" colspan="1" translate="purchased_value">
                               
                            </th>  
                            <th style="width: 300px;" class="right"  rowspan="1" colspan="1" translate="mrp_price">
                                
                            </th>  
                            <th style="width: 300px;" class="right"  rowspan="1" colspan="1" translate="approved_by">
                               
                            </th> 
                            <th style="width: 300px;" class="right"  rowspan="1" colspan="1" translate="image">
                                
                            </th>  
                            <th style="width: 250px;text-align: right;"   rowspan="1" colspan="1" class="text-right" translate="action">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="stockadjustmentModel.isLoadingProgress">
                            <td colspan="9" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="stockadjustmentModel.list.length === 0">
                            <td colspan="9" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="itemwise in stockadjustmentModel.list" ng-click="show(itemwise.flag)">
                            <td>
                                {{itemwise.auto_no}}
                            </td>
                            <td>
                                {{itemwise.date}} 
                            </td>
                            <td>
                                {{itemwise.reason}} 
                            </td>
                            <td class="right">
                                {{itemwise.overall_qty}} 
                            </td>
                            <td class="right">
                                {{itemwise.overall_purchase_price}} 
                            </td>                       
                            <td style="text-align: right;">
                                {{itemwise.overall_mrp_price}}
                            </td>
                            <td style="text-align: right;">
                                {{itemwise.emp_name}}
                            </td>
                            <td style="text-align: right;">
                                <img style="width: 50px;" src="https://storage.googleapis.com/albumzen/{{itemwise.attachment[0].url}}"/>
                            </td>
                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>
                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{itemwise.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="9" style="border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 6px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="si_no">
                                               
                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="barcode">
                                                
                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="product_name">
                                                
                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="quantity">
                                                
                                            </th>
                                            <th style="width: 100px;"   rowspan="1" colspan="1" class="right" translate="purchased_value">
                                                
                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" class="right" translate="mrp_price">
                                                
                                            </th>                                            
                                            <!--                                            <th style="width: 100px;"  rowspan="1" colspan="1">
                                                                                            Action
                                                                                        </th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-if="itemwise.detail.length === 0">
                                            <td colspan="6" class="text-center" >
                                                <span translate="no_data_found"></span>
                                            </td>
                                        </tr>
                                        <tr ng-show="showDetails[{{itemwise.flag}}]" ng-repeat="invoice in itemwise.detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="width: 13%;" >
                                                {{$index + 1}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.barcode}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.product_name}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.qty}}
                                            </td>
                                            <td colspan="1" class="right" style=" padding-left: 0px;">
                                                {{invoice.overall_purchase_price}}
                                            </td>
                                            <td colspan="1" class="right" style=" padding-left: 0px;">
                                                {{invoice.overall_mrp_price}}
                                            </td>

                                            <!--                                            <td colspan="1">
                                                                                            <a data-ui-sref="app.purchaseInvoiceView({id: '{{invoice.id}}'})" ui-scroll-to="app" class="btn-sm btn-primary view-btn">
                                                                                                View
                                                                                            </a>
                                                                                        </td>-->
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="stockadjustmentModel.list.length === 0" >
                        <tr>
                            <td colspan="4" class="text-left right" >
                                <b><span translate="total"></span></b>
                            </td>
                            <td colspan="1" class="text-right">
                                <b> {{stockadjustmentModel.totalPurchaseAmount}}</b>
                            </td>
                            <td colspan="" class="text-right">
                                <b> {{stockadjustmentModel.totalMrpAmount}}</b>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>

                        </tr>
                    </tfoot>
                </table>
            </div>
            
            <div class="table-responsive " data-ng-show="appConfig.sales_product_list.toUpperCase() == 'PRODUCT BASED'">

                <table class="table no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 50px;"  rowspan="1" colspan="1" translate="stock_adjustment_number">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="date">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="reason">
                                
                            </th>
                            <th style="width: 250px;" class="right" rowspan="1" colspan="1" translate="quantity">
                                
                            </th>
                            <th style="width: 300px;" class="right"  rowspan="1" colspan="1" translate="sales_price">
                               
                            </th>  
<!--                            <th style="width: 300px;" class="right"  rowspan="1" colspan="1" translate="mrp_price">
                                
                            </th>  -->
                            <th style="width: 300px;" class="right"  rowspan="1" colspan="1" translate="approved_by">
                               
                            </th> 
                            <th style="width: 300px;" class="right"  rowspan="1" colspan="1" translate="image">
                                
                            </th>  
                            <th style="width: 250px;text-align: right;"   rowspan="1" colspan="1" class="text-right" translate="action">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="stockadjustmentModel.isLoadingProgress">
                            <td colspan="8" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="stockadjustmentModel.list.length === 0">
                            <td colspan="8" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr ng-repeat-start="itemwise in stockadjustmentModel.list" ng-click="show(itemwise.flag)">
                            <td>
                                {{itemwise.auto_no}}
                            </td>
                            <td>
                                {{itemwise.date}} 
                            </td>
                            <td>
                                {{itemwise.reason}} 
                            </td>
                            <td class="right">
                                {{itemwise.overall_qty}} 
                            </td>
                            <td class="right">
                                {{itemwise.overall_sales_price}} 
                            </td>                       
<!--                            <td style="text-align: right;">
                                {{itemwise.overall_mrp_price}}
                            </td>-->
                            <td style="text-align: right;">
                                {{itemwise.emp_name}}
                            </td>
                            <td style="text-align: right;">
                                <img style="width: 50px;" src="https://storage.googleapis.com/albumzen/{{itemwise.attachment[0].url}}"/>
                            </td>
                            <td class="right">
                                <img class="icon icons8-Visible" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABbElEQVQ4T9VUwW3CQBCcOaNIkTBJCXQQSjAVxPlg+LkEOsCpADqIeYH5xFSAS6AEl0AwUpQI30Z3wUAgUhSJD/c46fZ2Z3dm94640OKFcHBNQMnaV+ADRJqWPplrkSW6jflvcpxRc2abULQegBxrjQw9N7OBk8JThA+IT6pBGdTHx4AHoNmm5YiMBMgIeGXgejA2LUMQq5J8Rqe+dJIi2/uQfWOzBZvNVAGRsNS1ENg2lYKnAzdypkUK4tFmFszLruurpIhspajljtrGIOOyU48JqwV8feP28cSVpfAXEJnaSl7lXn0WIw2kB6CgEVac1bRY6q7bqhyNvUq0vzNGA/RRDDUxP6fWu82t4KI9fQRu4lSyjk12BI0Uk/emoVZCRuZ8JjbAF9sRQ1kYgVjsNGprSmSC1HTTJ8UvT8U+bmMlvAALTSMq377v5U4JPALtSuDf2386ZTvRgd1AgvmPuTrxv6a39s//5WLUvgCSucTptEiCZQAAAABJRU5ErkJggg==" width="18" height="18">
                            </td>
                        </tr>
                        <tr class="d0" ng-repeat-end role="row"  ng-show="showDetails[{{itemwise.flag}}]" style=" background-color: rgb(234, 231, 231);color: #888383;" >
                            <td   colspan="8" style="border-bottom: 1px solid #eaeff0;">
                                <table style="margin-left: 6px;width: 99%;border: 1px solid #eaeef2;">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px;padding-left: 5px;padding: 8px 10px 4px;" rowspan="1" colspan="1" translate="si_no">
                                               
                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="barcode">
                                                
                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="product_name">
                                                
                                            </th>
                                            <th style="width: 100px;"  rowspan="1" colspan="1" translate="quantity">
                                                
                                            </th>
                                            <th style="width: 100px;"   rowspan="1" colspan="1" class="right" translate="sales_price">
                                                
                                            </th>
<!--                                            <th style="width: 100px;"  rowspan="1" colspan="1" class="right" translate="mrp_price">
                                                
                                            </th>                                            -->
                                            <!--                                            <th style="width: 100px;"  rowspan="1" colspan="1">
                                                                                            Action
                                                                                        </th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-if="itemwise.detail.length === 0">
                                            <td colspan="5" class="text-center" >
                                                <span translate="no_data_found"></span>
                                            </td>
                                        </tr>
                                        <tr ng-show="showDetails[{{itemwise.flag}}]" ng-repeat="invoice in itemwise.detail" style="background: white;border-bottom: 1px solid #eaeff0;">                            
                                            <td colspan="1" style="width: 13%;" >
                                                {{$index + 1}}
                                            </td >
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.barcode}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.product_name}}
                                            </td>
                                            <td colspan="1" style=" padding-left: 0px;">
                                                {{invoice.qty}}
                                            </td>
                                            <td colspan="1" class="right" style=" padding-left: 0px;">
                                                {{invoice.overall_sales_price}}
                                            </td>
<!--                                            <td colspan="1" class="right" style=" padding-left: 0px;">
                                                {{invoice.overall_mrp_price}}
                                            </td>-->

                                            <!--                                            <td colspan="1">
                                                                                            <a data-ui-sref="app.purchaseInvoiceView({id: '{{invoice.id}}'})" ui-scroll-to="app" class="btn-sm btn-primary view-btn">
                                                                                                View
                                                                                            </a>
                                                                                        </td>-->
                                        </tr>
                                    </tbody>
                                </table> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="stockadjustmentModel.list.length === 0" >
                        <tr>
                            <td colspan="4" class="text-left right" >
                                <b><span translate="total"></span></b>
                            </td>
                            <td colspan="1" class="text-right">
                                <b> {{stockadjustmentModel.totalSalesAmount}}</b>
                            </td>
                            <td colspan="" class="text-right">
<!--                                <b> {{stockadjustmentModel.totalMrpAmount}}</b>-->
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>

                        </tr>
                    </tfoot>
                </table>
            </div>
            
            
            
        </div>
    </div>
</div>
</div>


