<div class="app-content-body fade-in-up"  data-ng-controller="tagEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="tag_edit"></h2>
            <a ui-sref="app.tag" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="tagAddModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="tag_edit_form" angular-validator-submit="createTag()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "tagname"
                                           data-ng-model = "tagAddModel.name"
                                           placeholder="{{'tag_name' | translate}}"                                          
                                           required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="tag_photo"></label>
                                </div>
                                <div class="col-sm-7 bottommargin" data-ng-repeat="image in tagAddModel.attach">
                                    <cloud-image-loader urlpath="image.urlpath" has-limit="true" limit="1" ></cloud-image-loader>
                                    
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <fileupload cloud-upload-path="goofoo/bell/tag" image-list="" show-comment="false"  has-limit="false" ></fileupload>
                                </div>    
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    <div class="form-group full_w btn_group">
                                        <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                        <button type="button" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

