<div class="app-content-body fade-in-up req-stock " data-ng-controller="taxCtrl">
    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="tax_report"></h2>
            <a href="javascript:void(0)" class="add_button add-dash"  data-ng-click="print('printablediv')" translate="print"> </a>
            <a href="{{APP_CONST.API.TAXREPORT_DOWN}}?from_Date={{searchFilter.fromdate|date:'yyyy-MM-dd'}}&to_Date={{todate|date:'yyyy-MM-dd'}}&tax_id={{searchFilter.tax_id}}&start=0&limit=0"
               ui-scroll-to="app" class="add_button add-dash" translate="download_csv"></a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix " >
        <div class="panel panel-default notopmargin">
            <form name="tax_form" angular-validator-submit="initTableFilter()" class="form-horizontal clearfix " novalidate angular-validator angular-localstorage >
                <div class="head_right table-search wrapper-sm  clearfix ">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder="{{'from_date' | translate}}"
                               show-weeks="false" angular-localstorage-field='true' required
                               close-text="Close"   validator = "validationFactory.minDate(searchFilter.fromdate,searchFilter.todate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{adminService.appConfig.date_format}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder="{{'to_date' | translate}}"
                               show-weeks="false"     angular-localstorage-field='true' required
                               close-text="Close"  validator = "validationFactory. maxDate(searchFilter.todate,searchFilter.fromdate) && validateDateFilterData()" readonly/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea" >
                        <select class="form-control "data-ng-change="findTaxName()" angular-localstorage-field='true'
                                ng-model="searchFilter.tax_id">
                            <option value="" translate="tax"></option>
                            <option value="{{tax.id}}" data-ng-repeat="tax in taxModel.taxlist">{{tax.tax_name}}</option>
                        </select>
                    </div>

                    <div class="col-sm-2 ">
                        <div class="row rowbtn">
                            <div class="col-sm-6 ">
                                <button type="submit" class="btn-sm btn-primary"
                                        data-ng-disabled="taxModel.isSearchLoadingProgress" data-ng-class='{"btn-loader":taxModel.isSearchLoadingProgress}'
                                        translate="search">
                                    
                                </button>
                            </div>
                            <div class="col-sm-6 ">
                                <button class="btn-sm btn-primary " angular-validator-form-reset data-ng-click="clearFilters()" translate="clear">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="printablediv">
            <div class="selected-date bottommargin print-show">
                <ul class="search-filters clearfix">
                    <li class="col-sm-4 "><span translate="created_on:"></span>{{todaynewDate}}</li>
                    <li class="col-sm-4 "><span translate="from_date"></span> {{searchFilter.fromdate == '' ? '-' : searchFilter.fromdate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="to_date"></span>{{searchFilter.todate == '' ? '-' : searchFilter.todate|date:dateFormat}}</li>
                    <li class="col-sm-4 "><span translate="tax_name:"></span>{{taxModel.taxName == '' ? '-' : taxModel.taxName}}</li>

                </ul>
            </div>


            <div class="table-responsive ">

                <table class="table  no-link table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width:100px;"  rowspan="1" colspan="1" translate="si_no">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="tax_name">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="customer_name">
                                
                            </th>
                            <th style="width: 250px;"  rowspan="1" colspan="1" translate="city">
                               
                            </th>
<!--                            <th style="width: 250px;"   rowspan="1" colspan="1" translate="particular">
                                
                            </th>-->
                            <th style="width: 250px;"   rowspan="1" colspan="1" translate="tax_percentage">
                                
                            </th>
                            <th style="width: 250px;"   rowspan="1" colspan="1" class="right" translate="amount">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="taxModel.isLoadingProgress">
                            <td colspan="6" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="../img/loading.gif" />
                                </p>
                            </td>
                        </tr>
                        <tr data-ng-if="taxModel.list.length === 0">
                            <td colspan="6" class="text-center" >
                                <span translate="no_data_found"></span>
                            </td>
                        </tr>
                        <tr data-ng-repeat="tax in taxModel.list">
                            <td ui-scroll-to="app" >                                
                                {{$index + 1}}                               
                            </td>
                            <td ui-scroll-to="app" >                                
                                {{tax.tax_name}}                                
                            </td>
                            <td ui-scroll-to="app" >                                
                                {{tax.fname}}                                
                            </td>
                            <td ui-scroll-to="app" >                                
                                {{tax.billing_city}}                                
                            </td>
<!--                            <td ui-scroll-to="app" data-ng-click="viewRedirect(tax.invoice_id)">                                
                                {{tax.particulare}}                                
                            </td>-->
                            <td ui-scroll-to="app" >                                
                                {{tax.tax_percentage}}                                
                            </td>
                            <td class="right" ui-scroll-to="app" >                                
                                {{tax.tax_amount}}                                
                            </td>                            
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="taxModel.list.length === 0" >
                        <tr>
                            <td colspan="5" class="text-left right" >
                                <span translate="total"></span>
                            </td>
                            <td colspan="1" class="text-right">
                                {{taxModel.total_Amount}}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>


