<script type="text/ng-template" id="tax_dropdown_tpl.html">
    <a>
        <span ng-bind-html="match.model.tax_name | uibTypeaheadHighlight:query"></span>
        <span>({{match.model.tax_percentage}} %)</span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="taxGroupEditCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="tax_group_edit"></h2>
                <a ui-sref="app.taxgroup" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
        <div class="container topmarginsm  ">
            <div class="wrapper-md bg-white  ">
                <!--            <div class="wrapper-md ">-->
                <div class="  clearfix add-form form-wrapper">
                    <form name="taxlist_edit_form" angular-validator-submit="modifyTaxGroup()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                        <div class="row ">

                            <div class="col-sm-8 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistaddname"
                                               ng-model = "taxGroupAddModel.tax_name"
                                               placeholder="{{'tax_name' | translate}}" 
                                               maxlength="35"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="tax_number_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistnumber"
                                               ng-model = "taxGroupAddModel.tax_no"
                                               placeholder="{{'tax_number' | translate}}" 
                                               required
                                               />   
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="tax %_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistper"
                                               ng-model = "taxGroupAddModel.tax_percentage"
                                               placeholder="{{'tax%' | translate}}" 
                                               validator = "validationFactory.isNumber(taxGroupAddModel.tax_percentage) == true"
                                               required
                                               />  
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="tax_type_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="taxGroupAddModel.tax_type" name="typedropdown" class="form-control"  required>
                                            <option value ="" translate="select"></option>
                                            <option value="tax" translate="tax"></option>
                                            <option value="charge" translate="charge"></option>
                                            <option value="tax&charge" translate="tax_+_charge"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="intra_group"></label>
                                    </div>

                                    <div class="col-sm-6 bottommargin" style="position: relative;">
                                        <input type="text"
                                               name="inter_tax_dropdown"
                                               ng-model="taxGroupAddModel.tax"
                                               placeholder ="{{'select_tax' | translate}}"
                                               uib-typeahead="tax for tax in getTaxList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResults"
                                               typeahead-min-length="0"
                                               class="form-control"
                                               typeahead-editable="false"
                                               typeahead-template-url="tax_dropdown_tpl.html"
                                               typeahead-input-formatter="formatTaxModel($model)"
                                               autocomplete="off"                                               
                                               />
                                        <a ng-click="taxGroupMapping()" class="btn btn-sm btn-primary btn_grn " translate="add" style="position: absolute;padding: 8px 12px 8px 12px;top:-4px;"></a>
                                        <span class="glyphicon glyphicon-search box-search " style="right: 35px;top: 11px !important;position: absolute;"></span>
                                        <div class="row tax-grp">
                                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                            <div ng-show="noResults">
                                                <i class="glyphicon glyphicon-remove"></i> 
                                                <span translate="no_results_found"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        &nbsp;                                    
                                    </div>
                                    <div class="col-sm-7 bottompadding bottommargin">

                                        <h4 translate="added_tax_group"></h4>
                                        <ul class="bottompadding" dnd-list dnd-drop="onDrop(mappedTax, item, index)"  dnd-allowed-types="mappedTax.belongTo">
                                            <li data-ng-show="mappedTax.items.length == 0">
                                                <span translate="no_data"></span>
                                            </li>
                                            <li ng-repeat="item in mappedTax.items"
                                                dnd-type="item.belongTo"
                                                dnd-draggable="getSelectedItemsIncluding(mappedTax, item)"
                                                dnd-dragstart="onDragstart(mappedTax, event)"
                                                dnd-moved="onMoved(mappedTax)"
                                                dnd-dragend="mappedTax.dragging = false"
                                                dnd-selected="item.selected = !item.selected"
                                                ng-class="{'selected': item.selected}"
                                                ng-hide="mappedTax.dragging && item.selected"
                                                class="lialign bottompadding"
                                                >
                                                <span >{{item.tax_name}}-{{item.tax_percentage}}</span>
                                                <div ng-click="removeTaxMapping(item.id)" class="remove glyphicon glyphicon-remove right-img"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="inter_group"></label>
                                    </div>
                                    <div class="col-sm-6 bottommargin" style="position: relative;">
                                        <input type="text"
                                               name="tax_dropdown"
                                               ng-model="taxGroupAddModel.intratax"
                                               placeholder ="{{'select_tax' | translate}}"
                                               uib-typeahead="tax for tax in getTaxList($viewValue)"
                                               typeahead-loading="loadingIntraLocations"
                                               typeahead-no-results="noIntraResults"
                                               typeahead-min-length="0"
                                               class="form-control"
                                               typeahead-editable="false"
                                               typeahead-template-url="tax_dropdown_tpl.html"
                                               typeahead-input-formatter="formatTaxModel($model)"
                                               autocomplete="off"                                               
                                               />

                                        <a ng-click="taxIntraGroupMapping()" class="btn btn-sm btn-primary btn_grn " translate="add" style="position: absolute;padding: 8px 12px 8px 12px;top:-4px;"></a>
                                          <span class="glyphicon glyphicon-search box-search " style="right: 35px;top: 11px !important;position: absolute;"></span>
                                        <div class="row tax-grp">
                                            <i ng-show="loadingIntraLocations" class="glyphicon glyphicon-refresh"></i> 
                                            <div ng-show="noIntraResults">
                                                <i class="glyphicon glyphicon-remove"></i>
                                                <span translate="no_results_found"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        &nbsp;                                    
                                    </div>
                                    <div class="col-sm-7  bottommargin">
                                        <h4 translate="added_tax_group"></h4>
                                        <ul dnd-list dnd-drop="onDrop(mappedIntraTax, item, index)"  dnd-allowed-types="mappedIntraTax.belongTo">
                                            <li data-ng-show="mappedIntraTax.items.length == 0" class="bottompadding">
                                                <span translate="no_data"></span>
                                            </li>
                                            <li ng-repeat="item in mappedIntraTax.items"
                                                dnd-type="item.belongTo"
                                                dnd-draggable="getSelectedItemsIncluding(mappedIntraTax, item)"
                                                dnd-dragstart="onDragstart(mappedIntraTax, event)"
                                                dnd-moved="onMoved(mappedIntraTax)"
                                                dnd-dragend="mappedIntraTax.dragging = false"
                                                dnd-selected="item.selected = !item.selected"
                                                ng-class="{'selected': item.selected}"
                                                ng-hide="mappedIntraTax.dragging && item.selected"
                                                class="lialign bottompadding"
                                                >
                                                <span >{{item.tax_name}}-{{item.tax_percentage}}</span>
                                                <div ng-click="removeIntraTaxMapping(item.id)" class="remove glyphicon glyphicon-remove right-img"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="start_date"></label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm" style="position:relative;">                                       
                                        <input name="tax_startdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="taxGroupAddModel.start_date" is-open="startDateOpen" placeholder="{{'from_date' | translate}}"
                                               validator = "validationFactory.minDate(taxGroupAddModel.start_date,taxGroupAddModel.end_date)"
                                               show-weeks="false" 
                                               close-text="Close" readonly/>
                                        <button type="button" class="btn btn-default taxdob btn-choose" ng-click="openDate(1)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="end_date"></label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm" style="position:relative;">                                       
                                        <input name="tax_enddate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="taxGroupAddModel.end_date" is-open="endDateOpen" placeholder="{{'to_date' | translate}}"
                                               validator = "validationFactory.maxDate(taxGroupAddModel.end_date,taxGroupAddModel.start_date)"
                                               show-weeks="false" 
                                               close-text="Close" readonly/>
                                        <button type="button" class="btn btn-default taxdob btn-choose" ng-click="openDate(2)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="notes"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea type="text"
                                                  class="form-control" 
                                                  name = "note"
                                                  ng-model = "taxGroupAddModel.comments"
                                                  placeholder="{{'comments' | translate}}" 
                                                  />   
                                        </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label style="width: 100%;"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="checkbox"
                                               class=" "
                                               id="taxisDisplay"
                                               name="isDisplay"
                                               data-ng-model="taxGroupAddModel.isdisplay"
                                               />
                                        <label for="taxisDisplay" translate="is_display"></label> 
                                    </div>
                                </div>
                            </div>

                            <div class="form-group full_w btn_group">
                                <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                <a  class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></a>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
