

<div class="app-content-body fade-in-up"  data-ng-controller="taxlistAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="tax_add"></h2>
                <a ui-sref="app.taxlist" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
        <div class="container topmarginsm  ">
            <div class="wrapper-md bg-white">
                <!--            <div class="wrapper-md ">-->
                <div class="  clearfix add-form form-wrapper">
                    <form name="create_Taxlist_form" angular-validator-submit="createTaxlist()" class="form-horizontal category-form clearfix " novalidate angular-validator >
                        <div class="row ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistaddname"
                                               ng-model = "taxlistModel.tax_name"
                                               placeholder="{{'tax_name' | translate}}" 
                                               maxlength="35"
                                               required
                                               />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="tax_number_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistnumber"
                                               ng-model = "taxlistModel.tax_no"
                                               placeholder="{{'tax_number' | translate}}" 
                                               required
                                               />   
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="tax %_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               class="form-control" 
                                               name = "taxlistper"
                                               ng-model = "taxlistModel.tax_percentage"
                                               placeholder="{{'tax%' | translate}}" 
                                               validator = "validationFactory.isPositiveNumber(taxlistModel.tax_percentage) == true"
                                               required
                                               />  
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="tax_type_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select ng-model="taxlistModel.tax_type" name="typedropdown" class="form-control"  required>
                                            <option value ="" translate="select"></option>
                                            <option value="tax" translate="tax"></option>
                                            <option value="charge" translate="charge"></option>
                                            <option value="tax&charge" translate="tax_+_charge"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="start_date"></label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm" style="position: relative;">                                       
                                        <input name="tax_startdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="taxlistModel.start_date" is-open="startDateOpen" placeholder="{{'from_date' | translate}}"
                                               validator = "validationFactory.minDate(taxlistModel.start_date,taxlistModel.end_date)"
                                               show-weeks="false" 
                                               close-text="Close" readonly/>
                                        <button type="button" class="btn btn-default btn-align1 btn-choose" ng-click="openDate(1)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="end_date"></label>
                                    </div>
                                    <div class="col-sm-7 bottommarginsm" style="position: relative;">                                       
                                        <input name="tax_enddate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="taxlistModel.end_date" is-open="endDateOpen" placeholder="{{'to_date' | translate}}"
                                               validator = "validationFactory.maxDate(taxlistModel.end_date,taxlistModel.start_date)"
                                               show-weeks="false" 
                                               close-text="Close" readonly/>
                                        <button type="button" class="btn btn-default btn-align1 btn-choose" ng-click="openDate(2)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="notes"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <textarea 
                                               class="form-control" 
                                               name = "note"
                                               ng-model = "taxlistModel.comments"
                                               placeholder="{{'comments' | translate}}" 

                                               />  
                                    </textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label style="width: 100%;"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                       <input type="checkbox"
                                                   class=" "
                                                   id="taxisDisplay"
                                                   name="isDisplay"
                                                   data-ng-model="taxlistModel.isdisplay"
                                                   />
                                            <label for="taxisDisplay" translate="is_display"></label> 
                                    </div>
                                </div>
                            </div>

                            <div class="form-group full_w btn_group">
                                <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-disabled="isDataSavingProcess"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
