<script type="text/ng-template" id="incomecategory_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="transexpenseAddCtrl">

        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="expense_add"></h2>
                <a ui-sref="app.transexpense" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="create_transexpense_form" angular-validator-submit="createTransexpense()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="row ">

                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="account_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <select name="expense_account_drop" type="text" ng-model="transexpenseModel.account" class="form-control" required>
                                            <option value="" translate="choose_an_account"></option>
                                            <option value="{{Accountlist.id}}" data-ng-repeat="Accountlist in transexpenseModel.Accountlist">{{Accountlist.account}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="date_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin dob ">
                                        <input name="date" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                               ng-model="transexpenseModel.date" is-open="startDateOpen"
                                               max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                               required close-text="Close"
                                               readonly/>
                                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="description_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                         <textarea class="form-control"
                                          name = "description"
                                          ng-model = "transexpenseModel.description"
                                          placeholder="{{'description' | translate}}" required
                                          ></textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="category"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input type="text"
                                               name="incomecategory_dropdown"
                                               ng-model="transexpenseModel.incomeCategoryInfo"
                                               placeholder ="{{'select_category' | translate}}"
                                               uib-typeahead="category for category in getIncomeCategoryList($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-no-results="noResult"
                                               typeahead-min-length="0"
                                               class="form-control"
                                               typeahead-editable="true"
                                               typeahead-template-url="incomecategory_dropdown_tpl.html"
                                               typeahead-input-formatter="formatincomeCategoryModel($model)"
                                               autocomplete="off"
                                               />
                                         <span class="glyphicon glyphicon-search box-search "></span>
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                              
                                       <div ng-show="noResult">
                                    <i class="glyphicon glyphicon-remove"></i> 
                                    <span translate="no_results_found"></span>
                                </div>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="amount_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "amount"
                                                ng-model = "transexpenseModel.amount"
                                                placeholder="{{'amount' | translate}}"
                                                maxlength="35"
                                                validator = "validationFactory.isPositiveNumber(transexpenseModel.amount) === true && transexpenseModel.amount >0"
                                                required/>
                                    </div>


                                </div>
                            </div>

                            <div class="form-group full_w btn_group">
                                <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-disabled="isDataSavingProcess"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()" translate="reset"></a>
                            </div>

                        </div>
                    </form>
                    <div style="clear: both;"></div>
                    <div class="wrapper-md ">
                    </div>
                </div>
            </div>
        </div>
    </div>