<script type="text/ng-template" id="account_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.account | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="transferlistAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="journal_add"></h2>
            <a ui-sref="app.transferlist" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_transferlist_form" angular-validator-submit="createtransferlist()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <!--                                <div class="col-sm-5 topmarginxs right ">
                                                                    <label>Account*</label>
                                                                </div>
                                                                <div class="col-sm-7 bottommargin">
                                                                    <select name="transferlist_account_dropdown" type="text" ng-model="transferlistModel.account" class="form-control" required>
                                                                        <option value="">Choose an Account</option>
                                                                        <option value="{{Accountlist.id}}" data-ng-repeat="Accountlist in transferlistModel.Accountlist">{{Accountlist.account}}</option>
                                                                    </select>
                                                                </div>-->

                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="from_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="account_dropdown"
                                           ng-model="transferlistModel.accountInfo"
                                           placeholder ="{{'select_accounts' | translate}}"
                                           uib-typeahead="account for account in getAccountlist($viewValue)"
                                           typeahead-loading="loadingAccountLocations"
                                           typeahead-no-results="noAccountResults"
                                           typeahead-min-length="0"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-template-url="account_dropdown_tpl.html"
                                           typeahead-input-formatter="formataccountModel($model)"
                                           autocomplete="off"
                                           required
                                           />
                                     <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingAccountLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noAccountResults">
                                    <i class="glyphicon glyphicon-remove"></i> 
                                    <span translate="no_results_found"></span>
                                </div>
                                    <!--                                    <div ng-show="noResults">
                                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                        </div>
                                                                        <br/>-->
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="to_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           name="accountlist_dropdown"
                                           ng-model="transferlistModel.accountlistInfo"
                                           placeholder ="{{'select_accounts' | translate}}"
                                           uib-typeahead="account for account in getAccountlist($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-min-length="0"
                                           class="form-control"
                                           typeahead-editable="false"
                                           typeahead-template-url="account_dropdown_tpl.html"
                                           typeahead-input-formatter="formataccountModel($model)"
                                           autocomplete="off"
                                           required
                                           />
                                     <span class="glyphicon glyphicon-search box-search "></span>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> 
                                    <span translate="no_results_found"></span>
                                </div>
                                    <!--                                    <div ng-show="noResults">
                                                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                                        </div>
                                                                        <br/>-->
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="date_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin dob ">
                                    <input name="date" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                           ng-model="transferlistModel.date" is-open="startDateOpen"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           required close-text="Close"
                                            readonly/>
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="description_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <textarea class="form-control"
                                              name = "description"
                                              ng-model = "transferlistModel.comments"
                                              placeholder="{{'description' | translate}}" required
                                              ></textarea>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="amount_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "amount"
                                            ng-model = "transferlistModel.amount"
                                            placeholder="{{'amount' | translate}}"
                                            maxlength="35"
                                            validator = "validationFactory.isPositiveNumber(transferlistModel.amount) === true && transferlistModel.amount > 0 "
                                            required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group full_w btn_group">
                            <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary btn_orng " data-ng-disabled="isDataSavingProcess" data-ng-click="formReset()" translate="reset"></a>
                        </div>
                    </div>
                </form>
                <div style="clear: both;"></div>
                <div class="wrapper-md ">
                </div>
            </div>
        </div>
    </div>

</div>