<script type="text/ng-template" id="client_dropdown_tpl.html">
    <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
</script>
<div class="app-content-body fade-in-up req-stock "  data-ng-controller="trialReportCtrl">
    <div class="panel panel-default paneltop">
        <div class="panel-heading clearfix  ">
            <h2>Trial Report</h2>
            <a href="javascript:void(0)" ui-scroll-to="app" data-ng-click="print()"  class="add_button add-dash" >Print</a>
        </div>
    </div>
    <div class="wrapper-md animated fadeInUp clearfix ">
        <form name="trial_report_form" angular-validator-submit="" class="form-horizontal clearfix " novalidate angular-validator >
            <div class="panel panel-default ">
                <div class="head_right wrapper-sm clearfix paneltopsec search-fixed">
                    <div class="sea ">
                        <input name="fromdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.fromdate" is-open="fromDateOpen" placeholder='From date'
                               show-weeks="false" show-button-bar="false"  data-ng-change="initTableFilter()"
                               required close-text="Close"   validator = " !validationFactory.hasEmpty(searchFilter.fromdate) || validationFactory.minDate(searchFilter.fromdate,searchFilter.todate)"/>
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea ">
                        <input name="todate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                               ng-model="searchFilter.todate" is-open="toDateOpen" placeholder='To date'
                               show-weeks="false" show-button-bar="false"  data-ng-change="initTableFilter()"
                               required close-text="Close"  validator = "validationFactory.maxDate(searchFilter.todate,searchFilter.fromdate)" />
                        <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                    <div class="sea">
                        <select ng-model="searchFilter.category" class="form-control " data-ng-change="initTableFilter()">
                            <option value="1">CASH</option>
                        </select>
                    </div>
                    <div class="sea" style='width:197px;'>
                        <select class="form-control "
                                ng-model="searchFilter.subcategory"
                                data-ng-change="initTableFilter()"
                                name="subcategorydropdown"
                                >
                            <option value="">-Select Sub Category-</option>
                            <option value= "{{category.id + ''}}" ng-repeat="category in trialModel.categoryList">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="sea" >
                        <input type="text"
                               name="user_dropdown"
                               ng-model="searchFilter.clientInfo"
                               uib-typeahead="user for user in getClientList($viewValue)"
                               typeahead-loading="loadingLocations"
                               typeahead-no-results="noResults"
                               typeahead-on-select="initTableFilter()"
                               typeahead-min-length="0"
                               class="form-control"
                               placeholder="Client"
                               typeahead-editable="false"
                               typeahead-template-url="client_dropdown_tpl.html"
                               typeahead-input-formatter="formatClientModel($model)"
                               autocomplete="off"
                               required
                               />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> 
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                    </div>
                </div>
                <div class="selected-date print-show">
                    <h4>Trial Report {{trialModel.reportDate}}</h4>
                </div>
                <div class="table-responsive trail-table tabletop ">
                    <div class=" tablehead thead-fixed">
                        <table class="table table-striped b-t  dataTable no-footer " style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 100px; text-align: center;"  rowspan="1" colspan="1" >
                                        Transaction Date
                                    </th>
                                    <th style="width: 100px; text-align: left;"   rowspan="1" colspan="1">
                                        Agent
                                    </th>
                                    <th style="width: 100px; text-align: center; "   rowspan="1" colspan="1">
                                        Rec no
                                    </th>
                                    <th style="width: 150px; text-align: left;"   rowspan="1" colspan="1">
                                        Settled By
                                    </th>
                                    <th style="width: 200px; text-align: left;"   rowspan="1" colspan="1">
                                        Narration
                                    </th>
                                    <th style="width:200px; text-align: center;"   rowspan="1" colspan="1">
                                        Acc no
                                    </th>
                                    <th style="width:100px; text-align: center;"   rowspan="1" colspan="1">
                                        Source Type
                                    </th>
                                    <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                        Debit
                                    </th>
                                    <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                        Credit
                                    </th>
                                    <th style="width: 150px; text-align: right;"   rowspan="1" colspan="1">
                                        Balance
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <table class="table table-striped b-t  dataTable no-footer tab-bottom" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                        <tbody>
                            <tr data-ng-show="trialModel.isLoadingProgress">
                                <td colspan="8" class="text-left" style="padding: 0;" >
                                    <p class="loader-icon" >
                                        <img alt="loader" src="../img/loading.gif" />
                                    </p>
                                </td>
                            </tr>
                            <tr data-ng-if="trialModel.list.length == 0">
                                <td colspan="10" class="text-center" >
                                    -No Data Found-
                                </td>
                            </tr>
                            <tr data-ng-repeat="account in trialModel.list">
                                <td style="width:150px;">
                                    {{account.date| date:'dd-MM-yyyy'}}
                                </td>
                                <td style="width:150px;">
                                    {{account.uName}}
                                </td>
                                <td style="width:160px;">
                                    {{account.sourceId}}
                                </td>
                                <td style="width:150px;">
                                    {{account.uName}}
                                </td>
                                <td style="width:200px;">
                                    {{account.particulars}}
                                </td>
                                <td style="width:200px; text-align: center;">
                                    {{account.cId}}
                                </td>
                                <td style="width:150px; text-align: center;">
                                    {{account.sourceType}}
                                </td>                                
                                <td style="width:100px; text-align: right;" class="credit-col" >
                                    {{account.credit.toFixed(2)}}
                                </td>
                                <td style="width:100px; text-align: right;" class="debit-col" >
                                    {{account.debit.toFixed(2)}}
                                </td>
                                <td style=" width:100px;text-align: right;">
                                    {{account.balance.toFixed(2)}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                                <td style="width: 150px; text-align: right;" ><b>Total</b></td>
                                <td style="width: 150px; text-align: right;" ><b>{{trialModel.totalcredit.toFixed(2)}}</b></td>
                                <td style="width: 150px; text-align: right;" ><b>{{trialModel.totaldebit.toFixed(2)}}</b></td>
                                <td style="width: 150px; text-align: right;" ><b>{{trialModel.totalbalance.toFixed(2)}}</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

