<div class="app-content-body fade-in-up"  data-ng-controller="uomEditCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="edit_UOM"></h2>
            <a ui-sref="app.uom" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="model_overlay" ng-show="uomAddModel.isLoadingProgress" style="padding-top: 200px; text-align: center;">
        <p class="loader-icon">
        <center><img alt="loader" src="../img/loading.gif" /></center>
        </p>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin invoice-add ">
            <div class="  clearfix form-wrapper">
                <form name="uom_edit_form" angular-validator-submit="createUom()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "uomname"
                                           data-ng-model = "uomAddModel.uomname"
                                           placeholder="{{'uom_name' | translate}}"
                                           maxlength="35"
                                           required
                                           />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="note"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input type="text"
                                           class="form-control"
                                           name = "uomnote"
                                           data-ng-model = "uomAddModel.note"
                                           placeholder="{{'note' | translate}}"
                                           maxlength="35"
                                           />
                                </div>
                                <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                        <label>&nbsp;</label>
                                                                    </div>-->
                                <!--                                    <div class="col-sm-7 bottommargin">
                                                                        <input type="checkbox"
                                                                               name="is_active"
                                                                               data-ng-model = "uomAddModel.is_active"
                                                                               id ="uom_isactive"
                                                                               value="uomAddModel.is_active"
                                                                               />
                                                                        <label for="uom_isactive">is Active </label>
                                                                    </div>-->
                            </div>
                        </div>
                        <div class="col-sm-12 ">
                            <div class="row ">
                                <div class="col-sm-5 ">
                                    <div class="form-group full_w btn_group">
                                        <button id ="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                        <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

