<div class="app-content-body fade-in-up"  data-ng-controller="userRoleAddCtrl">

        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                <h2 translate="user_role_add"></h2>
                <a ui-sref="app.userrole" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
<!--                <a href="javascript:void(0)" data-ng-click="initTableFilter()"  class="add_button add-dash">Refresh</a>-->
            </div>
        </div>
        <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="create_user_role_form" angular-validator-submit="createUserrole()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="row ">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="role_name_req"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "rolename"
                                                ng-model = "userRoleAddModel.rolename"
                                                placeholder="{{'role_name' | translate}}"
                                                maxlength="35"
                                                required/>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="comments_req"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">

                                        <textarea rows="7" cols="150"  maxlength="150"
                                                  class="form-control "
                                                  name = "Comments"
                                                  ng-model = "userRoleAddModel.comments"
                                                  placeholder="{{'comments' | translate}}"
                                                  required
                                                  ></textarea>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                        <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="row ">
                                    <div class="col-sm-5 ">
                                        <div class="form-group full_w btn_group">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>

</div>
