<div class="app-content-body fade-in-up"  data-ng-controller="userAddCtrl">

    <div class="panel panel-default ">
        <div class="panel-heading clearfix ">
            <h2 translate="user_add"></h2>
            <a ui-sref="app.userlist" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
        </div>
    </div>
    <div class="container animated fadeInUp clearfix topmarginsm  ">
        <div class="wrapper-md bg-white topmargin ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_user_form" angular-validator-submit="createUser()" class="form-horizontal clearfix " novalidate angular-validator >

                    <div class="row ">

                        <div class="col-sm-5 ">
                            <div class="row ">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="first_name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "fname"
                                            ng-model = "userAddModel.fname"
                                            placeholder="{{'first_name'| translate}}"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="last_name_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "lname"
                                            ng-model = "userAddModel.lname"
                                            placeholder="{{'last_name'| translate}}"
                                            maxlength="35"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="date_of_birth"></label>
                                </div>
                                <div class="col-sm-7 bottommargin dob ">
                                    <input name="dob" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                           ng-model="userAddModel.dob" is-open="startDateOpen"
                                           max-date="currentDate" show-weeks="false" datepicker-options="dateOptions"
                                           close-text="Close" readonly placeholder="{{'date_of_birth' | translate}}" />
                                    <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="gender"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <select ng-model="userAddModel.gender"  class="form-control"   >
                                        <option value="" translate="select"></option>
                                        <option value="M" translate="male"></option>
                                        <option value="F" translate="female"></option>
                                    </select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="mobile_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "usermobile"
                                            ng-model = "userAddModel.mobile"
                                            placeholder="{{'mobile'| translate}}"
                                            validator = "validationFactory.mobileValidator(userAddModel.mobile) == true"
                                            required/>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="email_required"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "useremail"
                                            ng-model = "userAddModel.email"
                                            placeholder="{{'email'| translate}}"
                                            required
                                            validator = "validationFactory.emailValidator(userAddModel.email) === true"
                                            maxlength="35"
                                            />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5 ">

                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="address"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "Address"
                                        ng-model = "userAddModel.address"
                                        placeholder="{{'address'| translate}}"
                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="city"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "City"
                                        ng-model = "userAddModel.city"
                                        placeholder="{{'city'| translate}}"
                                        validator = "validationFactory.isAlbhaNumeric(userAddModel.city) === true"                                      
                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="post_code"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "postcode"
                                        ng-model = "userAddModel.postcode"
                                        placeholder="{{'post_code'| translate}}"
                                        validator = "validationFactory.isAlbhaNumeric(userAddModel.postcode) === true"                                        
                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="state"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "State"
                                        ng-model = "userAddModel.state"
                                        placeholder="{{'state'| translate}}"
                                        validator = "validationFactory.isAlbhaNumeric(userAddModel.state) === true"

                                        />
                            </div>
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="country"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <input  type = "text"
                                        class="form-control"
                                        name = "Country"
                                        ng-model = "userAddModel.country"
                                        placeholder="{{'country'| translate}}"
                                        validator = "validationFactory.isAlbhaNumeric(userAddModel.country) === true"                                       

                                        />
                            </div>

                        </div>

                        <div class="col-sm-12 topmarginxs ">&nbsp;</div>
                        <div class="col-sm-5 ">
                            <div class="row ">
                                <!--                                <div class="col-sm-5 topmarginxs right ">
                                                                    <label>User Name*</label>
                                                                </div>
                                                                <div class="col-sm-7 bottommargin">
                                                                    <input  type = "text"
                                                                            class="form-control"
                                                                            name = "username"
                                                                            ng-model = "userAddModel.username"
                                                                            placeholder="Enter User Name"
                                                                            validator = "validationFactory.isAlbhaNumeric(userAddModel.username) === true"
                                                                            maxlength="35"
                                                                            required/>
                                                                </div>
                                                                <div class="col-sm-5 topmarginxs right ">
                                                                    <label>Password*</label>
                                                                </div>
                                                                <div class="col-sm-7 bottommargin">
                                                                    <input  type = "{{ userAddModel.showPassword ? 'text':'password' }}"
                                                                            class="form-control"
                                                                            name = "userpassword"
                                                                            ng-model = "userAddModel.password"
                                                                            placeholder="password"
                                                                            validator = "validationFactory.passwordValidator(userAddModel.password) === true"
                                                                            invalid-message = "validationFactory.passwordValidator(userAddModel.password)"
                                                                            required/>
                                                                    <input  type = "checkbox"
                                                                            class=" "
                                                                            id="showPasswordchk"
                                                                            ng-model = "userAddModel.showPassword"
                                                                            />
                                                                    <label for="showPasswordchk">Show Password </label>
                                                                </div>-->

                            </div>
                        </div>
                        <div class="col-sm-5 ">
                            <div class="col-sm-5 topmarginxs right ">
                                <label translate="user_role_required"></label>
                            </div>
                            <div class="col-sm-7 bottommargin">
                                <select type = "text" ng-model="userAddModel.role" name="userrole" class="form-control" required>
                                    <option value="" translate="select"></option>
                                    <option value="{{role.id}}" data-ng-repeat="role in userAddModel.roleList">{{role.name}}</option>
                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="form-group full_w btn_group">
                        <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn"  data-ng-class='{
                                    "btn-loader":isDataSavingProcess}' translate="submit"></button>
                        <button type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></button>
                    </div>

                </form>
            </div>
            <div style="clear: both;"></div>
            <div class="wrapper-md ">
            </div>
        </div>
    </div>

</div>
