<script type="text/ng-template" id="acode_dropdown__tpl.html">
    <a>
    <span ng-bind-html="match.model.code | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="category_dropdown_tpl.html">
    <a>
    <span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-content-body fade-in-up"  data-ng-controller="vendorAddCtrl">
    <div class="bg-light clearfix">
        <div class="panel panel-default hide-print ">
            <div class="panel-heading clearfix ">
                <h2 translate="vendor_add"></h2>
                <a ui-sref="app.vendor" class="add_button" ui-scroll-to="app" translate="back_to_list"></a>
            </div>
        </div>
        <div class="wrapper-md ">
            <div class="  clearfix add-form form-wrapper">
                <form name="create_customer_form" angular-validator-submit="createcustomer()" class="form-horizontal clearfix " novalidate angular-validator >
                    <div class="bg-white  ">
                        <button type="button" class="accordion" style="padding: 8px;text-transform: none;">
                            <div class="row">
                                <div class="col-sm-8" translate="contact_details">

                                </div> 
<!--                                <div class="col-sm-4">
                                    <i class="fa fa-angle-down" style="float: right;" ng-if="isAddressDetail == false"></i>
                                    <i class="fa fa-angle-up" style="float: right;" ng-if="isAddressDetail == true"></i>
                                </div>-->
                            </div>
                        </button>
                        <div class="row wrapper-md">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="trade_name_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "personname"
                                                ng-model = "customerAddModel.personname"
                                                placeholder="{{'trade_name'| translate}}"
                                                required
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="designation"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "designation"
                                                ng-model = "customerAddModel.designation"
                                                placeholder="{{'designation'| translate}}"
                                                />
                                    </div>               
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="email_id"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                       <input  type = "text"
                                                class="form-control"
                                                name = "contactademail"
                                                ng-model = "customerAddModel.email"
                                                placeholder="{{'email'| translate}}"
                                                validator = "validationFactory.hasRequired(customerAddModel.email) == false || validationFactory.emailValidator(customerAddModel.email) == true "
                                                angular-validator-field
                                                />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="mobile_number_req"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "contactmobilenumber"
                                                   ng-model = "customerAddModel.mobile"
                                                   placeholder="{{'mobile_number'| translate}}"
                                                   validator = "validationFactory.hasRequired(customerAddModel.mobile) == true &&  validationFactory.mobileValidator(customerAddModel.mobile) === true "
                                                   required
                                                   angular-validator-filed
                                                   />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row wrapper-md">
                            <div class="ed" style="padding: 6px;">
                                <h4 class="head-1" style="text-transform: none;font-size: 15px;" translate="billing_address"></h4>    
                            </div>
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label translate="customer_type"></label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin">
                                                                            <select ng-model="customerAddModel.customer_type" name="customer_type" class="form-control" required>
                                                                                <option value="" translate="customer_ty"></option>
                                                                                <option value="retailer" translate="retailer"></option>
                                                                                <option value="wholesaler" translate="wholesaler"></option>
                                                                            </select>
                                                                        </div>-->
<div class="col-sm-5 topmarginxs right ">
    <label>Company Name*</label>
</div>
    <div class="col-sm-7 bottommargin">
        <input  type = "text"
                class="form-control"
                name = "billingcompany"
                ng-model = "customerAddModel.companyName"
                placeholder="{{'company_name'| translate}}"
                ng-blur="checkAddress()"
                required
                />

    </div>
    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label translate="name_required"></label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin">
                                                                            <input  type = "text"
                                                                                    class="form-control"
                                                                                    name = "customername"
                                                                                    ng-model = "customerAddModel.name"
                                                                                    placeholder="{{'name'| translate}}"
                                                                                    maxlength="35"
                                                                                    required/>
                                                                        </div>-->
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="Address1_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Address1"
                                                placeholder="{{'Address1'| translate}}"
                                                ng-model = "customerAddModel.billingaddr"
                                                ng-blur="checkAddress()"
                                                required />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="Address2_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Address2"
                                                ng-model = "customerAddModel.billingaddress2"
                                                placeholder="{{'Address2'| translate}}"
                                                ng-blur="checkAddress()" 
                                                required />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="Address3"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Address3"
                                                ng-model = "customerAddModel.billingaddress3"
                                                placeholder="{{'Address3'| translate}}"
                                                ng-blur="checkAddress()"
                                               />
                                    </div>
                                    <!--                                    <div class="col-sm-5 topmarginxs right " data-ng-hide="customerAddModel.customer_type == 'retailer'">
                                                                            <label translate="company_name_required"></label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin" data-ng-hide="customerAddModel.customer_type == 'retailer'">
                                                                            <input  type = "text"
                                                                                    class="form-control"
                                                                                    name = "companyname"
                                                                                    ng-model = "customerAddModel.companyName"
                                                                                    placeholder="{{'company_name'| translate}}"
                                                                                    maxlength="35"
                                                                                    ng-required ="customerAddModel.customer_type=='wholesaler'"
                                                                                    />
                                                                        </div>-->
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="billing_country_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select name="billcountry" ng-model="customerAddModel.billingcountry" data-ng-change="billingAddressCountryChange();" theme="select2" ng-class="{'error': $select.isEmpty() }"  style="min-width: 300px;" title="" required>
                                            <ui-select-match placeholder="{{'select_country'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices   repeat="country.name as country in customerAddModel.billingCountryList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="billing_state_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select name="billState" ng-model="customerAddModel.billingstate" data-ng-change="billingAddressStateChange();" theme="select2" ng-class="{'error': $select.isEmpty() }"  style="min-width: 300px;" title="" required>
                                            <ui-select-match placeholder="{{'select_state'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.name as state in customerAddModel.billingStateList ">
                                                <div ng-bind-html="state.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="billing_city_required"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin citydrop">
                                        <ui-select name="billingCity"   ng-click = "checkdeselect()" ng-class="{'error': $select.isEmpty() }" ng-model="customerAddModel.billingcity" data-ng-change="checkAddress()"  angular-validator-field theme="select2"  style="min-width: 300px;" title="" required>
                                            <ui-select-match placeholder="{{'select_city'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.name as city in customerAddModel.billingCityList">
                                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="billing_postcode"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingpostcode"
                                                ng-model = "customerAddModel.billingpostcode"
                                                placeholder="{{'billing_postcode'| translate}}"
                                                maxlength="20"
                                                validator = "validationFactory.isPositiveNumber(customerAddModel.billingpostcode) === true || validationFactory.hasRequired(customerAddModel.billingpostcode) == false"
                                                ng-blur="checkAddress()"
                                                />
                                    </div>

<!--                                    <div class="col-sm-5 topmarginxs right " >
                                        <label translate="vendor_gst_no"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin" >
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Customer GST No"
                                                ng-model = "customerAddModel.gst_no"
                                                validator="validationFactory.isGSTNumber(customerAddModel.gst_no) == true || validationFactory.hasRequired(customerAddModel.gst_no) == false"
                                                placeholder="{{'vendor_gst_no'| translate}}"
                                                />
                                        <div style="margin-top: 10px;">
                                            <b translate="get_verification_link" style="float: left;margin-right: 10px;"></b><a href=" https://services.gst.gov.in/services/searchtp" target="_blank" translate="click_here"></a>
                                        </div>  
                                    </div>-->



                                    <!--     required/>-->
                                    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label>Password*</label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin">
                                                                            <input type="{{customerAddModel.showPassword ? 'text':'password' }}"
                                                                                   class="form-control bottommarginxs"
                                                                                   name = "password"
                                                                                   ng-model = "customerAddModel.password"
                                                                                   validator = "validationFactory.passwordValidator(customerAddModel.password) === true"
                                                                                   placeholder="Password"
                                                                                   required
                                                                                   />
                                                                            <input  type = "checkbox"
                                                                                    class=" "
                                                                                    ng-model = "customerAddModel.showPassword"
                                                                                    id="showPasswordchk"
                                                                                    />
                                                                            <label for="showPasswordchk">Show Password </label>
                                                                        </div>-->
                                </div>
                            </div>
                            <div class="col-sm-5 ">
                                <div class="row ">
<!--                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="email"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingemail"
                                                ng-model = "customerAddModel.billing_mail_id"
                                                placeholder="{{'email'| translate}}"
                                                validator = "validationFactory.hasRequired(customerAddModel.billing_mail_id) == false || validationFactory.emailValidator(customerAddModel.billing_mail_id) == true"
                                                angular-validator-field
                                                ng-blur="checkAddress()"
                                                />
                                    </div>-->
                                    <!--                                    <div class="col-sm-5 topmarginxs right ">
                                                                            <label translate="phone_required"></label>
                                                                        </div>
                                                                        <div class="col-sm-7 bottommargin">
                                                                            <textarea  type = "text"
                                                                                       class="form-control"
                                                                                       name = "mobile"
                                                                                       ng-model = "customerAddModel.mobile"
                                                                                       placeholder="{{'mobile'| translate}}"
                                    
                                                                                       required/>
                                                                            </textarea>
                                                                            <label translate="Can_add_multiple_numbers_by_using_comma(,)"></label>
                                                                        </div>-->
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="phone"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "billingphoneNum"
                                                   ng-model = "customerAddModel.billing_phone_no"
                                                   placeholder="{{'phone'| translate}}"
                                                   ng-blur="checkAddress()"
                                                   validator = "validationFactory.hasRequired(customerAddModel.billing_phone_no)== false || validationFactory.phoneNumberValidator(customerAddModel.billing_phone_no) === true"                                                   
                                                   />
                                        

                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="mobile_number_req"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "billingmobile"
                                                   ng-model = "customerAddModel.billing_mobile_no"
                                                   placeholder="{{'mobile_number'| translate}}"
                                                   ng-blur="checkAddress()"
                                                   validator = "validationFactory.hasRequired(customerAddModel.billing_mobile_no) == false || validationFactory.mobileValidator(customerAddModel.billing_mobile_no) === true"
                                                   required/>
                                    
                                    </div>
                                    
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="email"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingemail"
                                                ng-model = "customerAddModel.billing_mail_id"
                                                placeholder="{{'email'| translate}}"
                                                validator = "validationFactory.hasRequired(customerAddModel.billing_mail_id) == false || validationFactory.emailValidator(customerAddModel.billing_mail_id) == true"
                                                angular-validator-field
                                                ng-blur="checkAddress()"
                                                />
                                    </div>
                                    
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="website"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "textarea"
                                                class="form-control"
                                                name = "Address3"
                                                ng-blur="checkAddress()"
                                                ng-model = "customerAddModel.billing_website"
                                                placeholder="{{'website' | translate}}"
                                                validator = "validationFactory.hasRequired(customerAddModel.billing_website) == false || validationFactory.urlValidator(customerAddModel.billing_website) == true"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right " >
                                        <label translate="vendor_gst_no"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin" >
                                        <input  type = "text"
                                                class="form-control"
                                                name = "Customer GST No"
                                                ng-model = "customerAddModel.gst_no"
                                                validator="validationFactory.isGSTNumber(customerAddModel.gst_no) == true || validationFactory.hasRequired(customerAddModel.gst_no) == false"
                                                placeholder="{{'vendor_gst_no'| translate}}"
                                                />
                                        <div style="margin-top: 10px;">
                                            <b translate="get_verification_link" style="float: left;margin-right: 10px;"></b><a href=" https://services.gst.gov.in/services/searchtp" target="_blank" translate="click_here"></a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="accordion" ng-click="showAddressInfo()" style="padding: 8px;text-transform: none;">
                            <div class="row">
                                <div class="col-sm-8" translate="shipping_address">

                                </div> 
                            </div>
                        </button>
                        <div class="row wrapper-md">
                            <div class="col-sm-12">
                                <div class="col-sm-2 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-10 bottommargin">
                                        <input  type = "checkbox"
                                                class=" "
                                                ng-model = "customerAddModel.isSameAddr"
                                                data-ng-change="updateShoppingAddr()"
                                                id="isSameAddr"
                                                name="isSameAddr"
                                                />
                                        <label for="isSameAddr" translate="is_shipping_address_same_as_billing_address"></label>
                                    </div>
                                    
                            </div>
                            <div class="col-sm-5 ">
                                <div class="row ">
<!--                                    <div class="col-sm-4 topmarginxs right ">
                                        <label></label>
                                    </div>
                                    <div class="col-sm-8 bottommargin">
                                        <input  type = "checkbox"
                                                class=" "
                                                ng-model = "customerAddModel.isSameAddr"
                                                data-ng-change="updateShoppingAddr()"
                                                id="isSameAddr"
                                                name="isSameAddr"
                                                />
                                        <label for="isSameAddr" translate="is_shipping_address_same_as_billing_address"></label>
                                    </div>-->
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                         <input  type = "text"
                                                class="form-control"
                                                name = "shippingcompany"
                                                ng-model = "customerAddModel.shipping_company_name"
                                                placeholder="{{'company_name'| translate}}"
                                                data-ng-disabled="customerAddModel.isSameAddr"
                                                />

                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="Address1"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "shippingaddr"
                                                   ng-model = "customerAddModel.shoppingaddr"
                                                   placeholder="{{'Address1'| translate}}"
                                                   ng-blur="checkAddress()"
                                                   data-ng-disabled="customerAddModel.isSameAddr"
                                                   />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="Address2"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "shippingaddr2"
                                                   ng-model = "customerAddModel.shippingaddress2"
                                                   placeholder="{{'Address2'| translate}}"
                                                   ng-blur="checkAddress()"
                                                   data-ng-disabled="customerAddModel.isSameAddr"
                                                   />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="Address3"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "shippingaddr3"
                                                   ng-model = "customerAddModel.shippingaddress3"
                                                   placeholder="{{'Address3'| translate}}"
                                                   ng-blur="checkAddress()"
                                                   data-ng-disabled="customerAddModel.isSameAddr"
                                                   />
                                    </div>
                                    
                                    <div class="col-sm-5 topmarginxs right ">
                                    <label translate="shipping_country"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select ng-model="customerAddModel.shoppingcountry" name="ShipCountry"
                                               data-ng-disabled="customerAddModel.isSameAddr"
                                               data-ng-change="shippingAddressCountryChange()"
                                               theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="{{'select_country'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices   repeat="country.name as country in customerAddModel.shoppingCountryList | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="shipping_state"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select ng-model="customerAddModel.shoppingstate" name="ShipState"
                                               data-ng-change="shippingAddressStateChange()"
                                               data-ng-disabled="customerAddModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="{{'select_state'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initShippingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.name as state in customerAddModel.shoppingStateList">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="shipping_city"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select  ng-model="customerAddModel.shoppingcity" name="ShipCity" data-ng-disabled="customerAddModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="{{'select_city'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initShippingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.name as city in customerAddModel.shoppingCityList">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="shipping_postcode"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingpostcode"
                                            ng-model = "customerAddModel.shoppingpostcode"
                                            placeholder="{{'shipping_postcode'| translate}}"
                                            maxlength="20"  data-ng-disabled="customerAddModel.isSameAddr"
                                            validator = "validationFactory.hasRequired(customerAddModel.shoppingpostcode) == false || validationFactory.isPositiveNumber(customerAddModel.shoppingpostcode) === true "
                                            />
                                </div>
<!--                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="billing_country"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select name="billcountry" ng-model="customerAddModel.billingcountry" data-ng-change="billingAddressCountryChange();" theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="{{'select_country'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices   repeat="country.name as country in customerAddModel.billingCountryList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="billing_state"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select name="billState" ng-model="customerAddModel.billingstate" data-ng-change="billingAddressStateChange();" theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="{{'select_state'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.name as state in customerAddModel.billingStateList ">
                                                <div ng-bind-html="state.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="billing_city"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select name="billingCity"  ng-model="customerAddModel.billingcity" data-ng-change="checkAddress()"  theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="{{'select_city'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.name as city in customerAddModel.billingCityList">
                                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="billing_postcode"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "billingpostcode"
                                                ng-model = "customerAddModel.billingpostcode"
                                                placeholder="{{'billing_postcode'| translate}}"
                                                maxlength="20"
                                                validator = "validationFactory.isAlbhaNumeric(customerAddModel.billingpostcode) === true"
                                                ng-blur="checkAddress()"
                                                />
                                    </div>-->

                                    
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right ">
                                        <label translate="phone"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "shipping_phone_no"
                                                   ng-model = "customerAddModel.shipping_phone_no"
                                                   placeholder="{{'phone'| translate}}"
                                                   validator = "validationFactory.hasRequired(customerAddModel.shipping_phone_no) == false || validationFactory.phoneNumberValidator(customerAddModel.shipping_phone_no) === true"
                                                   data-ng-disabled="customerAddModel.isSameAddr"
                                                   />

                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="mobile_number"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "shipping_mobile_no"
                                                   ng-model = "customerAddModel.shipping_mobile_no"
                                                   placeholder="{{'mobile_number'| translate}}"
                                                   data-ng-disabled="customerAddModel.isSameAddr"
                                                   validator = "validationFactory.hasRequired(customerAddModel.shipping_mobile_no) == false ||  validationFactory.mobileValidator(customerAddModel.shipping_mobile_no) == true "
                                                   />
                                    </div>
                                <div class="col-sm-5 topmarginxs right ">
                                        <label translate="email"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "email"
                                                ng-model = "customerAddModel.shipping_mail_id"
                                                placeholder="{{'email'| translate}}"
                                                data-ng-disabled="customerAddModel.isSameAddr"
                                                validator = "validationFactory.hasRequired(customerAddModel.shipping_mail_id) == false || validationFactory.emailValidator(customerAddModel.shipping_mail_id) == true "
                                                angular-validator-field
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="website"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "textarea"
                                                class="form-control"
                                                name = "shippingwebsite"
                                                ng-model = "customerAddModel.shipping_website"
                                                placeholder="{{'website' | translate}}"
                                                data-ng-disabled="customerAddModel.isSameAddr"
                                                validator = "validationFactory.hasRequired(customerAddModel.shipping_website) == false || validationFactory.urlValidator(customerAddModel.shipping_website) == true "
                                                />
                                    </div>
<!--                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="shipping_country"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select ng-model="customerAddModel.shoppingcountry" name="ShipCountry"
                                               data-ng-disabled="customerAddModel.isSameAddr"
                                               data-ng-change="shippingAddressCountryChange()"
                                               theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="{{'select_country'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices   repeat="country.name as country in customerAddModel.shoppingCountryList | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="shipping_state"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select ng-model="customerAddModel.shoppingstate" name="ShipState"
                                               data-ng-change="shippingAddressStateChange()"
                                               data-ng-disabled="customerAddModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="{{'select_state'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initShippingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.name as state in customerAddModel.shoppingStateList">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="shipping_city"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select  ng-model="customerAddModel.shoppingcity" name="ShipCity" data-ng-disabled="customerAddModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="{{'select_city'| translate}}">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initShippingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.name as city in customerAddModel.shoppingCityList">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="shipping_postcode"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "shoppingpostcode"
                                            ng-model = "customerAddModel.shoppingpostcode"
                                            placeholder="{{'shipping_postcode'| translate}}"
                                            maxlength="20"  data-ng-disabled="customerAddModel.isSameAddr"
                                            validator = "validationFactory.isPositiveNumber(customerAddModel.shoppingpostcode) === true || validationFactory.hasRequired(customerAddModel.shoppingpostcode) == false"
                                            />
                                </div>-->
                            </div>
                        </div>
<!--                        <div class="row accordion topmarginsm bottommarginsm otherHead" ng-click="showOthersInfo()">
                            <div class="col-sm-8" translate="other_info">

                            </div> 
                            <div class="col-sm-4">
                                <i class="fa fa-angle-down" style="float: right;" ng-if="isOthersDetail == false"></i>
                                <i class="fa fa-angle-up" style="float: right;" ng-if="isOthersDetail == true"></i>
                            </div>
                        </div>
                        <div class="row wrapper-md" ng-show="isOthersDetail">
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="customer_number"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "customerno"
                                            ng-model = "customerAddModel.customerno"
                                            placeholder="{{'customer_name'| translate}}"
                                            maxlength="20"
                                            validator = "validationFactory.hasRequired(customerAddModel.customerno) == false ||validationFactory.isPositiveNumber(customerAddModel.customerno) === true"
                                            />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="customer_prefix"></label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "customerprefix"
                                            ng-model = "customerAddModel.customerprefix"
                                            placeholder="{{'customer_prefix'| translate}}"
                                            maxlength="20"
                                            />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label translate="acode"></label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text"
                                           class="form-control"
                                           name="acode_dropdown_{{$index}}"
                                           ng-model="customerAddModel.acode"
                                           placeholder="{{'acode'| translate}}"
                                           uib-typeahead="acode for acode in getAcodeList($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noAcodeResult"
                                           typeahead-min-length="0"
                                           typeahead-editable="true"
                                           typeahead-template-url="acode_dropdown__tpl.html"
                                           typeahead-input-formatter="formatAcodeModel($model)"
                                           autocomplete="off"   angular-validator-field
                                           />
                                    <span class="glyphicon glyphicon-search box-search "></span>
                                </div>
                                <div class="row refresh-div">
                                    <div class="col-sm-4">                                       
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    </div>
                                    <div class="col-sm-8">
                                        <div ng-show="noAcodeResult" class="result-dis  left remove-icon">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row wrapper-md"  ng-hide="!appConfig.dual_language_support">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}} Billing Address</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                   class="form-control"
                                                   name = "dualbillingaddr"
                                                   ng-model = "customerDualAddModel.billingaddr"
                                                   placeholder="Billing Address"
                                                   ng-change="checkAddress()"
                                                   />
                                        
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}} Billing Country</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select name="dualbillingcountry" ng-model="customerAddModel.billingcountry" data-ng-change="checkAddress();" theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Billing Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices   repeat="country.name as country in customerAddModel.billingCountryList | propsFilter: {name: $select.search}">
                                                <div ng-bind-html="country.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}} Billing State</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select name="dualbillingstate" ng-model="customerAddModel.billingstate" data-ng-change="checkAddress();" theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Billing State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.name as state in customerAddModel.billingStateList ">
                                                <div ng-bind-html="state.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}} Billing City</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <ui-select name="dualbillingcity"  ng-model="customerAddModel.billingcity" data-ng-change="checkAddress()"  theme="select2"  style="min-width: 300px;" title="">
                                            <ui-select-match placeholder="Billing City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                            <ui-select-choices  refresh="initBillingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.name as city in customerAddModel.billingCityList">
                                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div class="col-sm-5 topmarginxs right ">
                                        <label>{{appConfig.dual_language_label}} Billing Postcode</label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "dualbillingpostcode"
                                                ng-model = "customerAddModel.billingpostcode"
                                                placeholder="{{'billing_postcode'| translate}}"
                                                maxlength="20"
                                                ng-change="checkAddress()"
                                                />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}} Shipping Address</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                               class="form-control"
                                               name = "dualshoppingaddr"
                                               ng-model = "customerAddModel.shoppingaddr"
                                               placeholder="{{'shipping_address'| translate}}"
                                               data-ng-disabled="customerAddModel.isSameAddr"
                                               />
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}} Shipping Country</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select name="dualshoppingcountry" ng-model="customerAddModel.shoppingcountry" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Shipping Country">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices   repeat="country.name as country in customerAddModel.billingCountryList | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="country.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}} Shipping State</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select name="dualshoppingstate" ng-model="customerAddModel.shoppingstate" data-ng-disabled="customerAddModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Shipping State">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initBillingAddressStateList('{{$select.search}}')" refresh-delay="0" repeat="state.name as state in customerAddModel.billingStateList ">
                                            <div ng-bind-html="state.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}} Shipping City</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <ui-select name="dualshoppingcity"  ng-model="customerAddModel.shoppingcity" data-ng-disabled="customerAddModel.isSameAddr" theme="select2"  style="min-width: 300px;" title="">
                                        <ui-select-match placeholder="Shipping City">{{$select.selected.name|| $select.selected}}</ui-select-match>
                                        <ui-select-choices  refresh="initBillingAddressCityList('{{$select.search}}')" refresh-delay="0" repeat="city.name as city in customerAddModel.billingCityList">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="col-sm-5 topmarginxs right ">
                                    <label>{{appConfig.dual_language_label}} Shipping Postcode</label>
                                </div>
                                <div class="col-sm-7 bottommargin">
                                    <input  type = "text"
                                            class="form-control"
                                            name = "dualshoppingpostcode"
                                            ng-model = "customerAddModel.shoppingpostcode"
                                            placeholder="{{'shipping_postcode'| translate}}"
                                            maxlength="20"  data-ng-disabled="customerAddModel.isSameAddr"
                                            validator = "validationFactory.hasRequired(customerAddModel.shoppingpostcode) == false || validationFactory.isPositiveNumber(customerAddModel.shoppingpostcode) === true "
                                            />
                                </div>
                            </div>
                        </div>
                        
                        <button type="button" class="accordion" style="padding: 8px;text-transform: none;">
                            <div class="row">
                                <div class="col-sm-8" translate="bank_details">

                                </div> 
<!--                                <div class="col-sm-4">
                                    <i class="fa fa-angle-down" style="float: right;" ng-if="isAddressDetail == false"></i>
                                    <i class="fa fa-angle-up" style="float: right;" ng-if="isAddressDetail == true"></i>
                                </div>-->
                            </div>
                        </button>
                        <div class="row wrapper-md">
                            <div class="col-sm-5 ">
                                <div class="row ">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="account_number"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "accountnumber"
                                                ng-model = "customerAddModel.account_number"
                                                placeholder="{{'account_number'| translate}}"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="bank_name"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "bank_name"
                                                ng-model = "customerAddModel.bankname"
                                                placeholder="{{'bank_name'| translate}}"
                                                />
                                    </div>               
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="branch"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "branch"
                                                ng-model = "customerAddModel.branch"
                                                placeholder="{{'branch'| translate}}"
                                                />
                                    </div>
                                    <div class="col-sm-5 topmarginxs right ">
                                        <label translate="ifsc_code"></label>
                                    </div>
                                    <div class="col-sm-7 bottommargin">
                                        <input  type = "text"
                                                class="form-control"
                                                name = "ifsc_code"
                                                ng-model = "customerAddModel.ifsc_code"
                                                placeholder="{{'ifsc_code'| translate}}"
                                                />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="topmargin bottommargin hr-set">
<!--                        <div>
                            <button type="button" class="accordion" ng-click="showCustomInfo()" style="padding: 8px;text-transform: none;">
                                <div class="row">
                                    <div class="col-sm-8" translate="other_info">

                                    </div> 
                                    <div class="col-sm-4">
                                        <i class="fa fa-angle-down" style="float: right;" ng-if="isCustomInfo == false"></i>
                                        <i class="fa fa-angle-up" style="float: right;" ng-if="isCustomInfo == true"></i>
                                    </div>
                                </div>
                            </button>
                            <div class=" row" ng-show="isCustomInfo" style="margin-left: 10px;">
                                <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeBaseList">
                                    <div class="row ">
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                            <custom-checkbox name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-checkbox>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                            <custom-selectoption name="custom_field_grp1{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-selectoption>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                            <custom-multiselect name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-multiselect>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                            <custom-yes-or-no name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-yes-or-no>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                            <custom-textinput name="custom_field_grp1{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sample-row">
                            <div class="row">
                                <div class="col-sm-3 "  ng-if="customAttributeDualSupportList.length > 0" > 
                                    <div class="row ">
                                        <span>{{appConfig.dual_language_label}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-3 " data-ng-repeat="attribute in customAttributeDualSupportList">
                                    <div class="row ">
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'checkbox'">
                                            <custom-checkbox name="custom_field_grp2{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-checkbox>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'dropdown'">
                                            <custom-selectoption name="custom_field_grp2{{$index}}" field-value="attribute" options form-name="create_customer_form"></custom-selectoption>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'multiselect'">
                                            <custom-multiselect name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-multiselect>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'YesOrNo'">
                                            <custom-yes-or-no name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-yes-or-no>
                                        </div>
                                        <div class="col-sm-12 " data-ng-if="attribute.input_type == 'textarea' || attribute.input_type == 'inputbox'">
                                            <custom-textinput name="custom_field_grp2{{$index}}" field-value="attribute"  form-name="create_customer_form"></custom-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row wrapper-md ">
                            <div class="form-group full_w btn_group">
                                <button id="btnLoad" type="submit" class="btn btn-sm btn-primary btn_grn" ng-click="checkSelect()" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' translate="submit"></button>
                                <a type="reset" class="btn btn-sm btn-primary btn_orng" data-ng-disabled="isDataSavingProcess"  ng-click="formReset()" translate="reset"></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
