<div>
    <div class="loader " ng-show="showloder" >
        <img alt="loader" src="/img/loading.gif" width="20px;"/>
    </div>

    <ul data-ng-repeat="latestapp in staticBlockModel.jsonList">
        <li class="clearfix">
            <img data-ng-show="latestapp.img == ''" alt = "" src="/img/F2F_PlaceHolder.png" />
            <img data-ng-show="latestapp.img != ''" alt="" ng-src="{{latestapp.img}}" />
            <div class="latest_right">
                <p class="pat_from">
                    Patient from {{latestapp.patientinfo.city}}
                </p>
                <p>
                    Just made an Appointment at
                    <a href="app/detail/#/clinic/{{latestapp.id}}" >{{latestapp.name}}</a>
                    in {{latestapp.city}}
                </p>
            </div>
        </li>
    </ul>
</div>