<!DOCTYPE html>
<html lang="en" data-ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title>LBS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!--<link rel="icon" href="img/favicon.png" type="image/x-icon">-->
        <!--<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
        <link rel="stylesheet" href="../../libs/angular/angular-sweetalert/sweetalert/dist/sweetalert.css" type="text/css" />
        <link rel="stylesheet" href="../../libs/angular/angular-sweetalert/sweetalert/themes/facebook/facebook.css" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../css/logins.css" />
        <link rel="stylesheet" href="../css/app.css" type="text/css" />
        <link rel="stylesheet" href="../css/styles.css" type="text/css" />
        <link rel="stylesheet" href="../css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="../css/component.css" type="text/css" />
        <link rel="stylesheet" href="../css/glyphicon.css" type="text/css" />
        <link rel="stylesheet" href="../libs/assets/animate.css/animate.css" type="text/css" />
        <base href="/../public/album/">
    </head>
    <body ng-controller="AppCtrl" class="home login-page " id="login" data-ng-class="getContainerClass()">

        <!--         <div class="background-image"></div>-->

        <!--        <div    data-ng-class='{"background-image":!setBg}'></div>-->



        <div  data-ng-class='' data-ng-show="!setBg">
            <div   id="outer-content" class="backgroundbm" style=" background-image: url('../img/bg/lbs.png');background-repeat: no-repeat; background-size: 100% 100%;" >
                <!-- content -->
                <div class="app-content" id="content">
                    <!--                    <div data-ng-include=" 'tpl/blocks/header.html'" ng-if="true" class="app-header ">
                                        </div>-->
                    <div style="margin-top: 210px;" class="app-content-body fade-in-up" ui-view ></div>
                </div>
                <!-- /content -->
            </div>
        </div>
        <div  data-ng-class="login-box" data-ng-show="setBg"> 
            <div   id="outer-content" class="backgroundbm" >
                <!-- content -->
                <div class="app-content" id="content">
                    <!--                    <div data-ng-include=" 'tpl/blocks/header.html'" ng-if="true" class="app-header ">
                                        </div>-->
                    <div style="margin-top: 210px;" class="app-content-body fade-in-up" ui-view ></div>
                </div>
                <!-- /content -->
            </div>
        </div>
        <!--        <div class="app-footer b-t bg-light" style="margin-top: 0;">
                    <div data-ng-include=" '../../app/tpl/blocks/footer.html'" class=" ">
                    </div>
                </div>-->
        <!-- jQuery -->
        <script src="../../libs/jquery/jquery/dist/jquery.js"></script>

        <!-- Angular -->
        <script src="../../libs/angular/angular/angular.js"></script>

        <script src="../../libs/angular/angular-animate/angular-animate.js"></script>
        <script src="../../libs/angular/angular-cookies/angular-cookies.js"></script>
        <script src="../../libs/angular/angular-sanitize/angular-sanitize.js"></script>
        <script src="../../libs/angular/angular-touch/angular-touch.js"></script>
        <script src="../../libs/angular/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../../libs/angular/ngstorage/ngStorage.js"></script>
        <!-- bootstrap -->
        <script src="../../libs/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <!-- ngValidation -->
        <script src="../../libs/angular/angular-validator/angular-validator.js"></script>

        <!-- lazyload -->
        <script src="../../libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
        <!-- application loading -->
        <script src="../../libs/angular/loading-bar/loading-bar.js"></script>
        <!-- translate -->
        <script src="../../libs/angular/angular-translate/angular-translate.js"></script>
        <script src="../../libs/angular/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="../../libs/angular/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="../../libs/angular/angular-translate-storage-local/angular-translate-storage-local.js"></script>

        <script src="../../libs/angular/angular-sweetalert/sweetalert/dist/sweetalert.min.js"></script>
        <script src="../../libs/angular/angular-sweetalert/ngSweetAlert.js"></script>

        <script src="app.js"></script>
        <script src="config.js"></script>
        <script src="config.router.js"></script>
        <script src="main.js"></script>
        <script src="config.lazyload.js"></script>

        <!-- Common servies  include -->

        <script src="apiConstant.js"></script>

        <script src="service/albumService.js"></script>
        <script src="../js/services/httpService.js"></script>
        <script src="../js/services/localStorageService.js"></script>
        <script src="../js/services/commonService.js"></script>
        <script src="../js/services/utilityService.js"></script>
        <script src="../js/services/googleMapService.js"></script>

        <script src="../js/validationFactory.js"></script>


    </body>
</html>
